.sec2__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--font-color);
    width: 100vw;
    padding: 100px 0;
    position: relative;
    overflow: hidden;

    .footer-bg-1 {
        height: 510px;
        width: 500px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/assets/homepage/images/fare-guide/b_left.png');
        position: absolute;
        left: -170px;
        top: -95px;
    }
    .footer-bg-2 {
        height: 500px;
        width: 560px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/assets/homepage/images/fare-guide/b_right.png');
        position: absolute;
        top: 260px;
        right: -210px;
    }

    .footer--title {
        font-weight: 700;
        font-size: 2.1rem;
        line-height: 33px;
        text-align: center;
        letter-spacing: -0.441px;
        margin-bottom: 20px;
        color: var(--white);
    }
    .footer--list {
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 8px;
        .list-item {
            display: flex;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 26px;
            letter-spacing: -0.22px;
            color: var(--white);
        }
        .check-icon {
            background-image: url('/assets/icons/etc/check_white.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 22px;
            height: 22px;
            margin-right: 4px;
        }
    }

    .sec2__button {
        box-shadow: 0 4px 8px rgba(227, 74, 94, 0.25);
        width: 220px !important;
        height: 49px !important;
        font-weight: 700;
        font-size: 1.5rem !important;
        line-height: 26px;
        letter-spacing: -0.22px;
        margin-top: 40px;
    }
}

@media (min-width: 760px) {
    .sec2__footer {
        height: 419px;
        justify-content: center;
        padding: 60px 0;

        .footer-bg-1 {
            height: 560px;
            width: 470px;
            left: -173px;
            top: -50px;
        }
        .footer-bg-2 {
            height: 570px;
            width: 520px;
            top: -87px;
            right: -195px;
        }

        .footer--title {
            row-gap: 10px;
            font-weight: 700;
            font-size: 2.6rem;
            line-height: 43px;
            text-align: center;
            letter-spacing: -0.68px;
            margin-bottom: 20px;
        }
        .footer--list {
            .list-item {
                font-size: 1.6rem;
                line-height: 26px;
                letter-spacing: -0.256px;
            }
            .check-icon {
                width: 24px;
                height: 24px;
                margin-right: 4px;
            }
        }

        .sec2__button {
            width: 220px !important;
            height: 50px !important;
            font-size: 1.6rem !important;
            line-height: 26px;
            letter-spacing: -0.256px;
        }
    }
}

@media (min-width: 1280px) {
    .sec2__footer {
        height: 369px;
        padding: 70px 0;

        .footer-bg-1 {
            height: 700px;
            width: 459px;
            left: -138px;
            top: -45px;
        }
        .footer-bg-2 {
            height: 650px;
            width: 490px;
            top: -60px;
            right: -113px;
        }

        .footer--title {
            font-weight: 700;
            font-size: 2.9rem;
            line-height: 49px;
            text-align: center;
            letter-spacing: -0.841px;
        }
        .footer--list {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(1, auto);
            column-gap: 20px;
            .list-item {
                font-size: 1.6rem;
                line-height: 26px;
                letter-spacing: -0.256px;
            }
        }
        .sec2__button {
            margin-top: 35px;
        }
    }
}
