* {
    margin: 0;
    padding: 0;
    text-align: initial;
}

div.l-text-field {
    background: var(--white);
    box-shadow: 0 4px 10px rgba(181, 181, 181, 0.1098);
    border-radius: 35px;
    min-width: 300px;
    min-height: 558px;

    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;

    .text-field__header{
        display: flex;
        justify-content: space-between;
        span{
            &:first-of-type{
                margin-top: 14px;
            }
        }
    }
    .text-field__content{
        textarea {
            width: 260px;
            height: 400px;
            resize: none;
            margin: 15px 0;
            padding: 20px;
        }
    }
    .text-field__footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
}