* {
    margin: 0;
    padding: 0;
    text-align: initial;
}

div.l-text-field {
    background: var(--white);
    box-shadow: 0 4px 10px rgba(181, 181, 181, 0.1098);
    border-radius: 35px;
    min-width: 300px;
    max-width: 300px;
    min-height: 558px;

    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;

    .text-field__header{
        display: flex;
        justify-content: space-between;
        span{
            &:first-of-type{
                margin-top: 14px;
            }
        }
    }
    .warning-not-verified-number {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        margin-top: 5px;
        .warning-icon {
            background-image: url("/assets/icons/etc/warning-orange.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 18.27px;
            height: 14.93px;
            margin-top: 2px;
        }
        .warning-text {
            width: calc(100% - 16.4px);
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 17px;
            letter-spacing: -0.144px;
            color: #C96B12;
        }
    }
    .text-field__content{
        margin: 15px 0;
        padding: 20px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        height: 400px;
        width: 260px;
        position: relative;
        &.focused {
            border: 1px solid var(--grey);
        }

        .ad_msg {
            &:nth-of-type(1){
                margin-bottom: 7px;
            }
            &:nth-of-type(2){
                margin-top: 7px;
            }
            white-space: pre-wrap;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.196px;
            color: var(--font-color);
        }

        textarea {
            width: 100%;
            resize: none;
            border: none;
            &:focus {
                font-weight: 500;
                border: none;
            }
        }

        &.warning-not-verified {
            height: 344px;
            background-color: var(--border-color);
            textarea {
                &::placeholder {
                    background-color: var(--border-color);
                    color: var(--grey)
                }
            }
        }

    }
    .text-field__footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
}