<div
    class="redwhale-center full-absolute user-select-none"
    [ngClass]="((drawer$ | async).tabName == 'general-schedule'
            || (drawer$ | async).tabName == 'lesson-schedule'
            || (drawer$ | async).tabName == 'modify-general-schedule'
            || (drawer$ | async).tabName == 'modify-lesson-schedule') ? 'thin-scroll-x-overlay2' : ''"
>
    <div class="d-flex flex-column h-100">
        <rw-header></rw-header>

        <div class="flex-fill d-flex" style="overflow: hidden">
            <div class="left-side">
                <rw-centerNav></rw-centerNav>
            </div>
            <div class="section flex-fill thin-scroll-x-overlay2">
                <router-outlet></router-outlet>
            </div>
            <div
                class="right-side"
                [class.open-drawer]="(drawer$ | async).tabName != 'none'"
                [class.schedule-drawer]="(drawer$ | async).tabName == 'general-schedule'
                                    || (drawer$ | async).tabName == 'lesson-schedule'
                                    || (drawer$ | async).tabName == 'modify-general-schedule'
                                    || (drawer$ | async).tabName == 'modify-lesson-schedule'"
            >
                <drawer></drawer>
            </div>
        </div>
    </div>
</div>

<rw-attendance-toast
    [(visible)]="attendanceToast.visible"
    [member]="attendanceToast.centerUser"
    (cancel)="onCancelToastModal()"
></rw-attendance-toast>