<div class="rw-datepicker rw-datepicker-date d-flex flex-column user-select-none" *ngIf="mode == 'date'" [class.shadow]="shadowOn">
  <div class="month col d-flex">
      <div class="start col-3 d-flex justify-content-start align-items-start">
          <span class="mdi mdi-chevron-double-left" (click)="previousYear()"></span>
          <span class="mdi mdi-chevron-left" (click)="previousMonth()"></span>
      </div>
      <div class="center col-6 d-flex justify-content-center align-items-start">{{ month }}</div>
      <div class="end col-3 d-flex justify-content-end align-items-start">
          <span class="mdi mdi-chevron-right" (click)="nextMonth()"></span>
          <span class="mdi mdi-chevron-double-right" (click)="nextYear()"></span>
      </div>
  </div>
  <div class="week-header col d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center">일</div>
      <div class="d-flex justify-content-center align-items-center">월</div>
      <div class="d-flex justify-content-center align-items-center">화</div>
      <div class="d-flex justify-content-center align-items-center">수</div>
      <div class="d-flex justify-content-center align-items-center">목</div>
      <div class="d-flex justify-content-center align-items-center">금</div>
      <div class="d-flex justify-content-center align-items-center">토</div>
  </div>
  <div
      class="week-row col d-flex justify-content-between align-items-center"
      *ngFor="let weekRow of weekRows; let i = index"
  >
      <div
          class="week-col d-flex justify-content-center align-items-center"
          *ngFor="let weekCol of weekRow; let j = index"
          [style.color]="weekCol.color"
          [class.selected]="weekCol.selected"
          (click)="selectDate(i, j)"
      >
          {{ weekCol.day }}
      </div>
  </div>
</div>

<div class="rw-datepicker rw-datepicker-week d-flex flex-column user-select-none" *ngIf="mode == 'week'" [class.shadow]="shadowOn">
  <div class="month col d-flex">
      <div class="start col-3 d-flex justify-content-start align-items-start">
          <span class="mdi mdi-chevron-double-left" (click)="previousYear()"></span>
          <span class="mdi mdi-chevron-left" (click)="previousMonth()"></span>
      </div>
      <div class="center col-6 d-flex justify-content-center align-items-start">{{ month }}</div>
      <div class="end col-3 d-flex justify-content-end align-items-start">
          <span class="mdi mdi-chevron-right" (click)="nextMonth()"></span>
          <span class="mdi mdi-chevron-double-right" (click)="nextYear()"></span>
      </div>
  </div>
  <div class="week-header col d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center">일</div>
      <div class="d-flex justify-content-center align-items-center">월</div>
      <div class="d-flex justify-content-center align-items-center">화</div>
      <div class="d-flex justify-content-center align-items-center">수</div>
      <div class="d-flex justify-content-center align-items-center">목</div>
      <div class="d-flex justify-content-center align-items-center">금</div>
      <div class="d-flex justify-content-center align-items-center">토</div>
  </div>
  <div
      class="week-row col d-flex justify-content-between align-items-center"
      *ngFor="let weekRow of weekRows; let i = index"
      [class.selected]="weekNumbers[i] == selectedWeek"
      (click)="selectWeek(i)"
  >
      <div
          class="week-col d-flex justify-content-center align-items-center"
          *ngFor="let weekCol of weekRow; let j = index; first as isFirst; last as isLast"
          [style.color]="weekCol.color"
          [class.edge] = "weekNumbers[i] == selectedWeek && (isFirst || isLast)"
          [class.first] = "weekNumbers[i] == selectedWeek && isFirst"
          [class.last] = "weekNumbers[i] == selectedWeek &&  isLast"
      >
          {{ weekCol.day }}
      </div>
  </div>
</div>

<div class="rw-datepicker rw-datepicker-date d-flex flex-column user-select-none" *ngIf="mode == 'multi'" [class.shadow]="shadowOn">
  <div class="month col d-flex">
      <div class="start col-3 d-flex justify-content-start align-items-start">
          <span class="mdi mdi-chevron-double-left" (click)="previousYear()"></span>
          <span class="mdi mdi-chevron-left" (click)="previousMonth()"></span>
      </div>
      <div class="center col-6 d-flex justify-content-center align-items-start">{{ month }}</div>
      <div class="end col-3 d-flex justify-content-end align-items-start">
          <span class="mdi mdi-chevron-right" (click)="nextMonth()"></span>
          <span class="mdi mdi-chevron-double-right" (click)="nextYear()"></span>
      </div>
  </div>
  <div class="week-header col d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center">일</div>
      <div class="d-flex justify-content-center align-items-center">월</div>
      <div class="d-flex justify-content-center align-items-center">화</div>
      <div class="d-flex justify-content-center align-items-center">수</div>
      <div class="d-flex justify-content-center align-items-center">목</div>
      <div class="d-flex justify-content-center align-items-center">금</div>
      <div class="d-flex justify-content-center align-items-center">토</div>
  </div>
  <div
      class="week-row col d-flex justify-content-between align-items-center"
      *ngFor="let weekRow of weekRows; let i = index"
  >
      <div
          class="week-col d-flex justify-content-center align-items-center"
          *ngFor="let weekCol of weekRow; let j = index"
          [style.color]="weekCol.color"
          [class.selected]="selectedDateObj[weekCol.date]"
          (click)="multiSelectDate(weekCol)"
      >
          {{ weekCol.day }}
      </div>
  </div>
</div>
