.dashboard-ticket-card {
    width: 100%;
    // height: 186px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--grey);
    cursor: pointer;

    box-shadow: 0px 0px 10px #b5b5b51c;
    border-radius: 7px;
    padding: 13px 20px;
    border: 1px solid var(--border-color);
    margin-bottom: 5px;

    .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);

        width: 100%;
        height: 45px;

        .dashboard-ticket-name {
            display: flex;
            align-items: center;
            height: 32px;
            margin-left: 5px;
            & > .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: var(--font-color);
                margin-right: 8px;
                & > img {
                    width: 21px;
                    height: 21px;
                }

                &.use {
                    background-color: var(--font-color);
                }
                &.hold {
                    background-color: #c96b12;
                }
                &.expired {
                    background-color: #c2273b;
                }
                &.finished {
                    background-color: #cfcfcf;
                }
            }
        }
        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--font-color);
            border-radius: 24px;
            height: 25px;
            padding: 3px 8px !important;
            margin-right: 3px;
            span {
                color: var(--font-colr);
            }

            &.use {
                color: var(--font-color);

                border-color: var(--font-color);
            }
            &.hold {
                color: #c96b12;

                border-color: #c96b12;
            }
            &.expired {
                color: #c2273b;

                border-color: #c2273b;
            }
            &.finished {
                color: #cfcfcf;

                border-color: #cfcfcf;
            }
        }
    }
    .middle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 33px;
        border-radius: 5px;
        background-color: var(--background-color);
        margin-top: 14px;
    }
    .bottom {
        display: flex;
        width: 100%;
        height: 40px;
        margin-top: 14px;
        position: relative;
        .date {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            // width: 215px;
            padding-right: 5px;
            width: 45%;
            position: relative;
            div {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .count {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            // width: 125px;
            border-left: 1px solid var(--border-color);
            padding-left: 15px;
            padding-right: 5px;
            position: relative;
            width: 30%;
            div {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .pay {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            // min-width: 100px;
            border-left: 1px solid var(--border-color);
            padding-left: 15px;
            padding-right: 5px;
            width: 25%;
            position: relative;
            div {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.small-title {
    color: var(--grey);
    margin-bottom: 5px;
}
