* {
    margin: 0px;
    padding: 0px;
}

.dropdown-container {
    background-color: var(--white);
    border-radius: 5px;
    width: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1440px) {
        width: 250px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        padding: 0px 5px;

        width: calc(100% - 25px);
        height: 46px;
        cursor: pointer;

        .mdi {
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
            width: 21px;
            height: 21px;
            font-size: 2.2rem;
            color: var(--font-color);
            margin-top: 2.5px;
        }
        &.open {
            .mdi {
                transform: rotateX(180deg);
                transition: transform 0.2s linear;
                -moz-transition: transform 0.2s linear;
                -webkit-transition: transform 0.2s linear;
                -o-transition: transform 0.2s linear;
            }
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-overflow: clip;
        max-height: 145px;
        width: 100%;
        padding: 20px 0px;

        .summary-value {
            margin-bottom: 4px;
        }
        .summary-difference-value {
            display: flex;
            justify-content: center;
            img {
                width: 10px;
                height: 10px;
            }
            & > p {
                color: var(--lightgrey);
            }
            .mdi {
                justify-content: center;
                align-items: center;
                width: 14px;
                height: 14px;
                margin-top: 2.5px;
            }
        }

        .summary-desc {
            width: 180px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--background-color);
            border-radius: 4px;
            margin-top: 15px;

            @media (min-width: 1440px) {
                width: 212px;
            }

            & .plus {
                color: var(--darkgreen);
                font-weight: 700;
            }
            & .minus {
                color: var(--darkred);
                font-weight: 700;
            }
        }

        .mdi {
            justify-content: center;
            align-items: flex-start;
            width: 14px;
            height: 14px;
            font-size: 20px;
            color: var(--lightgrey);
        }
    }

    .detail-content {
        width: 205px;
        height: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative;

        transition: height 0.2s ease-in-out;
        -moz-transition: height 0.2s ease-in-out;
        -webkit-transition: height 0.2s ease-in-out;
        -o-transition: height 0.2s ease-in-out;
        &.show {
            height: 230px;
        }

        .detail-item {
            width: 172px;
            height: 38px;
            display: flex;
            justify-content: space-between;

            .line-break {
                width: 27px;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            @media (min-width: 1440px) {
                width: 203px;
                .line-break {
                    width: auto;
                }
            }

            .change-ratio {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px;
                height: 20px;
                border-radius: 20px;
                margin-right: 7px;

                &.plus {
                    color: var(--darkgreen);
                    background-color: #edf5f3;
                }
                &.minus {
                    color: var(--darkred);
                    background-color: #fbeff1;
                }
            }

            .price {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .the-price {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
                .price-change {
                    position: absolute;
                    top: 22px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: var(--lightgrey);

                    .mdi {
                        justify-content: center;
                        align-items: center;
                        width: 14px;
                        height: 14px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
