
* {
  padding: 0;
  margin: 0;
}

.locker-done-card {
  width: 585px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--grey);
  margin-bottom: 5px;
  box-shadow: 0 0 10px #b5b5b51c;
  border-radius: 7px;
  padding: 12px 0 16px 0;

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);

    width: 545px;
    height: 45px;

    .locker-name {
      display: flex;
      align-items: center;
      height: 32px;
      margin-left: 5px;
      & > .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--font-color);
        margin-right: 8px;
        & > img {
          width: 21px;
          height: 21px;
        }
      }
    }
  }
  .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 535px;
    height: 40px;
    border-radius: 3px;
    background-color: var(--background-color);
    margin: 16px 0;
  }
  .bottom {
    display: flex;
    width: 515px;
    height: 40px;
    position: relative;
    margin-top: 18px;
    .date {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 238px;
    }
    .pay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 280px;
      border-left: 1px solid var(--border-color);
      padding-left: 15px;
    }
  }
}

.small-title {
  color: var(--darkgrey);
  margin-bottom: 5px;
}
.small-title2 {
  color: var(--grey);
  margin-bottom: 4px;
}

.item-font {
  font-size: 1.4rem !important;
}

.chose-date-font {
  color: var(--grey) !important;
}