.rw-datepicker {
    width: 255px;
    height: 251px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);

    .col,
    [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    .month {
        .start,
        .end {
            .mdi {
                font-size: 2rem;
                color: var(--grey);
                cursor: pointer;

                &:hover {
                    color: var(--darkgrey);
                }
            }
            .arrow {
                width: 20px;
                height: 20px;
                cursor: pointer;
                &.left {
                    background-image: url('/assets/icons/etc/chevron_left.svg');
                    &:hover {
                        background-image: url('/assets/icons/etc/chevron_left_focus.svg');
                    }
                }
                &.left-double {
                    background-image: url('/assets/icons/etc/chevron_double_left.svg');
                    &:hover {
                        background-image: url('/assets/icons/etc/chevron_double_left_focus.svg');
                    }
                }
                &.right {
                    transform: rotate(180deg);
                    background-image: url('/assets/icons/etc/chevron_left.svg');
                    &:hover {
                        background-image: url('/assets/icons/etc/chevron_left_focus.svg');
                    }
                }
                &.right-double {
                    transform: rotate(180deg);
                    background-image: url('/assets/icons/etc/chevron_double_left.svg');
                    &:hover {
                        background-image: url('/assets/icons/etc/chevron_double_left_focus.svg');
                    }
                }
            }
        }

        .center {
            font-size: 1.4rem;
            color: var(--font-color);
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.2px;
        }
    }

    .week-header {
        font-size: 1.3rem;
        color: var(--font-color);

        & > div {
            width: 26px;
            height: 26px;
        }
    }

    .week-row {
        .week-col {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            font-size: 1.1rem;
        }
    }

    &.mutiline-unit {
        .week-header {
            font-size: 1.3rem;
            color: var(--font-color);

            & > div {
                width: 34px;
                height: 26px;
            }
        }

        .week-row {
            .week-col {
                width: 34px;
                height: 28px;
                border-radius: unset;
                font-size: 1.2rem;
                padding-bottom: 1px;
                position: relative;
                // &.start-date, &.end-date {
                //     background-color: transparent !important;
                //     cursor: auto !important;
                // }
                // .week-col__edge {
                //     cursor: pointer !important;
                //     background-color: var(--red);
                //     height: 100%;
                //     width: 28px;
                // }
            }
        }
    }
}

.rw-datepicker-date {
    .week-row {
        .week-col {
            cursor: pointer;

            &:hover {
                background-color: var(--background-color);
            }
        }

        .selected {
            color: var(--white) !important;
            background-color: var(--red);

            &:hover {
                background-color: var(--red);
            }
        }
    }
}

.rw-datepicker-week {
    .week-row {
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--background-color);
        }
    }

    .selected {
        background-color: var(--red);

        &:hover {
            background-color: var(--red);
        }

        .week-col {
            color: var(--white) !important;
        }
    }
}

.rw-datepicker-multiline {
    .week-row {
        .week-col {
            cursor: not-allowed !important;
            &.start-date {
                border-radius: 4px 0px 0px 4px;
            }

            &.end-date {
                border-radius: 0px 4px 4px 0px;
            }
        }

        .avaliable-date {
            cursor: pointer !important;
            &:hover {
                // background-color: var(--background-color);
                color: var(--red) !important;
            }
        }

        .selected {
            color: var(--white) !important;
            background-color: var(--red);

            &:hover {
                background-color: var(--red);
                color: var(--white) !important;
            }
        }
        .between {
            color: var(--darkgrey) !important;
            background-color: rgba(227, 74, 94, 0.05);

            &:hover {
                background-color: rgba(227, 74, 94, 0.05);
                color: var(--darkgrey) !important;
            }
        }
    }
}

.isShadow {
    box-shadow: 0 0 10px #b5b5b530 !important;
}
