<div class="rw-modal-background" #modalBackgroundElement></div>
<div
    class="rw-modal-wrapper justify-content-center align-items-center"
    (mouseup)="!isMouseModalDown && !blockClickOutside && onCancel()"
    (mousedown) = 'resetMouseModalDown()'
    #modalWrapperElement
>
    <div
        class="rw-modal user-select-none"
        (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
    >
        <div class="d-flex flex-column align-items-center">
            <div class="title">
                <span class="rw-typo-title1">센터 이용 약관을 작성해주세요.</span>
                <span class="rw-typo-subtext1">작성한 내용은 회원과의 계약 체결 시, 자동으로 적용됩니다.</span>
            </div>
            <textarea
                rw-textarea-autoResize
                placeholder="이용약관을 입력해주세요."
                class="rw-textarea thin-scroll-y-overlay2"
                [(ngModel)]="centerTerm"
            ></textarea>
        </div>

        <div class="button-group">
            <div class="cancel" rw-button (click)="onCancel()">취소</div>
            <rw-button
                #extension_bt
                [width]="'551'"
                [height]="'49'"
                [color]="'var(--red)'"
                [borderRadius]="'0 0 5px 0'"
                [loadingName]="'hold-all'"
                (onClick)="onConfirm($event)"
            >
                <span>
                    입력하기
                </span>
            </rw-button>
        </div>
    </div>
</div>
