* {
    padding: 0;
    margin: 0;
    text-align: initial;
}

section.user-detail-contract {
    width: 100%;
    height: calc(100% - 43px);
    position: relative;

    $layout_padding: 0 18px 0 25px;
    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 43px;
        position: relative;
        padding: $layout_padding;
        border-bottom: 1px solid var(--border-color);
    }
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 70px;
            // padding: 0px 13px;
            position: relative;
            padding: 0 25px;

            .border-bottom {
                width: calc(100% - 24px);
                height: 1px;
                border-bottom: 1px solid var(--border-color);
                position: absolute;
                bottom: 0;
                left: 12px;
            }

            &:hover {
                background-color: var(--background-color);
            }
        }
    }

    .col1 {
        min-width: 154px;
        width: calc(154 / 806) * 100%;
    }

    .col2 {
        min-width: 134px;
        width: calc(134 / 806) * 100%;
    }

    .col3 {
        min-width: 119px;
        width: calc(119 / 806) * 100%;
        padding-right: 60px !important;
    }

    .col4 {
        min-width: calc(100% - 154px - 134px - 119px);
        width: 100%;
        //width: calc(100% - ((calc(154 / 806) * 100%) + (calc(134 / 806) * 100%) + (calc(119 / 806) * 100%)));
        padding-right: 0 !important;
    }

    .col1,
    .col2,
    .col3,
    .col4 {
        padding-right: 80px;
    }

    @media (min-width: 1440px) {
        .col1 {
            min-width: 154px;
            width: calc(154 / 914) * 100%;
        }

        .col2 {
            min-width: 134px;
            width: calc(134 / 914) * 100%;
        }

        .col3 {
            min-width: 119px;
            width: calc(119 / 914) * 100%;
        }

        .col4 {
            min-width: calc(100% - 154px - 134px - 119px);
        }
    }
    @media (min-width: 1920px) {
        .col1 {
            min-width: 164px;
            width: calc(164 / 1319) * 100%;
        }

        .col2 {
            min-width: 144px;
            width: calc(144 / 1319) * 100%;
        }

        .col3 {
            min-width: 129px;
            width: calc(129 / 1319) * 100%;
        }

        .col4 {
            min-width: calc(100% - 164px - 144px - 129px);
        }

        .col1,
        .col2,
        .col3,
        .col4 {
            padding-right: 90px;
        }
    }
}

// -------------------------
