<section *ngIf="membershipState.status == 'modify'" class="membership-ticket-window">

  <div class="rw-typo-title2 window-header">회원권</div>
  <div class="membership-info">
    <span class="rw-typo-subtext0-regular small-title">회원권 기본 정보</span>
    <db-membership-ticket-card
      [cardInfo] = "membershipState.membershipItem"
      [isInWindow] = "true"
    ></db-membership-ticket-card>
  </div>
  <div class="reservable-lessons">
    <span class="rw-typo-subtext0-regular small-title">예약 가능한 수업</span>
    <db-lesson-selector
      [(ngModel)] = "membershipState.lessonList"
    ></db-lesson-selector>
  </div>
  <div class="datepick-container">
    <div class="date-picker">
      <span class="rw-typo-subtext0-regular small-title">시작일</span>
      <div
        class="date-pick-button"
        rw-button rwButtonColor="var(--white)"
        rwButtonFontColor="var(--font-color)"
        (click) ="datepickFlag.start = !datepickFlag.start; datepickFlag.end = false ;$event.stopPropagation()"
      >
        {{membershipState.date.startDate | dateFormat:'YYYY.MM.DD'}}
      </div>
      <rw-datepicker
        *ngIf = "datepickFlag.start"
        (rwClickOutside) = "datepickFlag.start = false; $event.stopPropagation()"
        mode="reg-ml" [option]="'onlyStart'" [data]="membershipState.date" (dataChange) = "onDatePickRangeChange($event, 'start')"
      ></rw-datepicker>
    </div>
    <div class="date-picker">
      <span class="rw-typo-subtext0-regular small-title">만료일</span>
      <div
        class="date-pick-button"
        rw-button rwButtonColor="var(--white)"
        rwButtonFontColor="var(--font-color)"
        (click) ="datepickFlag.end = !datepickFlag.end; datepickFlag.start=false; $event.stopPropagation()"
      >
        <span *ngIf="!membershipState.date.endDate || datepickFlag.start; else showEndDate">만료일을 선택해주세요.</span>
        <ng-template #showEndDate>
          <span >{{membershipState.date.endDate | dateFormat:'YYYY.MM.DD'}} ({{dayDiff}}일)</span>
        </ng-template>

      </div>
      <rw-datepicker
        *ngIf = "datepickFlag.end"
        (rwClickOutside) = "(!isStartDateClicked && datepickFlag.end = false); $event.stopPropagation()"
        mode="reg-ml" [option]="'onlyEnd'" [data]="membershipState.date" (dataChange) = "onDatePickRangeChange($event, 'end')"
      ></rw-datepicker>
    </div>
  </div>
  <div class="count-container">
    <span class="rw-typo-subtext0-regular small-title">횟수</span>
    <div class="count">
      <div class="input-container">
        <input type="text" placeholder="0" [(ngModel)]="membershipState.count.count" (keyup)="onCountKeyup($event)" class="rw-input" [disabled]="membershipState.count.infinite">
        <div class="input-count" [class.disabled] = membershipState.count.infinite>회</div>
      </div>
      <rw-checkbox [checked]="membershipState.count.infinite" (click)="membershipState.count.infinite = !membershipState.count.infinite" text="무제한"></rw-checkbox>
    </div>
  </div>

  <div class="payment-divider"></div>

  <div id="pc1" class="payment-container">
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">정상 금액</span>
      <div class="input-container">
        <div class="input-disabled text-right">
          {{membershipState.amount.normalAmount}}
        </div>
        <div class="input-count disabled">원</div>
      </div>
    </div>
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">결제일</span>
      <div class="input-disabled">
        {{membershipState.date.startDate | dateFormat:'YYYY.MM.DD'}}
      </div>
    </div>
  </div>
  <div id="pc2" class="payment-container">
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">현금</span>
      <div class="input-container">
        <input type="text" placeholder="0" [(ngModel)]="membershipState.price.cash" (keyup)="onPriceKeyup($event, 'cash')"
          class="rw-input">
        <div class="input-count">원</div>
      </div>
    </div>
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">카드</span>
      <div class="input-container">
        <input type="text" placeholder="0" [(ngModel)]="membershipState.price.card" (keyup)="onPriceKeyup($event, 'card')"
          class="rw-input">
        <div class="input-count">원</div>
      </div>
    </div>
  </div>
  <div id="pc3" class="payment-container">
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">계좌이체</span>
      <div class="input-container">
        <input type="text" placeholder="0" [(ngModel)]="membershipState.price.trans" (keyup)="onPriceKeyup($event, 'trans')"
          class="rw-input">
        <div class="input-count">원</div>
      </div>
    </div>
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">미수금</span>
      <div class="input-container">
        <input
          type="text" placeholder="0"
          [(ngModel)]="membershipState.price.unpaid"
          (keyup)="onPriceKeyup($event, 'unpaid')"
          class="rw-input"
        >
        <div class="input-count">원</div>
      </div>
    </div>
  </div>
  <div id="pc4" class="payment-container">
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">결제 담당자</span>
      <db-ml-staff-selector
        [height]="'48'" [width]="'255'"
        [items]="staffSelect_list" [(ngModel)]="membershipState.assignee">
      </db-ml-staff-selector>
    </div>
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">결제 금액</span>
      <div class="input-container">
        <div class="input-disabled text-right">
          {{membershipState.amount.paymentAmount}}
        </div>
        <div class="input-count disabled">원</div>
      </div>
    </div>
  </div>

  <div class="delete-save-button">
    <div class="delete-button"
      rw-button
      rwButtonColor="var(--white)"
      rwButtonFontColor="var(--lightgrey)"
      (click) = "onRemoveItem()"
    >
      삭제
    </div>
    <div
      class="save-button"
      rw-button rwButtonColor="var(--font-color)"
      rwButtonFontColor="var(--white)"
      [rwButtonDisabled] = '!(checkMatchTotalPrice() && checkDateIsSet() && isLessonSelected() && checkCount())'
      (click)= "statusToDone()"
    >
      저장
    </div>
  </div>
</section>


<section  *ngIf="membershipState.status == 'done'" class="membership-ticket-done-card">
  <div class="top">
    <div class="membership-name">
      <div class="icon">
        <img src="assets/icons/etc/ticket-white.svg">
      </div>
      <span class="rw-typo-title2">{{membershipState.membershipItem.name}}</span>
    </div>
    <div
      class="modify-button" rw-button
      rwButtonColor="var(--white)"
      rwButtonFontColor="var(--darkgrey)"
      (click) = "statusToModify()"
    >
      <img src="assets/icons/etc/edit.svg">
      <span class="rw-typo-bodytext2">정보 수정</span>
    </div>
  </div>
  <div class="rw-typo-bodytext0 middle">
    {{selectedLessonText}} 수업 예약 가능
  </div>
  <div class="bottom">
    <div class="date">
      <span class="rw-typo-subtext0-regular small-title">기간</span>
      <span class="rw-typo-bodytext1">{{membershipState.date.startDate}} - {{membershipState.date.endDate}} ({{membershipState.date | dayDiff}}일)</span>
    </div>
    <div class="count">
      <span class="rw-typo-subtext0-regular small-title">횟수</span>
      <span class="rw-typo-bodytext1">{{membershipState.count.infinite ? '무제한' : (membershipState.count.count+'회')}}</span>
    </div>
    <div class="pay">
      <span class="rw-typo-subtext0-regular small-title">결제 금액 / 담당자</span>
      <span class="rw-typo-bodytext1">￦{{membershipState.amount.paymentAmount ?? 0}} / {{membershipState.assignee.name}}</span>
    </div>
  </div>

</section>
