* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

article.terms-privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    .layout {
        width: 312px;
    }

    .title {
        font-size: 2.5rem;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: -0.63px;
        text-align: center;
        color: #212121;

        margin: 45px 0px 63px;
    }

    .text {
        &__title_large_chap {
            // font-family: 'Noto Sans KR';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.3rem;
            letter-spacing: -0.22px;
            color: #212121;
            margin-bottom: 30px;
        }

        &__title_small_chap {
            // font-family: 'Noto Sans KR';
            font-style: normal;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.57;
            letter-spacing: -0.2px;
            color: #212121;
            margin-bottom: 10px;
        }

        &__content {
            // font-family: 'Noto Sans KR';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.57;
            letter-spacing: -0.2px;
            color: #212121;
        }

        &--paragraph {
            margin-bottom: 30px !important;
        }

        &--content_margin {
            margin-bottom: 15px !important;
        }

        &--content_margin_small {
            margin-bottom: 10px !important;
        }
    }

    .text-top-margin {
        margin-top: 13px !important;
    }

    .p-top-margin {
        margin-top: 75px !important;
    }

    .footer-margin {
        margin-bottom: 108px !important
    }

    ol,
    ul {
        &.first {
            padding-left: 16px;
            margin: 0px;
            margin-bottom: 5px;

            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.57;
            letter-spacing: -0.2px;
            color: #212121;

            li {
                margin-bottom: 15px;
                padding-left:3px;
            }
        }

        &.second {
            padding-left: 14px;
            margin: 0px;

            font-weight: 400;
            font-style: normal;
            font-size: 1.3rem;
            line-height: 1.69;
            letter-spacing: -0.17px;
            color: #606060;

            li {
                margin-bottom: 10px;
            }

            .underline {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &.third {
            padding-left: 14px;
            margin: 0px;

            font-weight: 400;
            font-style: normal;
            font-size: 1.3rem;
            line-height: 1.69;
            letter-spacing: -0.17px;
            color: #606060;

            li {
                margin-bottom: 5px;
            }
        }
    }

    ol {
        &.circle_number {
            counter-reset: li;
            list-style-type: none;

            &>li {
                position: relative;

                &:before {
                    content: counter(li);
                    counter-increment: li;
                    height: 14px;
                    width: 14px;
                    border: 1px solid #212121;
                    border-radius: 50%;
                    color: #212121;
                    text-align: center;
                    position: absolute;
                    left: -16px;
                    top: 4px;
                    font-size: 0.9rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    ul {
        list-style-type: none;

        &>li {
            position: relative;
        }

        &>li:before {
            content: '-';
            position: absolute;
            margin-left: -14px;
        }
    }

    .li_margin {
        margin-bottom: 30px;
    }

    /// table

    table,
    th,
    td {
        border: 1px solid #e9e9e9;
        border-collapse: collapse;
    }

    table.type1 {
        width: 100%;
        height: 172px;
        margin-bottom: 5px;

        td {
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.83;
            letter-spacing: -0.14px;
            color: #212121;

            &.span_align {
                vertical-align: top;
            }
        }

        tr {
            &:first-of-type {
                background-color: #f6f6f6;
                height: 57px;

                td {
                    text-align: center;
                }
            }

            &:not(:first-of-type) {
                td {
                    padding: 7px 10px;
                }
            }
        }

        .third_width {
            width: 90px;
        }
    }

    table.type2 {
        width: 100%;
        height: 94px;

        td {
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.83;
            letter-spacing: -0.14px;
            color: #212121;
        }

        tr {
            &:first-of-type {
                background-color: #f6f6f6;
                height: 35px;

                td {
                    text-align: center;
                }
            }

            &:not(:first-of-type) {
                td {
                    padding: 7px 9px 7px 10px;
                    vertical-align: top;
                }
            }
        }

        .first_width {
            width: 88px;
        }

        .second_width {
            width: 100px;
        }
    }

    .underline {
        text-decoration: underline;
        cursor: pointer;
    }



    @media (min-width: 768px) {
        .layout {
            width: 460px;
        }

        .title {
            font-size: 3rem;
            line-height: 1.43;
            letter-spacing: -0.9px;

            margin: 73px 0px 75px;
        }

        .text {
            &__title_large_chap{}
            &__title_small_chap {
                font-size: 1.6rem;
                line-height: 1.63;
                letter-spacing: -0.26px;
            }
            &__content {
                font-size: 1.5rem;
                line-height: 1.73;
                letter-spacing: -0.23px;
            }
            &--paragraph {

            }
            &--content_margin {
                margin-bottom: 18px !important;
            }

            &--content_margin_small {
                margin-bottom: 12px !important;
            }
        }
            .text-top-margin {
                margin-top: 15px !important;
            }

            .p-top-margin {
                margin-top: 75px !important;
            }

            .footer-margin {
                margin-bottom: 158px !important
            }

            ol,
            ul {
                &.first {
                    padding-left: 16px;
                    margin: 0px;
                    margin-bottom: 5px;

                    font-size: 1.5rem;
                    line-height: 1.73;
                    letter-spacing: -0.23px;

                    li {
                        margin-bottom: 18px;
                    }
                }

                &.second {
                    padding-left: 14px;
                    margin: 0px;

                    font-size: 1.4rem;
                    line-height: 1.86;
                    letter-spacing: -0.2px;

                    li {
                        margin-bottom: 10px;
                    }

                }

                &.third {
                    padding-left: 14px;
                    margin: 0px;

                    font-size: 1.4rem;
                    line-height: 1.86rem;
                    letter-spacing: -0.2px;

                    li {
                        margin-bottom: 10px;
                    }
                }
            }

            ol {
                &.circle_number {
                    counter-reset: li;
                    list-style-type: none;

                    &>li {

                        &:before {
                            content: counter(li);
                            counter-increment: li;
                            height: 16px;
                            width: 16px;
                            border: 1px solid #212121;
                            left: -16px;
                            top: 4px;
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;

                &>li {
                    position: relative;
                }

                &>li:before {
                    content: '-';
                    position: absolute;
                    margin-left: -14px;
                }
            }

            .li_margin {
                margin-bottom: 10px;
            }

            /// table

            table,
            th,
            td {
                border: 1px solid #e9e9e9;
                border-collapse: collapse;

                br {
                    display: none;
                }
            }

            table.type1 {
                width: 100%;
                height: 172px;
                margin-bottom: 5px;

                td {
                    font-size: 1.4rem;
                    line-height: 1.86;
                    letter-spacing: -0.2px;

                    &.span_align {
                        vertical-align: top;
                    }
                }

                tr {
                    &:first-of-type {
                        background-color: #f6f6f6;
                        height: 37px;

                        td {
                            text-align: center;
                        }
                    }

                    &:not(:first-of-type) {
                        td {
                            padding: 7px 10px;
                        }
                    }
                }

                .third_width {
                    width: 136px;
                }
            }

            table.type2 {
                width: 100%;
                height: 94px;

                td {
                    font-size: 1.4rem;
                    line-height: 1.86rem;
                    letter-spacing: -0.2px;
                }

                tr {
                    &:first-of-type {
                        background-color: #f6f6f6;
                        height: 37px;

                        td {
                            text-align: center;
                        }
                    }

                    &:not(:first-of-type) {
                        td {
                            padding: 7px 9px 7px 10px;
                            vertical-align: top;
                        }
                    }
                }

                .first_width {
                    width: 107px;
                }

                .second_width {
                    width: 140px;
                }
            }
    }
    @media (min-width: 1280px) {
        .layout {
            width: 880px;
        }
        .title {
            font-size: 3.2rem;
            line-height: 1.53;
            letter-spacing: -1.02px;

            margin: 125px 0px 75px;
        }

        .text {

            &__title_small_chap {
                font-size: 1.8rem;
                line-height: 1.44;
                letter-spacing: -0.32px;
            }

            &__content {
                font-size: 1.6rem;
                line-height: 1.63;
                letter-spacing: -0.26px;
            }

            &--paragraph {}

            &--content_margin {
                margin-bottom: 20px !important;
            }

            &--content_margin_small {
                margin-bottom: 15px !important;
            }
        }

        .text-top-margin {
            margin-top: 20px !important;
        }

        .p-top-margin {
            margin-top: 80px !important;
        }



        .footer-margin {
            margin-bottom: 205px !important
        }

        ol,
        ul {
            &.first {
                padding-left: 16px;
                margin: 0px;
                margin-bottom: 5px;

                font-size: 1.6rem;
                line-height: 1.63;
                letter-spacing: -0.26px;

                li {
                    margin-bottom: 25px;
                }
            }

            &.second {
                padding-left: 14px;
                margin: 0px;

                font-size: 1.5rem;
                line-height: 1.73;
                letter-spacing: -0.23px;

                li {
                    margin-bottom: 13px;
                }
            }

            &.third {
                padding-left: 14px;
                margin: 0px;

                font-size: 1.5rem;
                line-height: 1.73;
                letter-spacing: -0.23px;

                li {
                    margin-bottom: 13px;
                }
            }
        }

        ol {
            &.circle_number {
                counter-reset: li;
                list-style-type: none;

                &>li {

                    &:before {
                        content: counter(li);
                        counter-increment: li;

                    }
                }
            }
        }

        ul {
            list-style-type: none;

            &>li {
                position: relative;
            }

            &>li:before {
                content: '-';
                position: absolute;
                margin-left: -14px;
            }
        }

        .li_margin {
            margin-bottom: 13px;
        }

        /// table

        table,
        th,
        td {
            border: 1px solid #e9e9e9;
            border-collapse: collapse;
        }

        table.type1 {
            width: 100%;
            height: 172px;
            margin-bottom: 5px;

            td {
                font-size: 1.5rem;
                line-height: 1.73;
                letter-spacing: -0.23px;

                &.span_align {
                    vertical-align: top;
                }
            }

            tr {
                &:first-of-type {
                    background-color: #f6f6f6;
                    height: 44px;

                    td {
                        text-align: center;
                    }
                }

                &:not(:first-of-type) {
                    td {
                        padding: 7px 10px;
                    }
                }
            }

            .third_width {
                width: 285px;
            }
        }

        table.type2 {
            width: 100%;
            height: 94px;

            td {
                font-size: 1.5rem;
                line-height: 1.73;
                letter-spacing: -0.23px;
            }

            tr {
                &:first-of-type {
                    background-color: #f6f6f6;
                    height: 44px;

                    td {
                        text-align: center;
                    }
                }

                &:not(:first-of-type) {
                    td {
                        padding: 7px 9px 7px 10px;
                        vertical-align: top;
                    }
                }
            }

            .first_width {
                width: 220px;
            }

            .second_width {
                width: 230px;
            }
        }

    }
}