<section *ngIf="type =='register'" class="membership-ticket-done-card">
    <div class="top">
        <div class="membership-name">
            <div class="icon">
                <img src="assets/icons/etc/ticket-white.svg">
            </div>
            <span class="rw-typo-title2">{{membershipState.membershipItem.name}}</span>
        </div>
    </div>
    <!-- <div class="rw-typo-bodytext0 middle">
      {{selectedLessonText}} 수업 예약 가능
    </div> -->
    <div class="bottom">
        <div class="date">
            <span class="rw-typo-subtext0-regular small-title2">기간</span>
            <span class="rw-typo-bodytext1">{{membershipState.date.startDate | dateFormat:"YYYY.MM.DD"}} - {{membershipState.date.endDate | dateFormat:"YYYY.MM.DD"}} ({{membershipState.date | dayDiff}}일)</span>
        </div>
        <div class="count">
            <span class="rw-typo-subtext0-regular small-title2">횟수</span>
            <span class="rw-typo-bodytext1">{{membershipState.count.infinite ? '무제한' : (membershipState.count.count+'회')}}</span>
        </div>
        <div class="pay">
            <span class="rw-typo-subtext0-regular small-title2">결제 금액 / 담당자</span>
            <span class="rw-typo-bodytext1">￦{{membershipState.amount.paymentAmount ?? 0}} / {{membershipState.assignee.name}}</span>
        </div>
    </div>
</section>

<section *ngIf="type =='contract'" class="membership-ticket-done-card">
    <div class="top">
        <div class="membership-name">
            <div class="icon">
                <img src="assets/icons/etc/ticket-white.svg">
            </div>
            <span class="rw-typo-title2">{{contractUserMembership.name}}</span>
        </div>
    </div>
    <!-- <div class="rw-typo-bodytext0 middle">
      {{selectedLessonText}} 수업 예약 가능
    </div> -->
    <div class="bottom">
        <div class="date">
            <span class="rw-typo-subtext0-regular small-title2">기간</span>
            <span class="rw-typo-bodytext1">{{contractUserMembership.start_date | dateFormat:"YYYY.MM.DD"}} - {{contractUserMembership.end_date | dateFormat:"YYYY.MM.DD"}} ({{membershipState.date | dayDiff}}일)</span>
        </div>
        <div class="count">
            <span class="rw-typo-subtext0-regular small-title2">횟수</span>
            <span class="rw-typo-bodytext1">{{contractUserMembership.unlimited ? '무제한' : (contractUserMembership.count+'회')}}</span>
        </div>
        <div class="pay">
            <span class="rw-typo-subtext0-regular small-title2">결제 금액 / 담당자</span>
            <span class="rw-typo-bodytext1">
                ￦{{contractUserMembership.card + contractUserMembership.trans + contractUserMembership.cash + contractUserMembership.unpaid?? 0}}
                / {{contractUserMembership.responsibility}}
            </span>
        </div>
    </div>
</section>