<section class="free-start-footer">
    <div class="text">
        <div class="title hp-title1">
            쉽게 간편한 센터 관리, 무료로 시작하세요.
        </div>
        <hp-find-more-button
            [text] = "'무료로 시작하기'"
            [whiteMode]="true"
        ></hp-find-more-button>

        <div class="l-left-icons">
            <div class="sale-icon"></div>
            <div class="locker-icon"></div>
            <div class="schedule-icon"></div>
        </div>
        <div class="l-right-icons">
            <div class="chat-icon"></div>
            <div class="lesson-icon"></div>
            <div class="member-icon"></div>
        </div>

    </div>
</section>