<section class="free-start-footer">
    <div class="text">
        <div class="title hp-title1">
            쉽고 간편한 센터 관리, 무료로 시작하세요.
        </div>
        <hp-find-more-button
            [text] = "'무료로 시작하기'"
            [whiteMode]="true"
            (onClick)="onFreeStartClick.emit()"
        ></hp-find-more-button>

        <div class="l-left-icons">
            <div [class.none-animation]="!animation" class="sale-icon"></div>
            <div [class.none-animation]="!animation" class="locker-icon"></div>
            <div [class.none-animation]="!animation" class="schedule-icon"></div>
        </div>
        <div class="l-right-icons">
            <div [class.none-animation]="!animation" class="chat-icon"></div>
            <div [class.none-animation]="!animation" class="lesson-icon"></div>
            <div [class.none-animation]="!animation" class="member-icon"></div>
        </div>

    </div>
</section>
