* {
    padding: 0px;
    margin: 0px;
}

section.free-start-footer {
    width: 100vw;
    background-color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;

    div.text {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        div.title {
            color: var(--white);
        }
    }

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// @media (min-width: 200px) {
// 360px
@keyframes m-saleAnimation {
    from {
        bottom: 42px;
    }
    to {
        bottom: 52px;
    }
}
@keyframes m-lockerAnimation {
    from {
        bottom: 0px;
    }
    to {
        bottom: 10px;
    }
}
@keyframes m-scheduleAnimation {
    from {
        top: 0px;
    }
    to {
        top: -10px;
    }
}
@keyframes m-chatAnimation {
    from {
        bottom: 0px;
    }
    to {
        bottom: 10px;
    }
}
@keyframes m-memberAnimation {
    from {
        top: 0px;
    }
    to {
        top: -10px;
    }
}
@keyframes m-lessonAnimation {
    from {
        bottom: 46px;
    }
    to {
        bottom: 56px;
    }
}

section.free-start-footer {
    height: 239px;
}

div.text {
    width: 203px;
    .title {
        font-size: 2.3rem;
        margin-bottom: 17px;
    }
    .l-left-icons {
        position: absolute;
        left: -81px;
        width: 91px;
        height: 192px;

        .sale-icon {
            bottom: 42px;
            left: 16px;
            position: absolute;
            width: 37px;
            height: 37px;
            background-size: cover;
            background-image: url('/assets/homepage/icons/sale-management.svg');
            animation: 1s ease-in-out 0s infinite alternate m-saleAnimation;
        }
        .locker-icon {
            bottom: 0px;
            right: 0px;
            position: absolute;
            width: 45px;
            height: 46px;
            background-size: cover;
            background-image: url('/assets/homepage/icons/locker-management.svg');
            animation: 1s ease-in-out 0.5s infinite alternate m-lockerAnimation;
        }
        .schedule-icon {
            top: 0px;
            left: 0px;
            position: absolute;
            width: 59px;
            height: 58px;
            background-size: cover;
            background-image: url('/assets/homepage/icons/schedule-management.svg');
            animation: 1s ease-in-out 1s infinite alternate m-scheduleAnimation;
        }
    }
    .l-right-icons {
        position: absolute;
        right: -98px;
        width: 104px;
        height: 203px;

        .chat-icon {
            bottom: 0px;
            left: 0px;
            position: absolute;
            width: 63px;
            height: 64px;
            background-size: cover;
            background-image: url('/assets/homepage/icons/chat.svg');
            animation: 1s ease-in-out 0s infinite alternate m-chatAnimation;
        }
        .member-icon {
            top: 0px;
            left: 19px;
            position: absolute;
            width: 47px;
            height: 47px;
            background-size: cover;
            background-image: url('/assets/homepage/icons/member-management.svg');
            animation: 1s ease-in-out 1s infinite alternate m-memberAnimation;
        }
        .lesson-icon {
            bottom: 46px;
            right: 0px;
            position: absolute;
            width: 41px;
            height: 42px;
            background-size: cover;
            background-image: url('/assets/homepage/icons/lesson-reservation.svg');
            animation: 1s ease-in-out 0.5s infinite alternate m-lessonAnimation;
        }
    }
}

@media (min-width: 768px) {
    @keyframes t-saleAnimation {
        from {
            top: 0px;
        }
        to {
            top: -10px;
        }
    }
    @keyframes t-lockerAnimation {
        from {
            bottom: 0px;
        }
        to {
            bottom: 10px;
        }
    }
    @keyframes t-scheduleAnimation {
        from {
            top: 7px;
        }
        to {
            top: -3px;
        }
    }
    @keyframes t-chatAnimation {
        from {
            bottom: 11px;
        }
        to {
            bottom: 21px;
        }
    }
    @keyframes t-memberAnimation {
        from {
            top: 0px;
        }
        to {
            top: -10px;
        }
    }
    @keyframes t-lessonAnimation {
        from {
            bottom: 0px;
        }
        to {
            bottom: 10px;
        }
    }

    section.free-start-footer {
        height: 203px;
    }

    div.text {
        width: 222px;
        .title {
            font-size: 2.5rem;
            margin-bottom: 11px;
        }
        .l-left-icons {
            position: absolute;
            left: -267px;
            width: 228px;
            height: 130px;

            .sale-icon {
                bottom: unset;
                top: 0px;
                left: 0px;
                position: absolute;
                width: 45px;
                height: 45px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/sale-management.svg');
                animation: 1s ease-in-out 0s infinite alternate t-saleAnimation;
            }
            .locker-icon {
                bottom: 0px;
                left: 67px;
                right: unset;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/locker-management.svg');
                animation: 1s ease-in-out 0.5s infinite alternate t-lockerAnimation;
            }
            .schedule-icon {
                top: 7px;
                right: 0px;
                left: unset;
                position: absolute;
                width: 65px;
                height: 64px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/schedule-management.svg');
                animation: 1s ease-in-out 1s infinite alternate t-scheduleAnimation;
            }
        }
        .l-right-icons {
            position: absolute;
            right: -268px;
            width: 237px;
            height: 125px;

            .chat-icon {
                bottom: 11px;
                left: 0px;
                position: absolute;
                width: 75px;
                height: 75px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/chat.svg');
                animation: 1s ease-in-out 0s infinite alternate t-chatAnimation;
            }
            .member-icon {
                top: 0px;
                right: 78px;
                left: unset;
                position: absolute;
                width: 56px;
                height: 56px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/member-management.svg');
                animation: 1s ease-in-out 1s infinite alternate t-memberAnimation;
            }
            .lesson-icon {
                bottom: 0px;
                right: 0px;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/lesson-reservation.svg');
                animation: 1s ease-in-out 0.5s infinite alternate t-lessonAnimation;
            }
        }
    }
}
@media (min-width: 1280px) {
    @keyframes saleAnimation {
        from {
            top: 0px;
        }
        to {
            top: -10px;
        }
    }
    @keyframes lockerAnimation {
        from {
            bottom: 0px;
        }
        to {
            bottom: 10px;
        }
    }
    @keyframes scheduleAnimation {
        from {
            top: 8px;
        }
        to {
            top: -2px;
        }
    }
    @keyframes chatAnimation {
        from {
            bottom: 12px;
        }
        to {
            bottom: 22px;
        }
    }
    @keyframes memberAnimation {
        from {
            top: 0px;
        }
        to {
            top: -10px;
        }
    }
    @keyframes lessonAnimation {
        from {
            bottom: 0px;
        }
        to {
            bottom: 10px;
        }
    }

    section.free-start-footer {
        height: 255px;
    }

    div.text {
        width: 486px;
        .title {
            font-size: 2.9rem;
            margin-bottom: 20px;
        }
        .l-left-icons {
            position: absolute;
            left: -349px;
            width: 256px;
            height: 142px;

            .sale-icon {
                top: 0px;
                position: absolute;
                left: 0px;
                width: 49px;
                height: 49px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/sale-management.svg');
                animation: 1s ease-in-out 0s infinite alternate saleAnimation;
            }
            .locker-icon {
                bottom: 0px;
                position: absolute;
                left: 77px;
                width: 55px;
                height: 55px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/locker-management.svg');
                animation: 1s ease-in-out 0.5s infinite alternate lockerAnimation;
            }
            .schedule-icon {
                top: 8px;
                position: absolute;
                right: 0px;
                width: 70px;
                height: 70px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/schedule-management.svg');
                animation: 1s ease-in-out 1s infinite alternate scheduleAnimation;
            }
        }
        .l-right-icons {
            position: absolute;
            right: -349px;
            width: 270px;
            height: 136px;

            .chat-icon {
                bottom: 12px;
                left: 0px;
                position: absolute;
                width: 75px;
                height: 75px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/chat.svg');
                animation: 1s ease-in-out 0s infinite alternate chatAnimation;
            }
            .member-icon {
                top: 0px;
                right: 91px;
                position: absolute;
                width: 56px;
                height: 56px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/member-management.svg');
                animation: 1s ease-in-out 1s infinite alternate memberAnimation;
            }
            .lesson-icon {
                bottom: 0px;
                right: 0px;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-image: url('/assets/homepage/icons/lesson-reservation.svg');
                animation: 1s ease-in-out 0.5s infinite alternate lessonAnimation;
            }
        }
    }
}
@media (min-width: 1440px) {
}
@media (min-width: 1920px) {
}


.none-animation {
    animation: none !important;
}