<div class="rw-modal-background" #modalBackgroundElement></div>

<div
  class="rw-modal-wrapper justify-content-center align-items-center"
  (mouseup)="!isMouseModalDown && onCancel()"
  (mousedown) = 'resetMouseModalDown()'
  #modalWrapperElement
>
    <div
      class="rw-modal user-select-none"
      [class.ticket-height] = "type == 'ticket'"
      (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
    >

      <div class="title-container">

          <div *ngIf="type == 'user' || !type" class="text rw-typo-title1 ">{{ holdNumber }}명의 모든 회원권을 홀딩하시겠어요?</div>
          <div *ngIf="type == 'ticket' && lockerTicket" class="text rw-typo-title1 ">'{{ lockerName }}'을/를 홀딩하시겠어요?</div>
          <div *ngIf="type == 'ticket' && membershipTicket" class="text rw-typo-title1 ">'{{ membershipName}}' 회원권을 홀딩하시겠어요?</div>
          <div class="sub-text rw-typo-subtext1">홀딩 기간을 선택하신 후, [홀딩하기] 버튼을 클릭해주세요.</div>

      </div>
      <div
        class="datepicker"
      >
        <p class="rw-typo-subtext1">홀딩 기간</p>
        <div
          class="date-pick-button"
          rw-button rwButtonColor="var(--white)"
          rwButtonFontColor="var(--font-color)"
          (click) ="toggleShowDatePicker(); $event.stopPropagation()"
        >
          <p class="rw-typo-bodytext1 date-empty-text" *ngIf="!datepick.startDate && !datepick.endDate">
            시작일과 종료일을 선택해주세요.
          </p>
          <p *ngIf="(datepick.startDate && !datepick.endDate)" class="rw-typo-bodytext0-bold">
            {{datepick.startDate | dateFormat:'YYYY-MM-DD'}} - <span class="rw-typo-bodytext1 date-empty-text">종료일 선택</span>
          </p>
          <p *ngIf="(!datepick.startDate && datepick.endDate)" class="rw-typo-bodytext0-bold">
            <span class="rw-typo-bodytext1 date-empty-text">시작일 선택</span> - {{datepick.endDate | dateFormat:'YYYY-MM-DD'}}
          </p>
          <p *ngIf="(datepick.startDate && datepick.endDate)" class="rw-typo-bodytext0-bold">
            {{datepick.startDate | dateFormat:'YYYY-MM-DD'}} - {{datepick.endDate | dateFormat:'YYYY-MM-DD'}} ({{dayDiff}}일)
          </p>

        </div>

        <div
          class="rw-datepicker"
          #rw_datepicker
          [class.display-none] = "!doShowDatePick"
          (rwClickOutside) = "checkClickDatePickOutside($event);"
        >
          <rw-datepicker
            mode="multiline-component"
            [(data)]="datepick"
            (dataChange) = "onDatePickRangeChange()"
          ></rw-datepicker>
        </div>

        <div *ngIf="type == 'user' || !type" class="holdLokcer-checkbox">
          <rw-checkbox
            text="락커도 함께 홀딩하기"
            [checked]="holdWithLocker"
            (click) = "toggleHoldWithLocker()"
          ></rw-checkbox>
        </div>

      </div>
      <div class="button-group">
          <div class="cancel " rw-button (click)="onCancel()"> 취소 </div>
          <div
            class="confirm"
            rw-button
            rwButtonColor="var(--red)"
            [rwButtonDisabled]= "!datepick.startDate"
            (click)="datepick.startDate && onConfirm()"
          >
            홀딩하기
          </div>
      </div>


    </div>
</div>
