<div
  class="card-container"
  [class.recent-registered]="cardIndex == memberLength"
  (click)="onClickCard()"
>
  <div class="left ">
    <div class="index rw-typo-subtext2">{{cardIndex}}</div>
    <div class="member">
      <rw-avatar
        [image] ="member.picture"
        [text] ="member.name"
        [backgroundColor] ="member.color"
        size ="45"
        fontSize ="12"
        fontWeight = "700"
      ></rw-avatar>
      <div class="member-info">
        <span class="name rw-typo-bodytext1">
          {{member.name}}
          <div [class.recent-registered-dot]="cardIndex == memberLength"></div>
        </span>
        <p class="membership-number rw-typo-subtext1">회원번호 {{member.membership_number}}</p>
      </div>
    </div>
  </div>

  <div class="right rw-typo-subtext2">
      {{registeredTime}} &nbsp;등록
      <img src="assets/icons/etc/short_right_arrow_grey.svg" >
  </div>
</div>


