<section class="l-header">
    <div class="header__left">
        <div [routerLink]="['/']"  class="redwhale-logo"></div>
    </div>
    <div class="header__middle">
        <a
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active"
            class="header__nav"
        >
            서비스 소개
        </a>
        <a
            [routerLink]="['/fare-guide']"
            routerLinkActive="active"
            class="header__nav"
        >
            요금 안내
        </a>
        <a
            [routerLink]="['/introduction-inquiry']"
            routerLinkActive="active"
            class="header__nav"
        >
            도입 문의
        </a>
        <a
            [routerLink]="['/FAQ']"
            routerLinkActive="active"
            class="header__nav"
        >
            자주 묻는 질문
        </a>
    </div>
    <div class="header__right">
        <hp-button
            [width]="'78'"
            [height]="'38'"
            [borderColor]="'var(--red)'"
            [fontColor]="'var(--red)'"
            [text]="'로그인'"
            (onClick)="navigateTo('/auth/login')"
        ></hp-button>
        <hp-button
            [width]="'132'"
            [height]="'38'"
            [bgColor]="'var(--red)'"
            [fontColor]="'var(--white)'"
            [text]="'무료로 시작하기'"
            (onClick)="toggleFreeStartModalVisible()"
        ></hp-button>
    </div>
</section>


<section class="l-header-mobile">
    <div class="redwhale-logo"></div>
    <div *ngIf="!isMenuOpen" (click)="toggleMenu()" class="hamburger-logo"></div>
    <div *ngIf="isMenuOpen" (click)="toggleMenu()" class="close-button"></div>

    <div class="menu-content" [style.display] = "isMenuOpen ? 'flex' : 'none'">
        <div class="l-menu-item">
            <a [routerLink]="['/']" (click)="toggleMenu()" class="menu-item">서비스 소개</a>
            <a [routerLink]="['/fare-guide']" (click)="toggleMenu()" class="menu-item">요금 안내</a>
            <a [routerLink]="['/introduction-inquiry']" (click)="toggleMenu()" class="menu-item">도입 문의</a>
            <a [routerLink]="['/FAQ']" (click)="toggleMenu()" class="menu-item">자주 묻는 질문</a>
        </div>

        <hp-button
            *ngIf="isMobileWidth"
            [width]="'294'"
            [height]="'50'"
            [text] = "'무료로 시작하기'"
            [bgColor]="'var(--red)'"
            [fontColor]="'var(--white)'"
            (onClick)="toggleFreeStartModalVisible()"
        ></hp-button>

        <hp-button
            *ngIf="!isMobileWidth"
            [width]="'460'"
            [height]="'50'"
            [text] = "'무료로 시작하기'"
            [bgColor]="'var(--red)'"
            [fontColor]="'var(--white)'"
            (onClick)="toggleFreeStartModalVisible()"
        ></hp-button>

    </div>
</section>

<hp-free-start-modal
    [(visible)]="isFreeStartModalVisible"
    (cancel)="onFreeStartCancel()"
    (confirm)="onFreeStartCancel()"
></hp-free-start-modal>