<section class="l-header">
    <div class="header__left">
        <div class="redwhale-logo"></div>
    </div>
    <div class="header__middle">

    </div>
    <div class="header__right">
        <hp-button
            [width]="'78'"
            [height]="'38'"
            [borderColor]="'var(--red)'"
            [fontColor]="'var(--red)'"
        ></hp-button>
        <hp-button
            [width]="'78'"
            [height]="'38'"
            [borderColor]="'var(--red)'"
            [fontColor]="'var(--red)'"
        ></hp-button>
    </div>
</section>