* {
  padding: 0;
  margin: 0;
}

.user-list-card {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: var(--background-color);
  }
  .card-left {
    display: flex;
    align-items: center;

    .user-avatar {
      margin-right: 10px;
      position: relative;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      &:first-of-type {
        margin-bottom: 3px;
      }
    }
  }

  .card-right {
    .receive-ad-block {
      display: flex;
      align-items: center;

      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      text-align: right;
      letter-spacing: -0.144px;
      color: #606060;
      .ad-block-icon {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/assets/icons/etc/unavailable_darkgrey.svg");
        width: 18px;
        height: 18px;
        margin-top: 1px;
      }
    }
  }
}
