<div
    *ngIf="!doHide"
    class="user-list-card"
    (click) ="clickCard()"
>
    
    <div class="card-left">
        <div class="user-avatar">
            <rw-avatar
                [image]="cardItem.user.picture"
                [text]="cardItem.user.name"
                [backgroundColor]="cardItem.user.color"
                size="45"
                fontSize="12"
            ></rw-avatar>
        </div>
        
        <div class="user-info">
            <span class="rw-typo-bodytext0-bold">{{cardItem.user.name}}</span>
            <span class="rw-typo-subtext1">{{cardItem.user.phone_number | phoneNumber}}</span>
        </div>
    </div>
    
    <div class="card-right">
        <rw-checkbox
            *ngIf="!(cardItem.user.service080)"
            [checked]="cardItem.selected"
        ></rw-checkbox>
        <div class="receive-ad-block" *ngIf="(cardItem.user.service080)">
            <div class="ad-block-icon"></div>
            광고 수신 거부
        </div>
    </div>
    
</div>
