
<div class="rw-modal-background" #modalBackgroundElement></div>

<div
  class="rw-modal-wrapper justify-content-center align-items-center"
  (mouseup)="!isMouseModalDown && onCancel()"
  (mousedown) = 'resetMouseModalDown()'
  #modalWrapperElement
>
    <div
      class="rw-modal user-select-none"
      (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
    >
      <div class="modal-header">
        <div class="header-title">
          <div class="rw-typo-bodytext0-bold d-flex align-items-center">
            <div class="color-icon" [style.backgroundColor] = "lessonData?.color ?  lessonData?.color : 'var(--border-color)'"></div>
            {{lessonData?.name}}
          </div>

        </div>
        <div class="close-button" (click)="onCancel()">
          <img src="assets/icons/etc/close.svg">
        </div>
      </div>

      <div class="modal-navigation">
        <div
          class="rw-typo-bodytext2-regular lesson-button"
          [class.selected]="screen_status == 'lesson'"
          (click)="onLessonClick()"
        >
          수업 정보
        </div>
        <div
          class="rw-typo-bodytext2-regular reservation-button"
          [class.selected]="screen_status == 'reservation'"
          (click)="onReservationClick()"
        >
          예약 현황
        </div>
      </div>



      <div
        *ngIf="screen_status == 'lesson'; else reservation"
        class="content-container thin-scroll-y-overlay2"
      >

        <div class="lesson-card">

          <div class="card-top">
            <div
              class="icon"
              [style.backgroundColor] = "lessonData?.color ?  lessonData?.color : 'var(--border-color)'"
            >
              <img src="assets/icons/etc/workout_white.svg">
            </div>
            <div class="card-desc">
              <p class="rw-typo-subtext0-regular card-category">{{lessonCardData.categName}}</p>
              <p class="rw-typo-bodytext0-bold">{{lessonCardData.lessonName}}</p>
            </div>
          </div>
          <div class="card-bottom">
            <p class="card-desc2 rw-typo-subtext1">
              {{lessonCardData.duration}}분
              <span class="bar">|</span>
              {{lessonCardData.lessonType}}
              <span class="bar">|</span>
              {{lessonCardData.instructor}}
            </p>
          </div>

        </div>


        <div class="modal-content">
          <div class="small-title">일자</div>
          <div class="rw-typo-bodytext1 ">{{date}}</div>
        </div>
        <div class="modal-content">
          <div class="small-title">시간</div>
          <div class="rw-typo-bodytext1 ">{{time}}</div>
        </div>
        <div *ngIf="lessonData?.calendar_task_group_id" class="modal-content">
          <div class="small-title">일정 반복 기간</div>
          <div class="rw-typo-bodytext1 ">
            {{lessonData?.repeat_start_date | dateFormat:'YYYY.MM.DD'}} - {{lessonData?.repeat_end_date | dateFormat:'YYYY.MM.DD'}} {{repeatTimeDiff}} / {{repeatText}}
          </div>
        </div>
        <div class="modal-content">
          <div class="small-title">예약 인원</div>
          <div class="rw-typo-bodytext1 ">{{lessonData?.class.booked_count}} / {{lessonData?.class.capacity}}명</div>
        </div>
        <div *ngIf="lessonData?.memo" class="modal-content">
          <div class="small-title">상세 정보</div>
          <div class="rw-typo-bodytext1 ">{{lessonData?.memo | trimText}}</div>
        </div>
        <div class="modal-content">
          <div class="small-title">예약 가능 시간</div>
          <div class="rw-typo-bodytext1 ">{{reservationEnableTime}}</div>
        </div>
        <div class="modal-content">
          <div class="small-title">예약 취소 마감 시간</div>
          <div class="rw-typo-bodytext1 ">{{reservationCancelEndTime}}</div>
        </div>
        <div class="modal-content">
          <div class="small-title">예약 가능한 회원권</div>
          <div class="rw-typo-bodytext1 lesson-tag">
            <div
              *ngFor = "let membership of lessonData?.class?.membership_items"
              class="tag-item"
            >
              {{membership.name}}
            </div>
          </div>
        </div>

      </div>

      <ng-template #reservation>
        <div
          *ngIf="screen_status == 'reservation';"
          class="content-container thin-scroll-y-overlay2"
        >

          <ng-template #user_booked_loading [ngIf]="!isUsersBookedInitialized" [ngIfElse]="user_booked_done">
            <div class="l-loading-users-booked">
              <ngx-skeleton-loader
                *ngFor="let _ of [1,2,3]"
                count = 1
                appearance="circle"
                [theme]="{width: '100%', height: '60px', 'border-radius': '5px', 'margin': '0px' ,'margin-bottom': '1px'}"
              ></ngx-skeleton-loader>
            </div>
          </ng-template>

          <ng-template #user_booked_done>
            <div
              *ngIf="userBookeds.length < 1; else reservation_exist"
              class="empty-guide"
            >
              <img src="assets/icons/etc/empty_screen.svg" >
              <p *ngIf="isBookingEnd" class="rw-typo-subtext0-regular grey">예약을 신청한 회원이 없어요.</p>
              <p *ngIf="!isBookingEnd" class="rw-typo-subtext0-regular grey">아직 예약을 신청한 회원이 없어요.</p>
              <p *ngIf="!isBookingEnd" class="rw-typo-subtext0-regular grey">직접 회원을 예약하시겠어요?</p>
              <div *ngIf="!isBookingEnd" class="empty-button" (click)="onReserveMember()">
                <p>회원 예약하기</p>
                <img src="assets/icons/etc/short_right_arrow_grey.svg">
              </div>
            </div>

            <ng-template #reservation_exist>
              <div class="reservation-list thin-scroll-y-overlay2">
                <div class="reservation-header">
                  <div class="rh-left">
                    <p class="rw-typo-bodytext0-bold">{{lessonData.class.capacity}}명 정원인 수업에</p>
                    <p class="rw-typo-bodytext0-bold"><span>{{userBookeds.length}}명</span>의 회원이 예약했어요.</p>
                  </div>
                  <div class="rh-right">
                    <div
                      *ngIf="( isBookable && lessonData.class.capacity > userBookeds.length )"
                      class="rw-typo-subtext0 reserve-member-button"
                      (click)="onReserveMember()"
                    >
                      <img src="assets/icons/etc/plus-red.svg">
                      회원 예약
                    </div>
                  </div>
                </div>


                <ng-container *ngIf="lessonData">
                  <div
                    class="reservation-item"
                    *ngFor="let reservation of userBookeds"
                  >
                    <div class="item-left">
                      <rw-avatar
                        [image]="reservation.center_user_picture"
                        [text]="reservation.center_user_name"
                        [backgroundColor]="reservation.color"
                        size="30" fontSize="12"
                      ></rw-avatar>
                      <span class="rw-typo-bodytext2">
                        {{reservation.center_user_name}} ({{reservation.membership_number}})
                      </span>
                    </div>
                    <div class="item-right">
                      <div
                        *ngIf="!isCancelBookingEnd  || !isTaskEnd "
                        class="close-button" (click)="onCancelReservedMember(reservation)">
                        <img src="assets/icons/etc/close_grey.svg">
                      </div>
                    </div>
                  </div>
                </ng-container>


              </div>
            </ng-template>

          </ng-template>

        </div>
      </ng-template>


      <div class="modal-buttons">
        <div
          class="rw-typo-bodytext0-bold holding-button"
          (click) = "onDelete()"
        >
          <img src="assets/icons/etc/trash.svg">
          {{'삭제'}}
        </div>
        <div class="divider"></div>
        <div
          class="rw-typo-bodytext0-bold modify-button"
          (click) = "onModify()"
        >
          <img src="assets/icons/etc/edit.svg"> 일정 수정
        </div>
      </div>


    </div>
</div>




