.rw-datepicker {
    width: 255px;
    height: 251px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);

    .col,
    [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    .month {
        .start,
        .end {
            .mdi {
                font-size: 2rem;
                color: var(--grey);
                cursor: pointer;

                &:hover {
                    color: var(--darkgrey);
                }
            }
        }

        .center {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--font-color);
        }
    }

    .week-header {
        font-size: 1.3rem;
        color: var(--font-color);

        & > div {
            width: 26px;
            height: 26px;
        }
    }

    .week-row {
        .week-col {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            font-size: 1.1rem;
        }
    }

    &.mutiline-unit {
        .week-header {
            font-size: 1.3rem;
            color: var(--font-color);

            & > div {
                width: 34px;
                height: 26px;
            }
        }

        .week-row {
            .week-col {
                width: 34px;
                height: 26px;
                border-radius: unset;
                font-size: 1.1rem;
            }
        }
    }
}

.rw-datepicker-date {
    .week-row {
        .week-col {
            cursor: pointer;

            &:hover {
                background-color: var(--background-color);
            }
        }

        .selected {
            color: var(--white) !important;
            background-color: var(--red);

            &:hover {
                background-color: var(--red);
            }
        }
    }
}

.rw-datepicker-week {
    .week-row {
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--background-color);
        }
    }

    .selected {
        background-color: var(--red);

        &:hover {
            background-color: var(--red);
        }

        .week-col {
            color: var(--white) !important;
        }
    }
}

.rw-datepicker-multiline {
    .week-row {
        .week-col {
            cursor: not-allowed !important;
            &.start-date {
                border-radius: 4px 0px 0px 4px;
            }

            &.end-date {
                border-radius: 0px 4px 4px 0px;
            }
        }

        .avaliable-date {
            cursor: pointer !important;
            &:hover {
                // background-color: var(--background-color);
                color: var(--red) !important;
            }
        }

        .selected {
            color: var(--white) !important;
            background-color: var(--red);

            &:hover {
                background-color: var(--red);
                color: var(--white) !important;
            }
        }
        .between {
            color: var(--white) !important;
            background-color: var(--lighterred);

            &:hover {
                background-color: var(--lighterred);
                color: var(--white) !important;
            }
        }
    }
}

.isShadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
