<div class="rw-modal-background" [class.contain-type]="type == 'contain'" #modalBackgroundElement></div>
<div
  class="rw-modal-wrapper justify-content-center align-items-center"
  [class.contain-type]="type == 'contain'"
  (mouseup)="!isMouseModalDown && !blockClickOutside && onCancel()"
  (mousedown) = 'resetMouseModalDown()'
  #modalWrapperElement
>
  <div
    class="rw-modal user-select-none"
    (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
  >

    <div class="title-container">
      <div class="text rw-typo-title1 ">
        문자 전송을 위해 발신번호를 등록해주세요.
      </div>
      <div class="sub-text rw-typo-subtext1">
        발신번호 인증 승인 후부터 문자 전송이 가능하며,<br>
        신청일 기준 다음 영업일 오후 5시 이전까지 승인 처리됩니다.
      </div>
    </div>

    <div class="input">
      <p class="rw-typo-subtext1">이름 (발신번호 개통 시 사용한 실명)</p>
      <input
        class="rw-input"
        type="text"
        placeholder="이름을 입력해주세요."
        minlength="10" maxlength="11" required
        pattern="^\d{10,11}$"
        (keypress) = "false"
        (keyup) = "false"
      >
      <div class="error" *ngIf="false">
        <img class="warning" src="assets/icons/etc/warning-red.svg" />
        <span class="rw-typo-subtext1">{{ '' }}</span>
      </div>
    </div>

    <div class="input" [class.input-box-error]="false">
      <p class="rw-typo-subtext1">발신번호</p>
      <input
        class="rw-input"
        type="text"
        placeholder="발신번호를 입력해주세요."
        minlength="4" maxlength="4" required
        pattern="^\d{4}$"
        (keypress)="false"
        (keyup)="false"
      >
      <div class="error" *ngIf="false">
        <img class="warning" src="assets/icons/etc/warning-red.svg" />
        <span class="rw-typo-subtext1">{{ '' }}</span>
      </div>

    </div>

    <div class="l-button">
      <div class="cancel" rw-button (click)="onCancel()">취소</div>
      <rw-button
        #extension_bt
        class="confirm"
        [width]="'362'"
        [height]="'50'"
        [color]="'var(--red)'"
        [borderRadius]="'0 0 5px 0'"
        [disabled]="false"
        (onClick)="onConfirm($event)"
      >
        <span class="rw-typo-bodytext0-bold confirm__text">인증 요청하기</span>
      </rw-button>
    </div>
  </div>
</div>
