* {
	margin: 0;
	padding: 0;
	text-align: start;
}

.contain-type {
	position: absolute !important;
}

.rw-modal-background {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--font-color);
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
	-moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
	-webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
	-o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
	z-index: 9999;
}

.rw-modal-background-show {
	opacity: 0.3;
}

.rw-modal-wrapper {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;

	.rw-modal {
		width: 457px;
		height: 386px;
		border-radius: 6px;
		background-color: var(--white);
		box-shadow: 0 0 10px 0 rgba(181, 181, 181, 0.11);
		opacity: 0;
		transition: opacity 0s;
		-moz-transition: opacity 0s;
		-webkit-transition: opacity 0s;
		-o-transition: opacity 0s;
		position: relative;

		.title-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 35px;
			.text {
				display: flex;
				justify-content: center;
			}

			.sub-text {
				margin: 5px 0 0 0;
				white-space: pre-line;
				display: flex;
				justify-content: center;
				text-align: center;
			}
		}

		.input {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 50px;
			position: relative;
			margin-top: 47px;
			& > p {
				position: absolute;
				top: -22px;
				margin: 0;
				width: 360px;
				color: var(--grey);
			}
			& > input {
				width: 360px;
				height: 100%;
				padding: 0 16px;
			}

			&.input-box-error {
				position: relative;

				input {
					border: 1px solid var(--red);
				}

				.error {
					position: absolute;
					right: 50px;
					bottom: -20px;

					.warning {
						position: relative;
						top: 2px;
						width: 14px;
						height: 14px;
					}

					.rw-typo-subtext1 {
						color: var(--red);
					}
				}
			}
		}

		.l-button {
			display: flex;
			height: 50px;
			width: 100%;
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 0;

			.cancel {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				height: 100%;
				width: 95px;
				border-radius: 0 !important;

				border-right: 1px solid var(--border-color);
				border-top: 1px solid var(--border-color);
				color: var(--grey) !important;

				font-size: 1.4rem;
				font-weight: 700;
				line-height: 1.43;
				letter-spacing: -0.2px;
				color: var(--grey);
			}

			.confirm__text {
				color: var(--white) !important;
			}

		}
	}
}

.rw-modal-wrapper-show {
	.rw-modal {
		opacity: 1;
	}
}
