.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 999;
}

.rw-modal-background-show {
    opacity: 0.3;
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .rw-modal {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        // justify-content: space-between;

        width: 457px;
        height: 290px;
        border-radius: 6px;
        background-color: var(--white);
        box-shadow: 0 0 10px #b5b5b545;
        opacity: 0;
        transition: opacity 0s;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px;
        margin-bottom: 3px;
        .text {
            display: flex;
            justify-content: center;
        }

        .sub-text {
            margin-top: 2px;
            white-space: pre-line;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .sub-text__first {
            margin-top: 3px;
        }
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50px;
        position: relative;

        margin: 44px 0 45px 0;

        & > p {
            position: absolute;
            top: -20px;
            margin: 0;
            width: 360px;
            color: var(--grey);
        }
        & > input {
            width: 360px;
            height: 100%;
        }

        &#sex > .radio-container {
            display: flex;
            width: 170px;
            justify-content: space-between;
        }
        &#marketing-agree > .checkbox-container {
            display: flex;
            width: 185px;
            justify-content: space-between;
        }
    }

    .button-group {
        display: flex;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;

        .cancel {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-top: 1px solid var(--border-color);

            height: 100%;
            width: 20%;
            border-radius: 0 0 0 6px !important;

            border-right: 1px solid var(--border-color);
            color: var(--grey) !important;

            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.43;
            letter-spacing: -0.2px;
            color: var(--grey);
        }

        .confirm {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 81%;
            border-radius: 0 0 6px 0 !important;

            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.43;
            letter-spacing: -0.2px;
            color: var(--white);
            background-color: #e9e9e9;

            &.enable {
                background-color: var(--red);
            }
        }
    }
}

.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1;
    }
}
