<section class="modify-payment-statement user-select-none thin-scroll-x-overlay thin-scroll-y">
  <div class="header">
    <div class="header-text-container">
      <p class="rw-typo-headline1">{{user?.gym_user_name}}님의</p>
      <p class="rw-typo-headline1">결제 정보를 수정해보세요.</p>
    </div>

    <div class="cg-typo-subtext close-button" rw-button rwButtonWidth="85" rwButtonHeight="40"
      rwButtonBorderColor="var(--font-color)" (click)="backToDashboard()">
      <span class="mdi mdi-close"></span>
      <span>닫기</span>
    </div>
  </div>

  <main>
    <div class="main-inner-container">

      <article class="membership-and-locker">

        <div class="presence-membership-locker">
          <div class="window-item" *ngFor="let item of itemList; let idx = index">
            <rw-pm-locker-ticket-window
              *ngIf="item.item.category =='locker'"
              [lockerPayment] = item
              (onDone) = "onDone($event, idx)"
              (onPriceChange) = "onPriceChange($event, idx)"
            ></rw-pm-locker-ticket-window>
            <rw-pm-membership-ticket-window
              *ngIf="item.item.category =='membership'"
              [membershipPayment] = item
              (onDone) = "onDone($event, idx)"
              (onPriceChange) = "onPriceChange($event, idx)"
            ></rw-pm-membership-ticket-window>
          </div>
        </div>

      </article>

      <aside class="pay-information-container">

        <div class="pay-infomation-inner-container">

          <div class="pay-information">

            <div class="rw-typo-title2 title">결제 정보</div>

            <div class="total-price">
              <span class="rw-typo-subtext0-regular">총 결제 금액</span>
              <span class="rw-typo-headline1">￦ {{totalPay | numberWithCommas}}</span>
            </div>

            <div class="input-list">

              <div
                *ngFor = "let item of totalPriceInput | keyvalue"
                class="input-container"
              >
                <div class="rw-typo-subtext0-regular input-title">{{item.value.name}}</div>
                <div class="input-inner-container">
                  <input
                    class="rw-input"
                    type="text"
                    placeholder="0"
                    [(ngModel)]="item.value.price"
                    (keypress) = "restrictToNumber($event)"
                    (keyup) = "onInputKeyup($event, item.key)"
                  >
                  <div class="currency">￦</div>
                </div>
              </div>

            </div>

            <div class="rw-typo-subtext0-regular date-text">
              결제일 : {{today}}
            </div>

          </div>

          <div
            *ngIf="itemList.length > 0"
            class="rw-typo-title2 pay-button"
            rw-button
            rwButtonColor="var(--red)"
            rwButtonFontColor="var(--white)"
            [rwButtonDisabled] = "!samePrice || !allItemDone"
            (click) = "samePrice && allItemDone && modifyPayment()"
          >
            수정하기
          </div>

        </div>

      </aside>

    </div>
  </main>
</section>

