* {
    padding: 0px;
    margin: 0px;
}

section.modify-payment-statement {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    $containerWidth: 844px;
    $header_height: 170px;
    .header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: $header_height;
        background-color: var(--white);
        position: relative;
        padding: 0px 20px;

        .header-text-container {
            width: $containerWidth;
            margin-bottom: 30px;
        }

        .close-button {
            position: absolute;
            top: 36px;
            right: 36px;
        }
    }

    main {
        width: 100%;

        background-color: var(--background-color);

        .main-inner-container {
            width: 100vw;
            min-width: 884px;
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 35px;

            & article.membership-and-locker {
                margin-right: 20px;
                width: 585px;
                position: relative;

                .empty-memberhip-card,
                .empty-locker-card {
                    padding: 17px 20px 20px;
                    width: 585px;
                    height: 136px;
                    box-shadow: 0px 0px 10px #b5b5b51c;
                    border-radius: 7px;
                    background-color: var(--white);
                    & > .title {
                        display: flex;
                        width: 545px;
                        height: 40px;
                        border-bottom: 1px solid var(--border-color);
                        margin-bottom: 20px;
                    }
                    .membership-content,
                    .locker-content {
                        display: flex;
                        cursor: pointer;
                        .card-texts {
                            display: flex;
                            flex-direction: column;
                            width: calc(100% - 48px);
                            margin-left: 12px;
                            .top {
                                display: flex;
                                align-items: center;
                            }
                            .bottom {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                & > img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
                .empty-memberhip-card {
                    margin-bottom: 20px;
                }
                .card-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: var(--border-color);
                    & > img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .presence-membership-locker {
                    .membership-locker-buttons {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;
                        .add-membership-ticket-button,
                        .add-locker-button {
                            display: flex;
                            justify-content: space-between;
                            width: 283px;
                            height: 55px;
                            box-shadow: 0px 0px 10px #b5b5b51c;
                            border-radius: 7px;
                            // background-color: var(--white);
                            padding: 18px 22px;

                            & img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .window-item {
                        &:not(:last-of-type) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            & aside.pay-information-container {
                width: 238px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .pay-infomation-inner-container {
                    position: sticky;
                    top: 30px;
                    .pay-information {
                        padding: 18px 20px 20px;
                        width: 100%;
                        min-height: 142px;
                        background-color: var(--white);
                        box-shadow: 0px 0px 10px #b5b5b51c;
                        border-radius: 7px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & > .title {
                            display: flex;
                            width: 197px;
                            height: 39px;
                            border-bottom: 1px solid var(--border-color);
                            margin-bottom: 18px;
                        }

                        .total-price {
                            display: flex;
                            flex-direction: column;
                            width: 197px;
                            span {
                                text-align: center;
                            }
                        }

                        .input-list {
                            width: 188px;
                            height: 356px;
                            margin-top: 11px;
                            position: relative;

                            .input-container {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                margin-bottom: 16px;
                                & > .input-title {
                                    color: var(--grey);
                                    margin-bottom: 5px;
                                }
                                .input-inner-container {
                                    position: relative;
                                    width: 188px;
                                    width: 70px;

                                    & > input {
                                        width: 188px;
                                        padding: 15px 15px 15px 45px;
                                        text-align: right;

                                        &:disabled {
                                            background-color: white;
                                            color: #212121;
                                        }
                                    }

                                    .currency {
                                        position: absolute;
                                        left: 15px;
                                        bottom: 15.5px;
                                    }
                                }
                            }
                        }

                        .date-text {
                            color: var(--grey);
                        }
                    }

                    .pay-button {
                        width: 238px;
                        height: 50px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
