.rw-select {
    position: relative;
    display: inline-flex;

    .text {
        text-align: initial;
    }

    .selected {
        height: 42px;
        padding: 15px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
        width: auto;

        .text {
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.text--open {
                font-weight: 700;
            }
        }

        .arrow-icon {
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
            font-size: 2.2rem;
            color: var(--grey);

            width: 20px;
            height: 22px;
            background-size: cover;
            background-image: url('/assets/icons/etc/arrow-down-fill-grey.svg');
        }
    }

    .open {
        background-color: var(--white);

        .arrow-icon {
            transform: rotateX(180deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
        }
    }

    .disabled {
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        cursor: not-allowed;

        .text,
        .arrow-icon {
            color: var(--grey);
        }
    }

    .items {
        display: none;
        position: absolute;
        top: 47px;
        padding: 5px 0;
        box-shadow: 0px 0px 10px #b5b5b526;
        border: 1px solid var(--grey);
        background-color: var(--white);
        z-index: 50;
        border-radius: 5px;

        .item {
            height: 42px;
            padding: 15px;
            cursor: pointer;

            display: flex;
            align-items: center;

            &:hover {
                width: 100%;
                background-color: var(--background-color);
            }

            span {
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .disabled {
            border: 1px solid transparent;
            background-color: var(--white);
            cursor: not-allowed;

            &:hover {
                background-color: var(--white);
            }

            span {
                color: var(--grey);
            }
        }
    }
}

.active {
    span {
        font-weight: 700 !important;
    }
}

.height-small {
    height: 35px !important;
}

.items-small {
    top: 40px !important;
}

.avatar {
    margin-right: 5px;
}

.border-none {
    border: none !important;
}
