* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

$innerHeight: calc(100vh - (55px + 60px + 73px + 63px));

section.member-detail__body {
    display: flex;
    flex-direction: column;

    min-height: 560px;
    height: $innerHeight;
    display: flex;
    flex-direction: column;
    position: relative;

    div.l-member-detail__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        height: 254px;
        margin-bottom: 20px;
        position: relative;

        div.member-infomation {
            background: var(--white);
            box-shadow: 0 0 10px #b5b5b545;
            border-radius: 5px;

            height: 100%;
            width: 485px;
            min-width: 485px;
            margin-right: 20px;
            position: relative;
            padding: 0px 16px;

            .member-information__top {
                height: calc(100% - 50px);
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .member-information__top-left {
                    padding: 25px 16px 0px 0px;
                    width: 139px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-items: center;

                    .l-avater {
                        // margin-left: 20px;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .avatar-wrapper {
                            border-radius: 50%;
                            // overflow: hidden;
                            position: relative;
                            cursor: pointer;

                            &:hover {
                                .l-photo-icon {
                                    display: flex;
                                }
                            }

                            .l-photo-icon {
                                display:  none;
                                flex-direction: column;
                                position: absolute;
                                width: 83px;
                                height: 83px;
                                top: 0;
                                border-radius: 50%;
                                // overflow: hidden;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba(96, 96, 96, .6);

                                .photo-icon {
                                    background-image: url('/assets/icons/etc/camera_white.svg');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    width: 24px;
                                    height: 22px;
                                }
                                .photo-text {
                                    font-weight: 500;
                                    font-size: 11px;
                                    line-height: 16px;
                                    letter-spacing: -0.121px;
                                    color: var(--white);
                                }

                                .l-remove-icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #C9C9C9;
                                    box-sizing: border-box;
                                    width: 21px;
                                    height: 21px;
                                    border-radius: 50%;
                                    position: absolute;
                                    background-color: white;
                                    left: 0;
                                    top: 0;

                                    .remove-icon {
                                        background-image: url('/assets/icons/etc/trash_darkgrey.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        width: 14px;
                                        height: 14px;
                                        z-index: 5;
                                    }
                                }
                            }

                        }

                        .user-name {
                            margin-top: 9px;
                            cursor: pointer;
                            position: relative;

                            &:hover {
                                img {
                                    display: initial;
                                }
                            }

                            img {
                                position: absolute;
                                right: -22px;
                                top: 1.5px;
                                width: 21px;
                                height: 21px;
                                display: none;
                            }
                        }

                        .l-user-status-tag {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            margin-top: 4px;

                            .user-status-tag {
                                &:first-of-type{
                                    margin-bottom: 5px;
                                }
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: rgba(33, 33, 33, 0.05);
                                border-radius: 50px;
                                padding: 1px 8px 1px 4px;

                            }

                            span {
                                margin-left: 2px;
                                font-size: 1.2rem;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: -0.17px;
                                text-align: center;
                                color: var(--font-color) !important;
                            }

                            .unpaid-icon {
                                width: 18px;
                                height: 18px;
                                background-size: cover;
                                background-image: url('/assets/icons/etc/unpaid_amount.svg');
                            }
                            .expire-icon {
                                width: 18px;
                                height: 18px;
                                background-size: cover;
                                background-image: url('/assets/icons/etc/exceed_period_black.svg');
                            }
                        }

                        .init-avatar {
                            width: 83px;
                            height: 83px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--border-color);
                            border-radius: 50%;

                            .empty-user-icon {
                                background-image: url('/assets/icons/etc/user.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                width:35px;
                                height: 35px;
                            }
                        }
                    }
                }
                .member-information__top-right {
                    padding: 25px 0px 0px;
                    width: calc(100% - 139px);
                    height: 100%;
                    .l-info{
                        display: flex;
                        justify-content: flex-start;
                        &:not(:first-of-type) {
                            margin-top: 14px;
                        }
                        .title {
                            width:51px;
                            height: 20px;
                            text-align:left;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 1.43;
                            letter-spacing: -0.2px;
                            color: var(--grey);
                            margin-right: 25px;
                        }
                        .content {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: -0.196px;
                            width: calc(100% - 76px);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            & span {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: -0.196px;
                                width: calc(100% - 76px);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            &.changeable {
                                width: auto;
                                cursor: pointer;
                                position: relative;
                                overflow: visible;
                                &:hover {
                                    img {
                                        display: initial;
                                    }
                                }
                                img {
                                    position: absolute;
                                    right: -22px;
                                    top: 0.5px;
                                    width: 20px;
                                    height: 20px;
                                    display: none;
                                }
                            }
                        }
                        .content_select {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: -0.196px;
                        }
                    }
                }

            }
            .member-information__bottom{
                height: 50px;
                width: 100%;
                border-top: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                .vertical-divider {
                    height: 20px;
                    width: 1px;
                    margin: 14px 5px 16px;
                    border-right: 1px solid var(--border-color);
                }

                .info-button {
                    display: flex;
                    align-items: center;
                    width: calc( calc(100% - 22px) / 3) !important;

                    &.disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                        &:hover {
                            background-color: transparent !important;
                        }
                    }

                    .red {
                        color: var(--red) !important;
                    }

                    .plus-icon {
                        background-image: url('/assets/icons/etc/plus-red.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 21px;
                        height: 21px;
                        margin-right: 3px;
                    }

                    img {
                        width: 21px;
                        height: 21px;
                        margin-right: 3px;
                    }
                }
            }
        }

        .member-memo {
            background: var(--white);
            box-shadow: 0 0 10px #b5b5b545;
            border-radius: 5px;
            padding: 23px 25px;
            position: relative;

            height: 100%;
            width: calc(100% - 505px);
            min-width: 300px;
            textarea {
                resize: none;
                border: none;
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 20px;
                letter-spacing: -0.196px;
                color: var(--font-color);

                &:focus {
                    font-weight: 500;
                    border: none;
                    outline: none;
                }

                &::placeholder {
                    font-weight: 400 !important;
                    font-size: 1.4rem;
                    line-height: 20px;
                    letter-spacing: -0.196px;
                    text-align: left;
                    color: var(--grey) !important;
                }
                &::-webkit-input-placeholder {
                    font-weight: 400 !important;
                    font-size: 1.4rem;
                    line-height: 20px;
                    letter-spacing: -0.196px;
                    text-align: left;
                    color: var(--grey) !important;
                }
                &:-ms-input-placeholder {
                    font-weight: 400 !important;
                    font-size: 1.4rem;
                    line-height: 20px;
                    letter-spacing: -0.196px;
                    text-align: left;
                    color: var(--grey) !important;

                }
                &:focus::placeholder {
                    font-weight: 400 !important;
                    color: var(--grey) !important;
                }

                &:focus::-webkit-input-placeholder {
                    font-weight: 400 !important;
                    color: var(--grey) !important;
                }

                &:focus:-ms-input-placeholder {
                    font-weight: 400 !important;
                    color: var(--grey) !important;
                }

            }
            .user_none_text {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 20px;
                letter-spacing: -0.196px;
                color: var(--grey);

            }
        }
    }

    div.l-member-detail__bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        min-width: 805px;
        height: calc(100% - 274px);

        div.l-member-detail-tag {
            display: flex;
            justify-content: flex-start;

            div.member-detail-tag {
                width: 90px;
                height: 40px;
                background-color: var(--border-color);
                border-radius: 5px 5px 0px 0px;
                color: var(--grey);
                font-size: 1.4rem;
                line-height: 19px;
                letter-spacing: -0.2px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:not(:last-of-type) {
                    margin-right: 5px;
                }

                &.selected {
                    background: #FFFFFF;
                    color: var(--font-color);
                    z-index: 20;
                }
            }
        }

        div.member-detail-information {
            width: 100%;
            height: calc(100% - 40px);
            position: relative;
            background: var(--white);
            box-shadow: 0px 0px 10px rgba(181, 181, 181, 0.1);
            border-radius: 0px 5px 5px 5px;

            .l-user-detail-loading {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                ngx-spinner {
                    z-index: 1;
                }
            }
        }
    }

    @media (min-width: 1920px) {
        div.l-member-detail__top {
            div.member-infomation {
                width: 550px;
                min-width: 550px;
            }

            div.member-memo {
                width: calc(100% - 570px);
            }
        }

        div.l-member-detail__bottom {}
    }

}