<section class="member-detail__body">
    <div class="l-member-detail__top">

        <div class="member-infomation">
            <div class="member-information__top">
                <div class="member-information__top-left">
                    <div class="l-avater">
                        <ng-template
                            #user_exist
                            [ngIf]="curUserData.user != undefined"
                            [ngIfElse] ="user_absence"
                        >
                            <div class="avatar-wrapper">
                                <rw-avatar
                                    size="83"
                                    fontSize="16"
                                    [image]="curUserData.user.center_user_picture"
                                    [backgroundColor]="curUserData.user.color"
                                    [text]="curUserData.user.center_user_name"
                                ></rw-avatar>
                                <div class="l-photo-icon" (click)="userProfile.click()">
                                    <div class="photo-icon"></div>
                                    <span class="photo-text">
                                        {{curUserData.user.center_user_picture
                                            ? '사진 변경'
                                            : '사진 추가'
                                        }}
                                        <input type="file"  accept="image/*" #userProfile (change)="registerUserProfile(userProfile)" hidden>
                                    </span>

                                    <div
                                        *ngIf="curUserData.user.center_user_picture"
                                        class="l-remove-icon"
                                        (click) = "toggleRemoveUserProfile(); $event.stopPropagation();"
                                    >
                                        <div class="remove-icon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="user-name rw-typo-title1" (click) = "toggleShowChangeNameModal()">
                                {{curUserData.user.center_user_name}}
                                <img src="assets/icons/etc/edit.svg">
                            </div>
                        </ng-template>
                        <ng-template #user_absence>
                            <div class="init-avatar">
                                <div class="empty-user-icon"></div>
                            </div>
                        </ng-template>


                    </div>
                </div>
                <div class="member-information__top-right">
                    <div class="l-info">
                        <div class="title">회원번호</div>
                        <div class="content">{{!curUserData.user ? '-' : curUserData.user.membership_number}}</div>
                    </div>
                    <div class="l-info">
                        <div class="title">이메일</div>
                        <div class="content">{{!curUserData.user ? '-' : curUserData.user.email}}</div>
                    </div>
                    <div class="l-info">
                        <div class="title">전화번호</div>
                        <div class="content">{{!curUserData.user ? '-' : curUserData.user.phone_number}}</div>
                    </div>
                    <div class="l-info">
                        <div class="title">생년월일</div>
                        <div class="content">{{!curUserData.user ? '-' : curUserData.user.birth_date}}</div>
                    </div>
                    <div class="l-info">
                        <div class="title">권한</div>
                        <div class="content">{{!curUserData.user ? '-' : curUserData.user.role_name}}</div>
                    </div>
                </div>
            </div>
            <div class="member-information__bottom">
                <div
                    class="info-button"
                    [class.disabled]="!curUserData.user"
                    rw-button
                    rwButtonHeight="35"
                    rwButtonWidth="142"
                    (click)="curUserData.user && toggleRegisterMLFullModal()"
                >
                    <div class="plus-icon"></div>
                    <span class="rw-typo-bodytext0-bold red">회원권 / 락커 등록</span>
                </div>
                <div class="vertical-divider"></div>
                <div
                    class="info-button"
                    [class.disabled]="!curUserData.user"
                    rw-button
                    rwButtonHeight="35"
                    rwButtonWidth="142"
                    (click)="curUserData.user && false"
                >
                    <img src="assets/icons/main/chat.svg">
                    <span class="rw-typo-bodytext0-bold">1:1 채팅</span>
                </div>
                <div class="vertical-divider"></div>
                <div
                    class="info-button"
                    [class.disabled]="!curUserData.user"
                    rw-button
                    rwButtonHeight="35"
                    rwButtonWidth="142"
                    (click)="curUserData.user && false"
                >
                    <img src="assets/icons/etc/attend.svg">
                    <span class="rw-typo-bodytext0-bold">수동 출석</span>
                </div>

            </div>
        </div>

        <div class="member-memo">
            <ng-template
                #user_textarea
                [ngIf]="curUserData.user != undefined"
                [ngIfElse] ="user_none_text"
            >
                <textarea
                    placeholder = "회원에 대한 기록을 남겨주세요."
                    class="thin-scroll-y"
                    (blur)="updateUserMemo(memoForm.value)"
                    [formControl]="memoForm"
                ></textarea>
            </ng-template>
            <ng-template #user_none_text>
                <div class="user_none_text">
                    회원 등록 후, 이곳에서 해당 회원에 대한 기록을 남길 수 있어요.
                </div>
            </ng-template>

        </div>

    </div>

    <div class="l-member-detail__bottom">

        <div class="l-member-detail-tag">
            <div
                class="member-detail-tag"
                [class.selected]="(userDetailTag$ | async) == 'membership'"
                (click)="setUserDetailTag('membership')"
            >
                회원권
            </div>
            <div
                class="member-detail-tag"
                [class.selected]="(userDetailTag$ | async) == 'locker'"
                (click)="setUserDetailTag('locker')"
            >
                락커
            </div>
            <div
                class="member-detail-tag"
                [class.selected]="(userDetailTag$ | async) == 'reservation'"
                (click)="setUserDetailTag('reservation')"
            >
                예약 내역
            </div>
            <div
                class="member-detail-tag"
                [class.selected]="(userDetailTag$ | async) == 'payment'"
                (click)="setUserDetailTag('payment')"
            >
                결제 내역
            </div>
        </div>
        <div class="member-detail-information">

            <ng-template
                #cur_user_empty
                [ngIf] = "!curUserData.user"
                [ngIfElse]="cur_user_exist"
            >
                <div class="center-empty-guide">
                    <img src="assets/icons/etc/empty_screen.svg">
                    <p>회원을 등록하시면,</p>
                    <p>회원 정보를 조회하실 수 있어요.</p>
                </div>
            </ng-template>
            <ng-template #cur_user_exist>
                <db-user-detail-membership
                    *ngIf="(userDetailTag$ | async) == 'membership'"
                    [curUserData]="curUserData"
                    (onRegisterML)="onRegisterML.emit()"
                ></db-user-detail-membership>
                <db-user-detail-locker
                    *ngIf="(userDetailTag$ | async) == 'locker'"
                    [curUserData]="curUserData"
                    (onRegisterML)="onRegisterML.emit()"
                ></db-user-detail-locker>
                <db-user-detail-reservation
                    *ngIf="(userDetailTag$ | async) == 'reservation'"
                    [curUserData]="curUserData"
                    (onRegisterML)="onRegisterML.emit()"
                ></db-user-detail-reservation>
                <db-user-detail-payment
                    *ngIf="(userDetailTag$ | async) == 'payment'"
                    [curUserData]="curUserData"
                    (onRegisterML)="onRegisterML.emit()"
                ></db-user-detail-payment>
            </ng-template>

        </div>

    </div>
</section>


<db-change-user-name-modal
    [(visible)]="doShowChangeNameModal"
    [userName] = "userNameForModal"
    (cancel)="toggleShowChangeNameModal()"
    (confirm)="onChangeNameConfirm($event)"
></db-change-user-name-modal>

<rw-modal
    [(visible)]="doShowRemoveUserProfile"
    [data]="removeUserProfileData"
    (cancel)="toggleRemoveUserProfile()"
    (confirm)="removeUserProfile()"
></rw-modal>

<db-register-membership-locker-fullmodal
    [(visible)]="doShowRegisterMLFullModal"
    (close)="toggleRegisterMLFullModal()"
    (finishRegister)="onFinishRegisterML()"
    [curUser]="curUserData.user"
></db-register-membership-locker-fullmodal>