* {
    padding: 0;
    margin: 0;
    text-align: initial;
}

// elements
rw-kakao-channel-button {
    z-index: 20;
    position: fixed;
    right: 24px;
    bottom: 24px;

    @media (min-width: 768px) {
        right: 26px;
        bottom: 26px;
    }
    @media (min-width: 1280px) {
        right: 55px;
        bottom: 55px;
    }
}

article.l-fare-guide {
    // element, modifier
    div.sec {
        &--common {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__bg-white {
            background-color: var(--white);
        }

        &__bg-lightergrey {
            background-color: var(--hp-lighergrey);
        }
    }

    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    div#sec1 {
        // height: 937px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sec1__l-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            position: relative;
            margin: 40px 0 40px;
            .sec1__text-title {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 37px;
                text-align: center;
                letter-spacing: -0.625px;
                color: #212121;
                margin-bottom: 8px;
            }
            .sec1__text-desc {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 23px;
                text-align: center;
                letter-spacing: -0.196px;
                color: #606060;
            }
        }

        .sec1__l-desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            padding: 80px 0 0 0;
            margin: 0 0 50px;
            overflow: hidden;
            .sec1__desc-title {
                font-size: 2.1rem;
                font-weight: 700;
                line-height: 33px;
                text-align: center;
                letter-spacing: -0.441px;
                color: #212121;
                margin-bottom: 12px;
            }
            .sec1__desc-sub {
                font-size: 1.5rem;
                line-height: 22px;
                text-align: center;
                letter-spacing: -0.1px;
                color: #606060;
            }
        }

        .sec1__button {
            width: 240px !important;
            height: 49px !important;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.26px;
            margin-top: 30px;
            margin-bottom: 0;
            box-shadow: 0 4px 8px rgba(227, 74, 94, 0.25);
            z-index: 5;
        }

        .sec1__background {
            background-image: url('/assets/homepage/images/fare-guide/confetti.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 130px;
            position: absolute;
            left: 4px;
            top: -17px;
        }

        .l-fare-guide-box {
            display: grid;
            grid-template-columns: repeat(1, auto);
            gap: 20px;

            hp-fare-guide-box {
                &:not(:first-of-type) {
                    margin-top: 30px;
                }
                &:last-of-type {
                    margin-bottom: 97px;
                }
            }

            .small-text {
                position: absolute;
                font-size: 12px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.17;
                letter-spacing: -0.14px;
                text-align: left;
                color: #979797;
                right: 0;
                bottom: -39px;
            }
        }

        .fare-guide-desc {
            width: 297px;
            text-align: center;

            font-weight: 400;
            font-size: 1.5rem;
            line-height: 24px;
            letter-spacing: -0.225px;
            color: var(--darkgrey);
            margin: 15px 0 100px;
        }

        .sec1__footer {
            width: 100%;
            background-color: var(--font-color);
            padding: 20px 0;

            font-weight: 700;
            font-size: 1.5rem;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.22px;
            color: var(--white);
        }
    }

    div#sec2 {
        padding: 100px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        hp-fare-guide-option-table {
            &:not(:first-of-type) {
                margin-top: 45px;
            }
        }

        .sec2__title {
            width: 205px;
            font-weight: 700;
            font-size: 2.1rem;
            line-height: 33px;
            text-align: center;
            letter-spacing: -0.441px;
            color: var(--font-color);
            margin-bottom: 35px;
        }

        .sec2__table {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            &.last-table {
                margin-bottom: 100px;
            }
            .table__title {
                font-weight: 700;
                font-size: 1.9rem;
                line-height: 28px;
                letter-spacing: -0.5px;
                margin-bottom: 20px;
            }
            .l-table-items {
                display: grid;
                grid-template-columns: repeat(1, auto);
                gap: 17px;
            }
        }

        .sec2__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--font-color);
            width: 100%;
            padding: 100px 0;
            position: relative;
            overflow: hidden;

            .footer-bg-1 {
                height: 510px;
                width: 500px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('/assets/homepage/images/fare-guide/b_left.png');
                position: absolute;
                left: -170px;
                top: -95px;
            }
            .footer-bg-2 {
                height: 500px;
                width: 560px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('/assets/homepage/images/fare-guide/b_right.png');
                position: absolute;
                top: 260px;
                right: -210px;
            }

            .footer--title {
                font-weight: 700;
                font-size: 2.1rem;
                line-height: 33px;
                text-align: center;
                letter-spacing: -0.441px;
                margin-bottom: 20px;
                color: var(--white);
            }
            .footer--list {
                display: grid;
                grid-template-columns: repeat(1, auto);
                row-gap: 8px;
                .list-item {
                    display: flex;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 26px;
                    letter-spacing: -0.22px;
                    color: var(--white);
                }
                .check-icon {
                    background-image: url('/assets/icons/etc/check_white.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 22px;
                    height: 22px;
                    margin-right: 4px;
                }
            }

            .sec2__button {
                box-shadow: 0 4px 8px rgba(227, 74, 94, 0.25);
                width: 220px !important;
                height: 49px !important;
                font-weight: 700;
                font-size: 1.5rem !important;
                line-height: 26px;
                letter-spacing: -0.22px;
                margin-top: 40px;
            }
        }
    }

    div#sec3 {
        .sec3__text1--margin {
            margin-top: 100px;
            margin-bottom: 35px;
        }

        .sec3__text1 {
            font-weight: 700;
            font-size: 2.1rem;
            line-height: 33px;
            text-align: center;
            letter-spacing: -0.441px;
            color: var(--font-color);
        }
        .sec3__text2 {
            font-weight: 700;
            font-size: 1.9rem;
            line-height: 31px;
            text-align: center;
            letter-spacing: -0.5px;
        }
        .fare-guide-graph-image {
            background-image: url('/assets/homepage/icons/fare-guide-graph1.svg');
            width: 301px;
            height: 588px;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 20px 0 60px;
        }

        .l-charge-calc {
            width: 100%;
            height: 151px;
            background-color: var(--hp-lighergrey);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            //margin: 20px 0 38px;
            margin-top: 20px;

            font-weight: 500;
            font-size: 1.6rem;
            line-height: 26px;
            letter-spacing: -0.324px;
            position: relative;

            .arrow-icon {
                background-image: url('/assets/homepage/icons/arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 36.92px;
                height: 38.51px;
                position: absolute;
                transform: rotateZ(5deg);
                bottom: -20px;
            }

            .l-input {
                margin-top: 10px;
                position: relative;
                span.currency {
                    font-size: 1.8rem;
                    line-height: 26px;
                    letter-spacing: -0.324px;
                    position: absolute;
                    right: 20px;
                    top: 13.5px;
                }
                input {
                    text-align: end;
                    background: #ffffff;
                    border: 2px solid #eaeaea;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 26px;
                    letter-spacing: -0.324px;
                    padding: 15px 40px 14px 15px !important;
                    width: 196px !important;
                    height: 55px !important;
                }
            }
        }

        .charge-calc-text {
            display: grid;
            grid-template-rows: repeat(2, auto);
            row-gap: 15px;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            margin-top: 38px;

            .text-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            div {
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 28px;
                text-align: center;
                letter-spacing: -0.324px;
                color: var(--font-color);
            }

            .calc-block {
                margin: 0 4px;
                border-radius: 10px;
                padding: 4px 10px 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 32px;

                font-weight: 700;
                font-size: 1.6rem;
                line-height: 23px;
                text-align: center;
                letter-spacing: -0.324px;
                color: var(--white);
                background-color: var(--font-color);
            }
        }

        hp-faq-list {
            margin: 75px 0 105px 0;
        }
    }

    @media (min-width: 768px) {
        br.mobile {
            display: none;
        }

        div#sec1 {
            .sec1__l-text {
                width: 375px;
                margin: 65px 0 35px;
                .sec1__text-title {
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 43px;
                    letter-spacing: -0.9px;
                    margin-bottom: 10px;
                }
                .sec1__text-desc {
                    font-size: 1.5rem;
                    line-height: 26px;
                    letter-spacing: -0.225px;
                    br {
                        display: none;
                    }
                }
            }

            .sec1__l-desc {
                position: relative;
                padding: 120px 0 0 0;
                margin: 0 0 0;
                .sec1__desc-title {
                    font-size: 2.6rem;
                    line-height: 38px;
                    letter-spacing: -0.68px;
                    color: #212121;
                    margin-bottom: 8px;
                }
                .sec1__desc-sub {
                    font-size: 1.6rem;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: -0.26px;
                    color: #606060;
                }
            }

            .sec1__button {
                width: 208px !important;
                height: 54px !important;
                font-size: 1.6rem;
                line-height: 23px;
                letter-spacing: -0.26px;
                margin-top: 40px;
                margin-bottom: 80px;
            }

            .sec1__background {
                height: 291px;
                top: 0;
                left: initial;
            }

            .l-fare-guide-box {
                grid-template-columns: repeat(2, auto);
                gap: 30px;

                hp-fare-guide-box {
                    &:not(:first-of-type) {
                        margin-top: 35px;
                    }

                    &:last-of-type {
                        margin-bottom: 115px;
                    }
                }

                .small-text {
                    position: absolute;
                    font-size: 1.4rem;
                    line-height: 1.86;
                    letter-spacing: -0.2px;
                    right: 0;
                    bottom: -39px;
                }
            }

            .fare-guide-desc {
                width: 624px;
                text-align: end;

                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.225px;
                margin: 20px 0 120px;
            }

            .sec1__footer {
                background-color: var(--font-color);
                padding: 15px 0;

                font-size: 1.6rem;
                line-height: 26px;
                letter-spacing: -0.256px;
                color: var(--white);
            }
        }

        div#sec2 {
            padding: 120px 0 0;

            .sec2__title {
                width: 440px;
                font-size: 2.6rem;
                line-height: 43px;
                text-align: center;
                letter-spacing: -0.68px;
                margin-bottom: 40px;
            }

            .sec2__table {
                margin-bottom: 70px;
                &.last-table {
                    margin-bottom: 120px;
                }
                .table__title {
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 29px;
                    letter-spacing: -0.35px;
                    margin-bottom: 23px;
                }
                .l-table-items {
                    display: grid;
                    grid-template-columns: repeat(1, auto);
                    gap: 20px;
                }
            }

            .sec2__footer {
                height: 419px;
                justify-content: center;
                padding: 60px 0;

                .footer-bg-1 {
                    height: 560px;
                    width: 470px;
                    left: -173px;
                    top: -50px;
                }
                .footer-bg-2 {
                    height: 570px;
                    width: 520px;
                    top: -87px;
                    right: -195px;
                }

                .footer--title {
                    row-gap: 10px;
                    font-weight: 700;
                    font-size: 2.6rem;
                    line-height: 43px;
                    text-align: center;
                    letter-spacing: -0.68px;
                    margin-bottom: 20px;
                }
                .footer--list {
                    .list-item {
                        font-size: 1.6rem;
                        line-height: 26px;
                        letter-spacing: -0.256px;
                    }
                    .check-icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 4px;
                    }
                }

                .sec2__button {
                    width: 220px !important;
                    height: 50px !important;
                    font-size: 1.6rem !important;
                    line-height: 26px;
                    letter-spacing: -0.256px;
                }
            }

            hp-fare-guide-option-table {
                &:not(:first-of-type) {
                    margin-top: 35px;
                }
            }
        }

        div#sec3 {
            .sec3__text1--margin {
                margin-top: 120px;
                margin-bottom: 40px;
            }
            .sec3__text1 {
                font-weight: 700;
                font-size: 2.6rem;
                line-height: 43px;
                text-align: center;
                letter-spacing: -0.68px;
            }
            .sec3__text2 {
                font-weight: 700;
                font-size: 2rem;
                line-height: 34px;
                text-align: center;
                letter-spacing: -0.35px;
            }

            .fare-guide-graph-image {
                background-image: url('/assets/homepage/icons/fare-guide-graph2.svg');
                width: 609px;
                height: 485px;
                margin: 25px 0 80px;
            }

            .l-charge-calc {
                width: 100%;
                height: 114px;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                //margin: 25px 0 40.5px;
                margin-top: 25px;

                font-size: 1.8rem;
                line-height: 26px;
                letter-spacing: -0.324px;

                .arrow-icon {
                    width: 46.92px;
                    height: 46.51px;
                    bottom: -20px;
                    margin-right: 5px;
                }

                .l-input {
                    margin: 0;
                }

                input {
                    margin-left: 20px;
                }
            }

            .charge-calc-text {
                row-gap: 15px;
                margin-top: 40.5px;

                .text-item {
                    flex-direction: row;
                }
                div {
                    font-size: 1.8rem;
                    line-height: 28px;
                    letter-spacing: -0.324px;
                }
                .calc-block {
                    margin: 0 5px;
                    height: 35px;
                    font-size: 1.8rem;
                    line-height: 26px;
                    letter-spacing: -0.324px;
                }
            }

            hp-faq-list {
                margin: 92px 0 155px 0;
            }
        }
    }

    @media (min-width: 1280px) {
        br.mobile,
        br.pad {
            display: none;
        }
        div#sec1 {
            .sec1__l-text {
                width: 400px;
                margin: 93px 0 60px;

                .sec1__text-title {
                    font-size: 3.2rem;
                    font-weight: 700;
                    line-height: 49px;
                    letter-spacing: -1.024px;
                    margin-bottom: 11px;
                }

                .sec1__text-desc {
                    font-size: 1.6rem;
                    line-height: 1.63;
                    letter-spacing: -0.26px;
                }
            }

            .sec1__l-desc {
                position: relative;
                padding: 140px 0 0 0;
                margin: 0 0 0;
                .sec1__desc-title {
                    font-size: 2.9rem;
                    line-height: 42px;
                    letter-spacing: -0.841px;
                    color: #212121;
                    margin-bottom: 8px;
                }
                .sec1__desc-sub {
                    font-size: 1.8rem;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: -0.5px;
                    color: #606060;
                }
            }

            .sec1__button {
                width: 221px !important;
                height: 57px !important;
                font-size: 1.8rem;
                line-height: 26px;
                letter-spacing: -0.5px;
                margin-top: 45px;
                margin-bottom: 90px;
            }

            .sec1__background {
                background-size: contain;
                background-position: center;
                width: 1233.2px;
                height: 300px;
            }

            .l-fare-guide-box {
                grid-template-columns: repeat(4, auto);
                grid-template-rows: repeat(1, auto);
                gap: 20px;

                flex-direction: row;
                margin-bottom: 0;

                hp-fare-guide-box {
                    &:not(:first-of-type) {
                        margin-top: 0;
                        margin-left: 35px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .small-text {
                    position: absolute;
                    font-size: 1.4rem;
                    line-height: 1.86;
                    letter-spacing: -0.2px;
                    right: 0;
                    bottom: -39px;
                }
            }

            .fare-guide-desc {
                width: 1248px;
                margin: 20px 0 140px;
            }

            .sec1__footer {
                background-color: var(--font-color);
                padding: 15px 0;
            }
        }
        div#sec2 {
            padding: 140px 0 0;

            .sec2__title {
                width: 480px;
                font-size: 2.9rem;
                line-height: 49px;
                text-align: center;
                letter-spacing: -0.841px;
                margin-bottom: 45px;
            }

            .sec2__table {
                margin-bottom: 60px;
                &.last-table {
                    margin-bottom: 140px;
                }
                .table__title {
                    font-weight: 700;
                    font-size: 2.2rem;
                    line-height: 32px;
                    letter-spacing: -0.5px;
                    margin-bottom: 30px;
                }
                .l-table-items {
                    display: grid;
                    grid-template-columns: repeat(1, auto);
                    gap: 20px;
                }
            }

            .sec2__footer {
                height: 369px;
                padding: 70px 0;

                .footer-bg-1 {
                    height: 700px;
                    width: 459px;
                    left: -138px;
                    top: -45px;
                }
                .footer-bg-2 {
                    height: 650px;
                    width: 490px;
                    top: -60px;
                    right: -113px;
                }

                .footer--title {
                    font-weight: 700;
                    font-size: 2.9rem;
                    line-height: 49px;
                    text-align: center;
                    letter-spacing: -0.841px;
                }
                .footer--list {
                    grid-template-columns: repeat(3, auto);
                    grid-template-rows: repeat(1, auto);
                    column-gap: 20px;
                    .list-item {
                        font-size: 1.6rem;
                        line-height: 26px;
                        letter-spacing: -0.256px;
                    }
                }
                .sec2__button {
                    margin-top: 35px;
                }
            }

            hp-fare-guide-option-table {
                &:not(:first-of-type) {
                    margin-top: 55px;
                }
            }
        }
        div#sec3 {
            .sec3__text1--margin {
                margin-top: 140px;
                margin-bottom: 45px;
            }
            .sec3__text1 {
                font-weight: 700;
                font-size: 2.9rem;
                line-height: 49px;
                text-align: center;
                letter-spacing: -0.841px;
            }
            .sec3__text2 {
                font-weight: 700;
                font-size: 2.2rem;
                line-height: 37px;
                text-align: center;
                letter-spacing: -0.5px;
            }

            .fare-guide-graph-image {
                background-image: url('/assets/homepage/icons/fare-guide-graph3.svg');
                width: 781px;
                height: 485px;
                margin: 30px 0 80px;
            }

            .l-charge-calc {
                //margin: 30px 0 33.5px;
                margin-top: 30px;

                .arrow-icon {
                    width: 46.92px;
                    height: 46.51px;
                    bottom: -23px;
                    margin-right: 3px;
                }
            }

            .charge-calc-text {
                margin-top: 30px;
            }

            hp-faq-list {
                margin: 140px 0 185px 0;
            }
        }
    }

    //@media (min-width: 1440px) {
    //    div#sec1 {}
    //    div#sec2 {}
    //    div#sec3 {}
    //}
    //@media (min-width: 1920px) {
    //    div#sec1 {}
    //    div#sec2 {}
    //    div#sec3 {}
    //}
}
