<section
    id="community-section"
    class="community"
>
<!--    rw-dropzone2-->
<!--    [dropLeaveTargetId]="'main_drag_guide'"-->
<!--    (onDrop)="onFileDrop($event);onFileDragLeave()"-->
<!--    (onDragOver) = "onFileDragOver()"-->
<!--    (onDragLeave) = "onFileDragLeave()"-->

    <rw-drag-guide
        id="main_drag_guide"
        [showGuide]="showFileDragGuide"
        [isSideBar]="false"
    ></rw-drag-guide>

    <section
        class="chatting-container"
    >
        <div class="chatting-sidebar">
            <div class="sidebar-header">
                <span class="rw-typo-title1">채팅</span>
                <img
                    rw-tooltip
                    rwTooltipTitle="새 채팅방 만들기"
                    rwTooltipPlacement="bottom"
                    src="assets/icons/etc/plus.svg"
                    alt="plus.svg" (click)="showCreateRoomModal()"
                >
            </div>
            <div class="chatting-room-container thin-scroll-y-overlay2">
                <ng-template #loading_chat_room [ngIf]="isLoading_=='pending'" [ngIfElse]="done_chat_room">
                    <ngx-skeleton-loader
                        *ngFor="let _ of [1,2,3]"
                        count = 1
                        appearance="circle"
                        [theme]="{width: '248px', height: '48px', 'border-radius': '5px', 'margin': '0 0 3px 0'}"
                    ></ngx-skeleton-loader>
                </ng-template>
                <ng-template #done_chat_room>
                    <rw-chatting-room-card
                        *ngFor="let room of chatRoomList$ | async; let i = index"
                        [isLoading]="(mainIsJoinRoomLoading$ | async)"
                        [curUser]="centerUser"
                        [room]="room"
                        [selectedRoom]="(curChatRoom$ | async)"
                        (onCardClick)="joinRoom($event)"
                    ></rw-chatting-room-card>
                </ng-template>
            </div>
        </div>

        <div class="chatting-screen-container">

            <div class="chatting-screen-header">
                <form
                    id="left"
                    class="room-title"
                >
                    <ngx-skeleton-loader
                        *ngIf="(isLoading$ | async) == 'pending'"
                        count = 1
                        appearance="circle"
                        [theme]="{width: '150px', height: '22px', 'border-radius': '5px', 'margin': '0'}"
                    ></ngx-skeleton-loader>
                    <span *ngIf="!changeRoomMode && (isLoading$ | async) == 'done'" class="rw-typo-title2">{{curChatRoomName}}</span>
                    <img
                        rw-tooltip rwTooltipTitle="채팅방 이름 변경"
                        rwTooltipPlacement="bottom"
                        *ngIf=" (curChatRoom$ | async)?.type_code == 'chat_room_type_general'
                                && (isCurChatRoomTemp$ | async) != true
                                && !changeRoomMode
                                && ((isLoading$ | async) == 'done')"
                        src="assets/icons/etc/edit-darkgrey.svg"
                        alt="edit-darkgrey.svg"
                        (click)="showChangeRoomNameModal()"
                    >

                    <input
                        *ngIf="changeRoomMode"
                        class="rw-input rw-typo-title2"
                        placeholder="{{curChatRoomName}}"
                        (keyup.enter)="changeRoomName(changeRoomInput.value, changeRoomInput.valid)"
                        (rwClickOutside)="changeRoomName(changeRoomInput.value, changeRoomInput.valid)"
                        type="text"
                        [formControl]="changeRoomInput"
                        rw-autoFocus
                    >
                </form>

                <div class="d-flex align-items-center" *ngIf="(isLoading$ | async) == 'pending'">
                    <ngx-skeleton-loader
                        *ngIf="(isLoading$ | async) == 'pending'"
                        count = 1
                        appearance="circle"
                        [theme]="{width: '60px', height: '20px', 'border-radius': '5px', 'margin': '0 5px 0 0'}"
                    ></ngx-skeleton-loader>
                    <ngx-skeleton-loader
                        *ngIf="(isLoading$ | async) == 'pending'"
                        count = 1
                        appearance="circle"
                        [theme]="{width: '30px', height: '30px', 'border-radius': '5px', 'margin': '0 16px 0 0'}"
                    ></ngx-skeleton-loader>
                </div>
                <div
                    *ngIf="(curChatRoom$ | async)
                        && (curChatRoom$ | async).type_code == 'chat_room_type_general'
                        && ((isLoading$ | async) == 'done')"
                    id="right"
                >
                    <div class="room-user-number"
                        (click)="toggleRoomUserListDropDown()"
                        (rwClickOutside)="closeRoomUserListDropDown()"
                    >
                        <img src="assets/icons/etc/user-count.svg" alt="user-count.svg">
                        <span class="rw-typo-bodytext0 user-count">
                            {{(chatRoomUserList$ | async).length}}
                        </span>
                    </div>

                    <div
                        class="leave-room-button"
                        (click)="toggleLeaveRoomDropdown()"
                        (rwClickOutside)="closeLeaveRoomDropdown()"
                        *ngIf="(curChatRoom$ | async).type_code == 'chat_room_type_general'"
                    >
                        <img src="assets/icons/etc/menu-vertical.svg" alt="vertical-menu">
                    </div>

                    <div *ngIf="showLeaveRoomDropdown" class="leave-room-dropdown" (click)="openLeaveRoomModal()">
                        <div>
                            이 채팅방에서 나가기
                        </div>
                    </div>

                    <rw-chat-room-list-dropdown
                        *ngIf="showRoomUserList"
                        [userList]="(chatRoomUserList$ | async)"
                        [myId]="user.id"
                        [isRoomHost]="(curChatRoom$ | async)?.permission_code == 'chat_room_user_permission_owner'"
                        [isTempRoom]="(isCurChatRoomTemp$ | async)"
                        (clickInviteUser)="closeRoomUserListDropDown();showInviteUserModal()"
                    ></rw-chat-room-list-dropdown>
                </div>
            </div>

            <div #chat_screen class="chatting-screen">

                <div
                    class="chatting-screen-content thin-scroll-y-overlay2"
                    #chatting_screen
                    (scroll)="scrolled($event)"
                >
                    <rw-chat-message
                        *ngFor="let msg of (chatRoomLoadingMsgs$ | async); let i = index"
                        [message]="msg"
                        [showUserInfo]="true"
                        [isLoading]="true"
                        [gauge]="msg.gauge.value"
                    ></rw-chat-message>

                    <rw-chat-message
                        #message_el
                        *ngFor="let message of (chatRoomMsgs$ | async); let i = index"
                        [message]="message"
                        [showUserInfo]="showUser(i)"
                        [lastSuccessiveMsg]="isLastSuccessiveMsg(i)"
                    ></rw-chat-message>

                    <rw-chat-intro-message
                        *ngIf="(curChatRoom$ | async)"
                        [isSideBar]="false"
                        [selectedRoom]="(curChatRoom$ | async)"
                        [centerUser]="centerUser"
                        [msgList]="(chatRoomMsgs$ | async)"
                    >
                    </rw-chat-intro-message>
                </div>
                <div #chatting_input class="chatting-input-container" [class.isFocused] = "isTextAreaFoucsed">

<!--                    <div class="plus-box">-->
<!--                        <img-->
<!--                            src="{{addBtSrc}}"-->
<!--                            alt="plus.svg" rw-tooltip rwTooltipTitle="파일 첨부"-->
<!--                            rwTooltipPlacement="bottom" (click)="file_picker.click()"-->
<!--                            (mouseover)="addFileBtMouseHover()" (mouseleave)="addFileBtMouseLeave()">-->
<!--                    </div>-->

                    <form class="input-box">

                        <textarea
                            #chat_textarea
                            rw-textarea-autoResize
                            (onResize)="onChatInputResize($event)"
                            class="rw-typo-bodytext0-bold thin-scroll-y-overlay2"
                            placeholder="메시지를 입력해주세요. (Shift + Enter 줄바꿈)"
                            [formControl]="chatInput"
                            (keypress)="onInputKeyPress($event)"
                            (focus) = "onTextAreaFocused()"
                            (blur) = "onTextAreaBlur()"
                        ></textarea>

                        <input
                            type="file"
                            accept="image/*, video/*, .hwp, .pdf, .doc, .docx"
                            #file_picker hidden
                            multiple
                            (change)="onFilePickerChange(file_picker)"
                        >

                        <div *ngIf="fileList.length > 0" class="file-thumbnail-list thin-scroll-x-overlay2">
                            <div
                                class="file-thumbnail"
                                [class.file]="file.type == 'file'"
                                *ngFor="let file of fileList; let idx = index"
                            >

                                <img *ngIf="file.type == 'image'" src="{{file.result}}" class="background">
                                <div *ngIf="file.type == 'video'" class="video-container">
                                    <img src="{{file.result}}" class="background">
                                    <img src="assets/icons/etc/play_video.svg" alt="play_video" id="play">
                                </div>
                                <div *ngIf="file.type == 'file'" class="file-item">
                                    <img src="assets/icons/etc/file_after_download_red.svg"
                                        alt="file_after_download.svg">
                                    <div class="file-item-content">
                                        <div class="rw-typo-bodytext0 file-name">{{file.file.name}}</div>
                                        <div class="rw-typo-subtext0-regular file-size">{{file.file.size | filesize}}
                                        </div>
                                    </div>
                                </div>

                                <img
                                    src="assets/icons/etc/close_white.svg"
                                    alt="close_white.svg" id="close"
                                    (click)="removeFile(idx)"
                                >
                            </div>
                        </div>

                    </form>

                    <div
                        class="send-button"
                        [class.active]="chatInput.valid || fileList.length > 0"
                        (click)="sendMessage(chatInput.value)"
                    >
                        보내기
                    </div>

                </div>

            </div>
        </div>
    </section>

</section>


<rw-invite-room-modal
    [mode] = "'create'"
    [(visible)] = "doShowCreateRoomModal"
    (cancel) = "hideCreateRoomModal()"
    (confirm) = "onCreateRoomConfirm($event)"
></rw-invite-room-modal>
<rw-invite-room-modal
    [mode] = "'invite'"
    [roomUserList] = "(chatRoomUserList$ | async)"
    [(visible)] = "doShowInviteUserModal"
    (cancel) = "hideInviteUserModal()"
    (confirm) = "onInviteUserConfirm($event)"
></rw-invite-room-modal>


<rw-modal
    [(visible)] = "showLeaveRoomModal"
    [data] ="showLeaveRoomModalText"
    (cancel) = "closeLeaveRoomModal()"
    (confirm) = "leaveRoomModalConfirm()"
></rw-modal>

<rw-modal
    [(visible)] = "doShowChangeRoomNameModal"
    [data] ="changeRoomNameText"
    (cancel) = "hidehangeRoomNameModal()"
    (confirm) = "confirmChangeRoomNameModal()"
></rw-modal>