* {
    padding: 0px;
    margin: 0px;
}

.l-homepage {
    position: relative;
    width: 100vw;
    margin-top: 50px;
}

@media (min-width: 960px) {
    .l-homepage {
        margin-top: 55px;
    }
}
