<section class="l-main thin-scroll-y-overlay2">

    <div (click)="false" class="scroll-up-button"></div>

    <div id="sec1" class="sec--common sec__bg-white">
        <hp-find-more-button></hp-find-more-button>
    </div>

    <div id="sec2" class="sec--common sec__bg-lightergrey">
        <div class="grid">
            <hp-function-box [type] = "'m-member'"></hp-function-box>
            <hp-function-box [type] = "'m-schedule'"></hp-function-box>
            <hp-function-box [type] = "'r-class'"></hp-function-box>
            <hp-function-box [type] = "'m-sale'"></hp-function-box>
            <hp-function-box [type] = "'m-locker'"></hp-function-box>
            <hp-function-box [type] = "'chat'"></hp-function-box>
        </div>


        <hp-free-start-footer></hp-free-start-footer>
    </div>

    <div id="sec3" class="sec--common sec__bg-white">
        <hp-faq-list></hp-faq-list>
    </div>

    <div id="sec4" class="sec--common sec__bg-lightergrey">
        <hp-homepage-footer></hp-homepage-footer>
    </div>

    <div id="sec5" class="sec--common sec__bg-white"></div>

    <div id="sec6" class="sec--common sec__bg-lightergrey">
        <hp-main-carousel></hp-main-carousel>
    </div>

    <div id="sec7" class="sec--common sec__bg-white"></div>

</section>