<section class="l-main">

    <div (click)="scrollTop()" class="scroll-up-button"></div>

    <div class="l-title"></div>

    <div class="l-main-nav"></div>

    <div class="l-content"></div>


</section>


<hp-receive-introduction-modal
    [(visible)]="receiveIntroVisible"
    (cancel)="onReceiveIntroClose()"
    (confirm)="onReceiveIntroFinish()"
></hp-receive-introduction-modal>


<hp-free-start-modal
    [(visible)]="isFreeStartModalVisible"
    (cancel)="onFreeStartCancel()"
    (confirm)="onFreeStartCancel()"
></hp-free-start-modal>