* {
    padding: 0px;
    margin: 0px;
}

// elements
div.scroll-up-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // border: 1px solid var(--border-color);
    cursor: pointer;
    z-index: 20;

    position: fixed;
    right: 24px;
    bottom: 24px;

    background-image: url('/assets/icons/etc/arrow-large-long-up.svg');
    background-size: cover;

    &:hover {
        // border-color: var(--red);
        background-image: url('/assets/icons/etc/arrow-large-long-up-red.svg');
    }

    @media (min-width: 768px) {
        right: 26px;
        bottom: 26px;
    }
    @media (min-width: 1280px) {
        right: 55px;
        bottom: 55px;
    }
}

//
section.l-main {
    overflow-x: hidden;
    // element, modifier
    div.sec {
        &--common {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__bg-white {
            background-color: var(--white);
        }
        &__bg-lightergrey {
            background-color: var(--hp-lighergrey);
        }
    }

    .text-with-title {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -0.24px;
            color: var(--red);
            text-align: left;
        }
        .text {
            font-size: 2.5rem;
            line-height: 1.48;
            letter-spacing: -0.63px;
            font-weight: 700;
            color: var(--font-color);
            margin: 15px 0px 24px;
        }
    }

    // @media (min-width: 200px) {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-y: overlay;

    div#sec1 {
        height: 431px;
        overflow-y: visible;
        .sec1__l-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            // min-height: 152px;
            width: 264px;
            position: relative;
            margin: 93px 0px 62px;

            .sec1__text {
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 1.46;
                letter-spacing: -0.78px;
                text-align: center;
                width: 100%;
                margin-bottom: 32px;
            }
            .sec1__button {
                width: 157px;
                height: 46px;
                border-radius: 8px;
                border-color: var(--font-color);
                color: var(--white);
                background-color: var(--font-color);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.26px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .sec1__l-image {
            width: 312px;
            min-height: 219px;
            position: relative;
            .sec1__image1 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 288px;
                height: 200px;
                background-size: cover;
                background-image: url('/assets/homepage/images/main/1-1.png');
                box-shadow: 0 15px 30px rgb(181 181 181 / 15%);
            }
            .sec1__image2 {
                position: absolute;
                right: 0px;
                bottom: 0px;
                width: 78px;
                height: 140px;
                background-size: cover;
                background-image: url('/assets/homepage/images/main/1-2.png');
                box-shadow: 0 15px 30px rgb(181 181 181 / 19%);
            }
        }
    }
    div#sec2 {
        height: 792px;
        .sec2__l-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 312px;
            margin: 200px 0px 53px 0px;
            .sec2__text {
                font-size: 2.5rem;
                font-weight: bold;
                line-height: 1.48;
                letter-spacing: -0.63px;
                text-align: left;
                color: #212121;
                margin-bottom: 20px;
            }
        }
        .sec2__talks {
            display: flex;
            flex-direction: column;

            width: 304px;
            height: 315px;

            & div {
                border-radius: 10px;
                position: relative;
                z-index: 4;
                box-shadow: 0 0 35px rgba(181, 181, 181, 0.27);

                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.6;
                letter-spacing: -0.2px;
            }

            .talk1 {
                width: 288px;
                height: 48.5px;
                color: var(--font-color);
                background-color: var(--white);
                padding: 14px 20px 15px 20px;
                &::before {
                    border-top: 10px solid transparent;
                    border-right: 15px solid transparent;
                    border-left: 15px solid var(--white);
                    border-bottom: 10px solid var(--white);
                    border-radius: 7px;
                    transform: skew(325deg, 345deg);
                    content: '';
                    position: absolute;
                    top: 29px;
                    left: -3px;
                    z-index: 0;
                }
            }
            .talk2 {
                width: 245px;
                height: 67.5px;
                color: var(--white);
                background-color: var(--font-color);
                padding: 13px 15px 15px 18px;
                margin: 25px 0px;
                align-self: flex-end;
                &::before {
                    border-top: 10px solid transparent;
                    border-left: 15px solid transparent;
                    border-right: 15px solid var(--font-color);
                    border-bottom: 10px solid var(--font-color);
                    border-radius: 7px;
                    transform: skew(210deg, 15deg);
                    content: '';
                    position: absolute;
                    top: 48px;
                    right: -2px;
                    z-index: 0;
                }
            }
            .talk3 {
                width: 266px;
                height: 48.5px;
                color: var(--font-color);
                background-color: var(--white);
                padding: 17px 27px 15px 20px;
                margin-bottom: 30px;
                &::before {
                    border-top: 10px solid transparent;
                    border-right: 15px solid transparent;
                    border-left: 15px solid var(--white);
                    border-bottom: 10px solid var(--white);
                    border-radius: 7px;
                    transform: skew(325deg, 345deg);
                    content: '';
                    position: absolute;
                    top: 29px;
                    left: -3px;
                    z-index: 0;
                }
            }
            .talk4 {
                width: 280px;
                height: 67.5px;
                color: var(--white);
                background-color: var(--font-color);
                padding: 14px 15px 15px 18px;
                align-self: flex-end;
                &::before {
                    border-top: 10px solid transparent;
                    border-left: 15px solid transparent;
                    border-right: 15px solid var(--font-color);
                    border-bottom: 10px solid var(--font-color);
                    border-radius: 7px;
                    transform: skew(210deg, 15deg);
                    content: '';
                    position: absolute;
                    top: 48px;
                    right: -2px;
                    z-index: 0;
                }
            }
        }
    }
    div#sec3 {
        height: 956px;
        justify-content: center;
        .sec3__l-text {
            display: flex;
            flex-direction: column;

            width: 312px;
            margin-bottom: 50px;
            .sec3__text {
                font-size: 2.5rem;
                font-weight: bold;
                line-height: 1.48;
                letter-spacing: -0.63px;
                text-align: left;
                color: #212121;
                margin-bottom: 21px;
            }
        }
        .sec3__l-box {
            display: flex;
            justify-content: space-between;
            width: 312px;
            height: 573px;

            div {
                display: flex;
                flex-direction: column;
            }
            .sec3__box1 {
                hp-function-box {
                    &:not(:last-of-type) {
                        margin-bottom: 12px;
                    }
                }
            }
            .sec3__box2 {
                align-self: flex-end;
                hp-function-box {
                    &:not(:last-of-type) {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
    div#sec4 {
        height: 4221px; //4173px;

        .sec4__element {
            display: flex;
            flex-direction: column;
            width: 312px;
            overflow-x: visible;
        }
        .sec4-1 {
            margin-top: 108px;
            .sec4-1__images {
                width: 362px;
                height: 379px;
                position: relative;
                margin-left: 12px;
                margin-top: 50px;
                .sec4-1__image1 {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 168px;
                    height: 276px;
                    z-index: 1;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/2-1.png');
                    box-shadow: 0 0 16px rgb(181 181 181 / 17%);
                }
                .sec4-1__image2 {
                    position: absolute;
                    left: 126px;
                    top: 20px;
                    width: 236px;
                    height: 324px;
                    z-index: 2;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/2-2.png');
                    box-shadow: 0 0 16px rgb(181 181 181 / 17%);
                }
                .sec4-1__image3 {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 199px;
                    height: 41px;
                    z-index: 3;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/2-3.png');
                    box-shadow: 0 0 35px rgb(181 181 181 / 17%);
                }
            }
        }
        .sec4-2 {
            margin-top: 108px;
            .sec4-2__images {
                width: 360px;
                height: 330px;
                position: relative;
                margin-left: 12px;
                margin-top: 50px;
                .sec4-2__image1 {
                    position: absolute;
                    left: 37px;
                    top: 0px;
                    width: 287px;
                    height: 330px;
                    z-index: 1;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/3-1.png');
                }
                .sec4-2__image2 {
                    position: absolute;
                    left: 0px;
                    top: 127px;
                    width: 324px;
                    height: 76px;
                    z-index: 2;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/3-2.png');
                    box-shadow: 0 7px 15px rgb(181 181 181 / 37%);
                }
                .sec4-2__image3 {
                    position: absolute;
                    left: 196px;
                    top: 76px;
                    width: 104px;
                    height: 104px;
                    z-index: 3;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/3-3.png');
                }
            }
        }
        .sec4-3 {
            margin-top: 108px;
            .sec4-3__images {
                width: 341px;
                height: 372px;
                position: relative;
                margin-left: 12px;
                margin-top: 50px;
                .sec4-3__image1 {
                    position: absolute;
                    left: 22px;
                    top: 0px;
                    width: 297px;
                    height: 372px;
                    z-index: 1;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/4-1.png');
                }
                .sec4-3__image2 {
                    position: absolute;
                    left: 0px;
                    top: 87px;
                    width: 324px;
                    height: 198px;
                    z-index: 2;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/4-2.png');
                    box-shadow: 0 7px 15px rgb(181 181 181 / 35%);
                }
            }
        }
        .sec4-4 {
            margin-top: 108px;
            .sec4-4__images {
                width: 347px;
                height: 407px;
                position: relative;
                margin-left: 12px;
                margin-top: 50px;
                .sec4-4__image1 {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 249px;
                    height: 358px;
                    z-index: 1;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/5-1.png');
                    box-shadow: 0 0 16px rgb(181 181 181 / 17%);
                }
                .sec4-4__image2 {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 249px;
                    height: 358px;
                    z-index: 2;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/5-2.png');
                    box-shadow: 0 0 16px rgb(181 181 181 / 17%);
                }
            }
        }
        .sec4-5 {
            margin-top: 108px;
            .sec4-5__images {
                width: 358px;
                height: 345px;
                position: relative;
                margin-left: 12px;
                margin-top: 50px;
                .sec4-5__image1 {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 358px;
                    height: 345px;
                    z-index: 1;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/6-1.png');
                }
                .sec4-5__image2 {
                    position: absolute;
                    left: 88px;
                    top: 133px;
                    width: 51px;
                    height: 60px;
                    z-index: 2;
                    background-size: contain;
                    background-image: url('/assets/homepage/images/main/6-2.png');
                    filter: drop-shadow(0 0 14px rgb(172 172 172 / 100%));
                }
            }
        }
        .sec4-6 {
            margin-top: 108px;
            .sec4-6__images {
                width: 312px;
                height: 268px;
                position: relative;
                margin-top: 50px;
                .sec4-6__image1 {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 230px;
                    height: 43px;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/7-1.png');
                    box-shadow: 0 0 16px rgb(181 181 181 / 17%);
                }
                .sec4-6__image2 {
                    position: absolute;
                    right: 0px;
                    top: 52px;
                    width: 277px;
                    height: 64px;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/7-2.png');
                    box-shadow: 0 0 16px rgb(181 181 181 / 17%);
                }
                .sec4-6__image3 {
                    position: absolute;
                    left: 0px;
                    bottom: 76px;
                    width: 111px;
                    height: 25px;
                    z-index: 4;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/7-3-1.png');
                }
                .sec4-6__image4 {
                    position: absolute;
                    left: 26px;
                    bottom: 0px;
                    width: 206px;
                    height: 69px;
                    z-index: 4;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/7-3-2.png');
                    box-shadow: 0 0 20px rgb(181 181 181 / 19%);
                }
                .sec4-6__image5 {
                    position: absolute;
                    left: 177px;
                    bottom: 42px;
                    width: 78px;
                    height: 77px;
                    z-index: 4;
                    background-size: cover;
                    background-image: url('/assets/homepage/images/main/7-4.png');
                }
            }
        }
    }
    div#sec5 {
        height: 833px;
        overflow-y: visible;
        .sec5__l-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            .sec5__text {
                display: flex;
                flex-direction: column;
                margin: 110px 0px 50px;

                .sec5__title {
                    color: var(--font-color);
                    font-size: 2.5rem;
                    font-weight: 700;
                    line-height: 1.48;
                    letter-spacing: -0.63px;
                    text-align: center;
                }
                .sec5__desc {
                    color: var(--darkgrey);
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: -0.2px;

                    margin-top: 18px;
                    text-align: center;
                }
            }
        }

        .sec5__images {
            width: 268px;
            height: 111px;
            position: relative;

            &.sec5__images-sub {
                display: none;
                position: absolute;
            }

            .sec5__image1 {
                position: absolute;
                width: 231px;
                height: 47px;
                right: 0px;
                top: 0px;
                background-size: cover;
                background-image: url('/assets/homepage/images/main/8-1.png');
                filter: drop-shadow(0 0 16px #b5b5b533);
            }
            .sec5__image2 {
                position: absolute;
                width: 224px;
                height: 47px;
                left: 0px;
                bottom: 0px;
                background-size: cover;
                background-image: url('/assets/homepage/images/main/8-2.png');
                filter: drop-shadow(0 0 16px #b5b5b533);
            }
        }
        .sec5__image3 {
            margin-top: 25px;
            margin-left: 86px;
            width: 377px;
            height: 450px;
            background-size: cover;
            background-image: url('/assets/homepage/images/main/8-3.png');
            box-shadow: -18px -18px 20px rgb(181 181 181 / 7%);
        }
    }
    div#sec6 {
        height: 898px;
        position: relative;
        .body {
            height: calc(100% - 239px);
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 111px;
        }
    }
    div#sec7 {
        min-height: 985px;
        position: relative;
        .body {
            height: calc(100% - 328px);
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 111px;
            padding-bottom: 105px;
        }
    }
    // }
    @media (min-width: 768px) {
        .text-with-title {
            .title {
                font-size: 1.6rem;
                letter-spacing: -0.26px;
            }
            .text {
                font-size: 3rem;
                line-height: 1.43;
                letter-spacing: -0.9px;
                margin: 18px 0px 21px;
            }
        }

        div#sec1 {
            height: 671px;
            .sec1__l-text {
                width: 320px;
                margin: 120px 0px 66px;

                .sec1__text {
                    font-size: 3.4rem;
                    letter-spacing: -1.16px;
                    width: 100%;
                    margin-bottom: 35px;
                }
                .sec1__button {
                    width: 177px;
                    height: 51px;
                    font-size: 1.7rem;
                    letter-spacing: -0.29px;
                }
            }
            .sec1__l-image {
                width: 608px;
                height: 426px;
                .sec1__image1 {
                    width: 560px;
                    height: 390px;
                }
                .sec1__image2 {
                    bottom: -125px;
                    width: 152px;
                    height: 273px;
                }
            }
        }
        div#sec2 {
            height: 1030px;
            .sec2__l-text {
                width: 460px;
                margin: 273px 0px 63px 0px;
                .sec2__text {
                    font-size: 3rem;
                    line-height: 1.43;
                    letter-spacing: -0.9px;
                    margin-bottom: 25px;
                }
            }
            .sec2__talks {
                width: 400px;
                height: 370px;

                & div {
                    font-size: 1.6rem;
                    line-height: 1.75;
                    letter-spacing: -0.26px;
                }

                .talk1 {
                    width: 305px;
                    height: 55px;
                    padding: 14px 20px 18px 20px;
                    &::before {
                        border-top: 12px solid transparent;
                        top: 36px;
                        left: -3px;
                        z-index: 0;
                    }
                }
                .talk2 {
                    width: 290px;
                    height: 84px;
                    margin: 30px 0px 35px 0px;
                    &::before {
                        border-top: 15px solid transparent;
                        border-radius: 7px;
                        top: 61px;
                        right: -3px;
                    }
                }
                .talk3 {
                    width: 353px;
                    height: 55px;
                    padding: 14px 20px 18px 20px;
                    margin-bottom: 35px;
                    &::before {
                        border-top: 12px solid transparent;
                        top: 36px;
                        left: -2px;
                        z-index: 0;
                    }
                }
                .talk4 {
                    width: 320px;
                    height: 84px;
                    &::before {
                        border-top: 15px solid transparent;
                        border-radius: 7px;
                        top: 61px;
                        right: -2px;
                    }
                }
            }
        }
        div#sec3 {
            height: 1150px;
            .sec3__l-text {
                width: 460px;
                margin-bottom: 60px;
                .sec3__text {
                    font-size: 3rem;
                    line-height: 1.43;
                    letter-spacing: -0.9px;
                }
            }
            .sec3__l-box {
                display: flex;
                justify-content: space-between;
                padding-left: 54px;
                width: 460px;
                height: 647px;

                .sec3__box1 {
                    hp-function-box {
                        &:not(:last-of-type) {
                            margin-bottom: 20px;
                        }
                    }
                }
                .sec3__box2 {
                    align-self: flex-end;
                    hp-function-box {
                        &:not(:last-of-type) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        div#sec4 {
            height: 5075px; // 5025px;
            .sec4__element {
                width: 460px;
            }
            .sec4-1 {
                margin-top: 160px;
                .sec4-1__images {
                    width: 406px;
                    height: 425px;
                    margin-left: 54px;
                    margin-top: 60px;
                    .sec4-1__image1 {
                        width: 188px;
                        height: 309px;
                    }
                    .sec4-1__image2 {
                        left: 141px;
                        top: 22px;
                        width: 265px;
                        height: 363px;
                    }
                    .sec4-1__image3 {
                        width: 223px;
                        height: 46px;
                    }
                }
            }
            .sec4-2 {
                margin-top: 160px;
                .sec4-2__images {
                    width: 406px;
                    height: 366px;
                    margin-left: 54px;
                    margin-top: 60px;
                    .sec4-2__image1 {
                        left: 41px;
                        top: 0px;
                        width: 318px;
                        height: 366px;
                    }
                    .sec4-2__image2 {
                        left: 0px;
                        top: 141px;
                        width: 406px;
                        height: 85px;
                    }
                    .sec4-2__image3 {
                        left: 290px;
                        top: 84px;
                        width: 116px;
                        height: 116px;
                    }
                }
            }
            .sec4-3 {
                margin-top: 160px;
                .sec4-3__images {
                    width: 406px;
                    height: 443px;
                    margin-left: 54px;
                    margin-top: 60px;
                    .sec4-3__image1 {
                        left: 26px;
                        top: 0px;
                        width: 354px;
                        height: 443px;
                    }
                    .sec4-3__image2 {
                        left: 0px;
                        top: 104px;
                        width: 406px;
                        height: 234px;
                    }
                }
            }
            .sec4-4 {
                margin-top: 160px;
                .sec4-4__images {
                    width: 406px;
                    height: 476px;
                    position: relative;
                    margin-left: 54px;
                    margin-top: 60px;
                    .sec4-4__image1 {
                        width: 291px;
                        height: 419px;
                    }
                    .sec4-4__image2 {
                        width: 291px;
                        height: 419px;
                    }
                }
            }
            .sec4-5 {
                margin-top: 160px;
                .sec4-5__images {
                    width: 406px;
                    height: 391px;
                    margin-left: 54px;
                    margin-top: 60px;
                    .sec4-5__image1 {
                        left: 0px;
                        top: 0px;
                        width: 406px;
                        height: 391px;
                    }
                    .sec4-5__image2 {
                        left: 100px;
                        top: 151px;
                        width: 59px;
                        height: 69px;
                    }
                }
            }
            .sec4-6 {
                margin-top: 160px;
                .sec4-6__images {
                    width: 407px;
                    height: 348px;
                    margin-top: 60px;
                    .sec4-6__image1 {
                        width: 304px;
                        height: 57px;
                    }
                    .sec4-6__image2 {
                        top: 68px;
                        width: 361px;
                        height: 83px;
                    }
                    .sec4-6__image3 {
                        bottom: 98px;
                        width: 144px;
                        height: 33px;
                    }
                    .sec4-6__image4 {
                        left: 33px;
                        bottom: 0px;
                        width: 268px;
                        height: 89px;
                    }
                    .sec4-6__image5 {
                        left: 230px;
                        bottom: 53px;
                        width: 102px;
                        height: 101px;
                    }
                }
            }
        }
        div#sec5 {
            height: 1047px;
            .sec5__l-text {
                .sec5__text {
                    margin: 163px 0px 53px;

                    .sec5__title {
                        font-size: 3rem;
                        line-height: 1.43;
                        letter-spacing: -0.9px;
                    }
                    .sec5__desc {
                        font-size: 1.6rem;
                        letter-spacing: -0.26px;
                        margin-top: 21px;
                    }
                }
            }

            .sec5__images {
                width: 330px;
                height: 135px;

                .sec5__image1 {
                    width: 285px;
                    height: 57px;
                }
                .sec5__image2 {
                    width: 274px;
                    height: 57px;
                }
            }
            .sec5__image3 {
                margin-top: 50px;
                margin-left: 0px;
                width: 460px;
                height: 549px;
            }
        }
        div#sec6 {
            height: 1063px;
            .body {
                height: calc(100% - 203px);
                width: 100%;
                padding-top: 163px;
            }
        }
        div#sec7 {
            min-height: 1180px;
            .body {
                height: calc(100% - 335px);
                padding-top: 163px;
                padding-bottom: 155px;
            }
        }
    }
    @media (min-width: 1280px) {
        .text-with-title {
            .text {
                font-size: 3.2rem;
                line-height: 1.43;
                letter-spacing: -1.02px;
                margin: 21px 0px 25px;
            }
        }
        div#sec1 {
            height: 947px;
            .sec1__l-text {
                width: 375px;
                margin: 136px 0px 78px;

                .sec1__text {
                    font-size: 4rem;
                    letter-spacing: -1.6px;
                    margin-bottom: 45px;
                }
                .sec1__button {
                    width: 186px;
                    height: 55px;
                    font-size: 1.8rem;
                    letter-spacing: -0.32px;
                }
            }
            .sec1__l-image {
                width: 975px;
                height: 642px;
                .sec1__image1 {
                    width: 867px;
                    height: 602px;
                }
                .sec1__image2 {
                    bottom: -127px;
                    width: 215px;
                    height: 386px;
                }
            }
        }
        div#sec2 {
            height: 986px;
            flex-direction: row;
            justify-content: center;
            margin-top: 150px;

            .sec2__l-text {
                width: 460px;
                margin: 0px;

                .sec2__text {
                    font-size: 3.2rem;
                    line-height: 1.53;
                    letter-spacing: -1.02px;
                    margin-bottom: 25px;
                }
            }
            .sec2__talks {
                width: 525px;
                height: 425px;

                & div {
                    font-size: 1.8rem;
                    line-height: 1.56;
                    letter-spacing: -0.32px;
                }

                .talk1 {
                    width: 330px;
                    height: 65px;
                    padding: 16px 20px 16px 20px;
                    &::before {
                        border-top: 12px solid transparent;
                        top: 45px;
                        left: -4px;
                    }
                }
                .talk2 {
                    width: 372px;
                    height: 99px;
                    padding: 18px 15px 15px 18px;
                    &::before {
                        border-top: 15px solid transparent;
                        border-radius: 7px;
                        top: 74px;
                        right: -4px;
                    }
                }
                .talk3 {
                    width: 393px;
                    height: 65px;
                    padding: 16px 20px 16px 20px;
                    &::before {
                        border-top: 12px solid transparent;
                        top: 45px;
                        left: -4px;
                    }
                }
                .talk4 {
                    width: 360px;
                    height: 100px;
                    padding: 18px 15px 15px 18px;
                    &::before {
                        border-top: 15px solid transparent;
                        border-radius: 7px;
                        top: 74px;
                        right: -4px;
                    }
                }
            }
        }
        div#sec3 {
            height: 744px;
            flex-direction: row-reverse;
            justify-content: center;
            .sec3__l-text {
                width: 330px;
                margin-bottom: 0px;
                .sec3__text {
                    font-size: 3.2rem;
                    line-height: 1.53;
                    letter-spacing: -1.02px;
                }
            }
            .sec3__l-box {
                display: flex;
                justify-content: space-between;
                padding-left: 54px;
                padding-left: 0px;
                width: 420px;
                height: 674px;
                margin-right: 120px;
            }
        }
        div#sec4 {
            height: 4192px; // 3992px;
            .sec4__element {
                width: 880px;
                height: 480px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            .sec4-1 {
                margin-top: 200px;
                .sec4-1__images {
                    width: 473px;
                    height: 480px;
                    margin-left: 0px;
                    margin-top: 0px;
                    .sec4-1__image1 {
                        width: 188px;
                        height: 309px;
                    }
                    .sec4-1__image2 {
                        left: 164px;
                        top: 26px;
                        width: 309px;
                        height: 422px;
                    }
                    .sec4-1__image3 {
                        width: 260px;
                        height: 54px;
                    }
                }
            }
            .sec4-2 {
                margin-top: 200px;
                flex-direction: row-reverse;
                .sec4-2__images {
                    width: 440px;
                    height: 397px;
                    margin-left: 0px;
                    margin-top: 0px;
                    .sec4-2__image1 {
                        left: 44px;
                        top: 0px;
                        width: 344px;
                        height: 397px;
                    }
                    .sec4-2__image2 {
                        left: 0px;
                        top: 153px;
                        width: 438px;
                        height: 92px;
                    }
                    .sec4-2__image3 {
                        left: 315px;
                        top: 91px;
                        width: 125px;
                        height: 125px;
                    }
                }
            }
            .sec4-3 {
                margin-top: 200px;
                .sec4-3__images {
                    width: 413px;
                    height: 452px;
                    margin-left: 0px;
                    margin-top: 0px;
                    .sec4-3__image1 {
                        left: 26px;
                        width: 361px;
                        height: 452px;
                    }
                    .sec4-3__image2 {
                        left: 0px;
                        top: 106px;
                        width: 413px;
                        height: 239px;
                    }
                }
            }
            .sec4-4 {
                margin-top: 200px;
                flex-direction: row-reverse;
                .sec4-4__images {
                    width: 408px;
                    height: 477px;
                    margin-left: 0px;
                    margin-top: 0px;
                    .sec4-4__image1 {
                        width: 293px;
                        height: 420px;
                    }
                    .sec4-4__image2 {
                        width: 293px;
                        height: 420px;
                    }
                }
            }
            .sec4-5 {
                margin-top: 200px;
                .sec4-5__images {
                    width: 454px;
                    height: 438px;
                    margin-left: 0px;
                    margin-top: 0px;
                    .sec4-5__image1 {
                        left: 0px;
                        top: 0px;
                        width: 454px;
                        height: 438px;
                    }
                    .sec4-5__image2 {
                        left: 112px;
                        top: 169px;
                        width: 66px;
                        height: 78px;
                    }
                }
            }
            .sec4-6 {
                margin-top: 200px;
                margin-bottom: 200px;
                flex-direction: row-reverse;
                .sec4-6__images {
                    width: 408px;
                    height: 348px;
                    margin-top: 50px;
                    .sec4-6__image1 {
                        width: 300px;
                        height: 56px;
                    }
                    .sec4-6__image2 {
                        top: 67px;
                        width: 365px;
                        height: 84px;
                    }
                    .sec4-6__image3 {
                        bottom: 98px;
                        width: 145px;
                        height: 34px;
                    }
                    .sec4-6__image4 {
                        left: 33px;
                        bottom: 0px;
                        width: 268px;
                        height: 89px;
                    }
                    .sec4-6__image5 {
                        left: 231px;
                        bottom: 52px;
                        width: 102px;
                        height: 102px;
                    }
                }
            }
        }
        div#sec5 {
            height: 923px;
            .sec5__l-text {
                .sec5__text {
                    margin: 123px 0px 66px;

                    .sec5__title {
                        font-size: 3.2rem;
                        line-height: 1.53;
                        letter-spacing: -1.02px;
                    }
                    .sec5__desc {
                        color: var(--darkgrey);
                        font-size: 1.6rem;
                        letter-spacing: -0.26px;
                        margin-top: 18px;
                    }
                }
            }

            .sec5__images {
                &.sec5__images-main {
                    display: none;
                }
                &.sec5__images-sub {
                    display: initial;
                    left: -174px;
                    top: -23px;
                }
            }
            .sec5__image3 {
                margin-top: 0px;
                margin-left: 0px;
                width: 519px;
                height: 621px;

                position: relative;
            }
        }
        div#sec6 {
            height: 1503px;
            .body {
                height: calc(100% - 255px);
                width: 100%;
                padding-top: 208px;
            }
        }
        div#sec7 {
            min-height: 1187px;
            .body {
                height: calc(100% - 240px);
                padding-top: 208px;
                padding-bottom: 200px;
            }
        }
    }
    @media (min-width: 1440px) {
    }
    @media (min-width: 1920px) {
    }
}
