* {
    padding: 0px;
    margin: 0px;
}

section.drawer-lesson-card {
    width: 285px;
    height: 84px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;

    .card-top {
        display: flex;
        align-items: center;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            margin-right: 5px;
            img {
                width: 24px;
                height: 24px;
            }
        }

        .card-desc {
            display: flex;
            flex-direction: column;
            height: 37px;
            justify-content: space-between;

            .card-category {
                color: var(--grey);
            }
        }
    }
    .card-bottom {
        .card-desc2 {
            text-align: end;
            width: 100%;
            align-self: flex-end;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 8px;
        }
    }
}

.bar {
    margin: 0px 10px;
    color: var(--border-color);
}
