* {
    // padding: 0px;
    margin: 0px;
}

section {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    $containerWidth: 844px;
    $header_height: 170px;
    .header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: $header_height;
        background-color: var(--white);
        position: relative;
        padding: 0px 20px;

        .header-text-container {
            width: $containerWidth;
            margin-bottom: 27px;
        }

        .close-button {
            position: absolute;
            top: 36px;
            right: 36px;
        }
    }

    .main {
        width: 100%;
        background-color: var(--background-color);

        .main-inner-container {
            width: 100vw;
            min-width: 884px;
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 60px;

            .content-qrcode-container {
                // width: $containerWidth + 40px;
                display: flex;
                padding: 0 20px;

                .qrcode-outer-container {
                    width: 238px;
                    height: 415px;
                    position: relative;
                    margin-right: 21px;

                    .qrcode-container {
                        width: 100%;
                        height: 360px;

                        background-color: var(--white);
                        box-shadow: 0px 0px 10px #b5b5b51c;
                        border-radius: 7px;

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        position: relative;

                        .qrcode-title {
                            width: 200px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            margin-top: 20px;

                            .help {
                                position: relative;
                                width: 27px;
                                height: 27px;

                                img {
                                    cursor: pointer;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    z-index: 41;

                                    &:hover {
                                        & + .help-text-container {
                                            z-index: 40;
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }
                                .help-text-container {
                                    width: 215px;
                                    height: 240px;
                                    position: absolute;
                                    z-index: -5;
                                    display: flex;
                                    align-items: flex-end;
                                    top: 0;
                                    left: 5px;

                                    visibility: hidden;
                                    opacity: 0;
                                    transition: visibility 0s, opacity 0.4s;
                                    -moz-transition: visibility 0s, opacity 0.4s;
                                    -webkit-transition: visibility 0s, opacity 0.4s;
                                    -o-transition: visibility 0s, opacity 0.4s;

                                    &:hover {
                                        opacity: 1;
                                        visibility: visible;
                                        z-index: 40;
                                    }

                                    .help-text {
                                        width: 215px;
                                        height: 215px;

                                        box-shadow: 0px 0px 10px #b5b5b51c;
                                        background-color: var(--white);
                                        border: 1px solid var(--border-color);
                                        border-radius: 5px;
                                        overflow: hidden;

                                        .help-text-title {
                                            width: 215px;
                                            height: 40px;
                                            background-color: #212121;
                                            color: var(--white);

                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            padding: 0 15px;

                                            font-size: 1.2rem;
                                            line-height: 1.42;
                                            letter-spacing: -0.14px;
                                        }
                                        .help-text-content {
                                            padding: 15px 13px;

                                            & div {
                                                display: flex;
                                                margin-bottom: 10px;
                                                &:last-child {
                                                    margin-bottom: 0px;
                                                }

                                                & p {
                                                    color: var(--lightgrey);
                                                    margin-right: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .divider {
                            width: 200px;
                            height: 1px;
                            border-top: 1px solid var(--border-color);
                            margin: 15px 0px 35px 0px;
                        }

                        .qrcode-box {
                            width: 158px;
                            height: 158px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .qrcode {
                                height: 100%;
                                width: 100%;
                                padding: 10px;
                            }

                            img {
                                position: absolute;
                            }
                        }

                        .download-button {
                            width: 170px;
                            height: 40px;
                            border: 1px solid var(--border-color);
                            border-radius: 4px;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: var(--grey);
                            margin-top: 35px;
                            cursor: pointer;

                            &:hover {
                                background-color: var(--background-color);
                            }
                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 2px;
                            }
                        }
                    }

                    .direct-registration {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        font-weight: 400;
                        color: var(--grey);

                        margin-top: 20px;

                        .direct-registration-link {
                            text-decoration: underline;
                            margin-top: 4px;
                            cursor: pointer;

                            &:hover {
                                color: var(--darkgrey);
                            }
                        }
                    }
                }

                .content-container {
                    width: 585px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    .content {
                        width: 100%;
                        min-height: 450px;
                        background-color: var(--white);
                        box-shadow: 0px 0px 10px #b5b5b51c;
                        border-radius: 7px;
                        padding: 20px;

                        display: flex;
                        flex-direction: column;

                        .content-header {
                            width: 100%;
                            height: 38px;
                            border-bottom: 1px solid var(--border-color);
                            margin-bottom: 15px;
                        }

                        .not-registered {
                            width: 100%;
                            height: calc(450px - 40px - 15px - 38px);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: var(--grey);

                            img {
                                width: 36px;
                                margin-bottom: 18px;
                            }
                        }
                        .new-members {
                            width: 100%;
                            min-height: calc(450px - 40px - 15px - 38px);
                            display: grid;
                            grid-template-columns: repeat(1, auto);
                            grid-auto-rows: 65px;
                            row-gap: 10px;
                        }
                        .member-detail-box {
                            width: 100%;
                            min-height: calc(450px - 40px - 15px - 38px);
                            padding: 10px 23px 15px 23px;
                            display: flex;
                            flex-direction: column;

                            .member-avatar-card {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                width: 250px;
                                height: 80px;
                                margin-bottom: 35px;
                                .member-info {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 15px;
                                }
                            }
                            .member-detail {
                                display: grid;
                                grid-template-columns: 130px 130px auto;
                                gap: 25px 20px;
                                .detail-item {
                                    display: flex;
                                    flex-direction: column;
                                    .category {
                                        margin-bottom: 7px;
                                    }
                                }
                            }
                            .memo {
                                display: flex;
                                flex-direction: column;
                                margin: 35px 0px;
                                div {
                                    margin-bottom: 7px;
                                }
                                textarea {
                                    resize: none;
                                    width: 500px;
                                    height: 95px;
                                    padding: 12px 15px;
                                    outline: none;
                                    border-radius: 5px;
                                    border: 1px solid var(--border-color);
                                    font-weight: 700;
                                    &:focus {
                                        border: 1px solid var(--grey);
                                        color: var(--font-color);
                                    }
                                    &::placeholder {
                                        font-weight: 400;
                                        color: var(--grey);
                                    }
                                }
                            }
                            .button-box {
                                display: flex;
                                align-items: center;
                                .back-button {
                                    margin-right: 10px;
                                    font-weight: 700;

                                    span {
                                        color: var(--grey);
                                    }
                                    img {
                                        height: 30px;
                                        width: 25px;
                                    }
                                }
                                .allocate-loc-mem {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.left-top {
    left: 0px;
    top: 0px;
}
.right-top {
    right: 0px;
    top: 0px;
}
.left-bottom {
    left: 0px;
    bottom: 0px;
}
.right-bottom {
    right: 0px;
    bottom: 0px;
}

.rotate-0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
