<div class="rw-modal-background" #modalBackgroundElement></div>
<div
  class="rw-modal-wrapper"
  (mouseup)="!isMouseModalDown && onCancel()"
  (mousedown) = 'resetMouseModalDown()'
  #modalWrapperElement
>

  <div
    [class.willbe-changed-password-size] = "currentPasswordChecked == true"
    class="rw-modal current-password-size user-select-none"
    (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
  >
    <div class="title-container">
      <div class="text rw-typo-title1 ">{{ data?.text }}</div>
      <div class="sub-text rw-typo-subtext1">{{ data?.subText }}</div>
    </div>


    <ng-container
      *ngIf="currentPasswordChecked == false"
    >
      <form
        id="current-password"
        class="input"
      >
        <p class="rw-typo-subtext1">기존 비밀번호</p>

        <input
          class="rw-input"
          [class.input-box-error] = "(pwdInputs.currentPassword.status == 'INVALID' && pwdInputs.currentPassword.value != '')
            || checkPasswordErrFlag == true"
          [type]="pwdVisible.currentPassword ? 'text' : 'password'"
          autocomplete="on"
          placeholder="기존 비밀번호를 입력해주세요."
          [formControl]= "pwdInputs.currentPassword"
          (keypress) = "onKeyPress('currentPassword')"
          (keyup.enter) = "pwdInputs.currentPassword.status == 'VALID' && isCurrentPasswordChecked()"
          (keydown) ="onCurPwdKeyDown()"
        >
        <img
          *ngIf="pwdVisible.currentPassword && pwdInputs.currentPassword.value.length > 0"
          (click) = "onVisibleClick('currentPassword')"
          src="assets/icons/etc/password-visible.svg"
          class="password-icon"
        >
        <img
          *ngIf="!pwdVisible.currentPassword && pwdInputs.currentPassword.value.length > 0"
          (click) = "onVisibleClick('currentPassword')"
          src="assets/icons/etc/password-invisible.svg"
          class="password-icon"
        >
        <img
          *ngIf="pwdInputs.currentPassword.status == 'VALID' && checkPasswordErrFlag == false"
          src="assets/icons/etc/check_green.svg"
          class="password-valid"
        >
        <div
          *ngIf="pwdInputs.currentPassword.status == 'INVALID' && pwdInputs.currentPassword.value != ''"
          class="pwd-err">
            <img src="assets/icons/etc/warning-red.svg" >
            <span *ngIf="pwdInputs.currentPassword.errors?.['isSpace'] == true" class="rw-typo-subtext1">공백을 포함할 수 없어요.</span>
            <span *ngIf="pwdInputs.currentPassword.errors?.['isNotComplex'] == true" class="rw-typo-subtext1">영어, 숫자, 특수문자가 모두 포함되어야 해요.</span>
            <span *ngIf="pwdInputs.currentPassword.errors?.['minLength'] == true" class="rw-typo-subtext1">비밀번호가 너무 짧아요. (8자 이상)</span>
        </div>
        <div
          *ngIf="checkPasswordErrFlag == true"
          class="pwd-err"
        >
          <img src="assets/icons/etc/warning-red.svg">
          <span class="rw-typo-subtext1">비밀번호를 잘못 입력하셨습니다.</span>
        </div>
      </form>
    </ng-container>



      <form
        *ngIf="currentPasswordChecked == true"
        id="modified-password"
        class="input"
      >
        <p class="rw-typo-subtext1">새로운 비밀번호</p>
        <input
          class="rw-input"
          [class.input-box-error] = "pwdInputs.modifiedPassword.status == 'INVALID' && pwdInputs.modifiedPassword.value != ''"
          [type]="pwdVisible.modifiedPassword ? 'text' : 'password'"
          autocomplete="on"
          placeholder="영어, 숫자, 특수문자 조합 8~15자 이내"
          [formControl]= "pwdInputs.modifiedPassword"
          (keypress) = "onKeyPress('modifiedPassword')"
        >
        <img
          *ngIf="pwdVisible.modifiedPassword && pwdInputs.modifiedPassword.value.length > 0"
          (click) = "onVisibleClick('modifiedPassword')"
          src="assets/icons/etc/password-visible.svg"
          class="password-icon"
        >
        <img
          *ngIf="!pwdVisible.modifiedPassword && pwdInputs.modifiedPassword.value.length > 0"
          (click) = "onVisibleClick('modifiedPassword')"
          src="assets/icons/etc/password-invisible.svg"
          class="password-icon"
        >
        <img
          *ngIf="pwdInputs.modifiedPassword.status == 'VALID'"
          src="assets/icons/etc/check_green.svg"
          class="password-valid"
        >
        <div
          *ngIf="pwdInputs.modifiedPassword.status == 'INVALID' && pwdInputs.  modifiedPassword.value != ''"
          class="pwd-err">
            <img src="assets/icons/etc/warning-red.svg" >
            <span *ngIf="pwdInputs.modifiedPassword.errors?.['isSpace'] == true" class="rw-typo-subtext1">공백을 포함할 수 없어요.</span>
            <span *ngIf="pwdInputs.modifiedPassword.errors?.['isNotComplex'] == true" class="rw-typo-subtext1">영어, 숫자, 특수문자가 모두 포함되어야
              해요.</span>
            <span *ngIf="pwdInputs.modifiedPassword.errors?.['minLength'] == true" class="rw-typo-subtext1">비밀번호가 너무 짧아요. (8자 이상)</span>
            <span *ngIf="pwdInputs.modifiedPassword.errors?.['isSamePrev'] == true" class="rw-typo-subtext1">이전 비밀번호와 동일해요.</span>
        </div>
      </form>

      <form
        *ngIf="currentPasswordChecked == true"
        id="modified-confirm-password"
        class="input"
      >
        <p class="rw-typo-subtext1">비밀번호 확인</p>
        <input
          class="rw-input"
          [class.input-box-error] = "(pwdInputs.modifiedPasswordConfirm.value != pwdInputs.modifiedPassword.value
            && pwdInputs.modifiedPasswordConfirm.value !='')"
          [type]="pwdVisible.modifiedPasswordConfirm ? 'text' : 'password'"
          autocomplete="on"
          placeholder="새로운 비밀번호를 한 번 더 입력해주세요."
          [formControl]="pwdInputs.modifiedPasswordConfirm"
          (keypress) = "onKeyPress('modifiedPasswordConfirm')"
          (keyup.enter) ="(pwdInputs.modifiedPassword.status == 'VALID' && pwdInputs.modifiedPasswordConfirm.value == pwdInputs.modifiedPassword.value) && setNewPassword()"
        >
        <img
          *ngIf="pwdVisible.modifiedPasswordConfirm && pwdInputs.modifiedPasswordConfirm.value.length > 0"
          (click) = "onVisibleClick('modifiedPasswordConfirm')"
          src="assets/icons/etc/password-visible.svg"
          class="password-icon"
        >
        <img
          *ngIf="!pwdVisible.modifiedPasswordConfirm && pwdInputs.modifiedPasswordConfirm.value.length > 0"
          (click) = "onVisibleClick('modifiedPasswordConfirm')"
          src="assets/icons/etc/password-invisible.svg"
          class="password-icon"
        >
        <img
          *ngIf="pwdInputs.modifiedPasswordConfirm.value == pwdInputs.modifiedPassword.value
                &&  pwdInputs.modifiedPasswordConfirm.value != ''"
          src="assets/icons/etc/check_green.svg"
          class="password-valid"
        >
        <div
          *ngIf="pwdInputs.modifiedPasswordConfirm.value != pwdInputs.modifiedPassword.value  && pwdInputs.modifiedPasswordConfirm.value != ''"
          class="pwd-err">
            <img src="assets/icons/etc/warning-red.svg" >
            <span class="rw-typo-subtext1">비밀번호가 일치하지 않아요.</span>

      </div>
      </form>



    <div class="button-group">
      <div class="cancel " rw-button (click)="onCancel()">
        {{ data?.cancelButtonText || '취소' }}
      </div>
      <div
        *ngIf="currentPasswordChecked == false"
        class="confirm "
        rw-button rwButtonColor="var(--red)"
        [rwButtonDisabled]="pwdInputs.currentPassword.status != 'VALID'"
        (click) = "pwdInputs.currentPassword.status == 'VALID' && isCurrentPasswordChecked()"
      >
        {{ '다음' }}
      </div>
      <div
        *ngIf="currentPasswordChecked == true"
        class="confirm "
        rw-button rwButtonColor="var(--red)"
        [rwButtonDisabled]="(pwdInputs.modifiedPassword.status =='INVALID' || pwdInputs.modifiedPasswordConfirm.value != pwdInputs.modifiedPassword.value)"
        (click) ="(pwdInputs.modifiedPassword.status == 'VALID' && pwdInputs.modifiedPasswordConfirm.value == pwdInputs.modifiedPassword.value) && setNewPassword()"
      >
        {{ '저장하기' }}
      </div>

    </div>

  </div>

</div>

<!-- *ngIf="currentPasswordChecked == false" -->

<!-- <div *ngIf="currentPasswordChecked == true" class="confirm " rw-button rwButtonColor="var(--red)">
  {{ data?.confirmButtonText || '확인' }}
</div> -->
