.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 1050;
}

.rw-modal-background-show {
    opacity: 0.3;
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1060;

    .rw-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 585px;
        height: 458px;
        position: relative;
        // padding: 15px 0px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background-color: var(--white);
        box-shadow: 0px 0px 10px #b5b5b51c;
        opacity: 0;
        transition: opacity 0s;

        $outer-width: 555px;
        $inner-width: 545px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: $outer-width;
            min-height: 35px;
            margin-top: 15px;
            border-bottom: 1px solid var(--border-color);
            & > span {
                font-weight: 700;
            }
            & > img {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }
            }
        }

        .membership-item-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 100%;

            db-membership-ticket-card {
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1;
    }
}
