<section class="membership-card">

  <div class="top">
    <div class="membership-name">
      <div class="icon">
        <img src="assets/icons/etc/ticket-white.svg">
      </div>
      <span class="rw-typo-title2">{{'membershipState.membershipItem.name'}}</span>
    </div>
    <div
      class="modify-button" rw-button
      rwButtonColor="var(--white)"
      rwButtonFontColor="var(--darkgrey)"
      (click) = "null"
    >
      <img src="assets/icons/etc/edit.svg">
      <span class="rw-typo-bodytext2">정보 수정</span>
    </div>
  </div>
  <div class="rw-typo-bodytext0 middle">
    {{'selectedLessonText'}} 수업 예약 가능
  </div>
  <div class="bottom">
    <div class="date">
      <span class="rw-typo-subtext0-regular small-title">기간</span>
      <span class="rw-typo-bodytext1">{{'membershipState.date.startDate'}} - {{'membershipState.date.endDate'}} ({{'membershipState.date | dayDiff'}}일)</span>
    </div>
    <div class="count">
      <span class="rw-typo-subtext0-regular small-title">횟수</span>
      <span class="rw-typo-bodytext1">{{'membershipState.count.infinite' ? '무제한' : ('membershipState.count.count'+'회')}}</span>
    </div>
    <div class="pay">
      <span class="rw-typo-subtext0-regular small-title">결제 금액 / 담당자</span>
      <span class="rw-typo-bodytext1">￦{{'membershipState.price' ? 'membershipState.price' : 0}} / {{'membershipState.assignee.name'}}</span>
    </div>
  </div>

</section>

<section class="locker-card">

</section>
