<table class="message-history-table" #history_table>
	<thead>
		<tr class="title">
			<th></th>
			<th>일시</th>
			<th>상태</th>
			<th>구분</th>
			<th [style.maxWidth.px]="contentWidth">내용</th>
			<th>글자 수</th>
			<th>요청 건수</th>
			<th>성공 건수</th>
			<th>실패 건수</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr (click)="openHistoryDetailModal()">
			<td></td>
			<td>22.08.11  00:25:14</td>
			<td>전송 대기</td>
			<td>단문</td>
			<td [style.maxWidth.px]="contentWidth">
				<div class="line-ellipsis-one">
					[더요가 필라테스 부산 본점] 안녕하세요? 더요가 필라테스입니다. 이번주 레슨 일정을 알려드릴려고 이렇게 연락을 드립니다.
				</div>
			</td>
			<td>91</td>
			<td>100</td>
			<td>98</td>
			<td>
				<span>2</span>
				<div class="arrow-right"></div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>22.08.11  00:25:14</td>
			<td>전송 대기</td>
			<td>단문</td>
			<td [style.maxWidth.px]="contentWidth">
				<div class="line-ellipsis-one">
					[더요가 필라테스 부산 본점] 안녕하세요? 더요가 필라테스
				</div>
			</td>
			<td>91</td>
			<td>100</td>
			<td>98</td>
			<td>
				<span>2</span>
				<div class="arrow-right"></div>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>

<msg-transmission-history-detail-modal
	[(visible)]="showHistoryDetailModal"
	(close)="closeHistoryDetailModal()"
></msg-transmission-history-detail-modal>