<table class="message-history-table" #history_table>
	<thead>
		<tr class="title">
			<th></th>
			<th>일시</th>
			<th>상태</th>
			<th>구분</th>
			<th>유형</th>
			<th [style.maxWidth.px]="contentWidth">내용</th>
			<th>요청 건수</th>
			<th>성공 건수</th>
			<th>실패 건수</th>
			<th></th>
		</tr>
	</thead>

	<ng-container *ngIf="historyGroupLoading == 'pending'">
		<tbody class="loading">
			<div *ngFor="let i of [1,2,3]" class="loading-item">
				<ngx-skeleton-loader
					count = 1 appearance="circle"
					[theme]="{width:'100%', height:'40px', 'border-radius': '5px', 'margin-bottom': '8px'}"
				></ngx-skeleton-loader>
			</div>
		</tbody>
	</ng-container>
	<ng-container *ngIf="historyGroupLoading != 'pending'">
		<tbody class="data-container thin-scroll-y-overlay2" *ngIf="smsHistoryGroupList.length > 0">
			<tr *ngFor="let item of smsHistoryGroupList" (click)="openHistoryDetailModal(item)">
				<td></td>
				<td>{{item.datetime}}</td>
				<td>{{item.state_code_name}}</td>
				<td>{{item.sms_auto_send_yn ? '자동 전송' : '일반 전송'}}</td>
				<td>{{item.type_code_name}}</td>
				<td [style.maxWidth.px]="contentWidth">
					<div class="line-ellipsis-one">
						{{item.text}}
					</div>
				</td>
				<td>{{ item.request }}</td>
				<td>{{item.state_code == 'sms_state_sent' ? item.success : '-'}}</td>
				<td>
					<span>{{item.state_code == 'sms_state_sent' ? item.failure : '-'}}</span>
					<div class="arrow-right"></div>
				</td>
				<td></td>
			</tr>
		</tbody>
		<tbody
			*ngIf="smsHistoryGroupList.length <= 0 "
			class="none-data-container"
		>
			<img src="assets/icons/etc/empty_screen.svg" >
			<p class="rw-typo-subtext2">아직 전송된 메시지가 없어요.</p>
			<p class="rw-typo-subtext2">상단의 일반 전송 / 자동 전송 메뉴에 접속하시면</p>
			<p class="rw-typo-subtext2">회원에게 문자를 전송하실 수 있어요.</p>
		</tbody>
	</ng-container>

</table>

<msg-transmission-history-detail-modal
	[(visible)]="showHistoryDetailModal"
	[Loading]="historyLoading"
	[smsHistoryList]="smsHistoryList"
	[curHistoryGroup]="curHistoryGroup"
	(close)="closeHistoryDetailModal()"
></msg-transmission-history-detail-modal>