.rw-datepicker {
    width: 256px;
    height: 258px;
    padding: 19px 15px 15px;
    border-radius: 5px;
    background-color: var(--white);

    .col,
    [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    .month {

        .start,
        .end {
            .mdi {
                font-size: 2rem;
                color: var(--grey);
                cursor: pointer;

                &:hover {
                    color: var(--darkgrey);
                }

                &.left-margin {
                    margin: 0px !important;
                    margin-left: 4px !important;
                }
            }

            .chevron-left {
                background-image: url('/assets/icons/etc/chevron_left.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-left: 5px;
                &:hover {
                    background-image: url('/assets/icons/etc/chevron_left_focus.svg');
                }
            }
            .chevron-double-left {
                background-image: url('/assets/icons/etc/chevron_double_left.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-left: 3px;
                &:hover {
                    background-image: url('/assets/icons/etc/chevron_double_left_focus.svg');
                }
            }
            .chevron-right {
                transform: rotateY(180deg);
                background-image: url('/assets/icons/etc/chevron_left.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                &:hover {
                    background-image: url('/assets/icons/etc/chevron_left_focus.svg');
                }
            }
            .chevron-double-right {
                transform: rotateY(180deg);
                background-image: url('/assets/icons/etc/chevron_double_left.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 3px;
                &:hover {
                    background-image: url('/assets/icons/etc/chevron_double_left_focus.svg');
                }
            }
        }

        .center {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 20px;
            letter-spacing: -0.196px;
            color: #212121;
        }
    }

    .week-header {
        font-size: 1.3rem;
        color: var(--font-color);

        &>div {
            width: 26px;
            height: 26px;
        }
    }

    .week-row {
        min-height: 33px;
        &:last-of-type{
            min-height: 28px;
        }
        .week-col {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            font-size: 1.2rem;
        }
    }

    &.mutiline-unit {
        .week-header {
            font-size: 1.3rem;
            color: var(--font-color);

            &>div {
                width: 34px;
                height: 26px;
            }
        }

        .week-row {
            .week-col {
                width: 34px;
                height: 28px;
                border-radius: unset;
                font-size: 1.2rem;
            }
        }
    }
}

.rw-datepicker-date {
    .week-row {
        .week-col {
            cursor: pointer;

            &:hover {
                background-color: var(--background-color);
            }
        }

        .selected {
            color: var(--white) !important;
            background-color: var(--red);

            &:hover {
                background-color: var(--red);
            }
        }
    }
}

.rw-datepicker-week {
    .week-row {
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--background-color);
        }
    }

    .selected {
        background-color: var(--red);

        &:hover {
            background-color: var(--red);
        }

        .week-col {
            color: var(--white) !important;
        }
    }
}

.rw-datepicker-multiline {
    .week-row {
        .week-col {
            cursor: not-allowed !important;

            &.start-date {
                border-radius: 4px 0px 0px 4px;
            }

            &.end-date {
                border-radius: 0px 4px 4px 0px;
            }
        }

        .avaliable-date {
            cursor: pointer !important;

            &:hover {
                // background-color: var(--background-color);
                color: var(--red) !important;
            }
        }

        .selected {
            color: var(--white) !important;
            background-color: var(--red);

            &:hover {
                background-color: var(--red);
                color: var(--white) !important;
            }
        }

        .between {
            color: var(--darkgrey) !important;
            background-color:rgba(227, 74, 94, 0.05);

            &:hover {
                background-color: rgba(227, 74, 94, 0.05);
                color: var(--darkgrey) !important;
            }
        }
    }
}

.isShadow {
    box-shadow: 0px 0px 10px rgba(181, 181, 181, 0.14902) !important;
}