* {
    margin: 0;
    padding: 0;
}

p {
    text-align: initial;
}

:host {
    height: 100%;
}

gm-center-membership-category {
    &:not(:first-of-type) {
        margin-top: 5px;
    }
}

// $membership-padding: 25px 32px 0px 32px;
$membership-padding: 35px;
$membership-min-width: 897px;

.membership {
    height: 100%;
    padding: $membership-padding;
    min-width: $membership-min-width;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 58px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 12px;

    .header--left {
        display: flex;
        align-items: baseline;

        &-margin {
            margin-right: 6px;
        }
        &-desc {
            color: var(--font-color);
        }
    }
}

main {
    &.l-main {
        // layout of main
        display: flex;
        position: relative;
    }
    section.main__left {
        display: flex;
        flex-direction: column;
        padding-right: 18px;
        position: relative;
        transition: max-width 0.2s ease-in;
        -moz-transition: max-width 0.2s ease-in;
        -webkit-transition: max-width 0.2s ease-in;
        -o-transition: max-width 0.2s ease-in;
        margin-bottom: 38px;
        height: calc(100vh - 197px);

        &--flex {
            -ms-flex: 0 0 33.4201389%;
            flex: 0 0 33.4201389%;
            max-width: 33.4201389%;

            @media (min-width: 1440px) {
                -ms-flex: 0 0 33.3333333%;
                flex: 0 0 33.3333333%;
                max-width: 33.3333333%;
            }
            @media (min-width: 1920px) {
                -ms-flex: 0 0 32.7552448%;
                flex: 0 0 32.7552448%;
                max-width: 32.7552448%;
            }
            @media (min-width: 2450px) {
                -ms-flex: auto;
                flex: auto;
                max-width: 700px;
            }
        }
        &--flex-drawer {
            -ms-flex: 0 0 28.9855072%;
            flex: 0 0 28.9855072%;
            max-width: 28.9855072%;

            @media (min-width: 1440px) {
                -ms-flex: 0 0 27.3972603%;
                flex: 0 0 27.3972603%;
                max-width: 27.3972603%;
            }
            @media (min-width: 1920px) {
                -ms-flex: 0 0 32.1331522%;
                flex: 0 0 32.1331522%;
                max-width: 32.1331522%;
            }
            @media (min-width: 2450px) {
                -ms-flex: auto;
                flex: auto;
                max-width: 583px;
            }
        }

        .add-category-button {
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 5px;
            background-color: var(--border-color);

            width: 100%;
            min-height: 50px;
            height: 50px;
            padding: 0 15px;

            font-size: 1.5rem;
            line-height: 1.4;
            letter-spacing: -0.23px;
            color: var(--darkgrey);
            img {
                width: 21px;
                height: 21px;
                margin-right: 7px;
            }
            &:hover {
                background-color: var(--lightgrey);
            }
            &--top-margin {
                margin-top: 33px;
            }
        }

        .l-add-category-input {
            position: relative;
            min-height: 50px;
            width: 100%;
            &--top-margin {
                margin-top: 33px;
            }
            .add-category-input {
                width: 100%;
                height: 100%;
                padding-left: 41px;
            }
            img {
                position: absolute;
                left: 15px;
                top: calc(25px - 10px);
                width: 21px;
                height: 21px;
            }
        }
    }

    section.main__right {
        display: flex;
        flex-direction: column;
        margin-bottom: 38px;
        margin-top: 13px;
        height: calc(100vh - 210px);
        transition: max-width 0.2s ease-in;
        -moz-transition: max-width 0.2s ease-in;
        -webkit-transition: max-width 0.2s ease-in;
        -o-transition: max-width 0.2s ease-in;

        .divider {
            width: 100%;
            border-top: 1px solid var(--border-color);
            margin: 16px 0 22px 0;
        }

        .p__selected-membership--margin {
            display: flex;
            margin-bottom: 16px;
        }

        .selected-membership {
            display: flex;
            flex-direction: column;
            padding: 15px 20px 20px;
            background-color: var(--white);
            box-shadow: 0 0 10px #b5b5b51c;
            border-radius: 5px;

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 42px;
                position: relative;

                .selected-membership-top__left {
                    width: calc(100% - 361px - 84.5px);
                    position: relative;
                    .selected-membership-top__title {
                        display: flex;
                        align-items: center;
                        margin-left: 8px;
                        width: calc(100% - 36px);

                        &:hover {
                            & .edit-item-icon {
                                display: block;
                            }
                        }
                        & .edit-item-icon {
                            margin-left: 2px;
                            width: 21px;
                            height: 21px;
                            display: none;
                        }
                        p {
                            min-width: 50px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        input {
                            width: calc(100%);
                            height: 42px;
                            padding-left: 10px;
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 1.5;
                            letter-spacing: -0.26px;
                            color: var(--font-color);
                        }
                    }
                }

                &__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 36px;
                    max-width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    & > img {
                        width: 24px;
                        height: 24px;
                    }
                }

                &__delete-membership-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 100px;
                    height: 35px;
                    background-color: var(--white);
                    border: 1px solid #f1f1f1;
                    border-radius: 4px;
                    img {
                        margin-top: 2px;
                        width: 18px;
                        height: 20px;
                    }
                    &:hover {
                        background-color: var(--background-color);
                    }
                }
            }
            &-middle {
                display: flex;
                width: 100%;
                height: 44px;
                position: relative;
                .selected-membership-middle__item {
                    display: flex;
                    width: 25%;
                    height: 100%;
                    &:not(:last-child) {
                        border-right: 1px solid var(--border-color);
                    }

                    .l-item {
                        width: 95%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        &:hover {
                            & .edit-item-icon {
                                display: block;
                            }
                        }
                        & .edit-item-icon {
                            margin-left: 3px;
                            width: 21px;
                            height: 21px;
                            display: none;
                        }

                        & p {
                            text-align: initial;
                        }

                        .item-text {
                            display: flex;
                            align-items: center;
                        }

                        .l-item-input {
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            input {
                                width: 45px;
                                height: 32px;
                                border: 1px solid var(--grey);
                                padding: 0;
                                padding-right: 10px;
                                text-align: end;

                                &.input-price-width {
                                    width: 80px !important;
                                }
                            }

                            span {
                                margin-left: 4px;
                            }

                            rw-checkbox {
                                margin-left: 17px;
                            }
                        }
                    }
                }
            }
            &-bottom {
                margin-top: 22px;
                p {
                    margin-bottom: 7px;
                }
                textarea {
                    resize: none;
                    width: 100%;
                    height: 70px;
                    padding: 12px 15px 12px;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid var(--border-color);
                    font-weight: 500;
                    &:focus {
                        border: 1px solid var(--grey);
                        color: var(--font-color);
                    }
                    &::placeholder {
                        font-weight: 400;
                        color: var(--grey);
                    }
                }
            }
            &-lessonlist {
                margin-top: 10px;
                padding: 25px 20px;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 10px #b5b5b51c;
                border-radius: 5px;
                background-color: var(--white);
                position: relative;
                overflow: hidden;
                &--margin {
                    margin-bottom: 13px;
                }

                .l-lesson-item {
                    display: grid;
                    height: calc(100% - 25px);
                    width: 100%;
                    grid-template-columns: repeat(2, calc(50% - 5px));
                    grid-auto-rows: 102px;
                    column-gap: 10px;

                    .add-lesson-button {
                        border: 1px dashed var(--border-color);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        height: 92px;

                        &:hover {
                            background-color: var(--background-color);
                        }

                        img {
                            height: 20px;
                            width: 20px;
                            margin-right: 8px;
                        }
                        .add-lesson-button__text {
                            font-size: 1.5rem;
                            line-height: 1.4;
                            letter-spacing: -0.23px;
                            color: var(--darkgrey);
                        }
                    }
                }

                .l-guide-image {
                    display: flex;
                    flex-direction: column;
                    width: 325px;
                    position: absolute;
                    left: calc(50% - 144px);
                    top: calc(50% - 60px);

                    .guide-image {
                        padding: 15.5px 15px;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        width: 100%;
                        height: 66px;
                        border: 1px solid var(--border-color);
                        background-color: var(--white);
                        border-radius: 5px;

                        &__icon {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            position: relative;
                            .guide-image-icon__contents {
                                width: calc(100% - 46px);
                                margin-left: 10px;
                                .card-title-container {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;
                                    .card-title {
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        color: var(--grey);
                                        width: 50%;
                                    }
                                    .card-desc1 {
                                        color: var(--grey);
                                        width: 50%;
                                        text-align: end;
                                    }
                                }
                            }
                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 34px;
                                height: 34px;
                                border-radius: 50%;
                                & > img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                        img.pointer {
                            left: 134px;
                            bottom: -12px;
                            position: absolute;
                        }
                    }
                    .guide-text {
                        margin-top: 21px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .reserve-lesson-modal {
                    position: absolute;
                    width: 370px;
                    height: calc(100% - 15px);
                    left: calc(50% - 185px);
                    background-color: var(--background-color);
                    border-radius: 5px 5px 0 0;
                    box-shadow: 0 0 10px #b5b5b51c;
                    padding: 15px 10px 0 15px;

                    transition: top 0.4s ease-in-out;
                    -moz-transition: top 0.4s ease-in-out;
                    -webkit-transition: top 0.4s ease-in-out;
                    -o-transition: top 0.4s ease-in-out;

                    .modal-header {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 10px;
                        padding-right: 5px;
                        img {
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                    }

                    .go-lesson-button {
                        width: 155px;
                        height: 35px;
                        background-color: var(--white);
                        border: 1px solid #e9e9e9;
                        border-radius: 5px;
                        cursor: pointer;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-size: 1.2rem;
                        line-height: 1.42;
                        letter-spacing: -0.14px;
                        color: var(--grey);
                        &:hover {
                            background-color: var(--background-color);
                        }
                        & > img {
                            width: 15px;
                            height: 15px;
                            margin-top: 1.5px;
                        }
                        & p {
                            margin-right: 2px;
                        }
                    }

                    .none-lesson {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        top: calc(50% - 56px);
                        left: 0;
                        right: 0;
                        & p {
                            &:not(:first-of-type) {
                                margin-top: 1px;
                            }
                        }
                        & > img {
                            width: 40px;
                            height: 18px;
                            margin-bottom: 20px;
                        }
                        & > .go-lesson-button {
                            margin-top: 15px;
                        }
                    }

                    .card-container {
                        display: flex;
                        flex-direction: column;
                        height: calc(100% - 52px - 50px + 18px);

                        .card {
                            margin-bottom: 10px;
                        }

                        .lesson-guide-div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 15px;
                            & > .go-lesson-button {
                                margin-top: 10px;
                            }
                        }
                    }

                    .reservable-save-button {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        border-radius: 0;
                    }
                }
            }
        }

        &--flex {
            -ms-flex: 0 0 66.5798611%;
            flex: 0 0 66.5798611%;
            max-width: 66.5798611%;
            padding-left: 35px;

            .selected-membership-middle__item {
                &:nth-child(n + 2) {
                    margin-left: 15px !important;
                }
            }
            // .selected-membership-membership {
            //     min-height: 276px;
            // }

            .selected-membership-lessonlist {
                & p {
                    text-align: initial;
                }
            }
            @media (min-width: 1440px) {
                -ms-flex: 0 0 66.6666667%;
                flex: 0 0 66.6666667%;
                max-width: 66.6666667%;
                padding-left: 40px;

                .selected-membership-middle__item {
                    &:nth-child(n + 2) {
                        margin-left: 16px !important;
                    }
                }

                .selected-membership-lessonlist {
                    min-height: 376px;
                }
                .reserve-lesson-modal {
                    width: 420px !important;
                    left: calc(50% - 210px) !important;
                }
            }
            @media (min-width: 1920px) {
                -ms-flex: 0 0 67.2447552%;
                flex: 0 0 67.2447552%;
                max-width: 67.2447552%;
                .selected-membership-middle__item {
                    &:nth-child(n + 2) {
                        margin-left: 20px !important;
                    }
                }
                .selected-membership-lessonlist {
                    // min-height: 556px;
                    .l-lesson-item {
                        // grid-auto-rows: 80px !important;
                    }
                }
                .reserve-lesson-modal {
                    width: 585px !important;
                    left: calc(50% - 292.5px) !important;
                }
            }
            @media (min-width: 2450px) {
                -ms-flex: auto;
                flex: auto;
                max-width: initial;

                .selected-membership-lessonlist {
                    .l-lesson-item {
                        grid-template-columns: repeat(3, calc(33.2% - 5px)) !important;
                    }
                }
            }
        }
        &--flex-drawer {
            -ms-flex: 0 0 71.0144928%;
            flex: 0 0 71.0144928%;
            max-width: 71.0144928%;

            .selected-membership-middle__item {
                &:nth-child(n + 2) {
                    margin-left: 7px;
                }
            }

            @media (min-width: 1440px) {
                -ms-flex: 0 0 72.6027397%;
                flex: 0 0 72.6027397%;
                max-width: 72.6027397%;
            }
            @media (min-width: 1920px) {
                -ms-flex: 0 0 67.8668478%;
                flex: 0 0 67.8668478%;
                max-width: 67.8668478%;
            }
            @media (min-width: 2450px) {
                -ms-flex: auto;
                flex: auto;
                max-width: initial;
            }
        }
    }
}

.h-show-off {
    top: calc(100%);
}
.h-show-up {
    top: 15px !important;
    z-index: 50;
}
.h-display-off {
    visibility: hidden !important;
    z-index: -10 !important;
}
.h-display-on {
    visibility: visible !important;
    z-index: 50 !important;
}
.guide-image-bar {
    margin: 0 9px;
    color: var(--border-color);
}
.h-pos-relative {
    position: relative !important;
}
