<div
  class="card-outer-container"
  [style.borderColor]="isIn=='category' && cardInfo.color && isSelected
                        ? cardInfo.color
                        : isIn=='category' && isSelected
                        ? 'var(--red)'
                        : 'var(--border-color)'"

  [class.selected] = "isIn=='category' && isSelected ? true : false"
  [class.reservable-card-hover] = "isIn == 'reservableItemList'"
  [class.card-hover-in-category] = "isIn == 'category'"
  (click) = " onClickItem()"
>
  <div
    *ngIf="isIn == 'reservableItemList'"
    class="reservable-card-delete"
    (click)="onReservableCardDeleteClick()"
  >
    <img src="assets/icons/etc/close_grey.svg" >
  </div>

  <div class="card-inner-container">
    <div
      class="icon"
      [style.backgroundColor] = "cardInfo.color ? cardInfo.color : 'var(--border-color)'"
    >
      <img src="assets/icons/etc/workout_white.svg">
    </div>
    <div class="card-desc-container">
      <p class="categ rw-typo-subtext2 ">{{cardInfo.category_name}}</p>
      <div class="card-title-container rw-typo-title2">
        <p class="card-title">{{cardInfo.name}}</p>
        <p class="card-desc1 rw-typo-subtext1">{{cardInfo.type_name}}<span class="bar">|</span>{{cardInfo.trainer_name}}</p>
      </div>
    </div>
  </div>

  <p class="card-desc2 rw-typo-subtext1">
    {{cardInfo.type_name}}<span class="bar">|</span>{{cardInfo.trainer_name}}
  </p>

</div>
