* {
  margin: 0;
  padding: 0;
  text-align: initial;
}

.l-auto-trans-setting-box {
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(181, 181, 181, 0.109804);
  border-radius: 5px;

  width: 268px;
  height: 241px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 18px;
  position: relative;

  .guide-text {
    width: 100%;
    position: absolute;
    bottom: -30px;
    left:0;
    right: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.144px;
    text-decoration-line: underline;
    color: var(--darkgrey);
    &:hover {
      .guide-text-box {
        opacity: 1 !important;
        visibility: visible !important;
        z-index: 10 !important;
      }
    }
    .guide-text-box {
      width: 232px;
      height: 156px;
      position: absolute;
      right: 20px;
      top: 23px;
      background: #FFFFFF;
      box-shadow: 0 0 10px rgba(181, 181, 181, 0.109804);
      border-radius: 5px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.4s;
      -moz-transition: visibility 0s, opacity 0.4s;
      -webkit-transition: visibility 0s, opacity 0.4s;
      -o-transition: visibility 0s, opacity 0.4s;

      &:hover {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
  }

  .auto-trans-setting {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
  }

  .bar {
    width: 100%;
    height: 1px;
    border: 1px solid var(--border-color);
    margin: 23px 0;
  }

  .auto-trans-time {
    padding: 0 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &.disabled {
      opacity: 0.5;
    }
    p{
      &:nth-child(2) {
        margin-bottom: 5px;
      }
    }
    .time-inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .l-input {
        height: 48px;
        width: 85px;
        position: relative;
        input {
          text-align: end;
          width: 100% !important;
          height: 100% !important;
          padding: 14.5px 48px 14px 10px !important;
          &:disabled {
            color: var(--font-color) !important;
            background-color: var(--white) !important;
          }
        }
        span {
          right: 16px;
          top: 13.5px;
          position: absolute;
        }
      }
    }
  }

}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 17px;
  letter-spacing: -0.144px;
  color: var(--darkgrey);
  margin-bottom: 10px;

}

.red {
  color: var(--red);
}