* {
  margin: 0;
  padding: 0;
  text-align: initial;
}

.l-auto-trans-setting-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(181, 181, 181, 0.109804);
  border-radius: 5px;

  width: 268px;
  height: 241px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 18px;
  position: relative;

  .auto-trans-setting {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
  }

  .bar {
    width: 100%;
    height: 1px;
    border: 1px solid var(--border-color);
    margin: 23px 0;
  }

  .auto-trans-time {
    padding: 0 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &.disabled {
      opacity: 0.5;
    }
    p{
      &:nth-child(2) {
        margin-bottom: 5px;
      }
    }
    .time-inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .l-input {
        height: 48px;
        width: 85px;
        position: relative;
        input {
          text-align: end;
          width: 100% !important;
          height: 100% !important;
          padding: 14.5px 48px 14px 10px !important;
          &:disabled {
            color: var(--font-color) !important;
            background-color: var(--white) !important;
          }
        }
        span {
          right: 16px;
          top: 13.5px;
          position: absolute;
        }
      }
    }
  }

}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 17px;
  letter-spacing: -0.144px;
  color: var(--darkgrey);
  margin-bottom: 10px;

}
