<div class="l-auto-trans-setting-box">
  <div class="auto-trans-setting">
    <p class="title">{{autoTransmitTextObj.settingTitle}}</p>
    <rw-checkbox
      [checked]="autoTransmit"
      [text]="autoTransmit ? checkBoxText.on : checkBoxText.off"
      (click)="onCheckBoxClick()"
    ></rw-checkbox>
  </div>
  <div class="bar"></div>
  <div class="auto-trans-time">
    <p class="title">자동 전송 시점</p>
    <p class="rw-typo-bodytext0">{{autoTransmitTextObj.transType}} 만기일로부터</p>
    <div class="time-inputs">
      <input>
      <rw-time-picker2
        [time]=""
        [width]="'129'"
        [textAlign]="'start'"
        (onTimeClick)="false"
      ></rw-time-picker2>
    </div>
  </div>
</div>