<div class="msg-phone-number-selector user-select-none" #selectElement>
	<div
		class="selected rw-typo-bodytext1"
		[class.open]="isOpen"
		[class.error]="errMsg"
		[class.empty] = "items.length == 0"
		#selectedElement
		(click)="toggle()"
		(rwClickOutside)="close()"
	>
		<div *ngIf="value" class="d-flex align-items-center">
			<span class="text">{{ value?.phone_number }}</span>
<!--			<div *ngIf="value?.being_verified" class="verification-icon">{{'승인중'}}</div>-->
		</div>
		<div *ngIf="items.length == 0 && !value">
			<span class="text_empty rw-typo-bodytext1_grey">등록된 번호가 없어요.</span>
		</div>
		<span *ngIf="items.length != 0" class="mdi mdi-chevron-down"></span>
	</div>
	<div *ngIf="errMsg" class="l-err-msg rw-typo-subtext0-regular">
		<span class="error-icon"></span>
		{{errMsg}}
	</div>

	<div
		class="items select-scroll-y"
		[class.drop-up] = "dropUp"
		#itemsElement
		(click)="$event.stopPropagation()"
	>
		<div
			class="item d-flex align-items-center"
			*ngFor="let item of items"
			[class.active]="item.phone_number == value?.phone_number"
			(click)="onSelect(item)"
		>
			<span class="rw-typo-bodytext0">{{ item.phone_number }}</span>
<!--			<div *ngIf="value?.being_verified" class="verification-icon">{{'승인중'}}</div>-->
		</div>
		<div
			class="item add-number d-flex align-items-center"
			(click)="onAddNumberClick()"
		>
			<span class="plus-icon"></span>
			발신번호 추가 등록
		</div>
	</div>

</div>
