* {
    padding: 0px;
    margin: 0px;
}

.locker-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 585px;
    height: 795px;
    box-shadow: 0px 0px 10px #b5b5b51c;
    border-radius: 7px;
    background-color: var(--white);
    padding: 0px 27px  27px 27px;

    .window-header {
        display: flex;
        width: 585px;
        height: 58px;
        padding-left: 25px;
        padding-top: 17px;
        align-items: flex-start;
        border-bottom: 1px solid var(--border-color);
    }
    .locker-info {
        display: flex;
        flex-direction: column;
        width: 530px;
        margin-top: 21px;
        position: relative;
        .locker-card {
            display: flex;
            align-items: center;
            padding: 15px;
            width: 100%;
            height: 70px;
            background-color: var(--white);
            border: 1px solid var(--border-color);
            border-radius: 5px;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: var(--border-color);
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            .locker-text {
                display: flex;
                flex-direction: column;
                margin-left: 12px;

                span {
                    &:first-of-type {
                        margin-bottom: 0px;
                    }
                }
                // justify-content: space-between;
            }
        }
    }

    .datepick-container {
        width: 530px;
        display: flex;

        & .date-picker {
            margin-top: 20px;
            width: 255px;
            display: flex;
            flex-direction: column;
            position: relative;

            &:first-of-type {
                margin-right: 20px;
            }

            & .date-pick-button {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                width: 255px;
                height: 48px;
                position: relative;
                padding: 14px 16px !important;

                &.open {
                    border: 1px solid #C9C9C9;
                }

                &.disabled {
                    padding: 13px 15px;
                    cursor: not-allowed;
                    background-color: var(--background-color);
                    color: var(--grey);
                }
            }
            db-datepicker {
                position: absolute;
                top: 75px;
                left: 0px;
                z-index: 3;
            }
        }
    }

    .payment-divider {
        width: 546px;
        height: 1px;
        margin: 34px 0px;
        border-top: 1px solid var(--border-color);
    }

    .payment-container {
        display: flex;
        width: 530px;
        margin-top: 22px;

        &#pc1 {
            margin-top: 0px;
        }

        .payment-item {
            width: 255px;
            display: flex;
            flex-direction: column;

            &:first-of-type {
                margin-right: 20px;
            }

            .input-disabled {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                width: 255px;
                height: 48px;
                position: relative;
                padding: 11px 42px 13px 15px;
                cursor: not-allowed;
                background-color: var(--background-color);
                color: var(--grey);

                &.text-right {
                    justify-content: flex-end;
                }
            }

            .input-container {
                width: 255px;
                height: 48px;
                position: relative;
                margin-right: 20px;
                input {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    padding: 0px 42px 0px 15px;
                }
                .input-count {
                    position: absolute;
                    top: 13px;
                    right: 15px;

                    &.disabled {
                        color: var(--grey) !important;
                    }
                }
            }
        }
    }

    .delete-save-button {
        display: flex;
        justify-content: flex-end;
        width: 530px;
        margin-top: 45px;
        .delete-button {
            border: 1px solid var(--border-color);
            margin-right: 10px;
        }
        .delete-button,
        .save-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 96px;
            height: 45px;
            font-weight: 600;
        }
    }
}

.locker-done-card {
    width: 585px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--grey);
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px #b5b5b51c;
    border-radius: 7px;
    padding: 12px 0px 16px 0px;

    .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);

        width: 545px;
        height: 45px;

        .locker-name {
            display: flex;
            align-items: center;
            height: 32px;
            margin-left: 5px;
            & > .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: var(--font-color);
                margin-right: 8px;
                & > img {
                    width: 21px;
                    height: 21px;
                }
            }
        }
        .modify-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f1f1f1;
            border-radius: 4px;
            width: 97px;
            height: 35px;
            padding: 12px 5px !important;
            margin-right: 5px;

            img {
                margin-right: 3px;
                width: 18px;
                height: 18px;
            }
        }
    }
    .middle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 535px;
        height: 40px;
        border-radius: 3px;
        background-color: var(--background-color);
        margin: 16px 0px;
    }
    .bottom {
        display: flex;
        width: 515px;
        height: 40px;
        position: relative;
        margin-top: 18px;
        .date {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 238px;
        }
        .pay {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 280px;
            border-left: 1px solid var(--border-color);
            padding-left: 15px;
        }
    }
}

.small-title {
    color: var(--darkgrey);
    margin-bottom: 5px;
}
.small-title2 {
    color: var(--grey);
    margin-bottom: 4px;
}

.item-font {
    font-size: 1.4rem !important;
}

.chose-date-font {
    color: var(--grey) !important;
}