<div class="member d-flex flex-column">
    <div id="header" class="d-flex justify-content-between align-items-center">
        <span class="rw-typo-title2">회원 리스트</span>
        <div class="d-flex align-items-center">
            <span
                class="dashboard-icon"
                rw-tooltip [detailAdj]="-37" [rwTooltipPlacement]="'bottom-right'" [rwTooltipTitle]="'회원관리 페이지로 이동'"
                (click)="routeToDashboard()"
            ></span>
            <span class="close-icon" (click)="closeDrawer()"></span>
        </div>
    </div>
    <div class="h-line"></div>
    <div id="content">
        <ng-container *ngIf="!showUserDetail">
            <div class="member-list">
                <dw-member-list
                    [usersLists]="usersLists$ | async"
                    [usersSelectCateg]="usersSelectCateg$ | async"
                    [selectedUserList]="selectedUserList$ | async"
                    [searchedUsersLists]="searchedUsersLists$ | async"
                    [selectedUserListsHolding]="selectedUserListsHolding$ | async"
                    [curUserData]="curUserData$ | async"
                    [isLoading]="isLoading$ | async"
                    (onUserCardClick)="showUserDetail = true"
                ></dw-member-list>
            </div>
            <div class="register-member">
                <div
                    class="register-member-button"
                    rw-button
                    rwButtonWidth="295"
                    rwButtonHeight="45"
                    rwButtonColor="var(--red)"
                    rwButtonFontColor="var(--white)"
                    (click)="toggleRegisterMemberModal()"
                >
                    신규 회원 등록
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="showUserDetail">
            <div class="l-member-detail thin-scroll-y-overlay2">
                <div class="member-detail">
                    <div class="info-avatar">
                        <div class="avatar-wrapper">
                            <rw-avatar
                                size="83"
                                fontSize="16"
                                [image]="curCenterUser.picture"
                                [backgroundColor]="curCenterUser.color"
                                [text]="curCenterUser.name"
                            ></rw-avatar>
                            <div class="l-photo-icon" (click)="userProfile.click()">
                                <div class="photo-icon"></div>
                                <span class="photo-text">
                                        {{ curCenterUser.picture ? '사진 변경' : '사진 추가' }}
                                    <input
                                        type="file"
                                        accept="image/*"
                                        #userProfile
                                        (change)="registerUserProfile(userProfile)"
                                        hidden
                                    />
                                    </span>

                                <div
                                    *ngIf="curCenterUser.picture"
                                    class="l-remove-icon"
                                    (click)="toggleRemoveUserProfile(); $event.stopPropagation()"
                                >
                                    <div class="remove-icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="rw-typo-title1 user-name" (click) = "toggleShowChangeNameModal()">
                            {{curCenterUser?.name}}
                            <img src="assets/icons/etc/edit.svg">
                        </div>
                        <rw-member-role-select
                            *ngIf="curCenterUser"
                            [staffId]="centerStaff.id"
                            [member]="curCenterUser"
                            [visible]="doShowRoleSelect"
                            [userRole]="userRole"
                            [employeeRole]="staffRole"
                            [mode]="'drawer'"
                            (onClose)="closeRoleSelect()"
                            (onSetUserRole)="setUserRole($event)"
                            (onToggleSelect)="toggleRoleSelect()"
                            (onSaveRole)="openChangeRoleModal()"
                        ></rw-member-role-select>
                    </div>
                </div>
                <div class="chat-attend">
                    <div
                        class="chat-button"
                        rw-button
                        [rwButtonColor] = "'var(--white)'"
                        (click) = "onOneToOneChat()"
                    >
                        <img src="assets/icons/main/chat.svg" >
                        <span class="rw-typo-bodytext0-bold">1:1 채팅</span>
                    </div>
                    <div class="divider"></div>
                    <div
                        *ngIf="!(curUserData?.user?.last_check_in | isToday)"
                        class="attend-button"
                        rw-button
                        [rwButtonColor] = "'var(--white)'"
                        (click) = "curUserData.user && onAttend()"
                    >
                        <img src="assets/icons/etc/attend.svg" >
                        <span class="rw-typo-bodytext0-bold">수동 출석</span>
                    </div>
                    <div
                        *ngIf = "(curUserData?.user?.last_check_in | isToday)"
                        class="attend-button"
                        rw-button
                        [rwButtonColor] = "'var(--white)'"
                        (click) = "curUserData.user && onCancelAttend()"
                    >
                        <img src="assets/icons/etc/leave.svg" >
                        <span class="rw-typo-bodytext0-bold">수동 출석 취소</span>
                    </div>
                </div>
                <div class="user-info">
                    <div class="user-data">
                        <span class="rw-typo-bodytext1_grey prop">회원번호</span>
                        <div class="rw-typo-bodytext1 value changeable" (click)="curUserData.user && toggleShowChangeMembershipNumberModal()">
                            {{!curCenterUser ? '-' : curCenterUser.membership_number ?? '-'}}
                            <img src="assets/icons/etc/edit.svg" />
                        </div>
                    </div>
                    <div class="user-data">
                        <span class="rw-typo-bodytext1_grey prop">전화번호</span>
                        <span class="rw-typo-bodytext1 value">{{!curCenterUser ? '-' : (curCenterUser.phone_number | phoneNumber)}}</span>
                    </div>
                    <div class="user-data">
                        <span class="rw-typo-bodytext1_grey prop">이메일</span>
                        <div
                            class="rw-typo-bodytext1 value"
                            [class.changeable]="(!curUserData?.user?.email)"
                            (click)="(!curUserData?.user?.email) && toggleShowChangeUserEmailModal()"
                        >
                            {{!curCenterUser ? '-' : curCenterUser.email}}
                            <img *ngIf="(!curUserData?.user?.email)" src="assets/icons/etc/edit.svg" />
                        </div>
                    </div>
                    <div class="user-data">
                        <span class="rw-typo-bodytext1_grey prop">생년월일</span>
                        <span class="rw-typo-bodytext1 value">
                    {{ (curCenterUser.birth_date | dashToDot) ?? '-' }} ({{
                            (curCenterUser.birth_date | birthDate: '세') ?? '-세'
                            }},
                            {{
                            curCenterUser.sex == 'male'
                                ? '남성'
                                : curCenterUser.sex == 'female'
                                    ? '여성'
                                    : '-'
                            }})
                </span>
                    </div>

                    <textarea
                        placeholder="메모를 입력해주세요."
                        class="rw-typo-bodytext1 thin-scroll-y"
                        (blur) = "updateUserMemo(memoForm.value)"
                        [formControl]="memoForm"
                    ></textarea>
                    <div class="l-user-detail-button">
                        <div
                            class="rw-typo-bodytext0-bold go-back-button"
                            rw-button
                            (click) = "showUserDetail = false"
                        >
                            <span class="back-icon"></span>
                            뒤로
                        </div>
                        <div
                            class="rw-typo-bodytext0-bold register-locker-membership-button"
                            rw-button
                            (click) = "toggleRegisterMLFullModal()"
                        >
                            회원권 / 락커 등록하기
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>
</div>

<rw-modal
    [(visible)]="doShowRemoveUserProfile"
    [data]="removeUserProfileData"
    (cancel)="toggleRemoveUserProfile()"
    (confirm)="removeUserProfile()"
></rw-modal>

<rw-modal
    (click)="$event.stopPropagation()"
    [(visible)]="doShowChangeRoleModal"
    [data]="changeRoleModalText"
    (cancel)="closeChangeRoleModal()"
    (confirm)="confirmChangeRoleModal()"
></rw-modal>

<db-register-membership-locker-fullmodal
    [(visible)]="doShowRegisterMLFullModal"
    [type]="'contract_type_new'"
    (close)="toggleRegisterMLFullModal()"
    (finishRegister)="onFinishRegisterML()"
    [curUser]="curCenterUser"
></db-register-membership-locker-fullmodal>

<db-register-member-modal
    [(visible)]="doShowRegisterMemberModal"
    (cancel)="closeRegisterMemberModal()"
    (onDirectRegister)="toggleDirectRegisterMemberFullModal()"
></db-register-member-modal>

<db-direct-register-member-fullmodal
    [(visible)]="doShowDirectRegisterMemberFullModal"
    (close)="closeDirectRegisterMemberFullModal()"
    (finishRegister)="whenFinishRegisterMember($event)"
></db-direct-register-member-fullmodal>

<db-change-user-name-modal
    [(visible)]="doShowChangeNameModal"
    [userName]="userNameForModal"
    (cancel)="toggleShowChangeNameModal()"
    (confirm)="onChangeNameConfirm($event)"
></db-change-user-name-modal>
<db-change-membership-number-modal
    [(visible)]="doShowChangeMembershipNumberModal"
    [membershipNumber]="userMembershipNumberForModal"
    [curUser]="curUserData.user"
    (cancel)="toggleShowChangeMembershipNumberModal()"
    (confirm)="onChangeMembershipNumberConfirm($event)"
></db-change-membership-number-modal>
<db-change-user-email-modal
    [(visible)]="doShowChangeUserEmailModal"
    [curUser]="curUserData?.user"
    (cancel)="toggleShowChangeUserEmailModal()"
    (confirm)="onChangeUserEmailConfirm($event)"
></db-change-user-email-modal>

<rw-modal
    [(visible)]="doShowAttendModal"
    [data]="attendUserModalText"
    (cancel)="onAttendModalClose()"
    (confirm)="onAttendModalConfirm()"
></rw-modal>

<rw-modal
    [(visible)]="doShowCancelAttendModal"
    [data]="cancelAttendUserModalText"
    (cancel)="onCancelAttendModalClose()"
    (confirm)="onCancelAttendConfirm()"
></rw-modal>