<section class="touch-pad thin-scroll-y-overlay2 thin-scroll-x-overlay2">

    <section class="left">
        <div class="guideline-container">

            <div class="guide-top__mobile">
                <div>
                    <p class="title"><u>{{center.name}}</u>에</p>
                    <p class="title">오신 것을 환영합니다.</p>
                </div>

                <div class="call-employee-button" (click)="callEmployee()">
                    직원 호출하기
                    <div class="spinner">
                        <img src="assets/icons/etc/wifi-white.svg">
                        <ngx-spinner
                            name="call_employee"
                            [fullScreen]="false"
                            bdColor="var(--font-color)"
                            color="var(--white)"
                            type="ball-spin-clockwise"
                            size="small"
                        ></ngx-spinner>
                    </div>
                </div>
            </div>

            <div class="guide-top">
                <p class="title"><u>{{center.name}}</u>에</p>
                <p class="title">오신 것을 환영합니다.</p>

                <p class="title title-top-margin">출석 체크를 위해</p>
                <p class="title title-bottom-margin"><b>회원 번호</b>를 입력해주세요.</p>

                <div class="guide-text">
                    <img src="assets/icons/etc/exceed_period_white.svg" alt="exceed_period_white">
                    <p>회원 번호 : 전화번호 뒤 4자리 또는 5자리</p>
                    <p>(5자리일 경우, 전화번호 뒤 4자리 + 숫자)</p>
                </div>
            </div>
            <div class="guide-bottom">
                <div class="call-employee-button" (click)="callEmployee()">
                    직원 호출하기
                    <div class="spinner">
                        <img src="assets/icons/etc/wifi-white.svg">
                        <ngx-spinner
                            name="call_employee"
                            [fullScreen]="false"
                            bdColor="var(--font-color)"
                            color="var(--white)"
                            type="ball-spin-clockwise"
                            size="small"
                        ></ngx-spinner>
                    </div>
                </div>
                <img src="assets/images/logo/redwhale-wording-logo-red-small.png">
            </div>
        </div>
    </section>

    <section class="right">
        <div class="touch-pad-container">
            <div class="touch-pad-display">
                <div class="display-title__mobile">
                    출석을 위해 <b>회원 번호</b>를 입력해주세요.
                </div>
                <div class="display-title">회원 번호 (전화번호 뒤 4자리 또는 5자리)</div>
                <div class="input-container">
                    <input
                        type="text"
                        placeholder=""
                        [(ngModel)]="touchPadInput"
                        required
                        maxlength="5"
                        readonly
                        (keyup)="formCheck()"
                    />
                </div>
                <div class="divider"></div>
            </div>

            <div class="touch-pad-grid">
                <div class="grid-item" (click)="touch('1')">1</div>
                <div class="grid-item" (click)="touch('2')">2</div>
                <div class="grid-item" (click)="touch('3')">3</div>
                <div class="grid-item" (click)="touch('4')">4</div>
                <div class="grid-item" (click)="touch('5')">5</div>
                <div class="grid-item" (click)="touch('6')">6</div>
                <div class="grid-item" (click)="touch('7')">7</div>
                <div class="grid-item" (click)="touch('8')">8</div>
                <div class="grid-item" (click)="touch('9')">9</div>
                <div class="grid-item erase" (click)="erase()">지우기</div>
                <div class="grid-item" (click)="touch('0')">0</div>
                <div class="grid-item confirm" (click)="confirm()">
                    확인
                    <ngx-spinner
                        name="touch_pad_check_in"
                        [fullScreen]="false"
                        bdColor="var(--font-color)"
                        color="var(--white)"
                        type="ball-spin-clockwise"
                        size="small"
                    ></ngx-spinner>
                </div>
            </div>

            <img class="logo_mobile" src="assets/images/logo/redwhale-wording-logo-red-small.png">

        </div>
    </section>

</section>


<rw-attendance-modal
    [(visible)] = "doShowAttendanceModal"
    [memberName] = "memberName"
    [lockerList] = "lockerList"
    [membershipList] = "membershipList"
    (cancel)="closeAttendanceModal()"
></rw-attendance-modal>
