<div class="email full-absolute d-flex flex-column user-select-none">
    <rw-auth-header></rw-auth-header>

    <div class="flex-fill d-flex justify-content-center">
        <div class="box d-flex flex-column">
            <div class="headline d-flex flex-column align-items-center">
                <div class="rw-typo-headline1">이메일로 로그인</div>
            </div>
            <div class="input-box email-input-box">
                <div class="label rw-typo-subtext2">이메일 주소</div>
                <input
                    rw-input
                    placeholder="이메일 주소를 입력해주세요."
                    [(ngModel)]="email"
                    maxlength="50"
                    (keyup.enter)="formCheck() && signInWithEmail()"
                />
            </div>
            <div class="input-box password-input-box">
                <div class="label rw-typo-subtext2">비밀번호</div>
                <input
                    type="password"
                    rw-input
                    placeholder="영어, 숫자, 특수문자 조합 8~15자 이내"
                    [(ngModel)]="password"
                    maxlength="15"
                    (keyup.enter)="formCheck() && signInWithEmail()"
                    *ngIf="!passwordVisible"
                />
                <input
                    type="text"
                    rw-input
                    placeholder="영어, 숫자, 특수문자 조합 8~15자 이내"
                    [(ngModel)]="password"
                    maxlength="15"
                    (keyup.enter)="formCheck() && signInWithEmail()"
                    *ngIf="passwordVisible"
                />
                <img
                    *ngIf="password.length > 0"
                    class="password-icon"
                    src="assets/icons/etc/password-visible.svg"
                    [class.display-block]="passwordVisible"
                    (click)="changePasswordVisible(false)"
                />
                <img
                    *ngIf="password.length > 0"
                    class="password-icon"
                    src="assets/icons/etc/password-invisible.svg"
                    [class.display-block]="!passwordVisible"
                    (click)="changePasswordVisible(true)"
                />
            </div>
            <div class="checkbox-group d-flex justify-content-end align-items-center">
                <rw-checkbox text="이메일 기억하기" [checked]="emailChecked" (click)="toggleRememberMe()"></rw-checkbox>
            </div>

            <rw-button
                #login_button_el
                [height]="'55'"
                [color]="'var(--red)'"
                [disabled]="!formCheck()"
                [loadingName]="'login'"
                (onClick)= "formCheck() && signInWithEmail()"
            >
                <span class="rw-typo-title2-none-color">로그인</span>
            </rw-button>

            <div class="h-line"></div>
            <div class="forgot-password d-flex justify-content-between">
                <div class="rw-typo-bodytext1">비밀번호를 잊으셨나요?</div>
                <div class="rw-typo-bodytext1" [routerLink]="['/auth/forgot-password']">비밀번호 찾기</div>
            </div>
        </div>
    </div>
</div>
