<div class="rw-modal-background" #modalBackgroundElement></div>

<div
    class="rw-modal-wrapper justify-content-center align-items-center"
    (mouseup)="!isMouseModalDown && onCancel()"
    (mousedown)="resetMouseModalDown()"
    #modalWrapperElement
>
    <div class="rw-modal user-select-none" (mousedown)="onMouseModalDown(); $event.stopPropagation()">
        <div class="header">
            <span class="rw-typo-bodytext0">회원 검색</span>
            <div class="l-close" (click)="onCancel()">
                <img src="assets/icons/etc/close.svg" />
            </div>
        </div>
        <div class="member-list thin-scroll-y-overlay">
            <form class="input-container">
                <input
                    class="rw-input"
                    type="text"
                    placeholder="회원의 이름 또는 전화번호를 검색해주세요."
                    [formControl]="memberSearchInput"
                />
                <img src="assets/icons/etc/search.svg" />
            </form>

            <ng-template #users_o [ngIf]="centerUsers.length > 0" [ngIfElse]="users_x">
                <div *ngFor="let item of centerUsers; let i = index" class="member-card" (click)="onConfirm(item)">
                    <div class="card-left">
                        <rw-avatar
                            [image]="item.picture"
                            [text]="item.name"
                            [backgroundColor]="item.color"
                            size="45"
                            fontSize="12"
                        ></rw-avatar>
                        <div class="left-texts">
                            <p class="rw-typo-bodytext0-bold">{{ item.name }}</p>
                            <p class="rw-typo-subtext1">{{ item.phone_number | phoneNumber }}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #users_x>
                <div class="empty-guide">
                    <img src="assets/icons/etc/empty_screen.svg" class="top-image" />
                    <p class="rw-typo-subtext0-regular grey">검색하신 회원을 찾을 수 없습니다.</p>
                    <p class="rw-typo-subtext0-regular grey">검색어를 다시 확인해주세요!</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
