* {
    padding: 0;
    margin: 0;
}

:host {
    height: 100%;
}

.message {
    height: 100%;
    padding: 35px;

    .header {
        display: flex;
        align-items: center;
        justify-content:  space-between;
        border-bottom: 1px solid var(--border-color);
        height: 58px;

        width: 100%;
        padding-bottom: 15px;
        margin-bottom: 14px;

        .header-text {
            display: flex;
            align-items: baseline;
            .title {
                margin-right: 6px;
            }
            .title-desc {
                color: var(--font-color);
            }
        }

    }
}