<section #message class="message">
    <header class="header">
        <div class="header-text">
            <span class="title rw-typo-headline1">문자</span>
            <span class="title-desc rw-typo-subtext1">남은 포인트 : {{smsPoint$ | async}}p (단문 {{'00'}}건 / 장문 {{'00'}}건)</span>
            <div class="help-icon">
                <div class="help">
                    <div class="help-text-container">
                        <div class="help-text">
                            <div class="help-text-title">문자 포인트 이용 안내</div>
                            <div class="help-text-content">
                                <div class="rw-typo-bodytext2">
                                    <p>01</p>
                                    <div class="help-text-item">
                                        <span>단문 : 건당 11원 최대</span>
                                        <span>90byte까지 입력 가능하며,</span>
                                        <span>국문 기준 약 40~45자 입력 가능해요.</span>
                                    </div>
                                </div>
                                <div class="rw-typo-bodytext2">
                                    <p>02</p>
                                    <div class="help-text-item">
                                        <span>장문 : 건당 33원</span>
                                        <span>최대 2,000byte까지 입력 가능하며,</span>
                                        <span>국문 기준 약 1,000자 입력 가능해요.</span>
                                    </div>
                                </div>
                                <div class="rw-typo-bodytext2">
                                    <p>03</p>
                                    <div class="help-text-item">
                                        <span>포인트가 부족한 경우, 일반 문자 및</span>
                                        <span>자동 문자 발송이 제한됩니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="l-message-route d-flex align-items-center">
            <div class="message-route rw-typo-title1" [class.selected] = "smsType == 'general'" (click)="setSMSType('general')">
                일반 전송
                <div class="under-bar"></div>
            </div>
            <div class="message-route rw-typo-title1" [class.selected] = "smsType == 'auto-transmission'" (click)="setSMSType('auto-transmission')">
                자동 전송
                <div class="under-bar"></div>
            </div>
            <div class="message-route  rw-typo-title1" [class.selected] = "smsType == 'history'" (click)="setSMSType('history')">
                전송 내역
                <div class="under-bar"></div>
            </div>
        </div>
    </header>

    <article class="content-container thin-scroll-y">
        <div *ngIf="smsType == 'general'" class="l-message">
            <msg-member-list
                [usersLists]="usersLists$ | async"
                [usersSelectCateg]="usersSelectCateg$ | async"
                [selectedUserList]="selectedUserList$ | async"
                [searchedUsersLists]="searchedUsersLists$ | async"
                [selectedUserListsSelected]="selectedUserListSelected$ | async"
                [isLoading]="isLoading$ | async"
            ></msg-member-list>
            <div class="general-right">
                <div class="general-right__header rw-typo-title1 ">
                    내용 작성
                </div>
                <div class="general-right__content">
                    <msg-text-field
                        [callerList]="(callerList$ | async)"
                        [text]="(generalText$ | async)"
                        [textByte]="generalTextByte"
                        (textChange)="updateGeneralText($event)"
                        (onSelectChange)="onGeneralCallerChange($event)"
                    ></msg-text-field>
                    <div class="general-setting-box">
                        <div class="setting-transmission-time">
                            <p class="rw-typo-subtext1 ">전송 시점</p>
                            <div class="d-flex align-items-center">
                                <rw-radio-button
                                    [checked]="generalTransmissionTime.immediate"
                                    [text] = "'즉시 전송'"
                                    [textSize]="'14'"
                                    (click)="onGeneralTransmissionTimeClick('immediate')"
                                ></rw-radio-button>
                                <rw-radio-button
                                    [checked]="generalTransmissionTime.book"
                                    [text] = "'예약 전송'"
                                    [textSize]="'14'"
                                    (click)="onGeneralTransmissionTimeClick('book')"
                                ></rw-radio-button>
                            </div>
                            <div class="l-booking-setting" *ngIf="this.generalTransmissionTime.book">
                                <div class="booking-setting-item">
                                    <p class="rw-typo-subtext1">일자</p>
                                    <div
                                        class="date-picker rw-typo-bodytext0"
                                        (rwClickOutside)="closeBookDate()"
                                        (click)="toggleBookDate()"
                                    >
                                        {{bookDateText}}
                                        <db-datepicker
                                            *ngIf="showBookDate"
                                            mode="date"
                                            [(data)] = "bookDate"
                                            (dataChange)="onBookDateChange($event)"
                                        ></db-datepicker>
                                    </div>
                                </div>
                                <div class="booking-setting-item">
                                    <p class="rw-typo-subtext1">시각</p>
                                    <rw-time-picker2
                                        [width]="'222'"
                                        [textAlign]="'start'"
                                        [time]="bookTime"
                                        (onTimeClick)="onBookTimeClick($event)"
                                    ></rw-time-picker2>
                                </div>
                            </div>
                        </div>
                        <div class="deduction-box">
                            <p class="rw-typo-bodytext0-bold ">{{subtractPoint}}p 차감 예정</p>
                            <p class="rw-typo-bodytext2-regular_darkgrey ">수신자 {{selectedUserListSelected$ | async}}명 * {{subtractText}}</p>
                            <ng-container *ngIf="!isPointEnough">
                                <div class="rw-typo-subtext0-regular error">
                                    <span class="error-icon"></span>
                                    보유한 포인트가 차감 예정 포인트보다<br>
                                    적어서 문자를 전송할 수 없어요.
                                </div>
                            </ng-container>
                        </div>
                        <rw-button
                            [color]="'var(--red)'"
                            [fontColor]="'var(--white)'"
                            [disabled]="!isMsgAbleToBeSent"
                            (click)="isMsgAbleToBeSent && openTransmitMsgModal()"
                        >
                            문자 전송하기
                        </rw-button>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="smsType == 'auto-transmission'" class="l-message">
            <div class="l-message__ticket">
                <p class="rw-typo-title1">회원권 만기 문자</p>
                <div class="message__ticket">
                    <msg-text-field
                        [callerList]="(callerList$ | async)"
                        [curCaller]="{phone_number: membershipAutoSendSetting.phone_number, verified: true}"
                        [text]="membershipAutoSendSetting.text"
                        [textByte]="0"
                        (textChange)="onMLTextChange($event, 'membership')"
                        (onSelectChange)="onMLCallerChange($event,'membership')"
                    ></msg-text-field>
                    <msg-auto-trans-setting-box
                        [autoTransmitTextObj]="membershipSettingObj"
                        [smsAutoSend]="membershipAutoSendSetting"
                        [smsAutoSendDays]="membershipAutoSendSetting.days"
                        (OnAutoTransmitChange)="updateTransmitChange($event,'membership')"
                        (OnAutoTransmitDayChange)="updateTransmitDay($event, 'membership')"
                        (OnAutoTransmitTimeChange)="updateTransmitTime($event, 'membership')"
                    ></msg-auto-trans-setting-box>
                </div>
            </div>
            <div class="l-message__ticket">
                <p class="rw-typo-title1">락커 만기 문자</p>
                <div class="message__ticket">
                    <msg-text-field
                        [callerList]="(callerList$ | async)"
                        [curCaller]="{phone_number: lockerAutoSendSetting.phone_number, verified: true}"
                        [text]="lockerAutoSendSetting.text"
                        [textByte]="0"
                        (textChange)="onMLTextChange($event, 'locker')"
                        (onSelectChange)="onMLCallerChange($event,'locker')"
                    ></msg-text-field>
                    <msg-auto-trans-setting-box
                        [autoTransmitTextObj]="lockerSettingObj"
                        [smsAutoSend]="lockerAutoSendSetting"
                        [smsAutoSendDays]="lockerAutoSendSetting.days"
                        (OnAutoTransmitChange)="updateTransmitChange($event,'locker')"
                        (OnAutoTransmitDayChange)="updateTransmitDay($event, 'locker')"
                        (OnAutoTransmitTimeChange)="updateTransmitTime($event, 'locker')"
                    ></msg-auto-trans-setting-box>
                </div>

            </div>
        </div>

        <div *ngIf="smsType == 'history'" class="l-message-history">
            <div class="message-history__header">
                <div class="message-history__header-left">
                    <span class="rw-typo-title1">전송 내역</span>
                    <span class="rw-typo-subtext1">3개월이 지난 내역은 자동으로 삭제됩니다.</span>
                </div>
                <msg-transmission-history-date-selector
                    [selectedDate]="selectedHistoryDate"
                    (onChangeDate)="onDateSelected($event)"
                ></msg-transmission-history-date-selector>
            </div>
            <msg-transmission-history-table
                [historyGroupLoading]="(historyGroupLoading$ | async)"
                [historyLoading]="(historyLoading$ | async)"
                [smsHistoryGroupList]="(smsHistoryGroupList$ | async)"
                [smsHistoryList]="(smsHistoryList$ | async)"
                [curHistoryGroup]="(curHistoryGroup$ | async)"
                (onHistoryGroupClick)="onHistoryGroupItemClick($event)"
            ></msg-transmission-history-table>
        </div>
    </article>
</section>


<rw-modal
    [(visible)]="showResetModal"
    [data]="showResetModalData"
    (cancel)="onCancelResetModal()"
    (confirm)="onConfirmResetModal()"
></rw-modal>
<rw-modal
    [(visible)]="showTransmitMsgModal"
    [data]="showTransmitMsgModalData"
    (cancel)="onCancelTransmitMsg()"
    (confirm)="onConfirmTransmitMsg()"
></rw-modal>