<section #message class="message">
    <header class="header">
        <div class="header-text">
            <span class="title rw-typo-headline1">문자</span>
            <span class="title-desc rw-typo-subtext1">남은 포인트 : {{'1,000p'}} (단문 {{'00'}}건 / 장문 {{'00'}}건)</span>
        </div>
        <!--        <div-->
        <!--            *ngIf="showSettingSale"-->
        <!--            class="setting-show-sale-button"-->
        <!--            rw-button-->
        <!--            rwButtonColor="var(&#45;&#45;white)"-->
        <!--            (click)="openSettingShowSaleModal()"-->
        <!--        >-->
        <!--            <img src="assets/icons/header/settings-darkgrey.svg" />-->
        <!--            <span class="rw-typo-bodytext0-bold">매출 공개 설정</span>-->
        <!--        </div>-->
    </header>
</section>