<section #message class="message">
    <header class="header">
        <div class="header-text">
            <span class="title rw-typo-headline1">문자</span>
            <span class="title-desc rw-typo-subtext1">남은 포인트 : {{smsPoint$ | async | numberWithCommas}}P (단문 {{textCountForSMSPoint.short}}건 / 장문 {{textCountForSMSPoint.long}}건)</span>
            <div class="help-icon">
                <div class="help">
                    <div class="help-text-container">
                        <div class="help-text">
                            <div class="help-text-title">문자 포인트 이용 안내</div>
                            <div class="help-text-content">
                                <div class="rw-typo-bodytext2">
                                    <p>01</p>
                                    <div class="help-text-item">
                                        <span>단문 : 건당 11원 최대</span>
                                        <span>90byte까지 입력 가능하며,</span>
                                        <span>국문 기준 약 40~45자 입력 가능해요.</span>
                                    </div>
                                </div>
                                <div class="rw-typo-bodytext2">
                                    <p>02</p>
                                    <div class="help-text-item">
                                        <span>장문 : 건당 33원</span>
                                        <span>최대 2,000byte까지 입력 가능하며,</span>
                                        <span>국문 기준 약 1,000자 입력 가능해요.</span>
                                    </div>
                                </div>
                                <div class="rw-typo-bodytext2">
                                    <p>03</p>
                                    <div class="help-text-item">
                                        <span>포인트가 부족한 경우, 일반 문자 및</span>
                                        <span>자동 문자 발송이 제한됩니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="l-message-route d-flex align-items-center">
            <div class="message-route rw-typo-title1" [class.selected] = "smsType == 'general'" (click)="setSMSType('general')">
                일반 전송
                <div class="under-bar"></div>
            </div>
            <div class="message-route rw-typo-title1" [class.selected] = "smsType == 'auto-transmission'" (click)="setSMSType('auto-transmission')">
                자동 전송
                <div class="under-bar"></div>
            </div>
            <div class="message-route  rw-typo-title1" [class.selected] = "smsType == 'history'" (click)="setSMSType('history')">
                전송 내역
                <div class="under-bar"></div>
            </div>
            <div
                class="charge-point-button rw-typo-bodytext0-darkgrey-bold"
                rw-button
                (click)="toggleChargePointModal()"
            >
                <div class="plus-icon"></div>
                포인트 충전
            </div>
        </div>
    </header>

    <article class="content-container thin-scroll-y">
        <div *ngIf="smsType == 'general'" class="l-message">
            <msg-member-list
                [usersLists]="usersLists$ | async"
                [usersSelectCateg]="usersSelectCateg$ | async"
                [selectedUserList]="selectedUserList$ | async"
                [searchedUsersLists]="searchedUsersLists$ | async"
                [selectedUserListsSelected]="selectedUserListSelected$ | async"
                [isLoading]="isLoading$ | async"
            ></msg-member-list>
            <div class="general-right">
                <div class="general-right__header rw-typo-title1 ">
                    내용 작성
                </div>
                <div class="general-right__content">
                    <msg-text-field
                        [callerList]="(callerList$ | async).callerList"
                        [curCaller]="generalCaller"
                        [text]="(generalText$ | async)"
                        [textByte]="generalTextByte"
                        [errText]="callerListErrText"
                        [showAdditionalText]="generalIsAdSet"
                        [additionalText]="adMegObj"
                        (onAddNumber)="toggleRegisterSenderPhone();setRegisterSenderPhoneType('cover')"
                        (textChange)="updateGeneralText($event)"
                        (onSelectChange)="onGeneralCallerChange($event)"
                    ></msg-text-field>
                    <div class="general-setting-box">
                        <div class="setting-ad-box">
                            <p class="rw-typo-subtext1 ">광고성 문자</p>
                            <div class="d-flex align-items-center">
                                <rw-checkbox
                                    [checked]="generalIsAdSet"
                                    [text]="'광고성 정보가 포함됨'"
                                    [disabled]="(isLoading$ | async) == 'pending'"
                                    (click)="onSetGeneralAdSetClick()"
                                ></rw-checkbox>
                                <div class="ad-text-guide-logo">
                                    <div class="ad-text-guide-box">
                                        <div class="help-text">
                                            <div class="help-text-title">광고 표기 의무 안내</div>
                                            <div class="help-text-content rw-typo-bodytext2">
                                                <p class="text_first">
                                                    광고성 문자 전송 시, 꼭 ‘광고성 정보가 포함됨’에 체크해주세요!
                                                </p>
                                                <p class="text_second">
                                                    정보통신망법 제50조 제4항에 따라 영리 목적의 광고성 정보 전송 시<br>
                                                    수신자의 명시적인 사전 동의를 받아야 하며, 이를 위반할 경우 3천만원<br>
                                                    이하의 과태료가 부과될 수 있습니다.
                                                </p>
                                                <div class="d-flex">
                                                    <div class="l-msg-image">
                                                        <div class="msg-image">
                                                            <div class="msg-image-title rw-typo-subtext0-regular">
                                                                <span class="msg-image-title-icon"></span>
                                                                발신번호
                                                            </div>
                                                            <div class="msg-image-text">
                                                                <div class="rw-typo-subtext0-regular red-box">
                                                                    (광고) 레드웨일
                                                                </div>
                                                                <p class="rw-typo-subtext0-regular plain-box">
                                                                    쉽고 간편한 센터 관리,<br>
                                                                    레드웨일로 시작하세요.
                                                                </p>
                                                                <div class="rw-typo-subtext0-regular red-box">
                                                                    <p>무료거부</p>
                                                                    <p>080-000-0000</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="l-item d-flex flex-column">
                                                        <div class="item rw-typo-bodytext2">
                                                            <p>01</p>
                                                            <div class="help-text-item">
                                                                <span>메시지 맨 앞에 (광고) 표기</span>
                                                                <span class="rw-typo-subtext1">반드시 (광고)로 표기해야 하며,</span>
                                                                <span class="rw-typo-subtext1">(광/고), (광 고), [광고] 등 변칙 금지</span>
                                                            </div>
                                                        </div>
                                                        <div class="item rw-typo-bodytext2">
                                                            <p>02</p>
                                                            <div class="help-text-item">
                                                                <span>업체명/서비스명과 연락처 표기</span>
                                                            </div>
                                                        </div>
                                                        <div class="item rw-typo-bodytext2">
                                                            <p>03</p>
                                                            <div class="help-text-item">
                                                                <span>무료수신거부 방법 표기</span>
                                                            </div>
                                                        </div>
                                                        <div class="item rw-typo-bodytext2">
                                                            <p>04</p>
                                                            <div class="help-text-item">
                                                                <span>수신 거부 요청자에게 결과 통지</span>
                                                                <span class="rw-typo-subtext1">안내 사항 추가 예정</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="setting-transmission-time">
                            <p class="rw-typo-subtext1 ">전송 시점</p>
                            <div class="d-flex align-items-center">
                                <rw-radio-button
                                    [checked]="generalTransmissionTime.immediate"
                                    [text] = "'즉시 전송'"
                                    [textSize]="'14'"
                                    (click)="onGeneralTransmissionTimeClick('immediate')"
                                ></rw-radio-button>
                                <rw-radio-button
                                    [checked]="generalTransmissionTime.book"
                                    [text] = "'예약 전송'"
                                    [textSize]="'14'"
                                    (click)="onGeneralTransmissionTimeClick('book')"
                                ></rw-radio-button>
                            </div>
                            <div class="l-booking-setting" *ngIf="this.generalTransmissionTime.book">
                                <div class="booking-setting-item">
                                    <p class="rw-typo-subtext1">일자</p>
                                    <div
                                        class="date-picker rw-typo-bodytext0"
                                        (rwClickOutside)="closeBookDate()"
                                        (click)="toggleBookDate()"
                                    >
                                        {{bookDateText}}
                                        <db-datepicker
                                            *ngIf="showBookDate"
                                            mode="date"
                                            [(data)] = "bookDate"
                                            (dataChange)="onBookDateChange($event)"
                                        ></db-datepicker>
                                    </div>
                                </div>
                                <div class="booking-setting-item">
                                    <p class="rw-typo-subtext1">시각</p>
                                    <rw-time-picker2
                                        [width]="'222'"
                                        [textAlign]="'start'"
                                        [time]="bookTime"
                                        (onTimeClick)="onBookTimeClick($event)"
                                    ></rw-time-picker2>
                                </div>
                            </div>
                        </div>
                        <div class="deduction-box">
                            <p [class.red]="!isPointEnough" class="rw-typo-bodytext0-bold ">보유한 {{smsPoint$ | async | numberWithCommas}}P 중</p>
                            <p [class.red]="!isPointEnough" class="rw-typo-bodytext0-bold "> <span class="red">{{subtractPoint | numberWithCommas}}P</span> 차감 예정</p>
                            <p class="rw-typo-bodytext2-regular_darkgrey ">수신자 {{selectedUserListSelected$ | async}}명 * {{subtractText}}</p>
                            <ng-container *ngIf="!isPointEnough">
                                <p class="rw-typo-subtext0-regular error">
                                    <span class="error-icon"></span>
                                    보유한 포인트가 차감 예정 포인트보다<br>적어서 문자를 전송할 수 없어요.
                                </p>
                            </ng-container>
                        </div>
                        <rw-button
                            [loadingName]="'send_msg_bt'"
                            [color]="'var(--red)'"
                            [fontColor]="'var(--white)'"
                            [disabled]="!isMsgAbleToBeSent"
                            (click)="isMsgAbleToBeSent && openTransmitMsgModal()"
                        >
                            문자 전송하기
                        </rw-button>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="smsType == 'auto-transmission'" class="l-message">
            <div class="l-message__ticket">
                <p class="rw-typo-title1">회원권 만기 문자</p>
                <div class="message__ticket">
                    <msg-text-field
                        [callerList]="(callerList$ | async).callerList"
                        [curCaller]="{phone_number: membershipAutoSendSetting.phone_number, verified: true}"
                        [text]="membershipAutoSendSetting.text"
                        [textByte]="membershipAutoSendSettingTextByte"
                        [errText]="callerListErrText"
                        (onAddNumber)="toggleRegisterSenderPhone();setRegisterSenderPhoneType('cover')"
                        (textChange)="onMLTextChange($event, 'membership')"
                        (onSelectChange)="onMLCallerChange($event,'membership')"
                    ></msg-text-field>
                    <msg-auto-trans-setting-box
                        [autoTransmitTextObj]="membershipSettingObj"
                        [smsAutoSend]="membershipAutoSendSetting"
                        [smsAutoSendDays]="membershipAutoSendSetting.days"
                        (OnAutoTransmitChange)="updateTransmitChange($event,'membership')"
                        (OnAutoTransmitDayChange)="updateTransmitDay($event, 'membership')"
                        (OnAutoTransmitTimeChange)="updateTransmitTime($event, 'membership')"
                    ></msg-auto-trans-setting-box>
                </div>
            </div>
            <div class="l-message__ticket">
                <p class="rw-typo-title1">락커 만기 문자</p>
                <div class="message__ticket">
                    <msg-text-field
                        [callerList]="(callerList$ | async).callerList"
                        [curCaller]="{phone_number: lockerAutoSendSetting.phone_number, verified: true}"
                        [text]="lockerAutoSendSetting.text"
                        [textByte]="lockerAutoSendSettingTextByte"
                        [errText]="callerListErrText"
                        (onAddNumber)="toggleRegisterSenderPhone();setRegisterSenderPhoneType('cover')"
                        (textChange)="onMLTextChange($event, 'locker')"
                        (onSelectChange)="onMLCallerChange($event,'locker')"
                    ></msg-text-field>
                    <msg-auto-trans-setting-box
                        [autoTransmitTextObj]="lockerSettingObj"
                        [smsAutoSend]="lockerAutoSendSetting"
                        [smsAutoSendDays]="lockerAutoSendSetting.days"
                        (OnAutoTransmitChange)="updateTransmitChange($event,'locker')"
                        (OnAutoTransmitDayChange)="updateTransmitDay($event, 'locker')"
                        (OnAutoTransmitTimeChange)="updateTransmitTime($event, 'locker')"
                    ></msg-auto-trans-setting-box>
                </div>

            </div>
        </div>

        <div *ngIf="smsType == 'history'" class="l-message-history">
            <div class="message-history__header">
                <div class="message-history__header-left">
                    <span class="rw-typo-title1">전송 내역</span>
                    <span class="rw-typo-subtext1">3개월이 지난 내역은 자동으로 삭제됩니다.</span>
                </div>
                <msg-transmission-history-date-selector
                    [selectedDate]="selectedHistoryDate"
                    (onChangeDate)="onDateSelected($event)"
                ></msg-transmission-history-date-selector>
            </div>
            <msg-transmission-history-table
                [historyGroupLoading]="(historyGroupLoading$ | async)"
                [historyLoading]="(historyLoading$ | async)"
                [smsHistoryGroupList]="(smsHistoryGroupList$ | async)"
                [smsHistoryList]="(smsHistoryList$ | async)"
                [curHistoryGroup]="(curHistoryGroup$ | async)"
                (onHistoryGroupClick)="onHistoryGroupItemClick($event)"
            ></msg-transmission-history-table>
        </div>
    </article>
</section>



<rw-modal
    [(visible)]="showTransmitMsgModal"
    [data]="showTransmitMsgModalData"
    (cancel)="onCancelTransmitMsg()"
    (confirm)="onConfirmTransmitMsg()"
></rw-modal>

<msg-charge-point-modal
    [(visible)]="showChargePointModal"
    [blockClickOutside]="true"
    (cancel)="onChargePointCancel()"
    (confirm)="onChargePointChargeConfirm($event)"
></msg-charge-point-modal>

<msg-register-sender-phone-modal
    [(visible)]="showRegisterSenderPhone"
    [type]="registerSenderPhoneType"
    (cancel)="onRegisterSenderPhoneCancel()"
    (confirm)="onRegisterSenderPhoneConfirm($event)"
></msg-register-sender-phone-modal>