* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

.rw-modal-wrapper-show {
    opacity: 1 !important;
}

.register-ml-fullmodal-show {
    opacity: 1 !important;
}

section.register-ml-fullmodal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0;
    // transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    // -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    // -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    // -o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 1010;

    section.register-membership-locker {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color);
        $containerWidth: 844px;
        $header_height: 170px;

        header {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: $header_height;
            background-color: var(--white);
            position: relative;
            padding: 0px 20px;

            .header-text-container {
                width: $containerWidth;
                margin-bottom: 27px;
            }

            .close-button {
                position: absolute;
                top: 36px;
                right: 36px;
            }
        }

        main {
            width: 100%;
            background-color: var(--background-color);

            div.main-wrapper {
                width: 100vw;
                min-width: 884px;
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 35px;

                & article.membership-and-locker{
                    margin-right: 20px;
                    width: 585px;
                    position: relative;
                    .empty-memberhip-card,
                    .empty-locker-card {
                        padding: 17px 20px 20px;
                        width: 585px;
                        height: 136px;
                        box-shadow: 0px 0px 10px #b5b5b51c;
                        border-radius: 7px;
                        background-color: var(--white);

                        & > .title {
                            display: flex;
                            width: 545px;
                            height: 38px;
                            border-bottom: 1px solid var(--border-color);
                            margin-bottom: 21px;
                        }

                        .membership-content,
                        .locker-content {
                            display: flex;
                            cursor: pointer;

                            .card-texts {
                                display: flex;
                                flex-direction: column;
                                width: calc(100% - 48px);
                                margin-left: 12px;

                                .top {
                                    display: flex;
                                    align-items: center;
                                    color: var(--grey);
                                    margin-bottom: 2px;
                                }

                                .bottom {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    & > img {
                                        width: 24px;
                                        height: 24px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }

                    .empty-memberhip-card {
                        margin-bottom: 20px;
                    }

                    .card-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background-color: var(--border-color);

                        & > img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .presence-membership-locker {
                        .membership-locker-buttons {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 20px;

                            .add-membership-ticket-button,
                            .add-locker-button {
                                display: flex;
                                justify-content: space-between;
                                width: 283px;
                                height: 55px;
                                box-shadow: 0px 0px 10px #b5b5b51c;
                                border-radius: 7px;
                                // background-color: var(--white);
                                padding: 16px 22px !important;

                                & img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .window-item {
                            &:not(:last-of-type) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

                & aside.l-payment-information{
                    width: 238px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .payment-information-wrapper {
                        position: sticky;
                        width: 100%;
                        top: 30px;

                        .pay-information {
                            padding: 0px 20px;
                            width: 100%;
                            min-height: 347px;
                            background-color: var(--white);
                            box-shadow: 0px 0px 10px #b5b5b51c;
                            border-radius: 7px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            margin-bottom: 20px;

                            .total-price {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                width: 100%;
                                height: 102px;

                                &-title {
                                    color: var(--darkgrey);
                                }

                                span {
                                    text-align: center;
                                }
                            }

                            .input-list {
                                width: 188px;
                                height: 197px;
                                position: relative;
                                padding: 25px 12px 32px;
                                border-bottom: 1px solid var(--border-color);
                                border-top: 1px solid var(--border-color);

                                &>.input-title {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 100%;
                                    margin-bottom: 16px;
                                    color: var(--grey);

                                    &:not(:first-of-type) {
                                        margin-top: 20px;
                                    }
                                }

                            }

                            .date-text {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 48px;
                                color: var(--grey);
                            }
                        }

                        .register-ml-button {
                            font-weight: 700 !important;
                            font-size: 1.5rem !important;
                            line-height: 22px !important;
                            letter-spacing: -0.225px !important;
                        }

                    }



                }
            }
        }

    }


}