<table class="sale-table" #sale_table>
    <thead [class.drawer-open]="(drawer$ | async).tabName != 'none'">
        <tr class="rw-typo-bodytext0 title">
            <th>날짜</th>

            <th>
                <div>
                    구분
                    <img
                        *ngIf="
                            !(
                                saleData?.length == 0 &&
                                !(
                                    isFiltered.member ||
                                    isFiltered.membershipLocker ||
                                    isFiltered.personInCharge ||
                                    isFiltered.type ||
                                    (isFiltered.product && !isFiltered.member)
                                )
                            ) &&
                            !isTypeOpen &&
                            !isFiltered.type
                        "
                        (click)="toggleType($event); restoreTypeCheckToApplied()"
                        src="assets/icons/etc/filter_white.svg"
                    />
                    <img
                        *ngIf="(!(saleData?.length == 0) && isTypeOpen) || isFiltered.type"
                        (click)="toggleType($event); restoreTypeCheckToApplied()"
                        src="assets/icons/etc/filter_fill_white.svg"
                    />

                    <div
                        *ngIf="isTypeOpen"
                        (rwClickOutside)="closeType(); restoreTypeCheckToApplied()"
                        class="type-dropdown"
                    >
                        <div class="rw-typo-bodytext2-bold title">구분</div>
                        <div class="checkbox-container">
                            <rw-checkbox
                                text="결제"
                                [checked]="typeChecks.cur.payment"
                                (click)="toggleTypeCheckBox('payment')"
                            ></rw-checkbox>
                            <rw-checkbox
                                text="환불"
                                [checked]="typeChecks.cur.refund"
                                (click)="toggleTypeCheckBox('refund')"
                            ></rw-checkbox>
                            <rw-checkbox
                                text="양도"
                                [checked]="typeChecks.cur.transfer"
                                (click)="toggleTypeCheckBox('transfer')"
                            ></rw-checkbox>
                        </div>
                        <div class="button-container">
                            <div
                                class="rw-typo-bodytext2 reset"
                                rw-button
                                rwButtonColor="var(--white)"
                                rwButtonFontColor="var(--grey)"
                                (click)="resetTypeChecBox()"
                            >
                                초기화
                            </div>
                            <div
                                class="rw-typo-bodytext2 search"
                                rw-button
                                rwButtonColor="var(--red)"
                                rwButtonFontColor="var(--white)"
                                [rwButtonDisabled]="
                                    !typeChecks.cur.payment && !typeChecks.cur.refund && !typeChecks.cur.transfer
                                "
                                (click)="applyTypeCheckBox()"
                            >
                                적용하기
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th>
                <div>
                    회원명
                    <img
                        *ngIf="
                            !(
                                saleData?.length == 0 &&
                                !(
                                    isFiltered.member ||
                                    isFiltered.membershipLocker ||
                                    isFiltered.personInCharge ||
                                    isFiltered.type ||
                                    (isFiltered.product && !isFiltered.member)
                                )
                            ) &&
                            !isMemberOpen &&
                            !isFiltered.member
                        "
                        (click)="toggleMember($event); restoreInputToApplied('member')"
                        src="assets/icons/etc/filter_white.svg"
                    />
                    <img
                        *ngIf="(!(saleData?.length == 0) && isMemberOpen) || isFiltered.member"
                        (click)="toggleMember($event); restoreInputToApplied('member')"
                        src="assets/icons/etc/filter_fill_white.svg"
                    />

                    <div
                        *ngIf="isMemberOpen"
                        (rwClickOutside)="closeMember(); restoreInputToApplied('member')"
                        class="member-dropdown"
                    >
                        <div class="rw-typo-bodytext2-bold title">회원명</div>
                        <form class="input-container">
                            <input
                                required
                                class="rw-input"
                                type="text"
                                placeholder="회원명 / 전화번호 검색"
                                rw-autoFocus
                                [(ngModel)]="inputs.member.cur"
                                #member_input="ngModel"
                                (keyup.enter)="applyInput('member'); closeMember()"
                            />
                            <img src="assets/icons/etc/search_grey.svg" />
                        </form>
                        <div class="button-container">
                            <div
                                class="rw-typo-bodytext2 reset"
                                rw-button
                                rwButtonColor="var(--white)"
                                rwButtonFontColor="var(--grey)"
                                (click)="resetInput('member')"
                            >
                                초기화
                            </div>
                            <div
                                class="rw-typo-bodytext2 search"
                                rw-button
                                rwButtonColor="var(--red)"
                                rwButtonFontColor="var(--white)"
                                [rwButtonDisabled]="member_input.invalid"
                                (click)="applyInput('member'); !member_input.invalid && closeMember()"
                            >
                                검색하기
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th>
                <div>
                    상품
                    <img
                        *ngIf="
                            !(
                                saleData?.length == 0 &&
                                !(
                                    isFiltered.member ||
                                    isFiltered.membershipLocker ||
                                    isFiltered.personInCharge ||
                                    isFiltered.type ||
                                    (isFiltered.product && !isFiltered.member)
                                )
                            ) &&
                            !isProductOpen &&
                            !isFiltered.product
                        "
                        (click)="toggleProduct($event); restoreProductCheckToApplied()"
                        src="assets/icons/etc/filter_white.svg"
                    />
                    <img
                        *ngIf="(!(saleData?.length == 0) && isProductOpen) || isFiltered.product"
                        (click)="toggleProduct($event); restoreProductCheckToApplied()"
                        src="assets/icons/etc/filter_fill_white.svg"
                    />

                    <div
                        *ngIf="isProductOpen"
                        (rwClickOutside)="closeProduct(); restoreProductCheckToApplied()"
                        class="type-dropdown"
                    >
                        <div class="rw-typo-bodytext2-bold title">상품</div>
                        <div class="checkbox-container">
                            <rw-checkbox
                                text="회원권"
                                [checked]="productChecks.cur.membership"
                                (click)="toggleProductCheckBox('membership')"
                            ></rw-checkbox>
                            <rw-checkbox
                                text="락커"
                                [checked]="productChecks.cur.locker"
                                (click)="toggleProductCheckBox('locker')"
                            ></rw-checkbox>
                        </div>
                        <div class="button-container">
                            <div
                                class="rw-typo-bodytext2 reset"
                                rw-button
                                rwButtonColor="var(--white)"
                                rwButtonFontColor="var(--grey)"
                                (click)="resetProductChecBox()"
                            >
                                초기화
                            </div>
                            <div
                                class="rw-typo-bodytext2 search"
                                rw-button
                                rwButtonColor="var(--red)"
                                rwButtonFontColor="var(--white)"
                                [rwButtonDisabled]="!productChecks.cur.membership && !productChecks.cur.locker"
                                (click)="applyProductCheckBox()"
                            >
                                적용하기
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th [style.maxWidth.px]="productNameWidth">
                <div>
                    회원권/락커명
                    <img
                        *ngIf="
                            !(
                                saleData?.length == 0 &&
                                !(
                                    isFiltered.member ||
                                    isFiltered.membershipLocker ||
                                    isFiltered.personInCharge ||
                                    isFiltered.type ||
                                    (isFiltered.product && !isFiltered.member)
                                )
                            ) &&
                            !isMembershipLockerOpen &&
                            !isFiltered.membershipLocker
                        "
                        (click)="toggleMembershipLocker($event); restoreInputToApplied('membershipLocker')"
                        src="assets/icons/etc/filter_white.svg"
                    />
                    <img
                        *ngIf="(!(saleData?.length == 0) && isMembershipLockerOpen) || isFiltered.membershipLocker"
                        (click)="toggleMembershipLocker($event); restoreInputToApplied('membershipLocker')"
                        src="assets/icons/etc/filter_fill_white.svg"
                    />

                    <div
                        *ngIf="isMembershipLockerOpen"
                        (rwClickOutside)="closeMembershipLocker(); restoreInputToApplied('membershipLocker')"
                        class="membershipLocker-dropdown"
                    >
                        <div class="rw-typo-bodytext2-bold title">회원권/락커명</div>
                        <form class="input-container">
                            <input
                                required
                                class="rw-input"
                                type="text"
                                placeholder="회원권/락커명 검색"
                                rw-autoFocus
                                [(ngModel)]="inputs.membershipLocker.cur"
                                #membershipLocker_input="ngModel"
                                (keyup.enter)="applyInput('membershipLocker'); closeMembershipLocker()"
                            />
                            <img src="assets/icons/etc/search_grey.svg" />
                        </form>
                        <div class="button-container">
                            <div
                                class="rw-typo-bodytext2 reset"
                                rw-button
                                rwButtonColor="var(--white)"
                                rwButtonFontColor="var(--grey)"
                                (click)="resetInput('membershipLocker')"
                            >
                                초기화
                            </div>
                            <div
                                class="rw-typo-bodytext2 search"
                                rw-button
                                rwButtonColor="var(--red)"
                                rwButtonFontColor="var(--white)"
                                [rwButtonDisabled]="membershipLocker_input.invalid"
                                (click)="
                                    applyInput('membershipLocker');
                                    !membershipLocker_input.invalid && closeMembershipLocker()
                                "
                            >
                                검색하기
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th>
                <div>
                    결제 담당자
                    <img
                        *ngIf="
                            !(
                                saleData?.length == 0 &&
                                !(
                                    isFiltered.member ||
                                    isFiltered.membershipLocker ||
                                    isFiltered.personInCharge ||
                                    isFiltered.type ||
                                    (isFiltered.product && !isFiltered.member)
                                )
                            ) &&
                            !isPersonInChargeOpen &&
                            !isFiltered.personInCharge
                        "
                        (click)="togglePersonInCharge($event); restoreInputToApplied('personInCharge')"
                        src="assets/icons/etc/filter_white.svg"
                    />
                    <img
                        *ngIf="(!(saleData?.length == 0) && isPersonInChargeOpen) || isFiltered.personInCharge"
                        (click)="togglePersonInCharge($event); restoreInputToApplied('personInCharge')"
                        src="assets/icons/etc/filter_fill_white.svg"
                    />

                    <div
                        *ngIf="isPersonInChargeOpen"
                        (rwClickOutside)="closePersonInCharge(); restoreInputToApplied('personInCharge')"
                        class="personInCharge-dropdown"
                    >
                        <div class="rw-typo-bodytext2-bold title">결제 담당자</div>
                        <form class="input-container">
                            <input
                                required
                                class="rw-input"
                                type="text"
                                placeholder="센터 직원명 검색"
                                rw-autoFocus
                                [(ngModel)]="inputs.personInCharge.cur"
                                #personInCharge_input="ngModel"
                                (keyup.enter)="applyInput('personInCharge'); closePersonInCharge()"
                            />
                            <img src="assets/icons/etc/search_grey.svg" />
                        </form>
                        <div class="button-container">
                            <div
                                class="rw-typo-bodytext2 reset"
                                rw-button
                                rwButtonColor="var(--white)"
                                rwButtonFontColor="var(--grey)"
                                (click)="resetInput('personInCharge'); closePersonInCharge()"
                            >
                                초기화
                            </div>
                            <div
                                class="rw-typo-bodytext2 search"
                                rw-button
                                rwButtonColor="var(--red)"
                                rwButtonFontColor="var(--white)"
                                [rwButtonDisabled]="personInCharge_input.invalid"
                                (click)="
                                    applyInput('personInCharge'); !personInCharge_input.invalid && closePersonInCharge()
                                "
                            >
                                검색하기
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th>결제 금액</th>
        </tr>
    </thead>

    <tbody
        *ngIf="
            !(
                isFiltered.member ||
                isFiltered.type ||
                isFiltered.membershipLocker ||
                isFiltered.personInCharge ||
                isFiltered.product
            ) && saleData?.length == 0
        "
        class="none-data-container"
        [class.drawer-open]="(drawer$ | async).tabName != 'none'"
    >
        <img src="assets/icons/etc/empty_screen.svg" />
        <p class="rw-typo-subtext2">회원권 / 락커를 등록하신 후,</p>
        <p class="rw-typo-subtext2">매출 정보를 입력하시면 매출 정보와 통계를</p>
        <p class="rw-typo-subtext2">확인하실 수 있어요!</p>
        <div class="go-lesson-button" (click)="navigateToDashboard()">
            <p>회원권/ 락커 등록하기</p>
            <img src="assets/icons/etc/short_right_arrow_grey.svg" />
        </div>
    </tbody>

    <!-- <tbody
    *ngIf="!(isFiltered.member || isFiltered.type || isFiltered.membershipLocker || isFiltered.personInCharge)
            && saleData?.length == 0 && showEmptyTableFlag == 'reFilter'"
    class="none-data-container"
  >
    <img src="assets/icons/etc/empty_screen.svg" >
    <p class="rw-typo-subtext2-1">설정하신 기간에 발생한 매출이 없습니다.</p>
    <p class="rw-typo-subtext2-1">기간을 다시 설정해주세요.</p>
  </tbody> -->

    <tbody
        *ngIf="
            (isFiltered.member ||
                isFiltered.type ||
                isFiltered.membershipLocker ||
                isFiltered.personInCharge ||
                isFiltered.product) &&
            saleData?.length == 0
        "
        class="none-data-container"
        [class.drawer-open]="(drawer$ | async).tabName != 'none'"
    >
        <img src="assets/icons/etc/empty_screen.svg" />
        <p class="rw-typo-subtext2">검색하신 결과를 찾을 수 없습니다.</p>
        <p class="rw-typo-subtext2">설정하신 필터와 기간을 다시 확인해주세요!</p>
        <div class="go-lesson-button" (click)="resetAllTag()">
            <p>모든 필터 초기화하기</p>
            <img src="assets/icons/etc/short_right_arrow_grey.svg" />
        </div>
    </tbody>

    <tbody
        #sale_table_body
        *ngIf="saleData?.length > 0"
        class="data-container rw-typo-bodytext1 table-scroll-y"
        [class.drawer-open]="(drawer$ | async).tabName != 'none'"
    >
        <tr *ngFor="let item of saleData; index as idx">
            <td>
                {{ item.date | dateFormat: 'YY.MM.DD' }}
            </td>

            <td>{{ item.type_code_name }}</td>

            <td>
                <div class="member-container">
                    <p class="name">{{ item.center_user_name }}</p>
                    <p class="phone rw-typo-subtext0-regular">{{ item.center_user_phone_number | phoneNumber }}</p>
                </div>
            </td>

            <td>{{ item.product_type_code_name }}</td>

            <td [style.maxWidth.px]="productNameWidth">
                <span class="product-name line-ellipsis">
                    {{ item.product_name }}
                </span>
            </td>

            <td>{{ item.responsibility_center_user_name }}</td>

            <td class="rw-typo-bodytext0-bold price">
                <span class="total-price">
                    {{ item | saleTotalPrice }}원
                    <div class="fill-down-icon"></div>
                    <div class="l-price-detail" [class.top] = "saleData.length > 5 && (idx == saleData.length - 1 || idx == saleData.length - 2)">
                        <div class="price-detail">
                            <div class="price-detail-tag rw-typo-subtext3-darkgrey">현금</div>
                            <div class="price-detail-value rw-typo-subtext1">
                                {{ item.type_code == 'payment_type_refund' && item.cash > 0 ? '-' : ''
                                }}{{ item.cash | numberWithCommas }}원
                            </div>
                        </div>
                        <div class="price-detail">
                            <div class="price-detail-tag rw-typo-subtext3-darkgrey">카드</div>
                            <div class="price-detail-value rw-typo-subtext1">
                                {{ item.type_code == 'payment_type_refund' && item.card > 0 ? '-' : ''
                                }}{{ item.card | numberWithCommas }}원
                            </div>
                        </div>
                        <div class="price-detail">
                            <div class="price-detail-tag rw-typo-subtext3-darkgrey">계좌</div>
                            <div class="price-detail-value rw-typo-subtext1">
                                {{ item.type_code == 'payment_type_refund' && item.trans > 0 ? '-' : ''
                                }}{{ item.trans | numberWithCommas }}원
                            </div>
                        </div>
                        <div class="price-detail">
                            <div class="price-detail-tag rw-typo-subtext3-darkgrey">미수</div>
                            <div class="price-detail-value rw-typo-subtext1">
                                {{ item.type_code == 'payment_type_refund' && item.unpaid > 0 ? '-' : ''
                                }}{{ item.unpaid | numberWithCommas }}원
                            </div>
                        </div>
                    </div>
                </span>

            </td>
        </tr>
    </tbody>

    <tfoot [class.is-scrollable]="isScrollableTableBody" *ngIf="saleData?.length > 0">
        <div class="foot">
            <span class="rw-typo-bodytext0-bold cash-title">매출 총 합계</span>
            <div class="cash-container price">
                <span class="rw-typo-title1 total-price">
                    {{ saleStatistics?.total | numberWithCommas }}원
                    <div class="fill-down-icon"></div>
                    <div class="l-price-detail total-top">
                    <div class="price-detail">
                        <div class="price-detail-tag rw-typo-subtext3-darkgrey">현금</div>
                        <div class="price-detail-value rw-typo-subtext1">
                            {{ saleStatistics.cash | numberWithCommas }}원
                        </div>
                    </div>
                    <div class="price-detail">
                        <div class="price-detail-tag rw-typo-subtext3-darkgrey">카드</div>
                        <div class="price-detail-value rw-typo-subtext1">
                            {{ saleStatistics.card | numberWithCommas }}원
                        </div>
                    </div>
                    <div class="price-detail">
                        <div class="price-detail-tag rw-typo-subtext3-darkgrey">계좌</div>
                        <div class="price-detail-value rw-typo-subtext1">
                            {{ saleStatistics.trans | numberWithCommas }}원
                        </div>
                    </div>
                    <div class="price-detail">
                        <div class="price-detail-tag rw-typo-subtext3-darkgrey">미수</div>
                        <div class="price-detail-value rw-typo-subtext1">
                            {{ saleStatistics.unpaid | numberWithCommas }}원
                        </div>
                    </div>
                </div>
                </span>
            </div>
        </div>
    </tfoot>
</table>
