* {
    padding: 0;
    margin: 0;
}

table.sale-table {
    table-layout: fixed;
    word-break: break-all;

    position: relative;
    width: 100%;
    height: calc(100% - 65px);
    border-radius: 5px;
    box-shadow: 0 0 10px #b5b5b545;
    background-color: var(--white);

    overflow: hidden;
    border-collapse: collapse;
    img {
        width: 20px;
        height: 18px;
    }

    thead,
    tbody {
        min-width: 876px;
        @media (min-width: 1440px) {
            min-width: 996px;
        }
        @media (min-width: 1920px) {
            min-width: 1476px;

            &.drawer-open {
                min-width: 1158px;
                th,
                td {
                    &:nth-child(1) {
                        min-width: 146px !important;
                        width: calc(calc(146 / 1158) * calc(100%)) !important;
                        padding-left: 22px !important;
                    }
                    &:nth-child(2) {
                        min-width: 116px !important;
                        width: calc(calc(116 / 1158) * calc(100%)) !important;
                    }
                    &:nth-child(3) {
                        min-width: 150px !important;
                        width: calc(calc(150 / 1158) * calc(100%)) !important;
                    }
                    &:nth-child(4) {
                        min-width: 109px !important;
                        width: calc(calc(109 / 1158) * calc(100%)) !important;
                    }
                    &:nth-child(5) {
                        min-width: 300px !important;
                        width: calc(calc(300 / 1158) * calc(100%)) !important;
                        padding-right: 70px;
                    }
                    &:nth-child(6) {
                        min-width: 176px !important;
                        width: calc(calc(176 / 1158) * calc(100%)) !important;
                    }
                    &:nth-child(7) {
                        min-width: 161px !important;
                        width: calc(calc(161 / 1158) * calc(100%)) !important;
                        padding-right: 83px !important;
                        padding-left: 15px;
                        position: relative;
                        text-align: end;
                    }
                }
            }
        }
    }

    th,
    td {
        text-align: left;
        color: var(--white);

        &:nth-child(1) {
            min-width: 111px;
            width: calc(calc(111 / 876) * calc(100%));
            padding-left: 22px !important;
        }
        &:nth-child(2) {
            min-width: 81px;
            width: calc(calc(81 / 876) * calc(100%));
        }
        &:nth-child(3) {
            min-width: 115px;
            width: calc(calc(115 / 876) * calc(100%));
        }
        &:nth-child(4) {
            min-width: 74px;
            width: calc(calc(74 / 876) * calc(100%));
        }
        &:nth-child(5) {
            min-width: 235px;
            width: calc(calc(235 / 876) * calc(100%));
            padding-right: 35px;
        }
        &:nth-child(6) {
            min-width: 119px;
            width: calc(calc(119 / 876) * calc(100%));
        }
        &:nth-child(7) {
            min-width: 141px;
            width: calc(calc(141 / 876) * calc(100%));
            padding-right: 63px !important;
            padding-left: 24px !important;
            position: relative;
            text-align: end;
        }
        @media (min-width: 1440px) {
            padding-right: 14px;
            &:nth-child(1) {
                min-width: 126px;
                width: calc(calc(126 / 996) * calc(100%));
                padding-left: 22px !important;
            }
            &:nth-child(2) {
                min-width: 96px;
                width: calc(calc(96 / 996) * calc(100%));
            }
            &:nth-child(3) {
                min-width: 130px;
                width: calc(calc(130 / 996) * calc(100%));
            }
            &:nth-child(4) {
                min-width: 89px;
                width: calc(calc(89 / 996) * calc(100%));
            }
            &:nth-child(5) {
                min-width: 260px;
                padding-right: 50px;
                width: calc(calc(260 / 996) * calc(100%));
            }
            &:nth-child(6) {
                min-width: 119px;
                width: calc(calc(134 / 996) * calc(100%));
            }
            &:nth-child(7) {
                min-width: 176px;
                width: calc(calc(176 / 996) * calc(100%));
                padding-right: 83px !important;
                padding-left: 25px !important;
                position: relative;
                text-align: end;
            }
        }
        @media (min-width: 1920px) {
            &:nth-child(1) {
                min-width: 156px;
                width: calc(calc(156 / 1476) * calc(100%));
                padding-left: 22px !important;
            }
            &:nth-child(2) {
                min-width: 126px;
                width: calc(calc(126 / 1476) * calc(100%));
            }
            &:nth-child(3) {
                min-width: 160px;
                width: calc(calc(160 / 1476) * calc(100%));
            }
            &:nth-child(4) {
                min-width: 126px;
                width: calc(calc(126 / 1476) * calc(100%));
            }
            &:nth-child(5) {
                min-width: 367px;
                padding-right: 80px;
                width: calc(calc(367 / 1476) * calc(100%));
            }
            &:nth-child(6) {
                min-width: 240px;
                width: calc(calc(240 / 1476) * calc(100%));
            }
            &:nth-child(7) {
                min-width: 301px;
                width: calc(calc(301 / 1476) * calc(100%));
                padding-right: 223px !important;
                padding-left: 15px !important;
                position: relative;
                text-align: end;
            }
        }
    }

    td {
        color: var(--font-color);
        border-bottom: solid 1px var(--border-color);
        &:nth-child(7) {
            padding-left: 0 !important;
        }
    }

    thead {
        th {
            font-weight: 500 !important;
        }
    }

    thead tr,
    tbody tr {
        display: table;
        width: 100%;
    }

    tr.title {
        height: 45px;
        background-color: #606060;

        & th > div {
            display: flex;
            align-items: center;
            position: relative;
            & > img {
                cursor: pointer;
                margin-left: 3px;
                margin-top: 2px;
            }
        }
    }

    tbody.none-data-container {
        width: 100%;
        height: calc(100% - 45px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;

        & > img {
            width: 40px;
            height: 18px;
            margin-bottom: 15px;
        }
        & > .go-lesson-button {
            width: 170px;
            height: 35px;
            background-color: var(--white);
            border: 1px solid #e9e9e9;
            border-radius: 5px;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1.2rem;
            line-height: 1.42;
            letter-spacing: -0.14px;
            color: var(--grey);
            margin-top: 20px;

            &:hover {
                background-color: #f6f6f6;
            }

            & > img {
                width: 15px;
                height: 15px;
                margin-top: 2.5px;
                margin-left: 3px;
            }
        }
    }

    tbody.data-container {
        width: 100%;
        height: calc(100% - 45px - 64.5px);
        overflow: overlay;
        position: absolute;
        background-color: var(--white);

        tr {
            &:hover {
                background-color: var(--background-color);
                // cursor: pointer
            }
        }

        & > tr {
            height: 70px;

            td {
                padding-top: 12px;
                padding-bottom: 12px;
                //vertical-align: text-top;
                vertical-align: middle;

                .product-name {
                    width: 100%;
                }

                .phone {
                    color: var(--grey);
                }
                .member-container {
                    display: flex;
                    flex-direction: column;

                    .name {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }

    tfoot {
        display: table-caption;
        caption-side: bottom;
        width: 100%;
        height: 65px;
        position: relative;
        &.is-scrollable {
            box-shadow: 0 0 10px rgb(181 181 181 / 30%);
        }
        .foot {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            // padding: 0px 22px 0px 25px;
            background-color: var(--white);

            border-top: 1px solid var(--border-color);
            .cash-title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: 500 !important;
                margin-right: 20px;
            }
            .cash-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                .statistic-detail {
                    display: flex;
                }

                .cash,
                .card,
                .trans,
                .unpaid {
                    display: flex;
                    height: 100%;
                    width: 25%;
                    align-items: center;
                    margin-right: 12px;
                }
                .unpaid {
                    margin-right: 0;
                }

                .type-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    height: 17px;
                    font-size: 1.1rem;
                    line-height: 1.45;
                    letter-spacing: -0.12px;
                    color: var(--font-color);
                    margin-right: 5px;

                    border: 1px solid var(--grey);
                    border-radius: 5px;
                }
            }
        }
    }

    .price {
        font-size: 1.4rem !important;
        position: relative;
        cursor: pointer;
        &:hover {
            .l-price-detail {
                display: flex;
            }
            .fill-down-icon {
                transform: rotateX(180deg);
            }
        }
        .l-price-detail {
            position: absolute;
            top: 24px;
            left: -68px;
            display: none;
            flex-direction: column;
            border: 1px solid #f1f1f1;
            box-shadow: 0 0 10px rgba(181, 181, 181, 0.45);
            padding: 13px;
            border-radius: 5px;
            width: 132px;
            height: 128px;
            background-color: var(--white);
            z-index: 1;

            &.total-top {
                top: auto;
                bottom: 24px;
                left: -52px;
            }
            &.top {
                top: auto;
                bottom: 24px;
            }
            .price-detail {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .price-detail-tag {
                    width: 26px;
                    height: 17px;
                    background: #ffffff;
                    border: 1px solid #c9c9c9;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .price-detail-value {
                    margin-left: 3px;
                }
                &:not(:last-of-type) {
                    margin-bottom: 11px;
                }
            }
        }

        .total-price {
            position: relative;
        }
        .fill-down-icon {
            position: absolute;
            right: -20px;
            top: 0;
            background-image: url('/assets/icons/etc/arrow-down-fill-grey.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            margin-top: 2px;
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
        }
    }
}

.member-dropdown,
.membershipLocker-dropdown,
.personInCharge-dropdown {
    position: absolute !important;
    top: 27px;
    z-index: 2;
    box-shadow: 0 0 10px #b5b5b545;
    width: 258px;
    height: 172px;
    border-radius: 5px;
    padding: 13px 13px 16px;

    display: flex;
    flex-direction: column;
    background-color: var(--white);

    .title {
        width: 100%;
        height: 31.5px;
        display: flex;
        align-items: flex-start !important;
        border-bottom: 1px solid var(--border-color);
        color: var(--darkgrey);
    }
    .input-container {
        margin: 14px 0 18px;
        width: 228px;
        height: 42px;
        position: relative;
        input {
            width: 100%;
            padding: 14px 15px 12px 31px;
            height: 42px !important;
            font-size: 1.3rem;
        }
        & > img {
            position: absolute;
            height: 17px;
            width: 17px;
            border-radius: 3px;
            top: 12.5px;
            left: 10px;
        }
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        // width: 100%;
        width: 228px !important;
        .reset {
            width: 60px;
            height: 38px;
            padding: 13px 5px !important;
            font-weight: 500 !important;
        }
        .search {
            width: 160px;
            height: 38px;
            padding: 13px 5px !important;
        }
    }
}

.type-dropdown {
    position: absolute !important;
    top: 27px;
    z-index: 2;
    box-shadow: 0 0 10px #b5b5b545;
    width: 258px;
    //height: 232px;
    border-radius: 5px;
    padding: 13px 13px 16px;

    display: flex;
    flex-direction: column;
    background-color: var(--white);

    .title {
        width: 100%;
        height: 31.5px;
        display: flex;
        align-items: flex-start !important;
        border-bottom: 1px solid var(--border-color);
    }
    .checkbox-container {
        margin: 15px 0;
        width: 228px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;

        rw-checkbox {
            margin-bottom: 15px;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        // width: 100%;
        width: 228px !important;
        .reset {
            width: 60px;
            height: 38px;
            padding: 13px 5px !important;
        }
        .search {
            width: 160px;
            height: 38px;
            padding: 13px 5px !important;
        }
    }
}

.table-scroll-y {
    overflow-y: overlay;

    /* width */
    &::-webkit-scrollbar {
        height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        background-color: transparent;
        border-radius: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 6px solid transparent;
        background-clip: padding-box;
        background-color: #cfcfcf;
        border-radius: 50px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkgrey);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
