<section class="remove-account-outer-container">
  <div class="remove-account-header-container">
    <img src="assets/images/logo/redwhale-wording-logo-red-small.png" (click)="goRouterLink('/auth/login')">
  </div>
  <div class="remove-account-inner-container">
    <div id="main-title" class="rw-typo-headline1 removed">
      <p>계정 삭제가 완료되었습니다.</p>
    </div>
    <div id="sub-title" class="rw-typo-bodytext1 removed">
      <p>그동안 레드웨일을 이용해주셔서 감사합니다.</p>
      <p>보다 나은 레드웨일로 다시 만나뵐 수 있기를 바랍니다.</p>
    </div>

    <div class='remove-button rw-typo-title2' rw-button rwButtonHeight="55" rwButtonColor="var(--red)"
      (click)="goRouterLink('/auth/login')">
      레드웨일 홈으로 이동
    </div>
  </div>

</section>
