* {
    margin: 0px;
}

$outside_container_width: 415px;

section.remove-account-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    div.remove-account-header-container {
        box-shadow: 0px 0px 6px #acacac29;
        width: 100vw;
        height: 55px;
        display: flex;
        align-items: center;
        padding-left: 18px;
        img {
            cursor: pointer;
        }
    }

    div.remove-account-inner-container {
        position: relative;
        width: $outside_container_width;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;

        div#main-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            &.removed {
                margin-top: 18px;
            }
        }
        div#sub-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 15px;
            &.removed {
                margin-top: 4px;
                margin-bottom: 45px;
            }
        }
        .text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--background-color);
            border-radius: 5px;
            width: 100%;
            height: 128px;
            font-weight: 500;
            text-align: left;
            p {
                margin: 1px;
                padding-left: 18px;
            }
        }

        .remove-input {
            width: 100%;

            p {
                color: var(--grey);
                margin-top: 40px;
                margin-bottom: 5px;
            }
            input {
                width: 100%;
                margin-bottom: 40px;
            }
        }

        div.remove-button {
            width: 100%;
        }
    }
}
