.rw-switch {
    cursor: pointer;

    &.checked {
        .switch .box {
            background-color: var(--red);

            .circle {
                transform: translateX(18px);
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        .text {
            color: var(--lightergrey);
        }

        &:hover {
            opacity: 0.5;
        }
    }

    .switch {
        input {
            all: unset;
        }

        .box {
            position: relative;
            width: 40px;
            height: 22px;
            border-radius: 25px;
            background-color: var(--lightergrey);

            .circle {
                position: absolute;
                top: 4px;
                left: 4px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: var(--white);
                transition: 0.4s;
                -moz-transition: 0.4s;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
            }
        }
    }

    .text {
        margin-left: 8px;
        font-weight: 500;
    }
}
