* {
    padding: 0;
    margin: 0;
    text-align: initial;
}

section.user-detail-membership {
    width: 100%;
    height: calc(100% - 43px);
    position: relative;

    $layout_padding: 0 18px 0 25px;
    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 43px;
        position: relative;
        padding: $layout_padding;
        border-bottom: 1px solid var(--border-color);
    }
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 70px;
            // padding: 0px 13px;
            position: relative;
            padding: 0 25px;

            .border-bottom {
                width: calc(100% - 24px);
                height: 1px;
                border-bottom: 1px solid var(--border-color);
                position: absolute;
                bottom: 0px;
                left: 12px;
            }

            &:hover {
                background-color: var(--background-color);
            }
        }
    }

    .col1 {
        min-width: 153px;
        width: calc(153 / 806) * 100%;
    }

    .col2 {
        min-width: 77px;
        width: calc(77 / 806) * 100%;
    }

    .col3 {
        min-width: 210px;
        width: calc(210 / 806) * 100%;
    }

    .col4 {
        min-width: 137px;
        width: calc(137 / 806) * 100%;
    }

    .col5 {
        padding-right: 0 !important;
        min-width: calc(100% - 153px - 77px - 210px - 137px);
        width: calc(
            100% - (calc(137 / 806) * 100% + calc(77 / 806) * 100% + calc(210 / 806) * 100% + calc(137 / 806) * 100%)
        );
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5 {
        padding-right: 23px;
        &.notification {
            padding-bottom: calc(26px + 2px);
        }
    }

    @media (min-width: 1440px) {
        .col1 {
            min-width: 192px;
            width: calc(192 / 914) * 100%;
        }

        .col2 {
            min-width: 89px;
            width: calc(89 / 914) * 100%;
        }

        .col3 {
            min-width: 222px;
            width: calc(222 / 914) * 100%;
        }

        .col4 {
            min-width: 146px;
            width: calc(146 / 914) * 100%;
        }

        .col5 {
            min-width: calc(100% - 192px - 89px - 222px - 146px);
            width: calc(
                100% -
                    (calc(192 / 914) * 100% + calc(89 / 914) * 100% + calc(222 / 914) * 100% + calc(146 / 914) * 100%)
            );
        }

        .col1,
        .col2,
        .col3,
        .col4 {
            padding-right: 35px;
        }
    }

    @media (min-width: 1920px) {
        .col1 {
            min-width: 320px;
            width: calc(320 / 1319) * 100%;
        }

        .col2 {
            min-width: 124px;
            width: calc(124 / 1319) * 100%;
        }

        .col3 {
            min-width: 257px;
            width: calc(257 / 1319) * 100%;
        }

        .col4 {
            min-width: 184px;
            width: calc(184 / 1319) * 100%;
        }

        .col5 {
            min-width: calc(100% - 320px - 124px - 257px - 184px);
            width: calc(
                100% -
                    (
                        calc(320 / 1319) * 100% + calc(124 / 1319) * 100% + calc(257 / 1319) * 100% + calc(184 / 1319) *
                            100%
                    )
            );
        }

        .col1,
        .col2,
        .col3,
        .col4 {
            padding-right: 70px;
        }

        .drawer-open {
            .col1 {
                min-width: 220px;
                width: calc(220 / 1001) * 100%;
            }

            .col2 {
                min-width: 94px;
                width: calc(94 / 1001) * 100%;
            }

            .col3 {
                min-width: 227px;
                width: calc(227 / 1001) * 100%;
            }

            .col4 {
                min-width: 154px;
                width: calc(154 / 1001) * 100%;
            }

            .col5 {
                min-width: calc(100% - 220px - 94px - 227px - 154px);
                width: 100%;
            }

            .col1,
            .col2,
            .col3,
            .col4 {
                padding-right: 40px;
            }
        }
    }
}
