<section class="user-detail-membership">
    <header class="rw-typo-subtext1">
        <div class="col1">회원권</div>
        <div class="col2">기간</div>
        <div class="col3">잔여일/횟수</div>
<!--        <div class="col4">잔여일/횟수</div>-->
        <div class="col4">예약 가능한 수업</div>
    </header>
    <main class="thin-scroll-y-overlay2">
        <ng-template #membership_emtpy [ngIf]="curUserData.memberships.length == 0" [ngIfElse]="membership_exist">
            <div class="center-empty-guide">
                <img src="assets/icons/etc/empty_screen.svg" />
                <p>아직 등록된 회원권이 없어요.</p>
                <p>회원님에 회원권 / 락커를 등록해주세요!</p>
                <div class="center-empty-button" (click)="onRegisterML.emit()">
                    <p>회원권 / 락커 등록하기</p>
                    <img src="assets/icons/etc/short_right_arrow_grey.svg" />
                </div>
            </div>
        </ng-template>
        <ng-template #membership_exist>
            <db-user-detail-membership-item
                *ngFor="let item of curUserData.memberships"
                [membership]="item"
                (onUpdateInfo)="setSelectedUserMembership(item); toggleModifyMembershipFullModal()"
                (onExtendPeriodCount)="toggleExtensionModal(); setSelectedUserMembership(item)"
                (onHold)="toggleHoldModal(); setSelectedUserMembership(item)"
                (onTransfer)="setSelectedUserMembership(item); toggleShowTransferModal()"
                (onRefund)="setSelectedUserMembership(item); toggleShowRefundModal()"
                (onReRegister)="setSelectedUserMembership(item);"
                (onRemovePayment)="setSelectedUserMembership(item); openRemovePaymentModal() "
                (onRemoveRecord)="setSelectedUserMembership(item); toggleRemoveModal()"
                (onUpdateHolding)="setSelectedUserMembership(item, $event.holdingIdx); toggleUpdateHoldModal($event.holdingIdx)"
                (onRemoveHolding)="setSelectedUserMembership(item, $event.holdingIdx); toggleRemoveHoldingModal()"
            ></db-user-detail-membership-item>
        </ng-template>
    </main>
</section>

<db-membership-extension-modal
    [(visible)]="showExtensionModal"
    [userMembership]="selectedUserMembership"
    (cancel)="toggleExtensionModal()"
    (confirm)="onExtensionConfirm($event)"
></db-membership-extension-modal>

<rw-dashboard-charge-modal
    [(visible)]="showChargeModal"
    [chargeMode]="chargeMode"
    (cancel)="toggleChargeModal()"
    (confirm)="onChargeConfirm($event)"
></rw-dashboard-charge-modal>

<db-hold-modal
    [(visible)]="showHoldModal"
    [userMembership]="selectedUserMembership"
    (confirm)="onHoldConfirm($event)"
    (cancel)="toggleHoldModal()"
></db-hold-modal>

<rw-member-list-modal
    [visible]="showTransferModal"
    [title]="'회원권을 양도받을 회원을 선택해주세요.'"
    [searchPlaceholder]="'회원의 이름 또는 전화번호를 검색해주세요.'"
    (cancel)="toggleShowTransferModal()"
    (confirm)="onTransferMemberConfirm($event)"
></rw-member-list-modal>
<rw-modal
    [(visible)]="showTransferCheckModal"
    [data]="showTransferCheckModalText"
    (cancel)="toggleTransferCheckModal()"
    (confirm)="onConfirmTransferCheck()"
></rw-modal>

<rw-modal
    [(visible)]="showRefundModal"
    [data]="refundModalData"
    (cancel)="toggleShowRefundModal()"
    (confirm)="onConfirmRefund()"
></rw-modal>



<db-modify-membership-fullmodal
    [(visible)]="showModifyMembershipFullModal"
    [userMembership]="selectedUserMembership"
    [centerUser]="curUserData?.user"
    (close)="toggleModifyMembershipFullModal()"
    (confirm)="confirmModifyMembership()"
></db-modify-membership-fullmodal>

<rw-modal
    [(visible)]="showRemoveHoldModal"
    [data]="removeHoldingModalData"
    (cancel)="toggleRemoveHoldingModal()"
    (confirm)="onConfirmRemoveHolding()"
></rw-modal>

<rw-datepick-modal
    [(visible)]="showUpdateHoldModal"
    [datepickInput]="updateHoldDateInput"
    [textData]="updateHoldModalText"
    [mode]="holdMode == 'holdReserved' ? 'start-limited' : 'end-only'"
    (cancel)="hideUpdateHoldModal()"
    (confirm)="onUpdateHoldConfirm($event)"
></rw-datepick-modal>

<db-detail-item-remove-modal
    [(visible)] = "showRemoveModal"
    [userName]="curUserData?.user?.center_user_name"
    [item]="selectedUserMembership"
    [type]="'membership'"
    (cancel) = "toggleRemoveModal()"
    (confirm) = "onConfirmRemove()"
></db-detail-item-remove-modal>

<db-detail-item-remove-modal
    [(visible)] = "showRemovePaymentModal"
    [userName]="curUserData?.user?.center_user_name"
    [item]="selectedUserMembership"
    [type]="'membership'"
    (cancel) = "onRemovePaymentCancel()"
    (confirm) = "onRemovePaymentConfirm()"
></db-detail-item-remove-modal>