* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

article.l-faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    .faq-title {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.225px;
        color: var(--font-color);
        margin: 50px 0 8px;
    }

    hp-faq-list-section {
    }

    .inquiry-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 100px 0 105px;

        width: 312px;
        height: 150px;
        padding: 31px 0 25px 26px;
        border-radius: 10px;
        background-color: #212121;
        margin-top: 70px;

        position: relative;

        .card-title {
            font-size: 1.9rem;
            line-height: 1.47;
            letter-spacing: -0.36px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            color: #ffffff;
            margin-bottom: 10px;
        }

        .crying-icon {
            background-image: url('/assets/homepage/images/question/Crying-Emoji-large.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 160px;
            height: 160px;
            position: absolute;
            bottom: -5px;
            right: -80px;
        }
    }

    .faq-help {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 80px 0 130px;
        width: 302px;

        .title {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 22px;
            letter-spacing: -0.22px;
            color: var(--font-color);
            margin-bottom: 25px;
        }
        .l-help-button {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .help-button {
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: -0.22px;
                color: var(--font-color);
                background-color: var(--white);
                border: 1px solid var(--hp-grey);
                border-radius: 10px;
                width: 145px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &.black {
                    color: var(--white);
                    background-color: var(--font-color);
                    border: none;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .faq-title {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.225px;
            color: var(--font-color);

            margin: 68px 0 7px;
        }

        hp-faq-list-section {
        }

        .inquiry-card {
            width: 460px;
            height: 130px;
            padding: 33px 0 34px 31px;
            border-radius: 15px;
            margin: 115px 0 155px;

            .card-title {
                font-size: 19px;
                line-height: 1.63;
                letter-spacing: -0.36px;

                br {
                    display: none;
                }
            }

            .crying-icon {
                width: 152px;
                height: 152px;
                position: absolute;
                bottom: -12px;
                right: -30px;
            }
        }

        .faq-help {
            flex-direction: row;
            width: 608px;
            justify-content: space-around;
            margin: 80px 0 150px;

            .title {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 23px;
                letter-spacing: -0.256px;
                margin-bottom: 0;
            }
            .l-help-button {
                display: flex;
                justify-content: space-between;
                width: 306px;

                .help-button {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 23px;
                    letter-spacing: -0.256px;
                    width: 147px;
                    height: 47px;
                }
            }
        }
    }
    @media (min-width: 1280px) {
        .faq-title {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.225px;
            color: var(--font-color);
            margin: 170px 0 10px;
        }

        hp-faq-list-section {
        }

        .inquiry-card {
            width: 735px;
            height: 146px;
            padding: 40px 0 40px 35px;
            border-radius: 15px;
            margin: 140px 0 200px;

            .card-title {
                font-size: 2.1rem;
                line-height: 1.48;
                letter-spacing: -0.44px;
            }

            .crying-icon {
                width: 190px;
                height: 190px;
                bottom: -27px;
                right: -37px;
            }
        }

        .faq-help {
            flex-direction: row;
            width: 800px;
            justify-content: space-around;
            margin: 80px 0 250px;

            .title {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 23px;
                letter-spacing: -0.256px;
                margin-bottom: 0;
            }
            .l-help-button {
                display: flex;
                justify-content: space-between;
                width: 362px;

                .help-button {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 23px;
                    letter-spacing: -0.256px;
                    width: 175px;
                    height: 49px;
                }
            }
        }
    }
    @media (min-width: 1440px) {
    }
    @media (min-width: 1920px) {
    }
}
