<div class="drawer">
    <dr-member *ngIf="(drawer$ | async)?.tabName == 'member'"></dr-member>
    <!-- <community *ngIf="(drawer$ | async).tabName == 'community'"></community> -->
    <dr-notification *ngIf="(drawer$ | async)?.tabName == 'notification'"></dr-notification>
    <general-schedule *ngIf="(drawer$ | async).tabName == 'general-schedule'"></general-schedule>
    <lesson-schedule *ngIf="(drawer$ | async).tabName == 'lesson-schedule'"></lesson-schedule>
    <modify-general-schedule *ngIf="(drawer$ | async).tabName == 'modify-general-schedule'"></modify-general-schedule>
    <modify-lesson-schedule *ngIf="(drawer$ | async).tabName == 'modify-lesson-schedule'"></modify-lesson-schedule>
</div>
