<div class="rw-modal-background" #modalBackgroundElement></div>
<div
    class="rw-modal-wrapper justify-content-center align-items-center"
    (mouseup)="!isMouseModalDown && !blockClickOutside && onCancel()"
    (mousedown) = 'resetMouseModalDown()'
    #modalWrapperElement
>
    <div
        class="rw-modal user-select-none"
        (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
    >
        <div class="d-flex flex-column align-items-center">
            <div class="title">
                <span class="rw-typo-title1">출석용 터치패드에 안내할 공지사항을 작성해주세요.</span>
                <span class="rw-typo-subtext1">작성한 내용은 출석 터치패드를 이용하는 회원에게 모두 공개됩니다.</span>
            </div>
            <div
                class="l-textarea"
            >
                <textarea
                    rw-textarea-autoResize
                    placeholder="공지사항 내용을 입력해주세요."
                    class="rw-textarea thin-scroll-y-overlay2"
                    [(ngModel)]="centerNoticeText"
                    (keydown)="limitNoticeTextByte($event)"
                ></textarea>
                <span class="notice-text-byte">{{centerNoticeText.length}} / {{noticeTextMax}}자</span>
            </div>
        </div>
        
        <div class="button-group">
            <div class="cancel" rw-button (click)="onCancel()">닫기</div>
            <rw-button
                #extension_bt
                class="confirm"
                [height]="'49'"
                [color]="'var(--red)'"
                [borderRadius]="'0 0 5px 0'"
                [loadingName]="'setting-notice'"
                (onClick)="onConfirm($event)"
            >
                <span>
                    저장하기
                </span>
            </rw-button>
        </div>
    </div>
</div>
