* {
    padding: 0;
    margin: 0;
    text-align: initial;

    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

br {
    &.mobile {
        display: initial;
    }
    @media (min-width: 760px) {
        &.mobile {
            display: none;
        }
    }
}

article.l-intro-inquiry {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .intro-inquiry-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .intro-inquiry-body__l-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0;

            .title-header {
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: -0.225px;
                color: var(--font-color);
                margin-bottom: 8px;
            }
            .title-content {
                font-weight: 700;
                font-size: 25px;
                line-height: 37px;
                text-align: center;
                letter-spacing: -0.625px;
                color: var(--font-color);
            }
        }
    }

    @media (min-width: 768px) {
        .intro-inquiry-body {
        }
    }
    @media (min-width: 1280px) {
        .intro-inquiry-body {
        }
    }
    @media (min-width: 1440px) {
    }
    @media (min-width: 1920px) {
    }
}
