<article class="l-intro-inquiry">
    <div class="intro-inquiry-body">
        <div class="intro-inquiry-body__l-title">
            <div class="title-header">도입 안내</div>
            <div class="title-content">
                레드웨일 회원가입부터<br class="mobile" />
                결제까지<br class="pad" />
                순서대로<br class="mobile" />
                안내해 드려요.
            </div>
        </div>

        <rw-introduction-guide></rw-introduction-guide>
    </div>

    <div class="intro-inquiry-bottom">
        <rw-free-try-footer></rw-free-try-footer>
        <hp-faq-list></hp-faq-list>
        <hp-homepage-footer></hp-homepage-footer>
    </div>
</article>

<hp-free-start-modal
    [(visible)]="isFreeStartModalVisible"
    (cancel)="onFreeStartCancel()"
    (confirm)="onFreeStartCancel()"
></hp-free-start-modal>
