* {
    padding: 0;
    margin: 0;
    text-align: initial;

    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

br {
    &.mobile {
        display: initial;
    }
    @media (min-width: 760px) {
        &.mobile {
            display: none;
        }
    }
}

article.l-intro-inquiry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .intro-inquiry-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--hp-lighergrey);

        .intro-inquiry-body__l-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0;

            .title-header {
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: -0.225px;
                color: var(--font-color);
                margin-bottom: 8px;
            }
            .title-content {
                font-weight: 700;
                font-size: 25px;
                line-height: 37px;
                text-align: center;
                letter-spacing: -0.625px;
                color: var(--font-color);
            }
        }
    }
    .intro-inquiry-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        hp-faq-list {
            margin: 100px 0 150px;
        }
    }

    @media (min-width: 768px) {
        .intro-inquiry-body {
            .intro-inquiry-body__l-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 68px 0 60px;

                .title-header {
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: -0.26px;
                    color: var(--font-color);
                    margin-bottom: 7px;
                }
                .title-content {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 43px;
                    text-align: center;
                    letter-spacing: -0.9px;
                    color: var(--font-color);
                }
            }
        }
    }
    @media (min-width: 1280px) {
        .intro-inquiry-body {
            .intro-inquiry-body__l-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 113px 0 60px;

                .title-header {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: -0.324px;
                    color: var(--font-color);
                    margin-bottom: 10px;
                }
                .title-content {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 49px;
                    text-align: center;
                    letter-spacing: -1.024px;
                    color: var(--font-color);
                }
            }
        }
    }
    @media (min-width: 1440px) {
    }
    @media (min-width: 1920px) {
    }
}
