<section class="locker">

    <header id="locker-header">
        <div class="header-text">
            <span class="title rw-typo-headline1">락커</span>
            <span class="title-desc rw-typo-subtext1">
                센터 구조에 따라, 자유롭게 락커를 배치하고 한 눈에 관리해보세요.
            </span>
        </div>
    </header>

    <main class="l-main thin-scroll-y">

        <ng-template #loading [ngIf]="(isLoading$ | async) == 'pending'" [ngIfElse]="loading_done">
            <div class="main-left">
                <p class="rw-typo-title1 main-title-margin">
                    락커 상세 정보
                </p>
                <div class="main-left__content">
                    <ngx-skeleton-loader
                        count=1 appearance="line"
                        [theme]="{width:'250px', height: '242px', 'border-radius':'5px'}"
                    ></ngx-skeleton-loader>
                </div>
            </div>
            <div class="main-right">
                <div class="main-right__header main-title-margin">
                    <p class="rw-typo-title1 ">락커</p>
                </div>

                <div class="l-locker">
                    <div class="l-locker__header">
                        <div class="l-locker-category">
                            <ngx-skeleton-loader
                                *ngFor = "let _ of [1,2,3]" count=1 appearance="line"
                                [theme]="{width:'135px', height: '38px', 'border-radius':'5px'}"
                            ></ngx-skeleton-loader>
                        </div>
                        <div class="l-locker-categ-index"></div>
                    </div>
                    <div class="l-locker__section loading-item">
                        <ngx-skeleton-loader
                            *ngFor = "let _ of [1,2,3,4,5]" count=1 appearance="line"
                            [theme]="{width: '65px', 'height': '65px', 'border-radius': '5px'}"
                        ></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #loading_done>
            <div class="main-left">
                <p *ngIf="!isEditMode " class="rw-typo-title1 main-title-margin">
                    락커 상세 정보
                </p>
                <p *ngIf="isEditMode" class="rw-typo-title1 main-title-margin">
                    도움말
                </p>

                <div
                    class="main-left__content"
                    [class.thin-scroll-y] = "isEditMode"
                >
                    <div *ngIf="!isEditMode && !(curLockerItem$ | async)" class="select-locker-guide-box rw-typo-bodytext0">
                        락커를 선택해주세요.
                    </div>

                    <ng-container *ngIf="isEditMode">
                        <rw-locker-tip-dropdown
                            *ngFor="let item of helpTexts"
                            [title]="item.title"
                        >
                            <span class="rw-typo-bodytext1">{{item.text}}</span>
                        </rw-locker-tip-dropdown>
                    </ng-container>

                    <ng-container
                        *ngIf="(curLockerItem$ | async) && !isEditMode"
                    >
                        <!-- <rw-locker-detail-box
                            [lockerItem]="(curLockerItem$ | async)"
                        >
                        </rw-locker-detail-box> -->
                    </ng-container>
                </div>
            </div>

            <div class="main-right">
                <div class="main-right__header main-title-margin">
                    <p class="rw-typo-title1 ">락커</p>
                    <rw-switch
                        [text]="LockerGlobalMode == 'normal' ? '변경 모드 켜기' : '변경 모드 끄기'"
                        [(ngModel)] = "isEditMode"
                        (change)="LockerGlobalMode == 'normal'&& onEditModeChange($event)"
                        [disabled] = "LockerGlobalMode == 'moveLockerTicket' ? true : false"
                    ></rw-switch>
                </div>

                <div class="l-locker">
                    <div class="l-locker__header">
                        <div class="l-locker-category"></div>
                        <div class="l-locker-categ-index"></div>
                    </div>
                    <div class="l-locker__section"></div>
                </div>
            </div>
        </ng-template>

    </main>

</section>
