<section class="locker">

    <header id="locker-header">
        <div class="header-text">
            <span class="title rw-typo-headline1">락커</span>
            <span class="title-desc rw-typo-subtext1">
                센터 구조에 따라, 자유롭게 락커를 배치하고 한 눈에 관리해보세요.
            </span>
        </div>
    </header>

    <main class="l-main thin-scroll-y">
        <div class="main-left">
            <p *ngIf="!isEditMode " class="rw-typo-title1 content-title-margin">
                락커 상세 정보
            </p>
            <p *ngIf="isEditMode" class="rw-typo-title1 content-title-margin">
                도움말
            </p>

            <div
                class="main-left__content"
                [class.thin-scroll-y] = "isEditMode"
            >

            </div>
        </div>

        <div class="main-right">

        </div>
    </main>

</section>
