<section *ngIf="membershipPayment.status == 'modify'" class="membership-ticket-window">
  <div class="rw-typo-title2 window-header">회원권</div>
  <div class="membership-info">
    <span class="rw-typo-subtext0-regular small-title">회원권 기본 정보</span>
    <div class="membership-card">
      <div class="icon">
        <img src="assets/icons/etc/locker-white.svg">
      </div>
      <div class="membership-text">
        <span class="rw-typo-subtext0-regular small-title">{{'membership category 필요'}}</span>
        <span class="rw-typo-title2">{{membershipPayment.item.content_name}}</span>
      </div>
    </div>
  </div>
  <div class="reservable-lessons">
    <span class="rw-typo-subtext0-regular small-title">예약 가능한 수업</span>
    <div class="fake-select">
      <div class="lesson-text">{{membershipPayment.payment.content}}</div>
      <span class="mdi mdi-chevron-down"></span>
    </div>
  </div>
  <div class="datepick-container">
    <div class="date-picker">
      <span class="rw-typo-subtext0-regular small-title">시작일 (변경 불가)</span>
      <div class="date-pick-button disabled">
        {{membershipPayment.item.start_date | dateFormat:'YYYY.MM.DD'}}
      </div>
    </div>
    <div class="date-picker">
      <span class="rw-typo-subtext0-regular small-title">만료일 (변경 불가)</span>
      <div class="date-pick-button disabled">
        <span >{{membershipPayment.item.end_date | dateFormat:'YYYY.MM.DD'}} ({{dayDiff}}일)</span>
      </div>
    </div>
  </div>
  <div class="count-container">
    <span class="rw-typo-subtext0-regular small-title">횟수</span>
    <div class="count">
      <div class="input-container">
        <input type="text" placeholder="0" [(ngModel)]="membershipPayment.item.count" (keyup)="onCountKeyup($event)" class="rw-input" [disabled]="true">
        <div class="input-count" [class.disabled] = "true">회</div>
      </div>
      <div class="checkbox-container">
        <!--not allowed 수정 필요-->
        <rw-checkbox [checked]="false"></rw-checkbox>
        <span class="rw-typo-bodytext1" [style.color]="'var(--grey)'">무제한</span>
      </div>
    </div>
  </div>
  <div class="payment-container">
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">결제 금액</span>
      <div class="input-container">
        <input type="text" placeholder="0" [(ngModel)]="price" (keyup)="onPriceKeyup($event)" class="rw-input">
        <div class="input-count">￦</div>
      </div>
    </div>
    <div class="payment-item">
      <span class="rw-typo-subtext0-regular small-title">결제 담당자</span>
      <rw-ml-staff-selector
        [width] = "'255'"
        [items] = "staffSelect_list"
        [(ngModel)] = "StaffSelectValue"
      ></rw-ml-staff-selector>
    </div>
  </div>

  <div class="delete-save-button">
    <div
      class="save-button"
      rw-button rwButtonColor="var(--font-color)"
      rwButtonFontColor="var(--white)"
      (click)= "statusToDone()"
    >
      저장
    </div>
  </div>
</section>



<section  *ngIf="membershipPayment.status == 'done'" class="membership-ticket-done-card">
  <div class="top">
    <div class="membership-name">
      <div class="icon">
        <img src="assets/icons/etc/ticket-white.svg">
      </div>
      <span class="rw-typo-title2">{{membershipPayment.item.content_name}}</span>
    </div>
    <div
      class="modify-button" rw-button
      rwButtonColor="var(--white)"
      rwButtonFontColor="var(--darkgrey)"
      (click) = "statusToModify()"
    >
      <img src="assets/icons/etc/edit.svg">
      <span class="rw-typo-bodytext2">정보 수정</span>
    </div>
  </div>
  <div class="rw-typo-bodytext0 middle">
    {{membershipPayment.payment.content}} 수업 예약 가능
  </div>
  <div class="bottom">
    <div class="date">
      <span class="rw-typo-subtext0-regular small-title">기간</span>
      <span class="rw-typo-bodytext1">{{membershipPayment.item.start_date}} - {{membershipPayment.item.end_date}} ({{dayDiff}}일)</span>
    </div>
    <div class="count">
      <span class="rw-typo-subtext0-regular small-title">횟수</span>
      <span class="rw-typo-bodytext1">{{membershipPayment.item.infinity_yn ? '무제한' : (membershipPayment.item.count+'회')}}</span>
    </div>
    <div class="pay">
      <span class="rw-typo-subtext0-regular small-title">결제 금액 / 담당자</span>
      <span class="rw-typo-bodytext1">￦{{membershipPayment.item.price ? membershipPayment.item.price : 0}} / {{membershipPayment.item.assignee_name}}</span>
    </div>
  </div>
</section>
