* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

section.user-detail-locker {
    width: 100%;
    height: calc(100% - 43px);
    position: relative;

    $layout_padding: 0 18px 0 25px;

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 43px;
        position: relative;
        padding: $layout_padding;
        border-bottom: 1px solid var(--border-color);
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 70px;
            position: relative;
            padding: 0px 25px;
            position: relative;

            .border-bottom {
                width: calc(100% - 24px);
                height: 1px;
                border-bottom: 1px solid var(--border-color);
                position: absolute;
                bottom: 0px;
                left: 12px;
            }

            &:hover {
                background-color: var(--background-color);
            }
        }
    }

    .col1 {
        min-width: 120px;
        width: calc(120 / 806) * 100%;
    }

    .col2 {
        min-width: 240px;
        width: calc(240 / 806) * 100%;
    }

    .col3 {
        min-width: 227px;
        width: calc(227 / 806) * 100%;
    }

    .col4 {
        padding-right: 0 !important;
        min-width: calc(100% - 120px - 240px - 227px);
        width: 100%; // calc(100% - (calc(120 / 806) * 100% + calc(240 / 806) * 100% + calc(227 / 806) * 100%));
    }

    .col1,
    .col2,
    .col3,
    .col4 {
        padding-right: 40px;
        &.notification {
            padding-bottom: calc(26px + 2px);
        }
    }

    .col-notification {
        display: none;
        align-items: center;
        min-width: calc(100% - 120px - 25px - 13px);
        width: 100%;
        //width: calc(100% - (calc(227 / 806) * 100% - 25px - 13px));
        height: 26px;
        position: absolute;
        background: rgba(201, 107, 18, 0.05);
        border-radius: 5px;
        right: 13px;
        bottom: 8px;

        &.show-notification {
            display: flex;
        }
    }

    @media (min-width: 1440px) {
        .col1 {
            min-width: 170px;
            width: calc(170 / 914) * 100%;
        }

        .col2 {
            min-width: 260px;
            width: calc(260 / 914) * 100%;
        }

        .col3 {
            min-width: 247px;
            width: calc(247 / 914) * 100%;
        }

        .col4 {
            min-width: calc(100% - 170px - 260px - 247px);
            //width: calc(100% - (calc(120 / 806) * 100% + calc(240 / 806) * 100% + calc(227 / 806) * 100%));
        }

        .col-notification {
            min-width: calc(100% - 170px - 25px - 13px);
            //width: calc(100% - (calc(170 / 914) * 100%) - calc(260 / 914) * 100% - 25px - 13px);
        }

        .col1,
        .col2,
        .col3,
        .col4 {
            padding-right: 60px;
        }
    }

    @media (min-width: 1920px) {
        .col1 {
            min-width: 180px;
            width: calc(180 / 1319) * 100%;
        }

        .col2 {
            min-width: 270px;
            width: calc(180 / 1319) * 100%;
        }

        .col3 {
            min-width: 257px;
            width: calc(180 / 1319) * 100%;
        }

        .col4 {
            min-width: calc(100% - 180px - 270px - 257px);
            width: calc(100% - (calc(180 / 1319) * 100% + calc(180 / 1319) * 100%) + calc(180 / 1319) * 100%);
        }

        .col-notification {
            min-width: calc(100% - 180px - 270px - 25px - 13px);
            width: calc(100% - (calc(180 / 1319) * 100% + calc(180 / 1319) * 100%) - 25px - 13px);
        }

        .col1,
        .col2,
        .col3,
        .col4 {
            padding-right: 70px;
        }
    }
}
