<section class="modify-locker-fullmodal-wrapper user-select-none" #modalWrapperElement>
    <section class="modify-locker user-select-none thin-scroll-x-overlay thin-scroll-y">
        <div class="header">
            <div class="header-text-container">
                <p class="rw-typo-headline1 locker-title">
                    [{{ userLocker?.category_name }}] 락커{{ userLocker?.name }}
                </p>
                <p class="rw-typo-headline2">락커 정보를 수정해보세요.</p>
            </div>

            <!--            <div-->
            <!--                class="cg-typo-subtext close-button"-->
            <!--                rw-button-->
            <!--                rwButtonWidth="85"-->
            <!--                rwButtonHeight="40"-->
            <!--                rwButtonBorderColor="var(&#45;&#45;font-color)"-->
            <!--                (click)="exitPage()"-->
            <!--            >-->
            <!--                <span class="mdi mdi-close"></span>-->
            <!--                <span>닫기</span>-->
            <!--            </div>-->
        </div>

        <main>
            <div class="main-inner-container">
                <section class="locker-window">
                    <div class="rw-typo-title2 window-header">락커</div>
                    <div class="locker-info">
                        <span class="rw-typo-subtext0-regular small-title">락커 기본 정보</span>
                        <div class="locker-card">
                            <div class="icon">
                                <img src="assets/icons/etc/locker-white.svg" />
                            </div>
                            <div class="locker-text">
                                <span class="rw-typo-subtext0-regular small-title">{{
                                    userLocker?.category_name
                                }}</span>
                                <span class="rw-typo-title2">락커 {{ userLocker?.name }}</span>
                            </div>

                            <div
                                rw-button
                                rwButtonWidth="94"
                                rwButtonHeight="33"
                                rwButtonBorderColor="var(--font-color)"
                                class="move-button rw-typo-bodytext2-bold"
                                (click)="openMovePlaceModal()"
                            >
                                <div class="move-icon"></div>
                                자리 이동
                            </div>
                        </div>
                    </div>

                    <div class="datepick-container">
                        <div class="date-picker">
                            <span class="rw-typo-subtext0-regular small-title">시작일 (변경 불가)</span>
                            <div class="date-pick-button item-font disabled">
                                {{ date.startDate | dateFormat: 'YYYY.MM.DD' }}
                            </div>
                        </div>
                        <div class="date-picker">
                            <span class="rw-typo-subtext0-regular small-title">만료일</span>
                            <div
                                class="date-pick-button"
                                rw-button
                                rwButtonColor="var(--white)"
                                rwButtonFontColor="var(--font-color)"
                                (click)="onEndDateBtClick($event)"
                            >
                                <span class="item-font" *ngIf="!date.endDate; else showEndDate"
                                    >만료일을 선택해주세요.</span
                                >
                                <ng-template #showEndDate>
                                    <span class="item-font"
                                        >{{ date.endDate | dateFormat: 'YYYY.MM.DD' }} ({{ dayDiff }}일)</span
                                    >
                                </ng-template>
                            </div>
                            <db-datepicker
                                *ngIf="datepickFlag.end"
                                (rwClickOutside)="endDatepickClickOutside($event)"
                                mode="reg-ml"
                                [option]="'limitLooseOnlyEnd'"
                                [(data)]="date"
                                (dataChange)="onDatePickRangeChange($event)"
                            ></db-datepicker>
                        </div>
                    </div>

                    <div class="save-button-container">
                        <rw-button
                            [width]="'96'"
                            [height]="'45'"
                            [color]="'var(--font-color)'"
                            [fontColor]="'var(--white)'"
                            [disabled]="!date.startDate || !date.endDate"
                            (onClick)="confirmModify($event)"
                        >
                            <div class="rw-typo-bodytext0-bold save-button item-font">저장</div>
                        </rw-button>
                    </div>
                </section>
            </div>
        </main>
    </section>
</section>

<db-locker-shift-modal
    [(visible)]="showMovePlaceModal"
    [userLocker]="userLocker"
    [curUser]="centerUser"
    (cancel)="openMovePlaceModal()"
    (confirm)="onConfirmMoveLocker($event)"
></db-locker-shift-modal>
