:host {
    height: 100%;
}

.nav {
    height: 100%;
    box-shadow: 0 0 10px #b5b5b545;
    background-color: var(--white);

    width: 60px;

    .menu {
        height: 60px;
        margin-bottom: 3px;
        background-color: var(--white);
        cursor: pointer;
        position: relative;

        svg {
            width: 28px;
            height: 28px;

            .cls-1 {
                fill: none;
            }

            .cls-2 {
                fill: var(--font-color);
            }
        }

        .msg-len {
            background: var(--red);
            border: 1px solid var(--white);
            border-radius: 11px;
            padding: 0 5px;
            color: var(--white);
            position: absolute;
            min-width: 18px;
            min-height: 18px;
            top: 5px;
            left: 27px;

            font-weight: 500;
            font-size: 1rem;
            line-height: 16px;
            letter-spacing: -0.121px;
        }

        &.selected {
            background-color: var(--red);

            svg {
                .cls-2 {
                    fill: var(--white);
                }
            }

            span {
                color: var(--white);
            }

            .msg-len {
                display: none;
            }

            &:hover {
                background-color: var(--red);
            }
        }

        &:hover {
            background-color: var(--background-color);
        }
    }
}
