* {
    padding: 0px;
    margin: 0px;
}

.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 999;
}

.rw-modal-background-show {
    opacity: 0.3;
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .rw-modal {
        width: 515px;

        border-radius: 6px;
        background-color: var(--white);
        box-shadow: 0 0 10px 0 rgba(181, 181, 181, 0.11);
        opacity: 0;
        transition: opacity 0s;
        position: relative;

        .modal-header {
            width: calc(100% - 24px);
            height: 58px;
            margin: 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 18px;
            position: relative;
            .header-title {
                width: calc(100% - 24px);
                display: flex;
                align-items: center;
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: var(--font-color);
                    margin-right: 10px;
                    & > img {
                        width: 21px;
                        height: 21px;
                    }
                    &.use {
                        background-color: var(--font-color);
                    }
                    &.hold {
                        background-color: #c96b12;
                    }
                    &.finished {
                        background-color: #cfcfcf;
                    }
                }
                .ticket-name {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 365px;
                }
                .status {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--font-color);
                    border-radius: 24px;
                    height: 25px;
                    padding: 3px 8px !important;
                    margin-left: 8px;
                    span {
                        color: var(--font-colr);
                    }
                    &.use {
                        color: var(--font-color);
                        border-color: var(--font-color);
                    }
                    &.hold {
                        color: #c96b12;
                        border-color: #c96b12;
                    }
                    &.finished {
                        color: #cfcfcf;
                        border-color: #cfcfcf;
                    }
                }
            }

            .close-button {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;
                &:hover {
                    background-color: var(--background-color);
                }
                & > img {
                    width: 21px;
                    height: 21px;
                }
            }
        }
        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-height: 365px;
            // padding: 0 22px;

            &.is-hold {
                max-height: 418px;
            }

            .holding-box {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% - 28px);
                min-height: 40px;
                border-radius: 5px;
                background-color: var(--background-color);
                margin-bottom: 14px;
            }

            .content-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: calc(100% - 44px);
                // height: 40px;
                margin-bottom: 20px;

                .content-name {
                    display: flex;
                    color: var(--grey);
                    margin-bottom: 7px;
                }
                .content-value {
                    display: flex;

                    rw-avatar {
                        margin-right: 5px;
                    }
                }
            }

            .reservable-lessons {
                width: calc(100% - 44px);
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                position: relative;
                .content-name {
                    display: flex;
                    color: var(--grey);
                    margin-bottom: 7px;
                }

                .lesson-tags {
                    display: flex;
                    flex-wrap: wrap;
                    .tag-item {
                        display: flex;
                        height: 27px;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 10px;
                        border-radius: 5px;
                        border: 1px solid var(--border-color);
                        margin: 0px 10px 10px 0px;
                    }
                }
            }
        }
        .modal-buttons {
            width: calc(100% - 24px);
            height: 50px;
            display: flex;

            margin: 0 12px;
            align-items: center;
            justify-content: center;
            border-top: 1px solid var(--border-color);

            .holding-button,
            .modify-button {
                width: 50%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: var(--background-color);
                }
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
                &.is-holded {
                    color: var(--lightgrey) !important;
                    cursor: not-allowed;
                    &:hover {
                        background-color: var(--white);
                    }
                }
            }
            .divider {
                width: 1px;
                height: 30px;
                border-right: 1px solid var(--border-color);
                margin: 0px 10px;
            }
        }
        .remove-ticket-button {
            position: absolute;
            bottom: -30px;
            color: var(--white);
            cursor: pointer;
            text-decoration: underline;
            left: calc(50% - 56.75px);
        }
    }
}

.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1;
    }
}
