<div class="rw-modal-background" #modalBackgroundElement></div>

<div class="rw-modal-wrapper justify-content-center align-items-center" (mouseup)="!isMouseModalDown && onCancel()"
  (mousedown)='resetMouseModalDown()' #modalWrapperElement>
  <div class="rw-modal user-select-none" (mousedown)='onMouseModalDown(); $event.stopPropagation()'>

    <div class="modal-header">
      <div class="header-title">
        <div
          class="icon"
          [class.use] = "membershipTicket?.status == 'use'"
          [class.hold] = "membershipTicket?.status == 'holding'"
          [class.finished] = "membershipTicket?.status == 'expired'"
        >
          <img src="assets/icons/etc/ticket-white.svg">
        </div>
        <div class="rw-typo-title2 ticket-name">
          {{membershipTicket?.name}}
        </div>
        <div
          class="status"
          [class.use] = "membershipTicket?.status == 'use'"
          [class.hold] = "membershipTicket?.status == 'holding'"
          [class.finished] = "membershipTicket?.status == 'expired'"
        >
          <span class="rw-typo-bodytext2">{{statusMather[membershipTicket?.status]}}</span>
        </div>
      </div>
      <div class="close-button" (click)="onCancel()">
        <img src="assets/icons/etc/close.svg">
      </div>
    </div>

    <div
      class="modal-content thin-scroll-y-overlay2"
      [class.is-hold] = "membershipTicket?.holding_reservation_days > 0 || membershipTicket?.status == 'holding'"
    >

      <div *ngIf="membershipTicket?.holding_reservation_days > 0" class="holding-box">
        <ng-container *ngIf="membershipTicket?.holding_start_date == membershipTicket?.holding_end_date" >
          {{membershipTicket.holding_reservation_days}}일 후 홀딩 예정 ({{membershipTicket?.holding_start_date | dateFormat:'YYYY.MM.DD'}})
        </ng-container>
        <ng-container *ngIf="membershipTicket?.holding_start_date != membershipTicket?.holding_end_date">
          {{membershipTicket.holding_reservation_days}}일 후 홀딩 예정 ({{membershipTicket?.holding_start_date | dateFormat:'YYYY.MM.DD'}} - {{membershipTicket?.holding_end_date | dateFormat:'YYYY.MM.DD'}})
        </ng-container>

      </div>

      <div *ngIf="membershipTicket?.status == 'holding'" class="holding-box">
        <ng-container *ngIf="membershipTicket?.holding_start_date == membershipTicket?.holding_end_date">
          1일간 홀딩 ({{membershipTicket?.holding_start_date | dateFormat:'YYYY.MM.DD'}})
        </ng-container>
        <ng-container *ngIf="membershipTicket?.holding_start_date != membershipTicket?.holding_end_date">
          {{membershipTicket?.holding_remaining_days}}일간 홀딩 ({{membershipTicket?.holding_start_date | dateFormat:'YYYY.MM.DD'}} - {{membershipTicket?.holding_end_date | dateFormat:'YYYY.MM.DD'}})
        </ng-container>
      </div>

      <div class="content-item">
        <div class="rw-typo-subtext0-regular content-name">기간</div>
        <div class="rw-typo-bodytext0 content-value">
          {{membershipTicket?.start_date}} - {{membershipTicket?.end_date}} ({{date | dayDiff}}일)
        </div>
      </div>
      <div class="content-item">
        <div class="rw-typo-subtext0-regular content-name">잔여기간 / 횟수</div>
        <div *ngIf="membershipTicket?.infinity_yn == 0" class="rw-typo-bodytext0 content-value">
          {{membershipTicket?.remaining_days < 0 ? 0 : membershipTicket?.remaining_days}}일 남음 {{membershipTicket?.remaining_days < 0 ? '(' + -(membershipTicket?.remaining_days-1)+'일 초과)' : ''}}
          / {{membershipTicket?.count}}
        </div>
        <div *ngIf="membershipTicket?.infinity_yn == 1" class="rw-typo-bodytext0 content-value">
          {{membershipTicket?.remaining_days < 0 ? 0 : membershipTicket?.remaining_days}}일 남음 {{membershipTicket?.remaining_days < 0 ? '(' + -(membershipTicket?.remaining_days-1)+'일 초과)' : ''}}
          / 무제한
        </div>
      </div>
      <div class="content-item">
        <div class="rw-typo-subtext0-regular content-name">결제 금액</div>
        <div class="rw-typo-bodytext0 content-value">￦ {{membershipTicket?.price | numberWithCommas}}</div>
      </div>
      <div class="content-item">
        <div class="rw-typo-subtext0-regular content-name">결제 담당자</div>
        <div class="rw-typo-bodytext0 content-value">
          <rw-avatar
            [image]="membershipTicket?.assignee?.picture"
            text="membershipTicket?.assignee?.gym_user_name"
            size="22" fontSize="10"
            backgroundColor="membershipTicket?.assignee?.color"
          ></rw-avatar>
          {{membershipTicket?.assignee?.gym_user_name}}
        </div>
      </div>

      <div class="reservable-lessons">
        <div class="rw-typo-subtext0-regular content-name">예약 가능한 수업</div>
        <div class="lesson-tags">
          <div
            *ngFor = "let lesson of membershipTicket?.lesson_item_list"
            class="tag-item"
          >
            {{lesson.name}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="membershipTicket?.status != 'expired'" class="modal-buttons">
      <div
        class="rw-typo-bodytext0-bold holding-button"
        [class.is-holded] = "membershipTicket?.status == 'holding'"
        (click) = "membershipTicket?.status != 'holding' && onHold()"
      >
        <img *ngIf="membershipTicket?.status != 'holding'" src="assets/icons/etc/holding.svg">
        <img *ngIf="membershipTicket?.status == 'holding'" src="assets/icons/etc/holding_lightgrey.svg">
        {{membershipTicket?.status == 'holding' ? '홀딩중' : '홀딩'}}
      </div>
      <div class="divider"></div>
      <div
        class="rw-typo-bodytext0-bold modify-button"
        (click) = "onModify()"
      >
        <img src="assets/icons/etc/edit.svg"> 회원권 정보 수정
      </div>
    </div>

    <div
      class="remove-ticket-button"
      (click) = "onRemove()"
    >
      해당 회원권 삭제하기
    </div>

  </div>
</div>
