<section
  class="chatting-room-card"
  [class.selected] = "selectedRoom?.id == room?.id"
>

  <div class="left">

    <div class="avatar-container">

      <!-- <img *ngIf="isNoticeRoom == true" src="assets/icons/etc/notice.svg" alt="notice.svg" class="notice"> -->
      <rw-multi-avatar
        [userList]="userList"
      ></rw-multi-avatar>

    </div>

    <div class="card-title">
      <span class="rw-typo-bodytext0-bold">{{room.name}}</span>
    </div>

    <div class="count-container">
      <span *ngIf="room?.type_code == 'chat_room_type_chat_with_me'" class="rw-typo-subtext0-regular me">나</span>
      <span
        *ngIf="(room?.type_code != 'chat_room_type_chat_with_me')
              && (room.chat_room_users.length != 2)"
        class="rw-typo-subtext0-regular group"
      >
        {{room.chat_room_users.length}}
      </span>
    </div>

  </div>

  <div class="right">
    <div
      *ngIf="room.unread_message_count > 0"
      class="rw-typo-subtext3"
      [class.single-badge] = "room.unread_message_count < 10 && room.unread_message_count > 0"
      [class.multi-badge] = "room.unread_message_count > 9"
    >
      {{room.unread_message_count}}
    </div>
  </div>

</section>
