<section
  class="chat-message-user other-msg-type"
  [class.is-sidebar] = "isSidebar"
>
  <div
    class="avatar-container"
  >
    <rw-avatar
      *ngIf="showUserInfo"
      [image] = "message.center_user_picture"
      size="42"
      fontSize="12"
      [text]="message.center_user_name"
      [backgroundColor] = "message.center_user_color"
    ></rw-avatar>
  </div>
  <div
    class="message-container"
  >
    <div
      class="user-information"
      *ngIf="showUserInfo"
    >
      <span class="rw-typo-bodytext0-bold user-name">
        {{message.center_user_name}}
      </span>
      <span class="rw-typo-subtext0-regular created-at">
        {{message.created_at| dateFormat: 'a hh:mm'}}
      </span>
    </div>

    <div class="user-message">
      <ng-content></ng-content>
    </div>
  </div>
</section>

