<div class="locker-detail-box-container" [class.avatar-exit]="lockerItem.user_locker"
    [class.locker-stop]="lockerItem.state_code == 'stop'">
    <div class="locker-detail-box" [class.move-locket-ticket-mode]="lockerGlobalMode == 'moveLockerTicket'">

        <div class="header">
            <div class="top">
                <div class="left">
                    <span class="rw-typo-title1">락커 {{lockerItem?.name}}</span>
                    <div class="locker-state_code rw-typo-bodytext2" [style.borderColor]="statusColor.border"
                        [style.color]="statusColor.font">
                        {{lockerItem.state_code_name}}
                    </div>
                </div>
                <div class="right">
                    <img (click)="!checkMoveLockerTicketMode() && toggleDropdown(); $event.stopPropagation()"
                        src="assets/icons/etc/menu-vertical-grey.svg"
                        [class.move-locket-ticket-mode]="lockerGlobalMode == 'moveLockerTicket'">
                    <div class="dropdown-container rw-typo-subtext0" *ngIf="doDropDownShow">
                        <div class="dropdown " (rwClickOutside)="closeDropdown()" (click)="openShowlockerHistory()">
                            사용 내역
                        </div>
                        <div class="dropdown" *ngIf="!lockerItem.user_locker && lockerItem.state_code != 'stop'"
                            (rwClickOutside)="closeDropdown()" (click)="setLockerUnavailable()">
                            사용 불가 설정
                        </div>
                    </div>

                </div>
            </div>

            <div class="middle">

                <div #avatar0 *ngIf="lockerItem.state_code == 'stop'; else avatar1"></div>

                <ng-template #avatar1>
                    <div *ngIf="willRegisteredMember else avatar2" class="avatar-container">
                        <rw-avatar [image]="willRegisteredMember.picture" [text]="willRegisteredMember.center_user_name"
                            [backgroundColor]="willRegisteredMember.color" size="80" fontSize="18"></rw-avatar>
                        <div class="avatar-texts">
                            <span class="user-name rw-typo-title2">{{willRegisteredMember.center_user_name}}</span>
                        </div>
                    </div>
                </ng-template>

                <ng-template #avatar2>
                    <div class="empty-avatar-container" *ngIf="!lockerItem.user_locker else avatar3">
                        <div class="empty-avatar" (click)="toggleRegisterLockerModal()">
                            <img src="assets/icons/etc/plus-lightgrey.svg">
                        </div>
                        <span class="rw-typo-bodytext2">회원 추가</span>
                    </div>

                </ng-template>

                <ng-template #avatar3>
                    <div *ngIf="lockerItem.user_locker" class="avatar-container">
                        <rw-avatar [image]="lockerItem.user_locker.user.picture"
                            [text]="lockerItem.user_locker.user.name"
                            [backgroundColor]="lockerItem.user_locker.user.color"
                            size="80" fontSize="18"></rw-avatar>
                        <div class="avatar-texts">
                            <span class="user-name rw-typo-title2">{{lockerItem.user_locker.user.name}}</span>
                            <div class="rw-typo-bodytext2 date-remain"
                                [class.date-lm]="(dateRemain >= 0 && dateRemain < 8) || dateRemain < 0"
                                [class.excess]="dateRemain < 0">
                                <span>{{dateRemain | absNumber}}</span>
                                <ng-container *ngIf="dateRemain >= 0 ">
                                    <span>일 남음</span>
                                    <img *ngIf="dateRemain < 8" src="assets/icons/etc/exceed_period.svg">
                                </ng-container>

                                <ng-container *ngIf="dateRemain < 0 ">
                                    <span>일 초과</span>
                                    <img src="assets/icons/etc/exceed_period_red.svg">
                                </ng-container>

                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>

        </div>



        <div *ngIf="lockerItem.state_code != 'stop'" class="footer rw-typo-bodytext2">
            <div class="date-container">

                <div class="date">
                    <span *ngIf="lockerDate.startDate">{{lockerDate.startDate | dashToDot}}</span>
                    <span *ngIf="!lockerDate.startDate">시작일</span>
                    <span> &nbsp;&nbsp;-&nbsp;&nbsp; </span>
                    <div class="end-date" [class.move-locket-ticket-mode]="lockerGlobalMode == 'moveLockerTicket'"
                        (click)="!checkMoveLockerTicketMode() && toggleDoDatePickerShow(); $event.stopPropagation()">
                        <span *ngIf="lockerDate.endDate">{{lockerDate.endDate | dashToDot}}</span>
                        <span
                            *ngIf="lockerDate.startDate && lockerDate.endDate && (lockerItem.state_code =='empty' || dateEditMode)">
                            ({{lockerDateDiff}}일)
                        </span>
                        <span *ngIf="!lockerDate.endDate">만료일</span>
                        <img src="assets/icons/etc/edit-darkgrey.svg">
                    </div>

                </div>

                <div *ngIf="doDatePickerShow" class="datepicker-container" (rwClickOutside)="toggleDoDatePickerShow()">
                    <rw-datepicker *ngIf="dateEditMode" id="register" mode="multiline" [(data)]="lockerDate"
                        [option]="'extend'" (dataChange)="setLockerDate($event)"></rw-datepicker>
                    <rw-datepicker *ngIf="!dateEditMode" mode="multiline" [(data)]="lockerDate" [option]="'register'"
                        (dataChange)="setLockerDate($event)"></rw-datepicker>

                </div>

            </div>
        </div>

    </div>

    <!-- detail box buttons  -->

    <div #buttonBox0 *ngIf="lockerItem.state_code == 'stop' else buttonBox1" class="stop-button" rw-button
        rwButtonFontColor="var(--darkgrey)" rwButtonColor="var(--white)" (click)="toggleShowRestartLockerModal()">
        <img src="assets/icons/etc/release_unavailable.svg">
        <span class="rw-typo-bodytext2">사용 불가 해제</span>
    </div>

    <ng-template #buttonBox1>
        <div *ngIf="willRegisteredMember else buttonBox2" class="register-locker-button rw-typo-bodytext2">
            <div class="cancel" rw-button rwButtonFontColor="var(--grey)" rwButtonColor="transparent"
                (click)="resetRegisterBox()">
                초기화
            </div>
            <div class="modify" rw-button rwButtonFontColor="var(--white)" rwButtonColor="var(--darkgrey)"
                [rwButtonDisabled]="!(lockerDate.startDate && lockerDate.endDate)"
                (click)="(lockerDate.startDate && lockerDate.endDate) && toggleShowChargeModal()">
                등록하기
            </div>
        </div>
    </ng-template>


    <ng-template #buttonBox2>
        <div *ngIf="lockerItem.user_locker && !dateEditMode else buttonBox3"
            class="locker-control-buttons rw-typo-bodytext2">
            <div class="move-place-button"
                [class.move-locket-ticket-mode-button]="lockerGlobalMode == 'moveLockerTicket'" rw-button
                rwButtonColor="var(--white)" (click)="toggleMoveLockerTicketMode()">
                <img *ngIf="lockerGlobalMode != 'moveLockerTicket'" src="assets/icons/etc/change_place.svg">
                <img *ngIf="lockerGlobalMode == 'moveLockerTicket'" src="assets/icons/etc/change_place_red.svg">
                <span>
                    자리 이동
                </span>
            </div>
            <div class="emptying-button" [class.move-locket-ticket-mode]="lockerGlobalMode == 'moveLockerTicket'"
                rw-button rwButtonFontColor="var(--darkgrey)" rwButtonColor="var(--white)"
                (click)="!checkMoveLockerTicketMode() && toggleShowEmptyLockerModal()">
                <img src="assets/icons/etc/clear_locker.svg">
                <span>비우기</span>
            </div>
        </div>
    </ng-template>

    <!--사용중 일 떄 버튼 박스 나중에 사용불가 해제 버튼도 추가하기-->
    <ng-template #buttonBox3>
        <div *ngIf="dateEditMode" class="date-modify-buttons rw-typo-bodytext2">
            <div class="cancel" rw-button rwButtonFontColor="var(--grey)" rwButtonColor="transparent"
                (click)="cancelChangeDate()">
                취소
            </div>
            <div class="modify" rw-button rwButtonFontColor="var(--white)" rwButtonColor="var(--darkgrey)"
                (click)="toggleShowAdditionalChargeModal()">
                변경하기
            </div>
        </div>
    </ng-template>


</div>


<rw-register-locker-modal [(visible)]=doShowRegisterLockerModal (cancel)="closeRegisterLockerModal()"
    (confirm)="onRegisterMemberChoose($event)"></rw-register-locker-modal>

<rw-empty-locker-modal [(visible)]=doShowEmptyLockerModal [lockerItemName]="lockerEmptyTitle"
    (cancel)="closeShowEmptyLockerModal()" (confirm)="onEmptyLockerModaConfirm($event)"></rw-empty-locker-modal>

<rw-modal [(visible)]="doShowRestartLockerModal" [data]="restartLockerText" (cancel)="closeShowRestartLockerModal()"
    (confirm)="setLockerAvailable()"></rw-modal>

<rw-modal [(visible)]="doShowChangeDateModal" [data]="changeDateText" (cancel)="closeShowChangeDateModal()"
    (confirm)="onChangeDateModalConfirm()"></rw-modal>

<rw-modal [(visible)]="doShowMoveLockerTicketModal" [data]="moveLockerTicketText"
    (cancel)="closeShowMoveLockerTicketModal()" (confirm)="moveLockerTicket()"></rw-modal>

<rw-locker-history-modal [(visible)]="doShowlockerHistory" [historyList]="lockerHistoryList"
    [lockerName]="lockerItem.name" (cancel)="closeShowlockerHistory()"></rw-locker-history-modal>

<rw-locker-charge-modal [(visible)]="doShowChargeModal" (cancel)="closeShowChargeModal()"
    (confirm)="registerMember($event)"></rw-locker-charge-modal>

<rw-locker-charge-modal [(visible)]="doShowAdditionalChargeModal" [type]="'modify'"
    (cancel)="closeShowAdditionalChargeModal()" (confirm)="changeDate($event)"></rw-locker-charge-modal>
