<section
    class="fap-list"
    [class.hp-scroll-ani] = "true"
>
    <div
        class="title"
        [class.hp-SA1] = "true"
    >자주 묻는 질문</div>

    <div
        class="l-faq"
        [class.hp-SA2] = "true"
        *ngFor="let faq of faqList; index as idx"
    >
        <div class="faq-header" (click)="toggleFAQ(idx)">
            <span>{{faq.title}}</span>
            <div class="arrow" [class.isOpen]="faq.isOpen"></div>
        </div>
        <div class="faq-body" [class.isOpen] ="faq.isOpen">
            {{faq.desc}}
        </div>
    </div>

    <hp-find-more-button
        [class.hp-SA2] = "true"
        [text]="'더 많은 질문 보기'"
    ></hp-find-more-button>
</section>