* {
    padding: 0px;
    margin: 0px;
}

.rw-select {
    position: relative;
    display: inline-flex;

    .selected {
        height: 50px;
        padding: 15px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background-color: var(--white);
        cursor: pointer;

        .text {
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .mdi {
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
            font-size: 2.2rem;
            color: var(--font-color);
        }
    }

    .open {
        border: 1px solid var(--grey);

        .mdi {
            transform: rotateX(180deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
        }
    }

    .items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 530px;
        height: 330px;
        top: 55px;
        padding: 7px;
        border: 1px solid var(--grey);
        border-radius: 7px;
        background-color: var(--white);
        z-index: 1;

        .card-container {
            display: flex;
            align-items: center;
            height: 60px;
            width: 508px;
            padding: 0px 13px;
            border-bottom: 1px solid var(--border-color);
            position: relative;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: var(--background-color);
            }

            .card-desc-container {
                width: calc(100% - 46px);
                margin-left: 10px;
                .card-title-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .card-title {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 55%;
                    }
                    .card-desc1 {
                        width: 45%;
                        text-align: end;
                    }
                }
            }
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                margin-left: 18px;
                border-radius: 50%;
                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .bar {
                margin: 0px 10px;
                color: var(--border-color);
            }
        }
    }
}
