<div class="rw-modal-background" #modalBackgroundElement></div>
<div
    class="rw-modal-wrapper justify-content-center align-items-center"
    (mouseup)="!isMouseModalDown && onCancel()"
    (mousedown)="resetMouseModalDown()"
    #modalWrapperElement
>
    <div class="rw-modal user-select-none" (mousedown)="onMouseModalDown(); $event.stopPropagation()">
        <div class="header">
            <span class="rw-typo-bodytext0-bold">권한 관리</span>
            <span class="close" (click)="onCancel()"></span>
        </div>
        <div class="body">
            <div class="body-title rw-typo-bodytext0-bold">매출 페이지 조회</div>
            <div class="body-content rw-typo-bodytext0-regular">
                비공개 시, 운영자에게만 매출 페이지가 보여지며<br />
                공개 시, 강사에게도 매출 페이지가 공개돼요.
            </div>
            <div class="show-sale">
                <ng-container *ngFor="let item of permissionObj.instructor">
                    <ng-container *ngFor="let subItem of item.items">
                        <rw-switch
                            *ngIf="subItem.code == 'read_stats_sales'"
                            [text]="subItem.approved ? '강사에게도 매출 공개  🙉' : '강사에게 매출 비공개  🙈'"
                            [(ngModel)]="subItem.approved"
                        ></rw-switch>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="save-button">
            <rw-button
                [width]="'320'"
                [height]="'50'"
                [color]="'var(--red)'"
                [loadingName]="'role-change-button'"
                (onClick)="onSave($event)"
            >
                <div class="button-text">저장하기</div>
            </rw-button>
        </div>
    </div>
</div>
