<section class="l-intro-guide">
    <div id="1" class="l-box">
        <div class="box-index">
            1
            <span id="line1" class="box-index__line"></span>
        </div>
        <div class="box-item">
            <div class="box-title">회원가입 / 로그인</div>
            <div class="box-content box-content--mb">
                [2주 무료 체험하기] 버튼을 눌러<br class="mobile" /><br class="pad" />
                회원가입 및 로그인을<br class="mobile" />
                먼저 진행해 주세요.
            </div>
        </div>
    </div>

    <div id="2" class="l-box">
        <div class="box-index">
            2
            <span id="line2" class="box-index__line"></span>
        </div>
        <div class="box-item">
            <div class="box-title">센터 생성하기</div>
            <div class="box-content box-content--mb">
                [센터 생성] 버튼을 눌러<br class="mobile" />
                본인의 센터를 생성해 주세요.
            </div>
        </div>
    </div>

    <div id="3" class="l-box">
        <div class="box-index">
            3
            <span id="line3" class="box-index__line"></span>
        </div>
        <div class="box-item">
            <div class="clock-img"></div>
            <div class="box-title">무료 체험하기</div>
            <div class="box-content">
                생성한 센터는 2주간<br class="mobile" />
                무료로 이용할 수 있어요.
            </div>
            <div class="divider"></div>
            <div class="l-box-detail">
                <div class="box-detail__top">✋ 잠깐!</div>
                <div class="box-detail__bottom">
                    <div class="text">
                        원활한 서비스 이용을 위해<br class="mobile" />
                        이용 가이드를 따라<br class="mobile" />
                        초기 설정을<br class="pad" />
                        진행해 주세요.
                    </div>
                    <div class="link-text">
                        이용 가이드 보기
                        <div class="arrow-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="4" class="l-box">
        <div class="box-index">
            4
            <span id="line4" class="box-index__line"></span>
        </div>
        <div class="box-item">
            <div class="box-title">서비스 결제하기</div>
            <div class="box-content">
                [결제하기] 버튼을 눌러<br class="mobile" />
                월 / 1년 / 2년 / 평생 이용권 중<br class="mobile" /><br class="pad" />
                하나를 선택하여 결제해 주세요.
            </div>
            <div class="divider"></div>
            <div class="l-box-detail">
                <div class="box-detail__top long">
                    <div class="circle-check-icon"></div>
                    100% 환불 보장
                </div>
                <div class="box-detail__bottom">
                    <div class="text">
                        결제 후 최대 90일까지<br class="mobile" />
                        100% 환불을 보장해 드려요.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="5" class="l-box">
        <div class="box-index">5</div>
        <div class="box-item">
            <div class="box-title">[선택] 회원 정보 이동하기</div>
            <div class="box-content">
                기존 서비스에 등록되어 있는<br class="mobile" />
                회원 정보를 이동하고 싶으신가요?
            </div>
            <div class="divider"></div>
            <div class="l-box-detail">
                <div class="box-detail__top">✋ 잠깐!</div>
                <div class="box-detail__bottom">
                    <div class="text">
                        정확한 상담을 위해<br class="mobile" />
                        ‘회원 정보 이동 신청서’를<br class="mobile" />
                        작성해 주세요.
                    </div>
                    <div (click)="openUri(uriForGoogleForm)" class="link-text">
                        신청서 작성하기
                        <div class="arrow-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
