<div class="member-role-select-container" [class.drawer-mode]="mode == 'drawer'">
  <div
    class="member-role-select"
    [class.open]='visible'
    [class.show-arrow] = "showArrow"
    (click)="emitToggleSelect()"
    (rwClickOutside)="emitClose()"
  >
    <span class="rw-typo-bodytext0-regular">{{roleNameObj[member.role_code]}}</span>
    <!-- <img class="mdi" *ngIf="showArrow" src="assets/icons/etc/arrow-down-fill-grey.svg"> -->
    <span *ngIf="showArrow" class="mdi mdi-menu-down"></span>
  </div>
  <div *ngIf="visible" class="role-dropdown" (click)="$event.stopPropagation()">
    <div class="dropdown-title">권한 변경</div>
    <div *ngIf="employeeRole == 'owner'" class="transfer-admin">
      <rw-radio-button text="운영자 양도" textSize="13" [checked]="userRole.owner"
        (click)="emitSetUserRole('owner')"></rw-radio-button>
    </div>

    <div
      *ngIf="employeeRole == 'owner' || employeeRole == 'instructor'"
      class="manager"
    >
      <rw-radio-button text="강사" textSize="13" [checked]="userRole.instructor" (click)="emitSetUserRole('instructor')">
      </rw-radio-button>
    </div>
    <div class="member">
      <rw-radio-button text="회원" textSize="13" [checked]="userRole.member" (click)="emitSetUserRole('member')">
      </rw-radio-button>
    </div>

    <div class="save" (click)="emitSaveRole(); $event.stopPropagation()">
      <span class="rw-typo-bodytext2-bold">저장</span>
    </div>

  </div>

</div>
