<div
    class="item"
    [class.isExpired] = "isExpired"
>

    <div rwEllipsisDropdown [lineClamp]="2" class="col1 two-line-ellipsis">
        {{membership.name}}
    </div>
    <div class="col2" [class.notification]="isHolding">
        {{membership.start_date | dateFormat:'YYYY.MM.DD'}} - {{membership.end_date | dateFormat:'YYYY.MM.DD'}} ({{membership.start_date | period : membership.end_date}}일)
    </div>
    <!-- <div class="col3" [class.notification]="isHolding">
        {{restDate}}일 / {{membership.unlimited ? '무제한' : membership.count < 1 || isExpired ? 0 : membership.count + '회' }} 남음
    </div> -->
    <div class="col4" [class.notification]="isHolding">
        <!-- <div
            (mousemove)="!isExpired && openShowFullClass()"
            (mouseleave)="!isExpired && closeShowFullClass()"
            class="col4__content"
            [class.pointer-cursor]="!isExpired && showFullClassArrow"
        >
            {{reservableClassText}}
            <div
                *ngIf="showFullClassArrow"
                class="fill-down-icon"
                [class.open]="openFullClass"
            ></div>

            <div *ngIf="openFullClass" class="ellipsis-dropdown">{{reservableClassFullText}}</div>
        </div> -->

        <div class="col4__content">
            {{restDate}}일 / {{membership.unlimited ? '무제한' : membership.count < 1 || isExpired ? 0 : membership.count + '회' }} 남음
        </div>
        <div
            class="col4__menu"
            (click)="toggleMenuDropDown(); "
            (rwClickOutside)="hideMenuDropDown()"
        >
            <div
                class="l-menu-items"
                [class.show-items]="showMenuDropDown"
            >
                <div
                    class="menu-item"
                    *ngFor="let item of menuDropDownItemObj | keyvalue : originalOrder"
                    [ngStyle]="{color: item.value.color}"
                    [class.none] = "!item.value.visible"
                    (click) = "item.value.func()"
                >
                    {{item.value.name}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isExpired && isHolding" class="rw-typo-subtext0-regular col-notification" [class.show-notification]="isHolding">

        <div class="d-flex align-items-center">
            <div class="alert-icon"></div>
            {{membership.pause_start_date | dateFormat:'YYYY.MM.DD'}} - {{membership.pause_end_date | dateFormat:'YYYY.MM.DD'}} ({{membership.pause_start_date | period :
            membership.pause_end_date}}일) {{isHoldingReservaed ? '홀딩 예약' : '홀딩중'}}
        </div>

        <div
            class="notification-menu"
            (click)="toggleNotificationDropDown();"
            (rwClickOutside)="hideNotificationDropDown()"
        >
            <div
                class="l-menu-items"
                [class.show-items]="showNotificationDropDown"
            >
                <div
                    class="menu-item"
                    *ngFor="let item of holdingMenuDropDownItemObj | keyvalue : originalOrder"
                    [ngStyle]="{color: item.value.color}"
                    [class.none] = "!item.value.visible"
                    (click) = "item.value.func()"
                >
                    {{item.value.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>
</div>
