<div class="item" [class.isExpired]="isExpired" [class.drawer-open]="drawerType != 'none'">
    <div rwEllipsisDropdown [lineClamp]="2" class="col1 two-line-ellipsis">
        {{ membership.name }}
    </div>

    <div class="col2">
        {{
            membership.contract_type_code == 'contract_type_new'
                ? '신규 등록'
                : membership.contract_type_code == 'contract_type_renewal'
                ? '재등록'
                : '양도'
        }}
    </div>

    <div class="holding-layout">
        <div class="col-wrapper">
            <div class="col3">
                {{ membership.start_date | dateFormat: 'YYYY.MM.DD' }} -
                {{ membership.end_date | dateFormat: 'YYYY.MM.DD' }} ({{
                    membership.start_date | period: membership.end_date
                }}일)
            </div>
            <div class="col4">
                {{ restDate }}일 /
                {{
                    membership.unlimited
                        ? '무제한'
                        : membership.count < 1 || isExpired
                        ? 0
                        : membership.count - membership.used_count - membership.booked_count + '회'
                }}
                남음
            </div>
            <div class="col5">
                <div
                    (mousemove)="!isExpired && openShowFullClass()"
                    (mouseleave)="!isExpired && closeShowFullClass()"
                    class="col5__content"
                    [class.pointer-cursor]="!isExpired && showFullClassArrow"
                >
                    <span>{{ reservableClassText }}</span>
                    <div *ngIf="showFullClassArrow" [class.open]="openFullClass" class="fill-down-icon"></div>
                    <div *ngIf="openFullClass" class="ellipsis-dropdown">{{ reservableClassFullText }}</div>
                </div>

                <div class="col5__menu" (click)="toggleMenuDropDown()" (rwClickOutside)="hideMenuDropDown()">
                    <div class="l-menu-items" [class.show-items]="showMenuDropDown">
                        <div
                            class="menu-item"
                            *ngFor="let item of menuDropDownItemObj | keyvalue: originalOrder"
                            [ngStyle]="{ color: item.value.color }"
                            [class.none]="!item.value.visible"
                            (click)="item.value.func()"
                        >
                            {{ item.value.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="!isExpired && isHolding">
            <div
                *ngFor="let item of membership.holding; let i = index"
                class="rw-typo-subtext0-regular col-notification"
                [class.show-notification]="isHolding"
            >
                <div class="d-flex align-items-center">
                    <div class="alert-icon"></div>
                    {{ item.start_date | dateFormat: 'YYYY.MM.DD' }} -
                    {{ item.end_date | dateFormat: 'YYYY.MM.DD' }} ({{ item.start_date | period: item.end_date }}일)
                    {{ (item.start_date | isAfter) ? '홀딩 예약' : '홀딩중' }}
                </div>

                <div
                    class="notification-menu"
                    (click)="toggleNotificationDropDown(i)"
                    (rwClickOutside)="hideNotificationDropDown(i)"
                >
                    <div class="l-menu-items" [class.show-items]="showNotificationDropDownObj?.[i]">
                        <div
                            class="menu-item"
                            *ngFor="let item of holdingMenuDropDownItemObj | keyvalue: originalOrder"
                            [ngStyle]="{ color: item.value.color }"
                            [class.none]="!item.value.visible"
                            (click)="item.value.func(i)"
                        >
                            {{ item.value.name }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="border-bottom"></div>
</div>
