.item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    // padding: 0px 13px;
    position: relative;
    padding: 15px 25px;

    .border-bottom {
        width: calc(100% - 24px);
        height: 1px;
        border-bottom: 1px solid var(--border-color);
        position: absolute;
        bottom: 0;
        left: 12px;
    }

    &:hover {
        background-color: var(--background-color);
    }
}

.col1 {
    min-width: 153px;
    width: calc(153 / 806) * 100%;
}

.col2 {
    min-width: 77px;
    width: calc(77 / 806) * 100%;
}

.col3 {
    min-width: 210px;
    width: calc(210 / 806) * 100%;
    padding-right: 15px !important;
}

.col4 {
    min-width: 137px;
    width: calc(137 / 806) * 100%;
}

.col5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: calc(100% - 210px - 137px);
    width: calc(
        100% - (calc(153 / 806) * 100% + calc(77 / 806) * 100% + calc(210 / 806) * 100% + calc(137 / 806) * 100%)
    );
    padding-right: 0 !important;
    position: relative;

    div.col5__content {
        display: flex;
        align-items: center;
        position: relative;

        &.pointer-cursor {
            cursor: pointer;
        }

        .fill-down-icon {
            background-image: url('/assets/icons/etc/arrow-down-fill-grey.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            margin-top: 2px;
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;

            &.open {
                transform: rotateX(180deg);
            }
        }

        .ellipsis-dropdown {
            top: 23px;
            z-index: 5;
            max-width: 150px;
            width: 150px;
        }
    }
    div.col5__menu {
        background-image: url('/assets/icons/etc/menu-vertical.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-top: 2px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        &:hover {
            background-image: url('/assets/icons/etc/menu-vertical-grey.svg');
        }

        .l-menu-items {
            display: none;
            flex-direction: column;
            padding: 5px 0;
            background-color: var(--white);
            border-radius: 5px;
            width: 116px;
            position: absolute;
            right: 0;
            top: 22px;
            z-index: 1;
            opacity: 1 !important;

            font-weight: 500;
            font-size: 1.2rem;
            line-height: 17px;
            letter-spacing: -0.144px;
            box-shadow: 0 0 10px rgba(181, 181, 181, 0.1);

            &.show-items {
                display: flex;
            }

            .menu-item {
                padding: 8px 0 8px 17px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }

                &.none {
                    display: none;
                }
            }
        }
    }
}

.holding-layout {
    width: 100% - (calc(214 / 806) * 100%);
    min-width: calc(100% - 214px);
    .col-wrapper {
        display: flex;
        height: 19px;
    }
}

.isExpired {
    cursor: auto !important;

    .col1,
    .col2,
    .col3,
    .col4,
    .col5__content {
        opacity: 0.5;
    }
}

.col1 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
}

.col2,
.col3,
.col4,
.col5 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
}

.col1,
.col2,
.col3,
.col4,
.col5 {
    padding-right: 23px;
    &.notification {
        padding-bottom: calc(26px + 2px);
    }
}

.col-notification {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 26px;
    background: rgba(201, 107, 18, 0.05);
    border-radius: 5px;
    margin-top: 8px;
    //position: absolute;
    //right: 13px;
    //bottom: 8px;

    color: #c96b12 !important;

    &.show-notification {
        display: flex;
        width: 100%;
    }

    .alert-icon {
        background-image: url('/assets/icons/etc/exceed_period_orange.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        margin: 3px 2px 0 5px;
    }

    .notification-menu {
        background-image: url('/assets/icons/etc/menu-vertical-orange.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        margin-right: 2px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        &:hover {
            background-image: url('/assets/icons/etc/menu-vertical-lightorange.svg');
        }

        .l-menu-items {
            display: none;
            flex-direction: column;
            padding: 5px 0;
            background-color: var(--white);
            border-radius: 5px;
            width: 116px;
            position: absolute;
            right: 0;
            top: 22px;
            z-index: 1;
            opacity: 1 !important;

            font-weight: 500;
            font-size: 1.2rem;
            line-height: 17px;
            letter-spacing: -0.144px;

            &.show-items {
                display: flex;
            }

            .menu-item {
                padding: 8px 0 8px 17px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }

                &.none {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .holding-layout {
        width: 100% - (calc(281 / 914) * 100%);
        min-width: calc(100% - 277px);
    }
    .col1 {
        min-width: 192px;
        width: calc(192 / 914) * 100%;
    }

    .col2 {
        min-width: 89px;
        width: calc(89 / 914) * 100%;
    }

    .col3 {
        min-width: 222px;
        width: calc(222 / 914) * 100%;
        padding-right: 15px !important;
    }

    .col4 {
        min-width: 146px;
        width: calc(146 / 914) * 100%;
    }

    .col5 {
        min-width: calc(100% - 222px - 146px);
        width: calc(100% - (calc(222 / 914) * 100% + calc(146 / 914) * 100%));
    }

    .col-notification {
        min-width: calc(100% - 192px - 89px - 25px - 13px);
        //width: calc(100% - (calc(256 / 914) * 100%) - 25px - 13px);
    }
    .col1,
    .col2,
    .col3,
    .col4 {
        padding-right: 35px;
    }
}

@media (min-width: 1920px) {
    .holding-layout {
        width: 100% - (calc(444 / 1319) * 100%);
        min-width: calc(100% - 444px);
    }

    .col1 {
        min-width: 320px;
        width: calc(320 / 1319) * 100%;
    }

    .col2 {
        min-width: 124px;
        width: calc(124 / 1319) * 100%;
    }

    .col3 {
        width: 257px !important;
        min-width: 257px;
        //width: calc(257 / 1319) * 100%;
    }

    .col4 {
        width: 184px !important;
        min-width: 184px;
        padding-right: 20px;
        //width: calc(184 / 1319) * 100%;
    }

    .col5 {
        min-width: calc(100% - 257px - 184px);
        //width: calc(100% - ( calc(257 / 1319) * 100% + calc(184 / 1319) * 100% ));
    }

    .col-notification {
        min-width: calc(100% - 320px - 124px - 25px - 13px);
        width: calc(100% - 320px - 124px - 25px - 13px);
        //width: calc(100% - (calc(386 / 1319) * 100% - calc(109 / 1319) * 100%) - 25px - 13px);
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5 {
        padding-right: 70px;
    }

    //.drawer-open {
    //    .holding-layout {
    //        width: 100% - (calc(314 / 1001) * 100%);
    //        min-width: calc(100% - 314px);
    //    }
    //
    //    .col1 {
    //        min-width: 220px;
    //        width: calc(220 / 1001) * 100%;
    //    }
    //
    //    .col2 {
    //        min-width: 94px;
    //        width: calc(94 / 1001) * 100%;
    //    }
    //
    //    .col3 {
    //        min-width: 227px;
    //        width: calc(227 / 1001) * 100%;
    //    }
    //
    //    .col4 {
    //        min-width: 154px;
    //        width: calc(154 / 1001) * 100%;
    //    }
    //
    //    .col5 {
    //        min-width: calc(100% - 220px - 94px - 227px - 154px);
    //        width: 100%;
    //    }
    //
    //    .col1,
    //    .col2,
    //    .col3,
    //    .col4 {
    //        padding-right: 40px;
    //    }
    //}
}
