<div class="rw-select user-select-none" #selectElement>
  <div
      class="selected rw-typo-bodytext1 d-flex justify-content-center align-items-center"
      [class.open]="isOpen"
      #selectedElement
      (click)="toggle()"
      (rwClickOutside)="close()"
  >
      <span class="text flex-fill" *ngIf="value && selectText == '' ">
        {{value.length == 0
          ? '예약 가능한 수업이 없습니다.' : value.length == 1
          ? value[0].item.name : value[0].item.name+' 외 '+(value.length - 1)+'건'}}
      </span>
      <span class="text flex-fill" *ngIf="selectText != '' ">
        {{selectText}}
      </span>
      <span class="mdi mdi-chevron-down"></span>
  </div>
  <div class="items thin-scroll-y-overlay" #itemsElement (click)="$event.stopPropagation()">
    <div
      class="card-container"
      *ngFor="let v of value; let idx = index"
      (click)="v.selected = !v.selected; onSelect(value)"
    >
      <rw-checkbox [checked]="v.selected" [noOpacity]="true"></rw-checkbox>
      <div
        class="icon"
        [style.backgroundColor] = "v.item.color ? v.item.color : 'var(--border-color)'"
      >
        <img src="assets/icons/etc/workout_white.svg">
      </div>
      <div class="card-desc-container">
        <p class="categ rw-typo-subtext2 ">{{v.item.category_name}}</p>
        <div class="card-title-container rw-typo-title2">
          <p class="card-title">{{v.item.name}}</p>
          <p class="card-desc1 rw-typo-subtext1">
            {{v.item.type == 'group' ? '그룹 수업' : '1:1 수업'}}
            <span class="bar">|</span>
            {{v.item.instructors[0].center_user_name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
