<section class="user-detail-reservation">

    <header class='rw-typo-subtext1'>
        <div class="col1">일시</div>
        <div class="col2">수업</div>
        <div class="col3">강사</div>
        <div class="col4">상태</div>
    </header>

    <main class="thin-scroll-y-overlay2">
        <ng-template
            #reservation_emtpy
            [ngIf] = "curUserData.reservations.length == 0"
            [ngIfElse]="reservation_exist"
        >
            <div class="center-empty-guide">
                <img src="assets/icons/etc/empty_screen.svg">
                <p>아직 예약하신 수업 내역이 없어요.</p>
                <p>회원님에게 회원권 / 락커를 등록해주세요!</p>
                <div class="center-empty-button" (click)="onRegisterML.emit()">
                    <p>회원권 / 락커 등록하기</p>
                    <img src="assets/icons/etc/short_right_arrow_grey.svg">
                </div>
            </div>
        </ng-template>
        <ng-template #reservation_exist>
            <db-user-detail-reservation-item
                *ngFor = "let item of curUserData.reservations"
                [reservation]="item"
            ></db-user-detail-reservation-item>
        </ng-template>
        <!-- <div class="item">
            <div class="col1">2021.08.11 (수) 13:00 - 14:00</div>
            <div class="col2">초급자도 쉽게 따라할 수 있는 초급
            필라테스</div>
            <div class="col3">강신호</div>
            <div class="col4">회원의 예약 취소 기간이 마감됨</div>
            <div class="border-bottom"></div>
        </div>
        <div class="item">
            <div class="col1">회원권 이름 회원권 이름</div>
            <div class="col2">2021.08.10 - 2021.09.10 (30일)</div>
            <div class="col3">999일 / 무제한 남음</div>
            <div class="col4">필라테스 오전 초급반... 외 5개</div>
            <div class="border-bottom"></div>
        </div> -->

    </main>
</section>
