<section class="user-detail-reservation">
    <header class='rw-typo-subtext1'>
        <div class="col1">일시</div>
        <div class="col2">수업</div>
        <div class="col3">강사</div>
        <div class="col4">상태</div>
    </header>
    <main class="thin-scroll-y-overlay2">
        <div class="item">
            <div class="col1">2021.08.11 (수) 13:00 - 14:00</div>
            <div class="col2">초급자도 쉽게 따라할 수 있는 초급
            필라테스</div>
            <div class="col3">강신호</div>
            <div class="col4">회원의 예약 취소 기간이 마감됨</div>
        </div>
        <div class="item">
            <div class="col1">회원권 이름 회원권 이름</div>
            <div class="col2">2021.08.10 - 2021.09.10 (30일)</div>
            <div class="col3">999일 / 무제한 남음</div>
            <div class="col4">필라테스 오전 초급반... 외 5개</div>
        </div>
    </main>
</section>
