* {
    padding: 0;
    margin: 0;
    text-align: initial;
}

section.user-detail-reservation {
    width: 100%;
    height: calc(100% - 43px);
    position: relative;

    $layout_padding: 0 18px 0 25px;

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 43px;
        position: relative;
        padding: $layout_padding;
        border-bottom: 1px solid var(--border-color);

    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 70px;
            position: relative;
            padding: 0 25px;

            .border-bottom {
                width: calc(100% - 24px);
                height: 1px;
                border-bottom: 1px solid var(--border-color);
                position: absolute;
                bottom: 0;
                left: 12px;
            }

            &:hover {
                background-color: var(--background-color);
            }

        }

    }

    .col1 {
        min-width: 210px;
        width: calc(210 / 806) * 100%;
    }

    .col2 {
        min-width: 225px;
        width: calc(225 / 806) * 100%;
    }

    .col3 {
        min-width: 74px;
        width: calc(74 / 806) * 100%;
        padding-right: 30px !important;
    }

    .col4 {
        min-width: calc(100% - 200px - 230px - 74px);
        width: 100%;
        //width: calc(100% - (calc(210 / 806) * 100% + calc(225 / 806) * 100%) + calc(74 / 806) * 100%);
    }

    .col1, .col2, .col3{
        padding-right: 35px;
    }

    @media (min-width: 1440px) {
        .col1 {
            min-width: 220px;
            width: calc(220 / 914) * 100%;
        }

        .col2 {
            min-width: 295px;
            width: calc(295 / 914) * 100%;
        }

        .col3 {
            min-width: 74px;
            width: calc(74 / 914) * 100%;
        }

        .col4 {
            min-width: calc(100% - 220px - 295px - 74px);
            //width: calc(100% - (calc(220 / 914) * 100% + calc(295 / 914) * 100%) + calc(74 / 914) * 100%);
        }

        .col1, .col2, .col3{
            padding-right: 45px;
        }

    }

    @media (min-width: 1920px) {
        .col1 {
            min-width: 245px;
            width: calc(245 / 1319) * 100%;
        }

        .col2 {
            min-width: 370px;
            width: calc(370 / 1319) * 100%;
        }

        .col3 {
            min-width: 109px;
            width: calc(109 / 1319) * 100%;
            padding-right: 50px !important;
        }

        .col4 {
            min-width: calc(100% - 245px - 370px - 109px);
            //width: calc(100% - (calc(245 / 1319) * 100% + calc(370 / 1319) * 100% + calc(109 / 1319) * 100%));
        }

        .col1, .col2, .col3{
            padding-right: 70px;
        }
    }

}