<div class="rw-modal-background" #modalBackgroundElement></div>
<div class="rw-modal-wrapper justify-content-center align-items-center" (mouseup)="!isMouseModalDown && onCancel()"
    (mousedown)='resetMouseModalDown()' #modalWrapperElement>
    <div class="rw-modal user-select-none" (mousedown)='onMouseModalDown(); $event.stopPropagation()'>
        <div class="l-title">
            <div class="title rw-typo-title1 ">
                <span *ngIf="userLocker">
                    ‘{{userLocker?.name | wordEllipsis:16}}’ 락커를 홀딩하시겠어요?
                </span>
                <span *ngIf="userMembership">
                    ‘{{userMembership?.name | wordEllipsis:16}}’ 회원권을 홀딩하시겠어요?
                </span>
            </div>
            <div class="sub-title rw-typo-subtext1">
                홀딩 기간을 선택하신 후, [홀딩하기] 버튼을 클릭해주세요.
            </div>
        </div>

        <div class="l-datepicker">
            <div class="small-title">
                <div class="rw-typo-subtext0-regular title-text">홀딩 시작일</div>
                <div class="rw-typo-subtext0-regular title-text">홀딩 종료일</div>
            </div>
            <div class="datepicker__wrapper">
                <div
                    class="datepicker__button"
                    rw-button rwButtonFontColor="var(--font-color)"
                    (click)="openShowDatePicker('start')"
                    (rwClickOutside)="closeShowDatePicker('start');"
                >
                    <span *ngIf="startDatepick.startDate">
                        {{startDatepick.startDate | dateFormat:'YYYY.MM.DD'}}
                    </span>
                    <span *ngIf="!startDatepick.startDate" class="rw-typo-bodytext1_grey">
                        홀딩 시작일 선택
                    </span>


                    <db-datepicker
                        *ngIf="doShowDatePick.start"
                        mode="reg-ml"
                        [option]="'onlyStart'"
                        [data]="startDatepick"
                        (dataChange)="onDatePickerChange('start', $event)"
                    ></db-datepicker>

                </div>
                <span class="rw-typo-bodytext1">~</span>
                <div
                    class="datepicker__button"
                    rw-button rwButtonFontColor="var(--font-color)"
                    (click)="openShowDatePicker('end')"
                    (rwClickOutside)="closeShowDatePicker('end');"
                >
                    <span *ngIf="endDatePick.endDate">
                        {{endDatePick.endDate | dateFormat:'YYYY.MM.DD'}} ({{endDatePick.startDate |
                        period:endDatePick.endDate}}일)
                    </span>
                    <span *ngIf="!endDatePick.endDate" class="rw-typo-bodytext1_grey">
                        홀딩 종료일 선택
                    </span>

                    <db-datepicker
                        *ngIf="doShowDatePick.end"
                        mode="reg-ml"
                        [option]="'onlyEnd'"
                        [data]="endDatePick"
                        (dataChange)="onDatePickerChange('end', $event)"
                    ></db-datepicker>

                </div>
            </div>
        </div>


        <div class="l-button">
            <div class="cancel " rw-button (click)="onCancel()"> 취소 </div>
            <rw-button
                #extension_bt
                class="confirm"
                [width]="'362'"
                [height]="'50'"
                [color]="'var(--red)'"
                [borderRadius]="'0'"
                [disabled]="!endDatePick.endDate"
                (onClick)="endDatePick.endDate && onConfirm($event)"
            >
                <span class="rw-typo-bodytext0-bold confirm__text">홀딩하기</span>
            </rw-button>
        </div>

    </div>
</div>
