* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

.rw-sale-date-selector {
    position: relative;
    display: inline-flex;
    width: 225px;
    height: 42px;

    & > .selected {
        height: 100%;
        width: 100%;
        padding: 15px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;

        .text {
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .mdi {
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
            font-size: 2.2rem;
            color: var(--font-color);
        }
    }

    .open {
        border: 1px solid var(--border-color);
        background-color: var(--white);

        .mdi {
            transform: rotateX(180deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
        }
    }

    .drop-down-container {
        z-index: 1;
        position: absolute;
        top: 46px;
        right: 0px;
        width: 265px;
        min-height: 280px;
        background-color: var(--white);
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(181, 181, 181, 0.15);
        border: solid 1px #f1f1f1;

        .header {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            height: 45px;

            border-bottom: 1px solid var(--border-color);

            & > .header-selected {
                color: var(--red);
                border-bottom: 3px solid var(--red);
            }

            .month-picker-header,
            .date-picker-header {
                width: 50%;
                height: 100%;
                display: inline-flex;
                justify-content: center;
                // align-items: center;
                padding-top: 12px;
                cursor: pointer;
            }
        }

        .month-picker {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px 32px;

            .month-picker-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 125px;
                margin-bottom: 15px;

                & > .mdi {
                    width: 20px;
                    color: var(--grey);
                    cursor: pointer;

                    &:hover {
                        color: var(--darkgrey);
                    }
                }
            }
            .month-item-grid {
                display: grid;
                gap: 10px;
                grid-template-rows: repeat(3, 42px);
                grid-template-columns: repeat(4, 42px);
                width: 198px;
                height: 146px;

                .grid-item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 5px;
                    color: var(--darkgrey);

                    &.grid-item-selected {
                        color: var(--red);
                        border: 1px solid var(--red);
                    }
                    &:hover {
                        background-color: var(--background-color);
                    }
                }
            }
        }
        .date-picker {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            db-datepicker {
                margin-top: 8px;
            }

            .date-picker-bottom {
                width: 235px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid var(--border-color);
                background-color: var(--white);
                border-radius: 0 0 5px 5px;
                padding: 0px 0px;

                & .guide-text {
                    color: var(--darkgrey);
                }
                & .date-viewer {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 7px 0px;

                    & .date-text {
                        display: flex;
                        align-items: center;
                    }
                    & .date-none {
                        font-weight: 400;
                        color: var(--lightgrey);
                    }
                }
            }
        }
    }
}
