<div class='section-outer-container'>

        <section class="header">
    
            <div class='rw-typo-headline2 title-container'>
                <p class='user-container'> <span class="user-name">{{ user.name}}</span>님,</p>
                <p *ngIf="(centers$ | async)?.length > 0 || (centersLoading$ | async) == 'pending'">오늘도 건강한 하루 보내세요. 🤗</p>
                <p *ngIf="(centers$ | async)?.length == 0 && (centersLoading$ | async) == 'done'">센터를 추가하고 간편하게 관리해보세요. 🤗</p>
            </div>
    
            <div
                class="rw-typo-title2"
                rw-button
                rwButtonWidth="180"
                rwButtonHeight="50"
                rwButtonColor="var(--red)"
                (click)="goRouterLink('/redwhale-home/create-center')"
            >

            <span class="d-flex align-items-center">
                <img src="assets/icons/etc/plus-gym_white.svg">
                센터 생성
            </span>
            </div>

        </section>

        <section *ngIf="(centersLoading$ | async) == 'done'; else loading" class="center-list-container">
            <div *ngIf="(centers$ | async).length == 0" class='center-init-item' (click)="goRouterLink('/redwhale-home/create-center')">
                <img src="assets/icons/etc/plus-gym.svg">
            </div>
            <ng-template ngFor let-item [ngForOf]="(centers$ | async)" let-i="index">
                <center-list-item
                    [center]="item"
                    [centerList]="(centers$ | async)"
                    [userId] = "user.id"
                    [dropDownUp] ="i >= lastItemIdx"
                    (onLeaveCenter)="onGymleft($event)"
                >
                </center-list-item>
            </ng-template>
        </section>

        <ng-template #loading>
            <section #center_list_container class="center-list-container">
                <ngx-skeleton-loader
                    *ngFor="let _ of [1,2,3,4,5,6]"
                    count="1"
                    appearance="circle"
                    [theme]="{
                        width : '271px',
                        height: '271px',
                        'border-radius' : '7px',
                        margin: '0px'
                    }"
                ></ngx-skeleton-loader>
            </section>

        </ng-template>

</div>


