<div class="rw-modal-background" #modalBackgroundElement></div>

<div
    class="rw-modal-wrapper justify-content-center align-items-center"
    (mouseup)="!isMouseModalDown && onCancel()"
    (mousedown)="resetMouseModalDown()"
    #modalWrapperElement
>
    <div class="rw-modal user-select-none" (mousedown)="onMouseModalDown(); $event.stopPropagation()">
        <div class="header">
            <span class="rw-typo-bodytext0-bold">{{ modalTitle.display }}</span>
            <div class="close-button" (click)="onCancel()">
                <img src="assets/icons/etc/close.svg" />
            </div>
        </div>

        <div class="list-container thin-scroll-y-overlay2">
            <form class="input-container">
                <input
                    class="rw-input"
                    type="text"
                    placeholder="회원의 이름 또는 전화번호를 검색해주세요."
                    [formControl]="searchInput"
                />
                <img src="assets/icons/etc/search_grey.svg" />
            </form>

            <div class="member-list">
                <div *ngIf="userList.length < 1; else user_exist" class="user-none">
                    <img src="assets/icons/etc/empty_screen.svg" />
                    <p class="rw-typo-subtext0-regular grey">초대할 수 있는 회원이 없어요.</p>
                </div>

                <ng-template #user_exist>
                    <ng-container *ngFor="let item of userList; let idx = index">
                        <div
                            class="member-card"
                            [class.is-joined]="item.joinedAlready"
                            *ngIf="item.show"
                            (click)="!item.joinedAlready && onCardClick(idx)"
                        >
                            <div class="left">
                                <rw-avatar
                                    [image]="item.user.picture"
                                    [backgroundColor]="item.user.color"
                                    [text]="item.user.name"
                                    size="45"
                                    fontSize="12"
                                ></rw-avatar>
                                <div class="member-info">
                                    <div class="rw-typo-bodytext0-bold">{{ item.user.name }}</div>
                                    <div class="rw-typo-subtext0-regular">
                                        {{ item.user.phone_number | phoneNumber }}
                                    </div>
                                </div>
                            </div>

                            <rw-checkbox *ngIf="!item.joinedAlready" [checked]="item.selected"></rw-checkbox>
                        </div>
                    </ng-container>
                </ng-template>
            </div>
        </div>

        <div *ngIf="selectedNum > 0" class="reserve-member-button-box">
            <div
                rw-button
                rwButtonColor="var(--red)"
                rwButtonFontColor="var(--white)"
                class="reserve-button"
                (click)="onConfirm()"
            >
                {{ selectedNum }}명 초대하기
            </div>
        </div>
    </div>
</div>
