* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 1010;
}

.rw-modal-background-show {
    opacity: 0.3;
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1011;

    .rw-modal {
        width: 285px;
        height: 600px;
        padding: 0 10px;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        background-color: var(--white);
        box-shadow: 0 0 10px #b5b5b545;
        opacity: 0;
        transition: opacity 0s;
        -moz-transition: opacity 0s;
        -webkit-transition: opacity 0s;
        -o-transition: opacity 0s;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 20px 20px;

        $outer-width: 246px;
        $inner-width: 238px;

        &.refund_height {
            height: 514px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: $outer-width;
            height: 37px;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 20px;
            position: relative;

            &>span {
                font-weight: 700;
            }

            .l-close {
                position: absolute;
                right: 0px;
                top: -4.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .inputs {
            width: $inner-width;
            // height: 324px;
            position: relative;
            margin-bottom: 20px;

            .selector-container {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;

                &>span {
                    margin-bottom: 5px;
                    color: var(--grey);
                }
            }

            .input-container {
                display: flex;
                flex-direction: column;
                position: relative;

                input {
                    padding: 15px 15px 15px 45px;
                    height: 48px;
                    width: 100%;
                    text-align: right;
                }

                input::placeholder {
                    color: var(--font-color);
                }

                input::-webkit-input-placeholder {
                    color: var(--font-color);
                }

                input:-ms-input-placeholder {
                    color: var(--font-color);
                }

                &>span {
                    margin-bottom: 5px;
                    color: var(--grey);
                }

                .currency {
                    position: absolute;
                    left: 15px;
                    bottom: 15.5px;
                }

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }

        .save-button {
            width: $inner-width;
            height: 45px;
        }

        .pay-day {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $inner-width;
            color: var(--grey);
            margin-top: 7px;
        }
    }
}

.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1;
    }
}