* {
  padding: 0;
  margin: 0;
  text-align: initial;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  position: relative;
  padding: 0 25px;

  .border-bottom {
    width: calc(100% - 24px);
    height: 1px;
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    bottom: 0;
    left: 12px;
  }

  &:hover {
    background-color: var(--background-color);
  }
}

.col1 {
  min-width: 154px;
  padding-right: 30px;
  width: calc(154 / 806) * 100%;
}

.col2 {
  min-width: 134px;
  padding-right: 20px;
  width: calc(134 / 806) * 100%;
}

.col3 {
  min-width: 119px;
  padding-right: 15px;
  width: calc(119 / 806) * 100%;
}

.col4 {
  min-width: calc(100% - 407px);
  width: calc(100% - ((calc(154 / 806) * 100%) + (calc(134 / 806) * 100%) + (calc(119 / 806) * 100%)));
  position: relative;

  div.col4__menu {
    background-image: url('/assets/icons/etc/menu-vertical.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;

    &:hover {
      background-image: url('/assets/icons/etc/menu-vertical-grey.svg');
    }

    .l-menu-items {
      display: none;
      flex-direction: column;
      padding: 5px 0;
      background-color: var(--white);
      border-radius: 5px;
      width: 116px;
      position: absolute;
      right: 0;
      top: 22px;
      z-index: 1;
      opacity: 1 !important;

      font-weight: 500;
      font-size: 1.2rem;
      line-height: 17px;
      letter-spacing: -0.144px;
      box-shadow: 0 0 10px rgba(181, 181, 181, 0.1);

      &.show-items {
        display: flex;
      }

      .menu-item {
        padding: 8px 0 8px 17px;
        cursor: pointer;

        &:hover {
          background-color: var(--background-color);
        }

        &.none {
          display: none;
        }
      }
    }
  }
}



.col1 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #212121;
}


.col2,
.col3,
.col4 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #212121;
}

@media (min-width: 1440px) {
  .col1 {
    min-width: 164px;
    padding-right: 35px;
    width: calc(164 / 914) * 100%;
  }

  .col2 {
    min-width: 144px;
    padding-right: 25px;
    width: calc(144 / 914) * 100%;
  }

  .col3 {
    min-width: 129px;
    padding-right: 20px;
    width: calc(129 / 914) * 100%;
  }

  .col4 {
    min-width: calc(100% - 437px);
    width: calc(100% - ((calc(164 / 914) * 100%) + (calc(144 / 914) * 100%) + (calc(129 / 914) * 100%)));
  }
}
@media (min-width: 1920px) {
  .col1 {
    min-width: 194px;
    padding-right: 40px;
    width: calc(194 / 1319) * 100%;
  }

  .col2 {
    min-width: 174px;
    padding-right: 30px;
    width: calc(174 / 1319) * 100%;
  }

  .col3 {
    min-width: 159px;
    padding-right: 25px;
    width: calc(159 / 1319) * 100%;
  }

  .col4 {
    min-width: calc(100% - 527px);
    width: calc(100% - ((calc(194 / 1319) * 100%) + (calc(174 / 1319) * 100%) + (calc(159 / 1319) * 100%)));
  }
}
