.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 1010;
}

.rw-modal-background-show {
    opacity: 0.3;
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1011;

    .rw-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 585px;
        height: 458px;
        // padding: 0 10px;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        background-color: var(--white);
        box-shadow: 0 0 10px #b5b5b545
        opacity: 0;
        transition: opacity 0s;

        $outer-width: 555px;
        $inner-width: 545px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: $outer-width;
            height: 35px;
            margin-top: 15px;
            border-bottom: 1px solid var(--border-color);
            padding-left: 5px;

            &>span {
                font-weight: 700;
            }

            &>img {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }
            }
        }

        db-ml-locker-select {
            margin: 15px 0;
        }

        .locker-grid {
            width: 563px;
            height: 315px;
            margin-bottom: 15px;

            &.loading-item {
                display: grid;
                gap: 10px;
                padding: 10px;
                justify-content: flex-start;
                align-items: initial;
                grid-template-rows: repeat(2, 50px);
                grid-template-columns: repeat(3, 50px);
            }
        }
    }
}

.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1;
    }
}