
<div class="rw-modal-background" #modalBackgroundElement></div>

<div
  class="rw-modal-wrapper justify-content-center align-items-center"
  (mouseup)="!isMouseModalDown && onCancel()"
  (mousedown) = 'resetMouseModalDown()'
  #modalWrapperElement
>
    <div
      class="rw-modal user-select-none"
      (mousedown) ='onMouseModalDown(); $event.stopPropagation()'
    >
      <div class="header">
        <span class="rw-typo-bodytext0">락커 | 이동할 자리를 선택해주세요.</span>
        <img src="assets/icons/etc/close.svg" (click)="onCancel()">
      </div>

      <rw-dashboard-locker-select
        [items] = "categList"
        [(ngModel)] = "selectedCateg"
        (change)="onSelectChange($event)"
      ></rw-dashboard-locker-select>

      <div class="locker-grid">
        <gridster
          class="thin-scroll-x thin-scroll-y "
          [options] = "gridsterOptions"
        >
          <rw-dashboard-locker-item
            *ngFor = "let item of itemList; let idx = index"
            [lockerItem] = "item"
            [shiftedLockerTicket]= "shiftedLockerTicket"
            [isSameCategWithSelectedTicket] = "isSameCategWithSelectedTicket"
            (onLockerItemClick) = "onLockerItemClick($event, idx)"
          ></rw-dashboard-locker-item>
        </gridster>
      </div>

    </div>
</div>


<rw-modal
  [(visible)] = "shiftConfirmModal"
  [data] = "shiftConfirmText"
  (cancel) = "onShiftCancel()"
  (confirm) = "onShiftConfirm()"
></rw-modal>
