<div class="rw-modal-background" #modalBackgroundElement></div>

<div class="rw-modal-wrapper justify-content-center align-items-center" (mouseup)="!isMouseModalDown && onCancel()"
    (mousedown)='resetMouseModalDown()' #modalWrapperElement>
    <div class="rw-modal user-select-none" (mousedown)='onMouseModalDown(); $event.stopPropagation()'>
        <div class="header">
            <span class="rw-typo-bodytext0">락커 | 이동할 자리를 선택해주세요.</span>
            <img src="assets/icons/etc/close.svg" (click)="onCancel()">
        </div>

        <db-ml-locker-select
            [items]="categList"
            [(ngModel)]="selectedCateg"
            (change)="onSelectChange($event)">
        </db-ml-locker-select>
    
        <div *ngIf="!lockerLoaded" class="locker-grid loading-item">
            <ngx-skeleton-loader
                *ngFor="let _ of [1,2,3,4,5,6,7,8]" count=1 appearance="line"
                [theme]="{width: '50px', 'height': '50px', 'border-radius': '5px'}"
            ></ngx-skeleton-loader>
        </div>
        <div *ngIf="lockerLoaded"  class="locker-grid">
            <gridster class="thin-scroll-x thin-scroll-y " [options]="gridsterOptions">
                <db-move-locker-item
                    *ngFor="let item of itemList; let idx = index"
                    [lockerItem]="item"
                    [userLocker]="userLocker"
                    [isSameCategWithSelectedTicket]="isSameCategWithSelectedTicket"
                    (onLockerItemClick)="onLockerItemClick($event, idx)"
                ></db-move-locker-item>
            </gridster>
        </div>

    </div>
</div>


<rw-modal
    [(visible)]="shiftConfirmModal"
    [data]="shiftConfirmText"
    (cancel)="onShiftCancel()"
    (confirm)="onShiftConfirm()"
></rw-modal>
