<div class="header d-flex align-items-center">
    <div class="left-side-menu col d-flex align-items-center">
        <div class="logo d-flex align-items-center" (click)="goRouterLink('/')" *ngIf="url == '/redwhale-home'">
            <img src="assets/images/logo/redwhale-wording-logo-red-small.png" />
        </div>
        <div
            *ngIf="url != '/redwhale-home'"
            class="home d-flex justify-content-center align-items-center"
            (click)="resetCenterState(); goRouterLink('/redwhale-home')"
        >
            <div class="home-icon"></div>
        </div>
        <div
            class="selected-center d-flex align-items-center"
            [class.open]="popupGymListVisible"
            (click)="showPopupGymList($event)"
            *ngIf="url != '/redwhale-home' && user.selected_center"
        >
            <rw-avatar
                [image]="user.selected_center.picture"
                text="{{ user.selected_center.name }}"
                size="24"
                fontSize="11"
                [backgroundColor]="user.selected_center.color"
            ></rw-avatar>
            <span class="name rw-typo-bodytext2">{{ user.selected_center.name }}</span>
            <span class="mdi mdi-menu-down"></span>
            <div
                class="popup-center-list"
                *ngIf="popupGymListVisible"
                (click)="$event.stopPropagation()"
                (rwClickOutside)="hidePopupGymList()"
            >
                <div class="selected-center-info d-flex">
                    <div>
                        <rw-avatar
                            [image]="user.selected_center.picture"
                            text="{{ user.selected_center.name }}"
                            size="56"
                            fontSize="22"
                            [backgroundColor]="user.selected_center.color"
                        ></rw-avatar>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <span class="rw-typo-title2">{{ user.selected_center.name }}</span>
                        <span class="rw-typo-subtext2">redwhale.xyz/{{ user.selected_center.address }}</span>
                    </div>
                </div>
                <div class="h-line"></div>
                <div class="sub-menu">
                    <div
                        class="touchpad d-flex justify-content-center align-items-center"
                        [class.not-approved] = "!isSettingApproved"
                        (click)="goTouchPad()"
                    >
                        <img src="assets/icons/header/touchpad.svg" />
                        <span class="rw-typo-bodytext2">터치패드 모드</span>
                    </div>
                    <ng-container *ngIf="isSettingApproved">
                        <div class="v-line-touchpad-settings"></div>
                        <div
                            class="settings d-flex justify-content-center align-items-center"
                            (click)="toggleSettingDropdown()"
                            (rwClickOutside)="closeSettingDropdown()"
                        >
                            <img src="assets/icons/header/settings.svg" />
                            <span class="rw-typo-bodytext2">센터 설정</span>
                        </div>
                        <div *ngIf="showSettingDropdown" class="setting-dropdown">
                            <div class="setting-dropdown-item rw-typo-bodytext2" (click)="goSettingCenter()">
                                기본 정보 수정
                            </div>
                            <div class="setting-dropdown-item rw-typo-bodytext2" (click)="openRoleModal()">권한 관리</div>
                            <div class="setting-dropdown-item rw-typo-bodytext2" (click)="openSettingTermsModal()">약관 설정</div>
                        </div>
                    </ng-container>
                    
                </div>

                <ng-container *ngIf="centerList.length > 1">
                    <div class="h-line"></div>
                    <div class="label rw-typo-subtext2">
                        <span>다른 센터로 이동하기</span>
                    </div>
                    <div class="center-list">
                        <div class="scroll-y">
                            <div
                                class="center d-flex align-items-center"
                                *ngFor="let center of centerList; let i = index"
                                (click)="changeGym(center)"
                            >
                                <rw-avatar
                                    [image]="center.picture"
                                    text="{{ center.name }}"
                                    size="24"
                                    fontSize="11"
                                    [backgroundColor]="center.color"
                                ></rw-avatar>
                                <span id="center_name" class="rw-typo-bodytext2">{{ center.name }}</span>
                                <div
                                    class="selected d-flex justify-content-center align-items-center"
                                    *ngIf="user.selected_center.address == center.address"
                                >
                                    <div class="dot"></div>
                                    <span class="rw-typo-subtext2">접속중</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="right-side-menu col d-flex justify-content-end align-items-center">
        <div
            class="menu-item d-flex align-items-center"
            [class.menu-item-selected]="(drawer$ | async)?.tabName == 'member'"
            (click)="openDrawer('member')"
            *ngIf="url != '/redwhale-home'"
        >
            <span class="rw-typo-bodytext2">회원 리스트</span>
            <div class="menu-item-selected-line" *ngIf="(drawer$ | async)?.tabName == 'member'"></div>
        </div>
        <div class="empty" *ngIf="url != '/redwhale-home'"></div>
        <div
            class="menu-item d-flex align-items-center"
            [class.menu-item-selected]="(drawer$ | async)?.tabName == 'community'"
            (click)="openDrawer('community')"
            *ngIf="url != '/redwhale-home'"
        >
            <span class="rw-typo-bodytext2">채팅</span>
            <div class="menu-item-selected-line" *ngIf="(drawer$ | async)?.tabName == 'community'"></div>
        </div>
<!--        <div class="empty" *ngIf="url != '/redwhale-home'"></div>-->
<!--        <div-->
<!--            class="menu-item d-flex align-items-center"-->
<!--            [class.menu-item-selected]="(drawer$ | async)?.tabName == 'notification'"-->
<!--            (click)="openDrawer('notification')"-->
<!--            *ngIf="url != '/redwhale-home'"-->
<!--        >-->
<!--            <span class="rw-typo-bodytext2">알림</span>-->
<!--            <div class="dot-badge d-flex justify-content-center align-items-center"></div>-->
<!--            <div class="menu-item-selected-line" *ngIf="(drawer$ | async)?.tabName == 'notification'"></div>-->
<!--        </div>-->
        <div class="v-line-center" *ngIf="url != '/redwhale-home'"></div>
        <div class="v-line-home" *ngIf="url == '/redwhale-home'"></div>
        <div
            class="avatar d-flex align-items-center"
            [class.menu-item]="url == '/redwhale-home'"
            [class.menu-item-open]="url == '/redwhale-home' && avatarMenuVisible"
            [class.adjustment]="url != '/redwhale-home'"
            (click)="showAvatarMenu($event)"
        >
            <rw-avatar
                [image]="user.picture"
                text="{{ user.name }}"
                size="24"
                fontSize="13"
                [backgroundColor]="user.color"
            ></rw-avatar>
            <span class="name rw-typo-bodytext2" *ngIf="url == '/redwhale-home'">{{ user.name }}님</span>
            <div
                class="avatar-menu"
                *ngIf="avatarMenuVisible"
                (click)="$event.stopPropagation()"
                (rwClickOutside)="hideAvatarMenu()"
            >
                <div class="profile d-flex">
                    <div>
                        <rw-avatar
                            [image]="user.picture"
                            text="{{ user.name }}"
                            size="56"
                            fontSize="22"
                            [backgroundColor]="user.color"
                        ></rw-avatar>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <span class="rw-typo-title2">{{ user.name }}님</span>
                        <span class="rw-typo-subtext2">{{ user.email }}</span>
                    </div>
                </div>
                <div class="h-line"></div>
                <div
                    (click)="goRouterLink('/redwhale-home/mypage/setting-account')"
                    class="avatar-menu-item d-flex align-items-center"
                >
                    <img src="assets/icons/header/settings.svg" />
                    <span class="rw-typo-bodytext2">설정</span>
                </div>
                <div class="h-line"></div>
                <div class="avatar-menu-item d-flex align-items-center" (click)="logout()">
                    <span class="logout rw-typo-bodytext2">로그아웃</span>
                </div>
            </div>
        </div>
    </div>
</div>

<rw-setting-terms-modal
    [(visible)] = "showSettingTermsModal"
    [(centerTerm)]="centerTerms"
    [center] = "center"
    (cancel)="cancelSettingTermsModal()"
    (confirm)="confirmSettingTermsModal($event)"
></rw-setting-terms-modal>