<section class="payment-container">

  <div class="top">
    <div class=" rw-typo-bodytext0-bold header">
      <p>{{payment.content}}</p>
      <p> <span class="price">￦{{total | numberWithCommas}}</span> 결제</p>
    </div>
    <div class="rw-typo-subtext0-regular date">
      {{payDate}}
    </div>
  </div>

  <div class="middle">
    <div class="price-types">
      <div class="rw-typo-subtext0-regular cash">
        <div class="type-icon">현금</div>
        {{ payment.pay_cash | numberWithCommas}}
      </div>
      <div class="rw-typo-subtext0-regular card">
        <div class="type-icon">카드</div>
        {{payment.pay_card | numberWithCommas}}
      </div>
      <div class="rw-typo-subtext0-regular trans">
        <div class="type-icon">계좌</div>
        {{ payment.pay_trans | numberWithCommas}}
      </div>
      <div class="rw-typo-subtext0-regular unpaid">
        <div class="type-icon">미수</div>
        {{ payment.unpaid| numberWithCommas}}
      </div>
    </div>

    <div class="ticket-container">

      <div
        *ngFor = "let item of payment.items"
        class="ticket-item"
      >
        <div class="item-left">
          <div class="icon" >
            <img *ngIf="item.category == 'locker'" src="assets/icons/etc/locker-white.svg">
            <img *ngIf="item.category == 'membership'" src="assets/icons/etc/ticket-white.svg">
          </div>
          <span class="rw-typo-bodytext2">{{item.content_name}}</span>
        </div>
        <div class="rw-typo-bodytext2 item-right">
          ￦{{item.price | numberWithCommas}}
        </div>
      </div>


    </div>
  </div>

  <div class="bottom">
    <div (click)="onModifyButtonClick()" class="rw-typo-bodytext2-bold modify-button">
      결제 정보 수정
    </div>
  </div>

</section>


<!-- assets/icons/etc/locker-white.svg -->
<!-- assets/icons/etc/ticket-white.svg -->
