<div class="rw-modal-background" #modalBackgroundElement></div>
<div
  class="rw-modal-wrapper justify-content-center align-items-center"
  (mouseup)="!isMouseModalDown && onCancel()"
  (mousedown)='resetMouseModalDown()'
  #modalWrapperElement
>
  <div
    class="rw-modal user-select-none"
    (mousedown)='onMouseModalDown(); $event.stopPropagation()'
  >
    <div class="text rw-typo-title1 d-flex justify-content-center">
      정말로 계정을 삭제하시겠어요?
    </div>
    <div class="sub-text rw-typo-subtext2 ">
      <p>더 이상 해당 계정으로 레드웨일을 사용하실 수 없으며,</p>
      <p>삭제되는 데이터는 복구가 불가능합니다.</p>
    </div>
    <div class="button-group d-flex">
      <div class="cancel col d-flex justify-content-center align-items-center rw-typo-bodytext2" (click)="onCancel()">
        취소
      </div>
      <div class="confirm col d-flex justify-content-center align-items-center rw-typo-bodytext2" (click)="onConfirm()">
        계정 영구 삭제
      </div>
    </div>
  </div>
</div>
