<section class="fap-list">
    <div class="title">자주 묻는 질문</div>

    <div class="l-category">
        <div class="category" [class.active]="curCateg == '전체'" (click)="selectCateg('전체')">전체</div>
        <div
            *ngFor="let categ of categs"
            class="category"
            [class.active]="curCateg == categ"
            (click)="selectCateg(categ)"
        >
            {{ categ }}
        </div>
    </div>

    <div
        class="l-faq"
        [class.display-none]="!(idx + 1 > (pageNumber - 1) * 10 && idx + 1 <= pageNumber * 10)"
        *ngFor="let faq of faqDisplayList; index as idx"
    >
        <div class="faq-header" (click)="toggleFAQ(idx)">
            <span>{{ faq.title }}</span>
            <div class="arrow" [class.isOpen]="faq.isOpen"></div>
        </div>
        <div [innerHTML]="faq.desc" class="faq-body" [class.isOpen]="faq.isOpen"></div>
    </div>

    <div class="l-page">
        <div (click)="decreasePageNumber()" class="left-arrow page-common"></div>
        <div
            (click)="setPageNumber(i)"
            *ngFor="let i of pageIndexList; first as first"
            class="page-index page-common"
            [class.active]="pageNumber == i"
            [class.none-margin]="first"
        >
            {{ i }}
        </div>
        <div (click)="increasePageNumber()" class="right-arrow page-common"></div>
    </div>
</section>
