* {
    padding: 0px;
    margin: 0px;
}

section.fap-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div.title {
        color: var(--font-color);
        font-weight: 700;
    }

    div.l-faq {
        width: 100%;
        position: relative;

        div.faq-header {
            border-radius: 15px;
            background-color: var(--hp-lighergrey);
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .arrow {
                background-image: url('/assets/icons/etc/short_down_arrow.svg');
                background-size: cover;

                &.isOpen {
                    transform: rotateZ(180deg);
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        div.faq-body {
            border-radius: 15px;
            color: var(--darkgrey);
            background-color: var(--hp-lighergrey);
            // display: flex;
            display: none;
            justify-content: flex-start;

            &.isOpen {
                display: flex;
            }
        }
    }
}

// @media (min-width: 200px) {
section.fap-list {
    width: 312px;
    position: relative;

    div.title {
        font-size: 2.5rem;
        letter-spacing: -0.625px;
    }

    div.l-category {
        margin: 35px 0px 35px;
        width: 100%;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: 40px;
        text-align: center;
        justify-self: center;
        justify-content: center;
        div.category {
            align-self: center;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: #979797;
            // &:not(:first-of-type) {
                margin: 0 12.5px;
            // }
            &.active {
                color: var(--red);
                text-decoration: underline;
                text-underline-offset: 5px;
                text-decoration-thickness: 3px;
                text-decoration-color: var(--red);
            }
            &:hover {
                color: var(--red);
            }
        }
    }

    div.l-faq {
        display: flex;
        flex-direction: column;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        .display-none {
            display: none;
            margin: 0px;
        }

        div.faq-header {
            width: 100%;
            height: 53px;
            padding: 0px 15px;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: -0.2px;

            .arrow {
                width: 23px;
                height: 23px;
            }
        }

        div.faq-body {
            width: 100%;
            height: auto;
            padding: 16.5px 15px;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: -0.2px;

            &.isOpen {
                margin-top: 8px;
            }
        }
    }

    .l-page {
        margin-top: 35px;
        display: flex;
        align-items: center;
        .page-common {
            display: flex;
            align-items: center;
            justify-self: center;
            width: 33px;
            height: 33px;
            border-radius: 4px;
            background-color: var(--white);
            cursor: pointer;
            &:hover {
                background-color: #f9f9f9;
            }
        }
        .left-arrow {
            background-image: url('/assets/icons/etc/short_left_arrow_lightgrey.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 9px;
        }
        .page-index {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            letter-spacing: -0.23px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            text-align: left;
            color: #979797;
            &.active {
                color: #212121;
            }
            margin-left: 5px;
            &.none-margin {
                margin: 0px;
            }
        }
        .right-arrow {
            background-image: url('/assets/icons/etc/short_right_arrow_lightgrey.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 9px;
        }

        @media (min-width: 768px) {
            margin-top: 40px;
            .page-index {
                font-size: 1.6rem;
                letter-spacing: -0.26px;
            }
        }

        @media (min-width: 1280px) {
            margin-top: 45px;
        }

    }
}

hp-find-more-button {
    margin-top: 25px;
}

@media (min-width: 768px) {
    section.fap-list {
        width: 460px;

        div.title {
            font-size: 3rem;
            letter-spacing: -0.9px;
        }

        div.l-category {
            margin: 35px 0px 35px;
            grid-template-columns: repeat(5, auto);
            div.category {
                cursor: pointer;
                font-size: 1.6rem;
                letter-spacing: -0.26px;

                // &:not(:first-of-type) {
                    margin: 0 15px;
                // }
            }
        }

        div.l-faq {
            &:not(:last-of-type) {
                margin-bottom: 25px;
            }

            div.faq-header {
                height: 58px;
                padding: 0px 24px;

                font-weight: 500;
                font-size: 1.6rem;
                letter-spacing: -0.256px;
                line-height: 1.5;

                .arrow {
                    width: 27px;
                    height: 27px;
                }
            }

            div.faq-body {
                padding: 17px 24px 19px 24px;

                font-weight: 500;
                font-size: 1.6rem;
                letter-spacing: -0.256px;
                line-height: 1.5;

                &.isOpen {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    section.fap-list {
        width: 735px;

        div.title {
            font-size: 3.2rem;
            letter-spacing: -1.024px;
        }

        div.l-category {
            margin: 35px 0px 45px;
            div.category {
                // &:not(:first-of-type) {
                    margin: 0 20px;
                // }
            }
        }

        div.l-faq {
            &:not(:last-of-type) {
                margin-bottom: 25px;
            }

            div.faq-header {
                height: 60px;

                font-size: 1.6rem;
                letter-spacing: -0.256px;
                line-height: 1.5;

                .arrow {
                    width: 27px;
                    height: 27px;
                }
            }

            div.faq-body {
                width: 100%;
                height: auto;
                padding: 18px 24px;

                font-size: 1.6rem;
                letter-spacing: -0.256px;
                line-height: 1.5;

                &.isOpen {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}