<section class="direct-regitser-member-fullmodal-wrapper user-select-none" #modalWrapperElement>

    <section class="direct-register-member-fullmodal user-select-none thin-scroll-y ">
        <div class="header">
            <div class="header-text-container">
                <p class="rw-typo-headline1">QR코드 스캔이 어려운 회원님을 위해</p>
                <p class="rw-typo-headline1">센터에서 직접 회원을 등록할 수 있어요.</p>
            </div>

            <div class="cg-typo-subtext close-button" rw-button rwButtonWidth="85" rwButtonHeight="40"
                rwButtonBorderColor="var(--font-color)" (click)="close.emit()">
                <span class="mdi mdi-close"></span>
                <span>닫기</span>
            </div>

        </div>

        <div class="main thin-scroll-x">

            <div class="main-inner-container">

                <div class="direct-registration-container">

                    <div class="left">

                        <p class="rw-typo-subtext2">회원 사진</p>
                        <div *ngIf='!localFileData.src' class="add-avatar" (click)="add_member_avatar.click()">
                            <div class="mdi mdi-plus"></div>
                            <input type="file" accept="image/*" hidden #add_member_avatar
                                (change)="onInputFileChange(add_member_avatar)">
                        </div>

                        <div *ngIf='localFileData.src' class="added-avatar-conatainer">
                            <div class="added-avatar" [style.backgroundImage]="'url('+ localFileData.src +')'"
                                #added_avatar>

                            </div>
                            <span (click)="deletePreviewAvatar()" class='remove-avatar rw-typo-subtext2'>삭제</span>
                        </div>

                        <div class="gender">

                            <p class="rw-typo-subtext2">성별</p>
                            <div class="male" (click)="onSelectGender('male')">
                                <rw-radio-button text='남성' [checked]='gender == "male"'></rw-radio-button>
                            </div>

                            <div class="female" (click)="onSelectGender('female')">
                                <rw-radio-button text='여성' [checked]='gender == "female"'></rw-radio-button>
                            </div>

                        </div>

                    </div>

                    <form [formGroup]="registerForm" class="right">

                        <p class="rw-typo-subtext2 setting-info">
                            <span class="asterisk">* &nbsp;</span>필수 입력 사항
                        </p>

                        <div class="setting-input-container">
                            <p class="rw-typo-subtext2 ">
                                이메일 (앱 이용 시 회원 ID)<span class="asterisk"> *</span>
                            </p>
                            <input rw-input id="email" placeholder="이메일을 입력해주세요." class="center-name-input"
                                [class.input-warning]="!email.pristine && email.errors" formControlName="email" />
                            <p *ngIf="!email.pristine && email.errors" class="warning">
                                <img src="assets/icons/etc/warning-red.svg" />&nbsp;
                                <span *ngIf="email.errors['pattern'] || email.errors['isNonEmailForm']">
                                    이메일 양식을 확인해주세요.
                                </span>
                                <span *ngIf="email.errors['required']">이메일을 입력해주세요.</span>
                                <span *ngIf="email.errors['isExisted']">이미 사용중인 이메일입니다.</span>
                            </p>
                        </div>

                        <div class="setting-input-container">
                            <p class="rw-typo-subtext2 ">
                                이름<span class="asterisk"> *</span>
                            </p>
                            <input
                                rw-input
                                placeholder="이름을 입력해주세요."
                                class="center-name-input"
                                maxlength="20"
                                [class.input-warning]="!name.pristine && name.errors"
                                formControlName="name"
                            />
                            <p *ngIf="!name.pristine && name.errors" class="warning">
                                <img src="assets/icons/etc/warning-red.svg" />&nbsp;
                                <span *ngIf="name.errors['pattern']">이름 양식을 확인해주세요.</span>
                                <span *ngIf="name.errors['required']">이름을 입력해주세요.</span>
                            </p>
                        </div>

                        <div class="setting-input-container">
                            <p class="rw-typo-subtext2 ">
                                전화번호<span class="asterisk"> *</span>
                            </p>
                            <input rw-input placeholder="전화번호를 입력해주세요." class="center-name-input" maxlength="11"
                                [class.input-warning]="!phone_number.pristine && phone_number.errors"
                                formControlName="phone_number" />
                            <p *ngIf="!phone_number.pristine && phone_number.errors" class="warning">
                                <img src="assets/icons/etc/warning-red.svg" />&nbsp;
                                <span *ngIf="phone_number.errors['pattern']">전화번호 양식을 확인해주세요.</span>
                                <span *ngIf="phone_number.errors['required']">전화번호를 입력해주세요.</span>
                            </p>
                        </div>

                        <div class="setting-input-container">
                            <p class="rw-typo-subtext2 ">
                                생년월일
                            </p>
                            <input rw-input placeholder="생년월일을 입력해주세요. (YYYY.MM.DD)" class="center-name-input"
                                [class.input-warning]="birth_date.invalid" formControlName="birth_date" maxlength="10"
                                (keypress)="birthdateCheck($event)" (keyup)="matchBirthdateForm($event)" />
                            <p *ngIf="birth_date.invalid" class="warning">
                                <img src="assets/icons/etc/warning-red.svg" />
                                &nbsp;생년월일 양식을 확인해주세요.
                            </p>
                        </div>

                        <div class="buttons">
                            <div class="cancel rw-typo-title2" rw-button rwButtonColor="var(--white)"
                                (click)="false">취소</div>

                            <rw-button
                                id="direct-register-member"
                                #direct_register_member_bt
                                [height]="'55'"
                                [width]="'364'"
                                [color]="'var(--red)'"
                                [loadingName]="'direcct-register-member'"
                                [disabled]="email.pending || registerForm.invalid"
                                (onClick)="registerForm.valid && registerNewMember($event)"
                            >
                                <div class="registration rw-typo-title2">
                                    회원 등록하기
                                </div>
                            </rw-button>
                        </div>

                    </form>


                </div>

            </div>



        </div>

    </section>

</section>