<div class="rw-select user-select-none" #selectElement>
    <div
        class="selected rw-typo-bodytext1 d-flex justify-content-center align-items-center"
        [class.open]="isOpen"
        [class.disabled]="disabled !== false"
        #selectedElement
        (click)="toggle()"
        (rwClickOutside)="close()"
    >
        <div *ngIf="selectedValue" class="avatar">
            <rw-avatar
                [image]="selectedValue.value.picture"
                [backgroundColor]="selectedValue.value.color"
                text="{{ selectedValue?.value?.name}}"
                size="23"
                fontSize="10"
            ></rw-avatar>
        </div>
        <span class="text flex-fill">{{ selectedValue?.name ?? noSelectName }}</span>
        <span class="mdi mdi-chevron-down"></span>
    </div>
    <div
        class="items select-scroll-y"
        #itemsElement
        (click)="$event.stopPropagation()"
    >
        <div class="l-select-all-button">
            <div
                *ngIf="unCheckMode"
                (click)="onSelectUnCheckButtonClick()"
                class="select-button uncheck-mode"
                rw-button
                rwButtonColor="var(--white)"
            >
                <img src="assets/icons/etc/check_darkgrey.svg">
                <span class="rw-typo-bodytext2-bold_darkgrey">{{unCheckName}}</span>
            </div>
            <div
                (click)="onSelectAllButtonClick()"
                class="select-button"
                [class.uncheck-mode]="unCheckMode"
                rw-button
                rwButtonColor="var(--white)"
            >
                <img src="assets/icons/etc/check_darkgrey.svg">
                <span *ngIf="isAllChecked" class="rw-typo-bodytext2-bold_darkgrey">전체 선택 해제</span>
                <span *ngIf="!isAllChecked" class="rw-typo-bodytext2-bold_darkgrey">전체 선택</span>
            </div>
        </div>
        
        <div
            class="item d-flex align-items-center justify-content-between"
            *ngFor="let item of items; let idx=index"
            [class.active]="item.checked"
            [class.disabled]="item.disabled"
            (click)="onSelect(item, idx)"
        >
            <div class="d-flex align-items-center">
                <div class="avatar">
                    <rw-avatar
                        [image]="item?.value?.picture"
                        [backgroundColor]="item?.value?.color"
                        text="{{item?.value?.name}}"
                        size="26"
                        fontSize="10"
                    ></rw-avatar>
                </div>
                <span class="rw-typo-bodytext0">{{ item.name }}</span>
            </div>
            <rw-checkbox
                [checked]="item.checked"
            ></rw-checkbox>
        </div>
    </div>
</div>
