* {
    margin: 0px;
}

.card-outer-container {
    cursor: pointer;
    padding: 14px 14px 11px 14px;
    height: 70px;
    min-height: 30px;
    width: 545px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 5px;

    &:hover {
        // border-color: var(--darkgrey);
        box-shadow: 0px 0px 10px rgba(181, 181, 181, 0.109804);
    }

    &.isInWindow {
        &:hover {
            border-color: var(--border-color) !important;
        }
        cursor: auto !important;
        width: 530px !important;
    }

    .card-inner-container {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        .card-desc-container {
            width: calc(100% - 46px);
            margin-left: 10px;
            .card-title-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .card-title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 65%;
                }
                .card-desc1 {
                    width: 35%;
                    text-align: end;
                }
            }
        }
    }
    .card-desc2 {
        text-align: end;
        width: 100%;
        align-self: flex-end;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 8px;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        img {
            width: 24px;
            height: 24px;
        }
    }

    .bar {
        margin: 0px 10px;
        color: var(--border-color);
    }
}
