<div
  class="chat-intro-message"
  [class.is-sidebar] = "isSideBar"
  *ngIf="selectedRoom?.isTempRoom || isNewRoom"
>
  <div id="dm-with-me" *ngIf="selectedRoom?.doChatWithMe; else dm">
    <p class="icon">💌</p>
    <p class="rw-typo-bodytext0-bold title">
      <span class="rw-typo-bodytext0-bold">{{selectedRoom?.name}}</span>님에게 메시지를 보내보세요.
    </p>
    <p class="rw-typo-bodytext1 content">
      앗, 본인이신가요?
    </p>
    <p class="rw-typo-bodytext1 content">
      그렇다면 이 공간을 나만의 <br *ngIf="isSideBar"/> 메모장으로 활용해보세요!
    </p>
  </div>

  <ng-template #dm >
    <div id="dm" *ngIf="selectedRoom?.type == 'dm'; else group">
      <p class="rw-typo-bodytext0-bold title">💌
        <span class="rw-typo-bodytext0-bold">{{selectedRoom?.name}}</span>님에게 메세지를 보내보세요.
      </p>
    </div>
  </ng-template>

  <ng-template #group>
    <div id="group" *ngIf="selectedRoom?.type == 'private' && selectedRoom?.id != 'general'; else general">
      <p class="icon">💌</p>
      <p class="rw-typo-bodytext0-bold title">
        새로운 그룹 채팅방이 개설되었어요!
      </p>
      <p class="rw-typo-bodytext1 content">
        이 공간에 첫 메시지를 남겨보세요.
      </p>
      <p class="rw-typo-bodytext1 content">
        {{user.name}}님이 첫 메시지를 보낸 직후부터
        <br *ngIf="isSideBar" /> 다른 멤버들도 채팅에 참여할 수 있어요.
      </p>
    </div>
  </ng-template>

  <ng-template #general>
    <div id="general">
      <p class="icon">💌</p>
      <p class="rw-typo-bodytext0-bold title">
        이 곳에서 <span class="rw-typo-bodytext0-bold">센터 공지사항</span>을 확인할 수 있어요.
      </p>
      <p class="rw-typo-bodytext1 content">
        이제는 문자 대신 채팅으로
        <br *ngIf="isSideBar" /> 센터의 공지사항을 받아볼 수 있어요.
      </p>
      <p class="rw-typo-bodytext1 content">
        센터의 공지사항을 놓치지 말고 확인해보세요!
      </p>
    </div>
  </ng-template>

</div>
