<div class="item">

    <div class="rw-typo-bodytext1 col1">{{reservation.start | dateFormat:'YYYY.MM.DD (dd) HH:mm'}} - {{reservation.end | dateFormat:'HH:mm'}}</div>
    <div rwEllipsisDropdown [lineClamp]="2" class="rw-typo-bodytext0-bold col2">{{reservation.name}}</div>
    <div class="rw-typo-bodytext1 col3">{{reservation.instructors[0].name}}</div>
    <div class="col4">
        <div class="col4__left">
            <div
                class="rw-typo-bodytext0-bold status"
                [class.rw-typo-bodytext0-regular] = "!isBooked"
            >
                {{reservation.state_code == 'user_membership_class_booking_state_booked' ? '예약 완료' : reservation.state_code_name}}
            </div>
            <div
                *ngIf="isBooked && !isBookCancelable"
                class="rw-typo-subtext1 status_desc"
            >
                {{isBookCancelUnavailableText}}
            </div>
        </div>
        <div *ngIf="isBooked" class="col4__right">
            <div
                class="cancel_button"
                rw-button
                rwButtonWidth="78"
                rwButtonHeight="33"
                rwButtonColor="var(--white)"
                rwButtonBorderColor="var(--border-color)"
                rwButtonFontColor="var(--darkgrey)"
                (click) = "CancelBooking()"
            >
                예약 취소
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>


</div>
