.item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    position: relative;
    padding: 0px 25px;
    position: relative;

    .border-bottom {
        width: calc(100% - 24px);
        height: 1px;
        border-bottom: 1px solid var(--border-color);
        position: absolute;
        bottom: 0px;
        left: 12px;
    }

    &:hover {
        background-color: var(--background-color);
    }

}

.col1 {
    min-width: 210px;
    width: calc(210 / 806) * 100%;
}

.col2 {
    min-width: 225px;
    width: calc(225 / 806) * 100%;
}

.col3 {
    min-width: 74px;
    width: calc(74 / 806) * 100%;
    padding-right: 30px !important;
}

.col4 {
    min-width: calc(100% - 200px - 230px - 74px);
    width: 100%;
    //width: calc(100% - 26.5957% - 30.5851% - 10.1063%);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .col4__left {
        width: calc(100% - 78px);
        display: flex;
        flex-direction: column;
        .status {

        }
        .status_desc {}
    }
    .col4__right {
        width: 78px;

        .cancel_button {
            border: 1px solid var(--border-color) !important;
            font-weight: 700 !important;
            font-size: 1.3rem !important;
            line-height: 19px;
            letter-spacing: -0.169px;
            &:hover {
                background-color: var(--background-color) !important;
            }
        }
    }

}

.col2 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
}

.col1,
.col3,
.col4 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
}

.col1, .col2, .col3{
    padding-right: 35px;
}

@media (min-width: 1440px) {
    .col1 {
        min-width: 220px;
        width: calc(220 / 914) * 100%;
    }

    .col2 {
        min-width: 295px;
        width: calc(295 / 914) * 100%;
    }

    .col3 {
        min-width: 74px;
        width: calc(74 / 914) * 100%;
    }

    .col4 {
        min-width: calc(100% - 220px - 295px - 74px);
        //width: calc(100% - 23.7268% - 36.4583% - 8.7962%);
    }

    .col1, .col2, .col3{
        padding-right: 45px;
    }

}

@media (min-width: 1920px) {
    .col1 {
        min-width: 245px;
        width: calc(245 / 1319) * 100%;
    }

    .col2 {
        min-width: 370px;
        width: calc(370 / 1319) * 100%;
    }

    .col3 {
        min-width: 109px;
        width: calc(109 / 1319) * 100%;
        padding-right: 50px !important;
    }

    .col4 {
        min-width: calc(100% - 245px - 370px - 109px);
        //width: calc(100% - (calc(245 / 1319) * 100% + calc(370 / 1319) * 100% + calc(109 / 1319) * 100%));
    }

    .col1, .col2, .col3{
        padding-right: 70px;
    }

}