<div class="rw-modal-background" #modalBackgroundElement></div>
<div class="rw-modal-wrapper justify-content-center align-items-center" (click)="onCancel()" #modalWrapperElement>
    <div class="rw-modal user-select-none" (click)="$event.stopPropagation()">
        <div class="title d-flex justify-content-between align-items-start">
            <span class="rw-typo-bodytext1">레드웨일 서비스 이용약관</span>
            <img src="assets/icons/etc/close.svg" (click)="onCancel()" />
        </div>
        <div class="content rw-typo-subtext1 scroll-y">이용약관 내용</div>
    </div>
</div>
