* {
    padding: 0;
    margin: 0;
}

// elements
rw-kakao-channel-button {
    z-index: 20;
    position: fixed;
    right: 24px;
    bottom: 24px;

    @media (min-width: 768px) {
        right: 26px;
        bottom: 26px;
    }
    @media (min-width: 1280px) {
        right: 55px;
        bottom: 55px;
    }
}

.customer-center-nav {
    background-color: var(--hp-lighergrey);
    height: 57px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;

    .nav-item {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.225px;
        color: #606060;
        text-decoration: none;
        &:not(:last-of-type) {
            margin-right: 50px;
        }
        &.active {
            font-weight: 700;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
@media (min-width: 960px) {
    .customer-center-nav {
        display: flex;
    }
}
