<div
    class="item"
    [class.isExpired] = "isExpired"
>

    <div rwEllipsisDropdown [lineClamp]="2" class="col1">{{locker.category_name}}</div>
    <div rwEllipsisDropdown [lineClamp]="2" class="col2" >
        {{locker.name}}
    </div>

    <div class="holding-layout">
        <div class="col-wrapper">
            <div class="col3" [class.notification]="isHolding">
                {{locker.start_date | dateFormat:'YYYY.MM.DD'}} - {{locker.end_date | dateFormat:'YYYY.MM.DD'}} ({{locker.start_date | period : locker.end_date}}일)
            </div>
            <div class="col4" [class.notification]="isHolding">
                <div class="col4__content">
                    {{restDate}}일 남음
                </div>
                <div class="col4__menu" (click)="toggleMenuDropDown(); " (rwClickOutside)="hideMenuDropDown()">
                    <div class="l-menu-items" [class.show-items]="showMenuDropDown">
                        <div
                            class="menu-item"
                            *ngFor="let item of menuDropDownItemObj | keyvalue : originalOrder"
                            [ngStyle]="{color: item.value.color}"
                            [class.none] = "!item.value.visible"
                            (click) = "item.value.func()"
                        >
                            {{item.value.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="!isExpired && isHolding">
            <div
                *ngFor="let item of locker.holding; let i=index"
                class="rw-typo-subtext0-regular col-notification"
                [class.show-notification]="isHolding"
            >
                <div class="d-flex align-items-center">
                    <div class="alert-icon"></div>
                    {{item.start_date | dateFormat:'YYYY.MM.DD'}} - {{item.end_date | dateFormat:'YYYY.MM.DD'}}
                    ({{item.start_date | period :item.end_date}}일) {{ (item.start_date | isAfter) ? '홀딩 예약' : '홀딩중'}}
                </div>

                <div class="notification-menu" (click)="toggleNotificationDropDown(i);"
                     (rwClickOutside)="hideNotificationDropDown(i)">
                    <div class="l-menu-items" [class.show-items]="showNotificationDropDownObj?.[i]">
                        <div class="menu-item" *ngFor="let item of holdingMenuDropDownItemObj | keyvalue : originalOrder"
                             [ngStyle]="{color: item.value.color}" (click)="item.value.func(i)"
                             [class.none] = "!item.value.visible"
                        >
                            {{item.value.name}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="border-bottom"></div>

</div>
