.item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    position: relative;
    padding: 15px 25px;

    .border-bottom {
        width: calc(100% - 24px);
        height: 1px;
        border-bottom: 1px solid var(--border-color);
        position: absolute;
        bottom: 0;
        left: 12px;
    }

    &:hover {
        background-color: var(--background-color);
    }

}

.col1 {
    min-width: 120px;
    width: calc(120 / 806) * 100%;
}

.col2 {
    min-width: 240px;
    width: calc(240 / 806) * 100%;
}

.col3 {
    min-width: 227px;
    width: calc(227 / 806) * 100%;
    padding-right: 15px !important;
}

.col4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0 !important;
    min-width: calc(100% - 120px - 240px - 227px);
    //width: calc(100% -  (calc(120 / 806) * 100% + calc(240 / 806) * 100% + calc(227 / 806) * 100%));
    width: 100%;

    div.col4__content {
        display: flex;
        align-items: center;

        .fill-down-icon {
            background-image: url('/assets/icons/etc/arrow-down-fill-grey.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            margin-top: 2px;
        }
    }

    div.col4__menu {
        background-image: url('/assets/icons/etc/menu-vertical.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-top: 2px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        &:hover {
            background-image: url('/assets/icons/etc/menu-vertical-grey.svg');
        }

        .l-menu-items {
            display: none;
            flex-direction: column;
            padding: 5px 0;
            background-color: var(--white);
            border-radius: 5px;
            width: 116px;
            position: absolute;
            right: 0;
            top: 22px;
            z-index: 1;
            opacity: 1 !important;

            font-weight: 500;
            font-size: 1.2rem;
            line-height: 17px;
            letter-spacing: -0.144px;
            box-shadow: 0 0 10px rgba(181, 181, 181, 0.1);

            &.show-items {
                display: flex;
            }

            .menu-item {
                padding: 8px 0 8px 17px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }

                &.none {
                    display: none;
                }
            }
        }
    }
}

.col1, .col2 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
}


.col3,
.col4 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
}

.holding-layout {
    min-width: calc(100% - 366px);
    .col-wrapper {
        display: flex;
        height: 19px;
    }
}

.isExpired {
    cursor: auto !important;
    .col1,
    .col2,
    .col3,
    .col4__content {
        opacity: 0.5;
    }
}

.col-notification {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: calc(100% - 120px - 246px - 25px - 13px);
    width: 100%;
    //width: calc(100% - 15.9574% - 32.7127% - 25px - 13px);

    height: 26px;
    background: rgba(201, 107, 18, 0.05);
    border-radius: 5px;
    margin-top: 8px;
    //position: absolute;
    //right: 13px;
    //bottom: 8px;

    color: #C96B12 !important;

    &.show-notification {
        display: flex;
    }

    .alert-icon {
        background-image: url('/assets/icons/etc/exceed_period_orange.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        margin: 3px 2px 0 5px;
    }

    .notification-menu {
        background-image: url('/assets/icons/etc/menu-vertical-orange.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        margin-right: 2px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        &:hover {
            background-image: url('/assets/icons/etc/menu-vertical-lightorange.svg');
        }

        .l-menu-items {
            display: none;
            flex-direction: column;
            padding: 5px 0;
            background-color: var(--white);
            border-radius: 5px;
            width: 116px;
            position: absolute;
            right: 0;
            top: 22px;
            z-index: 1;
            opacity: 1 !important;

            font-weight: 500;
            font-size: 1.2rem;
            line-height: 17px;
            letter-spacing: -0.144px;

            &.show-items {
                display: flex;
            }

            .menu-item {
                padding: 8px 0 8px 17px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color);
                }

                &.none {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .col1 {
        min-width: 170px;
        width: calc(170 / 914) * 100%;
    }

    .col2 {
        min-width: 260px;
        width: calc(260 / 914) * 100%;
    }

    .col3 {
        min-width: 247px;
        width: calc(247 / 914) * 100%;
        padding-right: 15px !important;
    }

    .col4 {
        min-width: calc(100% - 170px - 260px - 247px);
        //width: calc(100% - (calc(120 / 806) * 100% + calc(240 / 806) * 100% + calc(227 / 806) * 100%));
    }

    .col-notification {
        min-width: calc(100% - 170px - 260px - 25px - 13px);
        //width: calc(100% - (calc(170 / 914) * 100%) - (calc(260 / 914) * 100%) - 25px - 13px);
    }
    .holding-layout {
        min-width: calc(100% - 170px - 260px) !important;
    }

    .col1,
    .col2,
    .col3,
    .col4 {
        padding-right: 40px;
    }
}

@media (min-width: 1920px) {
    .col1 {
        min-width: 180px;
        width: calc(180 / 1319) * 100%;
    }

    .col2 {
        min-width: 270px;
        width: calc(180 / 1319) * 100%;
    }

    .col3 {
        min-width: 257px;
        width: calc(180 / 1319) * 100%;
    }

    .col4 {
        min-width: calc(100% - 180px - 270px - 257px);
        //width: calc(100% - (calc(180 / 1319) * 100% + calc(180 / 1319) * 100%) + calc(180 / 1319) * 100%);
    }

    .col-notification {
        min-width: calc(100% - 180px - 270px - 25px - 13px);
        //width: calc(100% - (calc(180 / 1319) * 100% + calc(180 / 1319) * 100%) - 25px - 13px);
    }

    .holding-layout {
        min-width: calc(100% - 180px - 270px) !important;
    }

    .col1,
    .col2,
    .col3,
    .col4 {
        padding-right: 70px;
    }
}