<div
    class="item"
    [class.isExpired] = "false"
>

    <div class="col1">{{locker.category_name}}</div>
    <div class="col2" [class.notification]="isHolding">
        {{locker.name}}
    </div>
    <div class="col3" [class.notification]="isHolding">
        {{locker.start_date}} - {{locker.end_date}} ({{locker.start_date | period : locker.end_date}})
    </div>
    <div class="col4" [class.notification]="isHolding">
        <div class="col4__content">
            {{locker.end_date | restPeriod}}일 남음
            <div class="fill-down-icon"></div>
        </div>
        <div class="col4__menu" (click)="toggleMenuDropDown(); $event.stopPropagation()" (rwClickOutside)="hideMenuDropDown()">
            <div class="l-menu-items" [class.show-items]="showMenuDropDown">
                <div
                    class="menu-item"
                    *ngFor="let item of menuDropDownItemObj | keyvalue : originalOrder"
                    [ngStyle]="{color: item.value.color}"
                    (click) = "item.value.func()"
                >
                    {{item.value.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="rw-typo-subtext0-regular col-notification" [class.show-notification]="isHolding">
        <div class="d-flex align-items-center">
            <div class="alert-icon"></div>
            {{locker.pause_start_date}} - {{locker.pause_end_date}} ({{locker.pause_start_date | period :
            locker.pause_end_date}}일) 홀딩중
        </div>

        <div class="notification-menu" (click)="toggleNotificationDropDown(); $event.stopPropagation()"
            (rwClickOutside)="hideNotificationDropDown()">
            <div class="l-menu-items" [class.show-items]="showNotificationDropDown">
                <div class="menu-item" *ngFor="let item of holdingMenuDropDownItemObj | keyvalue : originalOrder"
                    [ngStyle]="{color: item.value.color}" (click)="item.value.func()"
                    [class.none] = "!item.value.visible"
                >
                    {{item.value.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>

</div>
