<article #member_management class="member-management">
    <header>
        <div class="header-text">
            <span class="header-text__title rw-typo-headline1">회원관리</span>
            <span class="header-text__title-desc rw-typo-subtext1">한 화면에서 쉽고 간편하게 회원을 관리해보세요.</span>
        </div>

        <div
            class="register-member-button"
            rw-button
            rwButtonWidth="130"
            rwButtonHeight="43"
            rwButtonColor="var(--red)"
            rwButtonFontColor="var(--white)"
            (click)="toggleRegisterMemberModal()"
        >
            신규 회원 등록
        </div>
    </header>

    <main class="l-main thin-scroll-y2 thin-scroll-x2">
        <section class="l-entire-member">
            <db-member-list
                [usersLists]="usersLists$ | async"
                [usersSelectCateg]="usersSelectCateg$ | async"
                [selectedUserList]="selectedUserList$ | async"
                [searchedUsersLists]="searchedUsersLists$ | async"
                [selectedUserListsHolding]="selectedUserListsHolding$ | async"
                [curUserData]="curUserData$ | async"
                [isLoading]="isLoading$ | async"
                (onDirectRegisterMember)="toggleDirectRegisterMemberFullModal()"
            ></db-member-list>
        </section>

        <section class="l-member-detail">
            <div class="member-detail__header rw-typo-title1">
                회원 상세 정보
                
                <div
                    *ngIf="(curUserData$ | async)?.user"
                    class="delete-member-button rw-typo-bodytext2-bold_darkgrey"
                    rw-button
                    rwButtonHeight="33"
                    rwButtonWidth="74"
                    rwButtonColor="var(--white)"
                    rwButtonFontColor="var(--darkgrey)"
                    (click)="openDeleteMemberModal()"
                >
                    회원 삭제
                </div>
            </div>
            <db-member-detail
                [curUserData]="curUserData$ | async"
                [curUserListSelect]="(curUserListSelect$ | async)"
            ></db-member-detail>
        </section>
    </main>
</article>

<db-register-member-modal
    [(visible)]="doShowRegisterMemberModal"
    (cancel)="closeRegisterMemberModal()"
    (onDirectRegister)="toggleDirectRegisterMemberFullModal()"
></db-register-member-modal>

<db-direct-register-member-fullmodal
    [(visible)]="doShowDirectRegisterMemberFullModal"
    (close)="closeDirectRegisterMemberFullModal()"
    (finishRegister)="whenFinishRegisterMember($event)"
></db-direct-register-member-fullmodal>

<rw-modal
    [(visible)]="showDeleteMember"
    [data]="deleteMemberData"
    (cancel)="closeDeleteMemberModal()"
    (confirm)="confirmDeleteMember()"
></rw-modal>
