<article #member_management class="member-management">
    <header>
        <div class="header-text">
            <span class="header-text__title rw-typo-headline1">회원관리</span>
            <span class="header-text__title-desc rw-typo-subtext1">한 화면에서 쉽고 간편하게 회원을 관리해보세요.</span>
        </div>

        <div
            class="register-member-button"
            rw-button rwButtonWidth="130" rwButtonHeight="43" rwButtonColor="var(--red)"
            rwButtonFontColor="var(--white)"
            (click)="toggleRegisterMemberModal()"
        >
            신규 회원 등록
        </div>
    </header>

    <main class="l-main thin-scroll-y-overlay2 thin-scroll-x-overlay2">

        <section class="l-entire-member">
            <db-member-list
                [usersLists]="(usersLists$ | async)"
                [usersSelectCateg]="(usersSelectCateg$ | async)"
                [selectedUserList]="(selectedUserList$ | async)"
                [searchedUsersLists]="(searchedUsersLists$ | async)"
                [isLoading]="(isLoading$ | async)"
            ></db-member-list>
        </section>


        <section class="l-member-detail">
            <div class="member-detail__header rw-typo-title1">
                회원 상세 정보
            </div>
            <db-member-detail
                [curUserData]="(curUserData$ | async)"
            ></db-member-detail>
        </section>
    </main>
</article>

<db-register-member-modal
    [(visible)]="doShowRegisterMemberModal"
    (cancel)="toggleRegisterMemberModal()"
    (onDirectRegister)="toggleDirectRegisterMemberFullModal()"
></db-register-member-modal>

<db-direct-register-member-fullmodal
    [(visible)]="doShowDirectRegisterMemberFullModal"
    (close)="closeDirectRegisterMemberFullmodal()"
    (finishRegister)="whenFinishRegisterMember()"
></db-direct-register-member-fullmodal>
