* {
    padding: 0;
    margin: 0;
}

.flip-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 15px;

    .flip-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: calc(100% - 10px);
        height: 30px;
        margin-bottom: 8px;

        border-top: 1px solid var(--border-color);
        cursor: pointer;

        & span {
            color: var(--grey);
        }

        .mdi {
            transform: rotateX(0deg);
            transition: transform 0.2s linear;
            -moz-transition: transform 0.2s linear;
            -webkit-transition: transform 0.2s linear;
            -o-transition: transform 0.2s linear;
            font-size: 1.8rem;
        }

        &.open {
            .mdi {
                transform: rotateX(180deg);
                transition: transform 0.2s linear;
                -moz-transition: transform 0.2s linear;
                -webkit-transition: transform 0.2s linear;
                -o-transition: transform 0.2s linear;
            }
        }
    }

    .contents {
        display: none;
        width: 100%;

        transition: transform 0.2s linear;
        -moz-transition: transform 0.2s linear;
        -webkit-transition: transform 0.2s linear;
        -o-transition: transform 0.2s linear;
        &.open {
            display: block;
        }
    }
}
