<section #sale class="sale">
    <header class="header">
        <div class="header-text">
            <span class="title rw-typo-headline1">매출</span>
            <span class="title-desc rw-typo-subtext1">원하는 조건을 설정하여 매출을 간편하게 확인해보세요.</span>
        </div>
    </header>

    <article class="content-container thin-scroll-y">

        <aside class="left-content">
            <p class="rw-typo-title1 content-title-margin">통계</p>

            <div class="left-inner-content thin-scroll-y">
                <!-- <rw-sale-summary-box [type]="'month'"></rw-sale-summary-box>
                <rw-sale-summary-box [type]="'day'"></rw-sale-summary-box> -->
            </div>
        </aside>

        <main class="right-content">
            <div class="content-header content-title-margin">
                <div class="header-left">
                    <span class="rw-typo-title1">매출</span>

                    <div class="filter-tag-container sale-scroll-x">
                        <div *ngFor="let item of filterTagList" class="filter-tag">
                            <div class="rw-typo-bodytext2 tag-texts">
                                <span class='rw-typo-bodytext2-regular tag-type'>{{item.type}} &nbsp;:&nbsp;</span>
                                {{item.value}}
                            </div>
                            <img (click)="item.cancelFn()" src="assets/icons/etc/close_grey.svg">
                        </div>
                    </div>

                </div>
                <!-- <rw-sale-date-selector [(selectedDate)]="selectorDate" (onChangeDate)="onDateSeleted($event)">
                </rw-sale-date-selector> -->
            </div>
            <!-- <rw-sale-table [saleData]="saleData" [saleStatistics]="saleStatistics"
                [showEmptyTableFlag]="showEmptyTableFlag"></rw-sale-table> -->
        </main>

    </article>

</section>
