<section class="message">

  <section
    class="msg-type-date"
    *ngIf="type == 'date'"
  >
    <div class="divider">
      <div class="col"></div>
      <span class="rw-typo-bodytext2">{{ message.created_at| dateFormat: 'YYYY년 MM월 DD일 (dd)' }}</span>
      <div class="col"></div>
    </div>
  </section>

  <section
    class="msg-type-info"
    *ngIf="type == 'info'"
  >
    <span id='info-text' class="rw-typo-bodytext2-regular">{{message.text}}</span>
    <span id="time" class="rw-typo-subtext0-regular">{{message.created_at | dateFormat: 'a hh:mm'}}</span>
  </section>

  <section
    class="msg-type-image default"
    [class.last-successive-msg] = "lastSuccessiveMsg"
    *ngIf="type == 'image'"
  >
    <rw-chat-message-user
      [message]="message"
      [showUserInfo]="showUserInfo"
      [isSidebar] = "isSidebar"
    >
      <div class="message-container" [class.is-sidebar]="isSidebar">
        <ng-container [ngTemplateOutlet]="messageItem"></ng-container>

        <!--multi-image 분기 추후에 수정하기-->
        <div
          #image_item_container
          class="image-item-container"
          [class.multi-image] = "false && !isSidebar"
          [class.file-text-margin] = "message.text?.length > 0"
        >
          <div
            #image_gauge
            *ngIf="isLoading == true"
            class="gauge-container"
          >
            <ngx-gauge
              [value] = "gauge"
              type="full"
              append = '%'
              [size] = "gaugeSize"
              [animate] = "false"
              cap = "round"
            ></ngx-gauge>
          </div>
          <!--*ngFor = "let image of message.file; let idx = index "-->
          <div
            class="image-item"
          >
            <div class="image-container">
              <img id="image" src="{{message.url}}" (click)="onFileClick(message.url)">
              <div
                class="download-button"
                (mouseover)="showDownloadButton = true"
                (mouseout)="showDownloadButton = false"
                (click) = "onDownloadFile(message)"
              >
                <img *ngIf="!showDownloadButton" id="download-off" src="assets/icons/etc/download-darkgrey.svg" alt="download.svg">
                <img *ngIf="showDownloadButton" id="download-on" src="assets/icons/etc/download-fontcolor.svg" alt="download.svg">
                <span class="rw-typo-subtext0">다운로드</span>
              </div>
            </div>
            <p class="rw-typo-subtext0-regular file-name">{{message.originalname}}</p>
          </div>

        </div>

      </div>
    </rw-chat-message-user>
  </section>


  <section
    class="msg-type-file default"
    [class.last-successive-msg] = "lastSuccessiveMsg"
    *ngIf="type == 'file'"
  >
    <rw-chat-message-user
      [message]="message"
      [showUserInfo]="showUserInfo"
      [isSidebar] = "isSidebar"

    >
      <div class="message-container" [class.is-sidebar]="isSidebar">
        <ng-container [ngTemplateOutlet]="messageItem"></ng-container>

        <div
          #file_item_container
          class="file-item-container"
          [class.file-text-margin] = "message.text?.length > 0"
        >
          <div *ngIf="isLoading == true" class="gauge-container">
            <ngx-gauge [value]="gauge" type="full" append='%' [size]="gaugeSize" [animate]="false" cap="round"></ngx-gauge>
          </div>
          <!--*ngFor="let file of message.file"-->
          <div class="file-item">
            <div class="file-left">
              <img src="assets/icons/etc/file_after_download_red.svg" alt="file_after_download.svg">
              <img *ngIf="false" src="assets/icons/etc/file_after_download_red.svg" alt="file_after_download.svg">
              <div class="file-item-content">
                <div class="rw-typo-bodytext0 file-name">{{message.originalname}}</div>
                <div class="rw-typo-subtext0-regular file-size">{{message.size | filesize}}</div>
              </div>
            </div>

            <div
              id="file-right"
              class="download-button"
              (click) = "onDownloadFile(message)"
            >
              <img id="download-off" src="assets/icons/etc/download-darkgrey.svg" alt="download.svg">
              <span class="rw-typo-subtext0">다운로드</span>
            </div>
          </div>
        </div>

      </div>
    </rw-chat-message-user>
  </section>


  <section
    class="msg-type-video default"
    [class.last-successive-msg] = "lastSuccessiveMsg"
    *ngIf="type == 'video'"
  >
    <rw-chat-message-user
      [message]="message"
      [showUserInfo]="showUserInfo"
      [isSidebar] = "isSidebar"

    >
      <div class="message-container" [class.is-sidebar]="isSidebar" >
        <ng-container [ngTemplateOutlet]="messageItem"></ng-container>

        <!-- message.file.length > 1 -->
        <div
          #video_item_container
          class="video-item-container"
          [class.multi-video]=" false && !isSidebar"
          [class.file-text-margin] = "message.text?.length > 0"
        >
          <div *ngIf="isLoading == true" class="gauge-container">
            <ngx-gauge [value]="gauge" type="full" append='%' [size]="gaugeSize" [animate]="false" cap="round"></ngx-gauge>
          </div>

          <!-- *ngFor="let video of message.file; let idx = index " -->
          <div class="video-item" >
            <div  class="video-container">
              <img
                *ngIf="!isLoading"
                src="assets/icons/etc/play_video.svg"
                alt="file_after_download.svg" id="play" (click)="onFileClick(message.url)"
              >
              <img id="video" src="{{videoImgURL[0]}}">
              <div *ngIf="!isLoading" class="download-button" (mouseover)="showDownloadButton = true" (mouseout)="showDownloadButton = false"
                (click)="onDownloadFile(message)">
                <img *ngIf="!showDownloadButton" id="download-off" src="assets/icons/etc/download-darkgrey.svg"
                  alt="download.svg">
                <img *ngIf="showDownloadButton" id="download-on" src="assets/icons/etc/download-fontcolor.svg"
                  alt="download.svg">
                <span class="rw-typo-subtext0">다운로드</span>
              </div>
            </div>
            <div *ngIf="!fileLoaded && !isLoading" class="spinner-container">
              <ngx-spinner [name] = "spName"></ngx-spinner>
            </div>

            <p class="rw-typo-subtext0-regular file-name">{{message.originalname}}</p>
          </div>

        </div>

      </div>
    </rw-chat-message-user>
  </section>


  <section
    class="msg-type-text default"
    [class.last-successive-msg] = "lastSuccessiveMsg"
    *ngIf="type == 'text'"
  >
    <rw-chat-message-user
      [message]="message"
      [showUserInfo]="showUserInfo"
      [isSidebar] = "isSidebar"

    >
      <div class="message-container" [class.is-sidebar]="isSidebar">
        <ng-container [ngTemplateOutlet]="messageItem"></ng-container>
      </div>
    </rw-chat-message-user>
  </section>

</section>




<!-- nTemplateOutlet (component) -->
<!-- open graph  -->
<ng-template #messageItem>
  <p class="rw-typo-bodytext1 text">
    <span *ngIf="isLinkMessage == false">{{message.text}}</span>
    <a *ngIf="isLinkMessage == true" id="opengraph_url" (click)="onOpenGraphClick()">{{message.text}}</a>
  </p>
  <div
    *ngIf="linkMessage != undefined"
    class="opengraph"
    (click)="onOpenGraphClick()"
  >
    <img *ngIf="linkMessage?.image" class="picture" src="{{linkMessage?.image}}" alt={{linkMessage?.title}}>
    <div class="content" [class.content__none_image]="!linkMessage?.image">
      <div class="rw-typo-bodytext0 title">{{linkMessage?.title}}</div>
      <div class="rw-typo-subtext0-regular desc grey">{{linkMessage?.description}}</div>
    </div>
  </div>
</ng-template>
