* {
    padding: 0px;
    margin: 0px;
    text-align: initial;
}

.rw-modal-wrapper-show {
    opacity: 1 !important;
}


section.modify-membership-fullmodal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0;
    // transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    // -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    // -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    // -o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 1010;

    section.modify-membership {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-color);

        $containerWidth: 844px;
        $header_height: 170px;

        .header {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: $header_height;
            background-color: var(--white);
            position: relative;
            padding: 0px 20px;

            .header-text-container {
                width: $containerWidth;
                margin-bottom: 30px;

                .membership-title {
                    text-decoration: underline;
                }
            }

            .close-button {
                position: absolute;
                top: 36px;
                right: 36px;
            }
        }

        main {
            width: 100%;

            background-color: var(--background-color);

            .main-inner-container {
                width: 100vw;
                min-width: 884px;
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 35px;

                .membership-ticket-window {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 585px;
                    height: 520px;
                    box-shadow: 0px 0px 10px #b5b5b51c;
                    border-radius: 7px;
                    background-color: var(--white);
                    padding: 20px;

                    .window-header {
                        display: flex;
                        width: 545px;
                        height: 38px;
                        border-bottom: 1px solid var(--border-color);
                    }

                    .membership-info {
                        display: flex;
                        flex-direction: column;
                        width: 530px;
                        margin-top: 18px;
                        position: relative;

                        .membership-card {
                            display: flex;
                            align-items: center;
                            padding: 0px 15px;
                            width: 100%;
                            height: 70px;
                            border-radius: 5px;
                            border: 1px solid var(--border-color);
                            position: relative;

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                margin-right: 12px;
                                background-color: var(--border-color);

                                img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }

                            .card-text {
                                height: 36px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                            }
                        }
                    }

                    .reservable-lessons {
                        display: flex;
                        flex-direction: column;
                        width: 530px;
                        margin-top: 20px;
                    }

                    .datepick-container {
                        width: 530px;
                        display: flex;

                        & .date-picker {
                            margin-top: 20px;
                            width: 255px;
                            display: flex;
                            flex-direction: column;
                            position: relative;

                            &:first-of-type {
                                margin-right: 20px;
                            }

                            & .date-pick-button {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                border: 1px solid var(--border-color);
                                border-radius: 5px;
                                width: 255px;
                                height: 48px;
                                position: relative;
                            }

                            db-datepicker {
                                position: absolute;
                                top: 75px;
                                left: 0px;
                                z-index: 3;
                            }
                        }
                    }

                    .count-container {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        width: 530px;
                        margin-top: 20px;

                        .count {
                            display: flex;
                            align-items: center;

                            &>span {
                                width: 100%;
                            }

                            .input-container {
                                width: 255px;
                                height: 48px;
                                position: relative;
                                margin-right: 20px;

                                input {
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    text-align: left;
                                    padding: 0px 45px 0px 15px;
                                }

                                .input-count {
                                    position: absolute;
                                    top: 15px;
                                    right: 15px;

                                    &.disabled {
                                        color: var(--grey);
                                    }
                                }
                            }
                        }
                    }

                    .payment-container {
                        display: flex;
                        width: 530px;
                        margin-top: 20px;

                        .payment-item {
                            width: 255px;
                            display: flex;
                            flex-direction: column;

                            &:first-of-type {
                                margin-right: 20px;
                            }

                            .input-container {
                                width: 255px;
                                height: 48px;
                                position: relative;
                                margin-right: 20px;

                                input {
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    text-align: right;
                                    padding: 0px 15px 0px 45px;
                                }

                                .input-count {
                                    position: absolute;
                                    top: 15px;
                                    left: 15px;
                                }
                            }
                        }
                    }

                    .delete-save-button {
                        display: flex;
                        justify-content: flex-end;
                        width: 530px;
                        margin-top: 20px;

                        .save-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 96px;
                            height: 45px;
                            color: var(--white);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}

.small-title {
    color: var(--grey);
    margin-bottom: 5px;
}

.item-font {
    font-size: 1.4rem !important;
}