* {
	padding: 0;
	margin: 0;
}

.rw-attendance {
	cursor: auto;
	opacity: 0;
	top: -85px;

	transition-property: opacity, top;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 0.8);
	-moz-transition-property: opacity, top;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 0.8);
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 0.8);
	-o-transition-property: opacity, top;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 0.8);


	z-index: 1000;
	position: fixed;

	width: 405px;
	height: 82px;
	border-radius: 7px;
	background-color: var(--font-color);
	padding: 0 17px;

	display: flex;
	align-items: center;

	.avatar-container {
		width: 54px;
		height: 54px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
	}

	.content {
		height: 46px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-left: 11px;
		.top {
			color: var(--white) !important;
			margin-left: 4px;
		}
		.bottom {
			display: flex;
			align-items: center;
			margin-top: 3px;
			.alert-text {
				display: flex;
				align-items: center;
				span {
					color: var(--lightgrey) !important;
					margin-bottom: 2px;
				}

				&:first-of-type {
					margin-right: 10px;
				}
			}
		}
	}

	.close {
		position: absolute;
		width: 28px;
		height: 28px;
		border-radius: 3px;
		background-color: transparent;
		cursor: pointer;
		top: 10px;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
img {
	width: 24px;
	height: 24px;
}

.rw-toast-show {
	opacity: 1;
	top: 70px;
}
