<div class="rw-modal-background" #modalBackgroundElement></div>
<div
	class="rw-modal-wrapper justify-content-center align-items-center"
	(mouseup)="!isMouseModalDown && !blockClickOutside && onClose()"
	(mousedown) = 'resetMouseModalDown()'
	#modalWrapperElement
>
	<div
		class="rw-modal user-select-none"
		[class.ready-for-transmission]="curHistoryGroup?.state_code == 'sms_state_ready'"
		(mousedown) ='onMouseModalDown(); $event.stopPropagation()'
	>
		<div class="header">
			<span class="rw-typo-bodytext0-bold">{{curHistoryGroup?.datetime}} | 상세 내역</span>
			<div class="close-icon" (click)="onClose()"></div>
		</div>
		<div class="body">
			<div class="l-message">
				<textarea
					[readonly]="true"
					class="rw-textarea rw-typo-bodytext0 thin-scroll-y"
				>{{curHistoryGroup?.text}}</textarea>
				<span class="byte">{{textByte}} / {{textByte > 90 ? '2000' : '90'}} byte</span>
			</div>

			<ng-container *ngIf="curHistoryGroup?.state_code == 'sms_state_sent'">
				<div class="l-transmission-fail">
					<div class="transmission-header">
						<span class="rw-typo-bodytext0-bold">전송 실패</span>
						<span class="rw-typo-bodytext0-bold fail">{{curHistoryGroup?.failure}}건</span>
					</div>
					<div *ngIf="Loading == 'pending'" class="transmission-body loading thin-scroll-y-overlay2">
						<ngx-skeleton-loader
							*ngFor="let _ of [1,2,3]"
							count=1
							appearance="line"
							[theme]="{width:'95%', height: '55px', 'border-radius':'7px', 'margin-top': '10px', 'margin-bottom': '0px'}"
						></ngx-skeleton-loader>
					</div>
					<div *ngIf="Loading != 'pending'" class="transmission-body thin-scroll-y-overlay2">
						<msg-transmission-history-item
							*ngFor="let item of (smsHistoryList | callback: filterTransmitFailure); let idx = index"
							[index]="smsHistoryList.length - idx"
							[smsHistory]="item"
						></msg-transmission-history-item>
					</div>
				</div>
				<div class="l-transmission-success">
					<div class="transmission-header">
						<span class="rw-typo-bodytext0-bold">전송 성공</span>
						<span class="rw-typo-bodytext0-bold success">{{curHistoryGroup?.success}}건</span>
					</div>
					<div *ngIf="Loading == 'pending'" class="transmission-body loading thin-scroll-y-overlay2">
						<ngx-skeleton-loader
							*ngFor="let _ of [1,2,3]"
							count=1
							appearance="line"
							[theme]="{width:'95%', height: '55px', 'border-radius':'7px', 'margin-top': '10px', 'margin-bottom': '0px'}"
						></ngx-skeleton-loader>
					</div>
					<div *ngIf="Loading != 'pending'" class="transmission-body thin-scroll-y-overlay2">
						<msg-transmission-history-item
							*ngFor="let item of (smsHistoryList | callback: filterTransmitSuccess); let idx = index"
							[index]="smsHistoryList.length - idx"
							[smsHistory]="item"
						></msg-transmission-history-item>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="curHistoryGroup?.state_code == 'sms_state_ready'">
				<div class="l-transmission-ready">
					<div class="transmission-header">
						<span class="rw-typo-bodytext0-bold">전송 대기</span>
						<span class="rw-typo-bodytext0-bold success">{{curHistoryGroup?.request}}건</span>
					</div>
					<div *ngIf="Loading == 'pending'" class="transmission-body loading thin-scroll-y-overlay2">
						<ngx-skeleton-loader
							*ngFor="let _ of [1,2,3]"
							count=1
							appearance="line"
							[theme]="{width:'95%', height: '55px', 'border-radius':'7px', 'margin-top': '10px', 'margin-bottom': '0px'}"
						></ngx-skeleton-loader>
					</div>
					<div *ngIf="Loading != 'pending'" class="transmission-body thin-scroll-y-overlay2">
						<ng-container *ngFor="let item of smsHistoryList; let idx = index">
							<msg-transmission-history-item
								[index]="smsHistoryList.length - idx"
								[smsHistory]="item"
							></msg-transmission-history-item>
						</ng-container>
					</div>
				</div>
			</ng-container>

		</div>
	</div>
</div>
